workflows-harumi/aplicar-categoria.json
{
  "id": "FinAplicarNoti1",
  "name": "aplicar-categoria (Notion — Harumi)",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "nodes": [
    {
      "name": "Início",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "inputSource": "workflowInputs",
        "workflowInputs": {
          "values": [
            {
              "name": "callback_id",
              "type": "string"
            },
            {
              "name": "data",
              "type": "string"
            },
            {
              "name": "chat_id",
              "type": "string"
            },
            {
              "name": "message_id",
              "type": "string"
            }
          ]
        }
      },
      "id": "finaplicar-01"
    },
    {
      "name": "Processar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        0
      ],
      "parameters": {
        "jsCode": "// Lógica pura da categorização híbrida — prompt/parse do Gemini, chave do\r\n// Dicionário, teclados inline e parse de callbacks.\r\n// Implementa gstack/plans/categorizacao-hibrida.md.\r\n\r\nconst LIMIAR_CONFIANCA = 0.8;\r\n\r\n/** Prompt de classificação: o Gemini só escolhe entre as categorias ativas. */\r\nfunction montarPrompt(lancamento, categorias) {\r\n  return [\r\n    \"Você categoriza lançamentos financeiros pessoais de um casal brasileiro.\",\r\n    `Categorias válidas: ${categorias.join(\", \")}.`,\r\n    \"Lançamento:\",\r\n    `- descrição: ${lancamento.descricao}`,\r\n    `- título: ${lancamento.titulo || \"(vazio)\"}`,\r\n    `- valor: R$ ${lancamento.valor} (${lancamento.tipo})`,\r\n    `- origem: ${lancamento.origem === \"cartao\" ? \"cartão de crédito\" : \"conta corrente\"}`,\r\n    'Responda APENAS JSON: {\"categoria\": \"<uma das categorias válidas>\", \"confianca\": <0.0 a 1.0>}.',\r\n    \"Se nenhuma categoria servir bem, use a mais próxima com confianca baixa.\",\r\n  ].join(\"\\n\");\r\n}\r\n\r\n/**\r\n * Interpreta a resposta do Gemini. Qualquer problema (não-JSON, categoria fora da\r\n * lista, confiança inválida) → { valida: false } (degrada para pergunta manual).\r\n */\r\nfunction parsearRespostaGemini(texto, categoriasValidas) {\r\n  let obj;\r\n  try {\r\n    obj = JSON.parse(String(texto || \"\").trim());\r\n  } catch {\r\n    return { valida: false };\r\n  }\r\n  const categoria = String(obj.categoria || \"\");\r\n  const confianca = Number(obj.confianca);\r\n  if (!categoriasValidas.includes(categoria)) return { valida: false };\r\n  if (Number.isNaN(confianca) || confianca < 0 || confianca > 1) return { valida: false };\r\n  return { valida: true, categoria, confianca, confiante: confianca >= LIMIAR_CONFIANCA };\r\n}\r\n\r\n/** Chave para regra nova no Dicionário: Título (conta) ou descrição sem sufixo de parcela (cartão). */\r\nfunction chaveDicionario(lancamento) {\r\n  if (lancamento.origem === \"conta\") return String(lancamento.titulo || \"\").trim();\r\n  return String(lancamento.descricao || \"\").replace(/ \\(\\d+\\/\\d+\\)$/, \"\").trim();\r\n}\r\n\r\n/** Resgate de CDB pula o Gemini e pergunta direto a meta (HANDOFF). */\r\nfunction ehResgateCdb(lancamento) {\r\n  const t = String(lancamento.titulo || \"\").toUpperCase();\r\n  return t.includes(\"RESGATE\") && t.includes(\"CDB\");\r\n}\r\n\r\n/**\r\n * Teclado inline para pergunta manual. Categorias → `cat|row|nome`;\r\n * metas ativas → `meta|row|nome` (caminho p/ viagem/hospedagem e CDB).\r\n * @returns {{inline_keyboard: Array<Array<{text: string, callback_data: string}>>}}\r\n */\r\nfunction montarTeclado(row, categorias, metas) {\r\n  const botoes = [\r\n    ...categorias.map((c) => ({ text: c, callback_data: `cat|${row}|${c}` })),\r\n    ...metas.map((m) => ({ text: `🎯 ${m}`, callback_data: `meta|${row}|${m}` })),\r\n  ];\r\n  for (const b of botoes) {\r\n    if (Buffer.byteLength(b.callback_data, \"utf-8\") > 64) {\r\n      throw new Error(`callback_data excede 64 bytes: ${b.callback_data}`);\r\n    }\r\n  }\r\n  const linhas = [];\r\n  for (let i = 0; i < botoes.length; i += 2) linhas.push(botoes.slice(i, i + 2));\r\n  return { inline_keyboard: linhas };\r\n}\r\n\r\n/** Teclado só de metas (caso RESGATE CDB). */\r\nfunction montarTecladoMetas(row, metas) {\r\n  return montarTeclado(row, [], metas);\r\n}\r\n\r\n/** Parse do callback_data. Inválido/desconhecido → null. */\r\nfunction parsearCallback(data) {\r\n  const m = /^(cat|meta)\\|(\\d+)\\|(.+)$/.exec(String(data || \"\"));\r\n  if (!m) return null;\r\n  return { tipo: m[1], row: Number(m[2]), nome: m[3] };\r\n}\r\n\r\n// Complemento de workflows/src/categorizador.js para a variante Notion: SÓ\n// montarTeclado/parsearCallback mudam (o resto — montarPrompt, parsearRespostaGemini,\n// chaveDicionario, ehResgateCdb — é reaproveitado sem alteração, concatenado junto).\n//\n// Por quê um módulo à parte em vez de editar categorizador.js: o original embute o\n// NÚMERO DA LINHA do Sheets no callback_data (\"cat|row|categoria\"). O Notion não tem\n// row number — o id da page é um UUID de 32+ caracteres, que somado ao nome da\n// categoria estoura o limite de 64 bytes do callback_data do Telegram. Solução: o\n// callback_data carrega o id da page (sem hífens) + um ÍNDICE na lista de categorias/\n// metas ATIVAS, em vez do nome. Quem recebe o clique (aplicar-categoria) precisa\n// reconsultar Categorias/Metas com o MESMO filtro+ordenação (Nome ascendente — ver\n// notion-map.js) usado para montar o teclado, para o índice apontar pro item certo.\n// categorizador.js (Sheets) fica intocado — o bot do Marcelo não é afetado.\n\n/** IDs do Notion vêm com hífen da API; sem hífen cabe mais no callback_data. */\nfunction semHifen(pageId) {\n  return String(pageId || \"\").replace(/-/g, \"\");\n}\n\n/**\n * @param {string} pageId id da page do Lançamento (com ou sem hífen — normalizado aqui)\n * @param {string[]} categorias ativas, MESMA ordem usada por quem chama (ordenar por Nome)\n * @param {string[]} metas ativas, mesma regra\n */\nfunction montarTecladoNotion(pageId, categorias, metas) {\n  const id = semHifen(pageId);\n  const botoes = [\n    ...categorias.map((c, i) => ({ text: c, callback_data: `cat|${id}|${i}` })),\n    ...metas.map((m, i) => ({ text: `🎯 ${m}`, callback_data: `meta|${id}|${i}` })),\n  ];\n  for (const b of botoes) {\n    if (Buffer.byteLength(b.callback_data, \"utf-8\") > 64) {\n      throw new Error(`callback_data excede 64 bytes: ${b.callback_data}`);\n    }\n  }\n  const linhas = [];\n  for (let i = 0; i < botoes.length; i += 2) linhas.push(botoes.slice(i, i + 2));\n  return { inline_keyboard: linhas };\n}\n\n/** Teclado só de metas (caso RESGATE CDB) — mesma convenção do original. */\nfunction montarTecladoMetasNotion(pageId, metas) {\n  return montarTecladoNotion(pageId, [], metas);\n}\n\n/** Parse do callback_data no formato Notion (id sem hífen + índice numérico). */\nfunction parsearCallbackNotion(data) {\n  const m = /^(cat|meta)\\|([a-f0-9]{32})\\|(\\d+)$/.exec(String(data || \"\"));\n  if (!m) return null;\n  return { tipo: m[1], pageId: m[2], indice: Number(m[3]) };\n}\n\n// Mapeamento puro entre o shape \"flat\" usado pela lógica de negócio reaproveitada de\n// workflows/src/*.js (parser-cartao, parser-conta, dashboard, rateio, ...) e o formato\n// de properties da API do Notion (POST /v1/pages, POST /v1/databases/{id}/query).\n// Sem I/O — só transformação de dados. Concatenado nos Code nodes do n8n junto com\n// os módulos puros originais (ver scripts/gerar-workflow-*-notion.js).\n// Implementa a Fase A de gstack (schema em workflows-harumi/README... ver plano da branch).\n\n/** \"DD/MM/YYYY\" ou \"YYYY-MM-DD\" → \"YYYY-MM-DD\" (Notion exige ISO); inválido/vazio → null. */\nfunction paraIso(data) {\n  if (data === null || data === undefined || data === \"\") return null;\n  const s = String(data).trim();\n  let m;\n  if ((m = /^(\\d{4})-(\\d{2})-(\\d{2})/.exec(s))) return `${m[1]}-${m[2]}-${m[3]}`;\n  if ((m = /^(\\d{2})\\/(\\d{2})\\/(\\d{4})$/.exec(s))) return `${m[3]}-${m[2]}-${m[1]}`;\n  return null;\n}\n\n/**\n * Texto plano de uma property title/rich_text do Notion. As demais funções de\n * leitura (paraObjeto*) devolvem \"YYYY-MM-DD\" para datas — mesDe()/normalizarData()\n * em workflows/src/*.js já aceitam esse formato ISO nativamente, então nenhuma\n * conversão adicional é necessária na leitura (só na escrita, via paraIso).\n */\nfunction textoDe(prop) {\n  if (!prop) return \"\";\n  const arr = prop.title || prop.rich_text || [];\n  return arr.map((t) => t.plain_text || \"\").join(\"\");\n}\n\nconst richText = (s) => (s ? [{ text: { content: String(s).slice(0, 2000) } }] : []);\nconst selectOrNull = (s) => (s ? { select: { name: String(s) } } : { select: null });\nconst dateOrNull = (isoOuBr) => {\n  const iso = paraIso(isoOuBr);\n  return iso ? { date: { start: iso } } : { date: null };\n};\n\n// ─── Lançamentos ────────────────────────────────────────────────────────────\n\n/** Page do Notion (results[i] de um query em Lançamentos) → objeto flat esperado pelos parsers/dashboard. */\nfunction paraObjetoLancamento(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    data_competencia: (p[\"Data Competência\"] && p[\"Data Competência\"].date && p[\"Data Competência\"].date.start) || \"\",\n    data_original: (p[\"Data Original\"] && p[\"Data Original\"].date && p[\"Data Original\"].date.start) || \"\",\n    descricao: textoDe(p[\"Descrição\"]),\n    titulo: \"\",\n    valor: (p[\"Valor\"] && p[\"Valor\"].number) || 0,\n    categoria: (p[\"Categoria\"] && p[\"Categoria\"].select && p[\"Categoria\"].select.name) || \"\",\n    tipo: (p[\"Tipo\"] && p[\"Tipo\"].select && p[\"Tipo\"].select.name) || \"\",\n    origem: (p[\"Origem\"] && p[\"Origem\"].select && p[\"Origem\"].select.name) || \"\",\n    status: (p[\"Status\"] && p[\"Status\"].select && p[\"Status\"].select.name) || \"\",\n    id_meta: textoDe(p[\"Meta\"]),\n  };\n}\n\n/** Objeto flat (saída do parser-cartao/parser-conta) → properties para criar a page no Notion. */\nfunction propsDeLancamento(l) {\n  return {\n    \"Descrição\": { title: richText(l.descricao || l.titulo || \"(sem descrição)\") },\n    \"Valor\": { number: Number(l.valor) || 0 },\n    \"Categoria\": selectOrNull(l.categoria),\n    \"Tipo\": selectOrNull(l.tipo),\n    \"Origem\": selectOrNull(l.origem),\n    \"Status\": selectOrNull(l.status),\n    \"Meta\": { rich_text: richText(l.id_meta) },\n    \"Data Competência\": dateOrNull(l.data_competencia),\n    \"Data Original\": dateOrNull(l.data_original),\n  };\n}\n\n/** Update parcial (PATCH) de um Lançamento: só Categoria+Meta — não toca nas demais properties. */\nfunction propsCategoriaEMeta(categoria, idMeta) {\n  return { \"Categoria\": selectOrNull(categoria), \"Meta\": { rich_text: richText(idMeta) } };\n}\n\n// ─── Dicionário ─────────────────────────────────────────────────────────────\n\nfunction paraObjetoDicionario(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    descricao_original: textoDe(p[\"Descrição Original\"]),\n    categoria_mapeada: (p[\"Categoria Mapeada\"] && p[\"Categoria Mapeada\"].select && p[\"Categoria Mapeada\"].select.name) || \"\",\n    origem: (p[\"Origem\"] && p[\"Origem\"].select && p[\"Origem\"].select.name) || \"\",\n    criado_em: (p[\"Criado Em\"] && p[\"Criado Em\"].date && p[\"Criado Em\"].date.start) || \"\",\n  };\n}\n\n/** Dicionário lido vira { chave, categoria } (contrato de parser-cartao.categorizar / parser-conta). */\nfunction paraDicionarioChaveCategoria(objetosDicionario) {\n  return objetosDicionario.map((d) => ({ chave: d.descricao_original, categoria: d.categoria_mapeada }));\n}\n\nfunction propsDeDicionario(d) {\n  // Criado Em nunca fica vazio: cai no dia de hoje se d.criado_em não vier preenchido.\n  const criadoEm = paraIso(d.criado_em) || new Date().toISOString().slice(0, 10);\n  return {\n    \"Descrição Original\": { title: richText(d.descricao_original || \"(vazio)\") },\n    \"Categoria Mapeada\": selectOrNull(d.categoria_mapeada),\n    \"Origem\": selectOrNull(d.origem),\n    \"Criado Em\": { date: { start: criadoEm } },\n  };\n}\n\n// ─── Categorias ─────────────────────────────────────────────────────────────\n\nfunction paraObjetoCategoria(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    nome: textoDe(p[\"Nome\"]),\n    tipo: (p[\"Tipo\"] && p[\"Tipo\"].select && p[\"Tipo\"].select.name) || \"\",\n    ativo: !!(p[\"Ativo\"] && p[\"Ativo\"].checkbox),\n  };\n}\n\nfunction propsDeCategoria(c) {\n  return {\n    \"Nome\": { title: richText(c.nome || \"(sem nome)\") },\n    \"Tipo\": selectOrNull(c.tipo),\n    \"Ativo\": { checkbox: !!c.ativo },\n  };\n}\n\n// ─── Metas ──────────────────────────────────────────────────────────────────\n// Prazo fica RICH_TEXT (não Date): metas.js aceita \"AAAA-MM\" (sem dia) além de\n// \"AAAA-MM-DD\" — um Date do Notion exige dia, então forçaria uma escolha arbitrária\n// (dia 1? último dia?) que a lógica pura nunca precisou fazer. Texto preserva o\n// valor exatamente como o usuário digitou em /novameta.\n\nfunction paraObjetoMeta(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    nome: textoDe(p[\"Nome\"]),\n    orcamento_total: (p[\"Orçamento Total\"] && p[\"Orçamento Total\"].number) || 0,\n    valor_acumulado: (p[\"Valor Acumulado\"] && p[\"Valor Acumulado\"].number) || 0,\n    prazo: textoDe(p[\"Prazo\"]),\n    status: (p[\"Status\"] && p[\"Status\"].select && p[\"Status\"].select.name) || \"\",\n    criado_em: (p[\"Criado Em\"] && p[\"Criado Em\"].date && p[\"Criado Em\"].date.start) || \"\",\n  };\n}\n\nfunction propsDeMeta(m) {\n  const criadoEm = paraIso(m.criado_em) || new Date().toISOString().slice(0, 10);\n  return {\n    \"Nome\": { title: richText(m.nome || \"(sem nome)\") },\n    \"Orçamento Total\": { number: Number(m.orcamento_total) || 0 },\n    \"Valor Acumulado\": { number: Number(m.valor_acumulado) || 0 },\n    \"Prazo\": { rich_text: richText(m.prazo) },\n    \"Status\": selectOrNull(m.status),\n    \"Criado Em\": { date: { start: criadoEm } },\n  };\n}\n\n/** Update parcial: só o cache de progresso (nunca fonte da verdade — ver metas.js). */\nfunction propsValorAcumulado(valor) {\n  return { \"Valor Acumulado\": { number: Number(valor) || 0 } };\n}\n\n/** Update parcial: só o Status (ex.: encerrar uma meta). */\nfunction propsStatus(status) {\n  return { \"Status\": selectOrNull(status) };\n}\n\n// ─── Contas Fixas ───────────────────────────────────────────────────────────\n// Dia Vencimento fica RICH_TEXT (não Number): lembretes.js aceita tanto um dia\n// numérico (1–31) quanto o literal \"sexta-feira\" (contas semanais) — um Number\n// do Notion não representaria essa segunda forma.\n\nfunction paraObjetoContaFixa(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    nome: textoDe(p[\"Nome\"]),\n    dia_vencimento: textoDe(p[\"Dia Vencimento\"]),\n    valor_esperado: (p[\"Valor Esperado\"] && p[\"Valor Esperado\"].number) || 0,\n    // string \"sim\"/\"não\": lembretes.js/relatorio.js comparam com essa convenção\n    // (normalizar(f.ativo) === \"sim\"), herdada do Sheets — o checkbox boolean do\n    // Notion é traduzido aqui pra não precisar tocar nos dois arquivos compartilhados.\n    ativo: (p[\"Ativo\"] && p[\"Ativo\"].checkbox) ? \"sim\" : \"não\",\n  };\n}\n\nfunction propsDeContaFixa(c) {\n  return {\n    \"Nome\": { title: richText(c.nome || \"(sem nome)\") },\n    \"Dia Vencimento\": { rich_text: richText(c.dia_vencimento) },\n    \"Valor Esperado\": { number: Number(c.valor_esperado) || 0 },\n    \"Ativo\": { checkbox: String(c.ativo).trim().toLowerCase() === \"sim\" },\n  };\n}\n\n// ─── Dashboard Mensal ───────────────────────────────────────────────────────\n\nfunction paraObjetoDashboardMensal(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    mes: textoDe(p[\"Mês\"]),\n    saidas: (p[\"Saídas\"] && p[\"Saídas\"].number) || 0,\n    entradas: (p[\"Entradas\"] && p[\"Entradas\"].number) || 0,\n    saldo: (p[\"Saldo\"] && p[\"Saldo\"].number) || 0,\n    metas_ativas: (p[\"Metas Ativas\"] && p[\"Metas Ativas\"].number) || 0,\n    gerado_em: (p[\"Gerado Em\"] && p[\"Gerado Em\"].date && p[\"Gerado Em\"].date.start) || \"\",\n  };\n}\n\n/** \"MM/YYYY\" → YYYYMM (número). O título \"MM/YYYY\" não ordena cronologicamente como\n * texto (\"01/2027\" vem antes de \"12/2026\" alfabeticamente) — esta é a coluna de apoio\n * usada pela view \"Mais recentes\" (SORT BY \"Mês Ordinal\" DESC). */\nfunction mesOrdinal(mesMMYYYY) {\n  const m = /^(\\d{2})\\/(\\d{4})$/.exec(String(mesMMYYYY || \"\").trim());\n  return m ? Number(m[2]) * 100 + Number(m[1]) : 0;\n}\n\nfunction propsDeDashboardMensal(d) {\n  return {\n    \"Mês\": { title: richText(d.mes) },\n    \"Mês Ordinal\": { number: mesOrdinal(d.mes) },\n    \"Saídas\": { number: Number(d.saidas) || 0 },\n    \"Entradas\": { number: Number(d.entradas) || 0 },\n    \"Saldo\": { number: Number(d.saldo) || 0 },\n    \"Metas Ativas\": { number: Number(d.metasAtivas) || 0 },\n    \"Gerado Em\": { date: { start: d.geradoEm || new Date().toISOString() } },\n  };\n}\n\n// ─── Config ─────────────────────────────────────────────────────────────────\n\nfunction paraObjetoConfig(page) {\n  const p = (page && page.properties) || {};\n  return { _id: page && page.id, chave: textoDe(p[\"Chave\"]), valor: textoDe(p[\"Valor\"]) };\n}\n\nfunction propsDeConfig(c) {\n  return {\n    \"Chave\": { title: richText(c.chave || \"(sem chave)\") },\n    \"Valor\": { rich_text: richText(c.valor) },\n  };\n}\n\n// ─── Log ────────────────────────────────────────────────────────────────────\n\n/** Necessário a partir da Fase B: categorizacao-hibrida lê o Log p/ não perguntar 2x. */\nfunction paraObjetoLog(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    timestamp: (p[\"Timestamp\"] && p[\"Timestamp\"].date && p[\"Timestamp\"].date.start) || \"\",\n    acao: textoDe(p[\"Ação\"]),\n    entidade: textoDe(p[\"Entidade\"]),\n    valor_anterior: textoDe(p[\"Valor Anterior\"]),\n    valor_novo: textoDe(p[\"Valor Novo\"]),\n    origem: (p[\"Origem\"] && p[\"Origem\"].select && p[\"Origem\"].select.name) || \"\",\n  };\n}\n\nfunction propsDeLog(l) {\n  const registro = `${l.acao || \"\"} — ${l.entidade || \"\"}`.trim();\n  return {\n    \"Registro\": { title: richText(registro || \"log\") },\n    \"Timestamp\": { date: { start: l.timestamp || new Date().toISOString() } },\n    \"Ação\": { rich_text: richText(l.acao) },\n    \"Entidade\": { rich_text: richText(l.entidade) },\n    \"Valor Anterior\": { rich_text: richText(l.valor_anterior) },\n    \"Valor Novo\": { rich_text: richText(l.valor_novo) },\n    \"Origem\": selectOrNull(l.origem),\n  };\n}\n\n\n// ── Glue: valida o callback (id+índice), busca a page e prepara o update ──\nconst entrada = $('Início').first().json;\nconst cb = parsearCallbackNotion(entrada.data);\nif (!cb) return [{ json: { acao: 'recusar', aviso: 'Botão inválido ou expirado.' } }];\n\nlet paginaLancamento;\ntry {\n  paginaLancamento = await HELPERS.httpRequest({\n    method: 'GET', url: `https://api.notion.com/v1/pages/${cb.pageId}`, headers: notionHeaders(), json: true,\n  });\n} catch (e) {\n  return [{ json: { acao: 'recusar', aviso: 'Lançamento não encontrado.' } }];\n}\nconst linha = paraObjetoLancamento(paginaLancamento);\nif (String(linha.categoria || '').trim() !== '') {\n  return [{ json: { acao: 'recusar', aviso: 'Já categorizado: ' + linha.categoria } }];\n}\n\n// MESMO filtro+ordenação de categorizacao-hibrida — o índice do callback_data\n// só aponta pro item certo se a lista aqui bater com a de quando o teclado foi montado.\nconst categoriasAtivas = await notionQueryAll($env.NOTION_DB_CATEGORIAS,\n  { property: 'Ativo', checkbox: { equals: true } }, [{ property: 'Nome', direction: 'ascending' }]);\nconst categorias = categoriasAtivas.map(paraObjetoCategoria).map((c) => c.nome);\nconst metas = []; // Fase C adiciona a database Metas no Notion\n\nconst agora = new Date().toISOString();\nlet categoria, idMeta = '', regra = null;\nif (cb.tipo === 'meta') {\n  const nomeMeta = metas[cb.indice];\n  if (!nomeMeta) return [{ json: { acao: 'recusar', aviso: 'Meta não está mais ativa.' } }];\n  categoria = 'Meta: ' + nomeMeta;\n  idMeta = nomeMeta;\n} else {\n  const nomeCategoria = categorias[cb.indice];\n  if (!nomeCategoria) return [{ json: { acao: 'recusar', aviso: 'Categoria não está mais ativa — a lista pode ter mudado, tente categorizar de novo.' } }];\n  categoria = nomeCategoria;\n  regra = { descricao_original: chaveDicionario(linha), categoria_mapeada: categoria,\n    origem: linha.origem, criado_em: agora.slice(0, 10) };\n}\nconst logs = [{ timestamp: agora, acao: 'categoria_aplicada_manual', entidade: 'Lançamentos',\n  valor_anterior: 'page=' + cb.pageId, valor_novo: categoria + ' ← ' + linha.descricao, origem: 'aplicar-categoria' }];\nif (regra) logs.push({ timestamp: agora, acao: 'regra_adicionada', entidade: 'dicionario',\n  valor_anterior: '', valor_novo: regra.descricao_original + ' → ' + categoria, origem: 'aplicar-categoria' });\nreturn [{ json: { acao: 'aplicar', pageId: cb.pageId, categoria, id_meta: idMeta, regra, logs,\n  texto_edit: '✅ ' + linha.descricao + ' → ' + categoria } }];"
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "id": "finaplicar-02"
    },
    {
      "name": "Aplicar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        600,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.acao }}",
              "rightValue": "aplicar",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "finaplicar-03"
    },
    {
      "name": "Atualizar Lançamento",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        -150
      ],
      "parameters": {
        "jsCode": "// ── Notion: HTTP cru + paginação (this.helpers vem do runtime do Code node) ──\nconst NOTION_TOKEN = $env.NOTION_TOKEN;\nconst NOTION_VERSION = $env.NOTION_VERSION || '2022-06-28';\nconst HELPERS = this.helpers;\nfunction notionHeaders() {\n  return { Authorization: `Bearer ${NOTION_TOKEN}`, 'Notion-Version': NOTION_VERSION, 'Content-Type': 'application/json' };\n}\nasync function notionQueryAll(databaseId, filter, sorts) {\n  let results = [];\n  let cursor;\n  do {\n    const body = { page_size: 100 };\n    if (filter) body.filter = filter;\n    if (sorts) body.sorts = sorts;\n    if (cursor) body.start_cursor = cursor;\n    const resp = await HELPERS.httpRequest({\n      method: 'POST',\n      url: `https://api.notion.com/v1/databases/${databaseId}/query`,\n      headers: notionHeaders(),\n      body,\n      json: true,\n    });\n    results = results.concat(resp.results || []);\n    cursor = resp.has_more ? resp.next_cursor : null;\n  } while (cursor);\n  return results;\n}\nasync function notionCreatePage(databaseId, properties) {\n  return HELPERS.httpRequest({\n    method: 'POST',\n    url: 'https://api.notion.com/v1/pages',\n    headers: notionHeaders(),\n    body: { parent: { database_id: databaseId }, properties },\n    json: true,\n  });\n}\nasync function notionUpdatePage(pageId, properties) {\n  return HELPERS.httpRequest({\n    method: 'PATCH',\n    url: `https://api.notion.com/v1/pages/${pageId}`,\n    headers: notionHeaders(),\n    body: { properties },\n    json: true,\n  });\n}\n// Mapeamento puro entre o shape \"flat\" usado pela lógica de negócio reaproveitada de\n// workflows/src/*.js (parser-cartao, parser-conta, dashboard, rateio, ...) e o formato\n// de properties da API do Notion (POST /v1/pages, POST /v1/databases/{id}/query).\n// Sem I/O — só transformação de dados. Concatenado nos Code nodes do n8n junto com\n// os módulos puros originais (ver scripts/gerar-workflow-*-notion.js).\n// Implementa a Fase A de gstack (schema em workflows-harumi/README... ver plano da branch).\n\n/** \"DD/MM/YYYY\" ou \"YYYY-MM-DD\" → \"YYYY-MM-DD\" (Notion exige ISO); inválido/vazio → null. */\nfunction paraIso(data) {\n  if (data === null || data === undefined || data === \"\") return null;\n  const s = String(data).trim();\n  let m;\n  if ((m = /^(\\d{4})-(\\d{2})-(\\d{2})/.exec(s))) return `${m[1]}-${m[2]}-${m[3]}`;\n  if ((m = /^(\\d{2})\\/(\\d{2})\\/(\\d{4})$/.exec(s))) return `${m[3]}-${m[2]}-${m[1]}`;\n  return null;\n}\n\n/**\n * Texto plano de uma property title/rich_text do Notion. As demais funções de\n * leitura (paraObjeto*) devolvem \"YYYY-MM-DD\" para datas — mesDe()/normalizarData()\n * em workflows/src/*.js já aceitam esse formato ISO nativamente, então nenhuma\n * conversão adicional é necessária na leitura (só na escrita, via paraIso).\n */\nfunction textoDe(prop) {\n  if (!prop) return \"\";\n  const arr = prop.title || prop.rich_text || [];\n  return arr.map((t) => t.plain_text || \"\").join(\"\");\n}\n\nconst richText = (s) => (s ? [{ text: { content: String(s).slice(0, 2000) } }] : []);\nconst selectOrNull = (s) => (s ? { select: { name: String(s) } } : { select: null });\nconst dateOrNull = (isoOuBr) => {\n  const iso = paraIso(isoOuBr);\n  return iso ? { date: { start: iso } } : { date: null };\n};\n\n// ─── Lançamentos ────────────────────────────────────────────────────────────\n\n/** Page do Notion (results[i] de um query em Lançamentos) → objeto flat esperado pelos parsers/dashboard. */\nfunction paraObjetoLancamento(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    data_competencia: (p[\"Data Competência\"] && p[\"Data Competência\"].date && p[\"Data Competência\"].date.start) || \"\",\n    data_original: (p[\"Data Original\"] && p[\"Data Original\"].date && p[\"Data Original\"].date.start) || \"\",\n    descricao: textoDe(p[\"Descrição\"]),\n    titulo: \"\",\n    valor: (p[\"Valor\"] && p[\"Valor\"].number) || 0,\n    categoria: (p[\"Categoria\"] && p[\"Categoria\"].select && p[\"Categoria\"].select.name) || \"\",\n    tipo: (p[\"Tipo\"] && p[\"Tipo\"].select && p[\"Tipo\"].select.name) || \"\",\n    origem: (p[\"Origem\"] && p[\"Origem\"].select && p[\"Origem\"].select.name) || \"\",\n    status: (p[\"Status\"] && p[\"Status\"].select && p[\"Status\"].select.name) || \"\",\n    id_meta: textoDe(p[\"Meta\"]),\n  };\n}\n\n/** Objeto flat (saída do parser-cartao/parser-conta) → properties para criar a page no Notion. */\nfunction propsDeLancamento(l) {\n  return {\n    \"Descrição\": { title: richText(l.descricao || l.titulo || \"(sem descrição)\") },\n    \"Valor\": { number: Number(l.valor) || 0 },\n    \"Categoria\": selectOrNull(l.categoria),\n    \"Tipo\": selectOrNull(l.tipo),\n    \"Origem\": selectOrNull(l.origem),\n    \"Status\": selectOrNull(l.status),\n    \"Meta\": { rich_text: richText(l.id_meta) },\n    \"Data Competência\": dateOrNull(l.data_competencia),\n    \"Data Original\": dateOrNull(l.data_original),\n  };\n}\n\n/** Update parcial (PATCH) de um Lançamento: só Categoria+Meta — não toca nas demais properties. */\nfunction propsCategoriaEMeta(categoria, idMeta) {\n  return { \"Categoria\": selectOrNull(categoria), \"Meta\": { rich_text: richText(idMeta) } };\n}\n\n// ─── Dicionário ─────────────────────────────────────────────────────────────\n\nfunction paraObjetoDicionario(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    descricao_original: textoDe(p[\"Descrição Original\"]),\n    categoria_mapeada: (p[\"Categoria Mapeada\"] && p[\"Categoria Mapeada\"].select && p[\"Categoria Mapeada\"].select.name) || \"\",\n    origem: (p[\"Origem\"] && p[\"Origem\"].select && p[\"Origem\"].select.name) || \"\",\n    criado_em: (p[\"Criado Em\"] && p[\"Criado Em\"].date && p[\"Criado Em\"].date.start) || \"\",\n  };\n}\n\n/** Dicionário lido vira { chave, categoria } (contrato de parser-cartao.categorizar / parser-conta). */\nfunction paraDicionarioChaveCategoria(objetosDicionario) {\n  return objetosDicionario.map((d) => ({ chave: d.descricao_original, categoria: d.categoria_mapeada }));\n}\n\nfunction propsDeDicionario(d) {\n  // Criado Em nunca fica vazio: cai no dia de hoje se d.criado_em não vier preenchido.\n  const criadoEm = paraIso(d.criado_em) || new Date().toISOString().slice(0, 10);\n  return {\n    \"Descrição Original\": { title: richText(d.descricao_original || \"(vazio)\") },\n    \"Categoria Mapeada\": selectOrNull(d.categoria_mapeada),\n    \"Origem\": selectOrNull(d.origem),\n    \"Criado Em\": { date: { start: criadoEm } },\n  };\n}\n\n// ─── Categorias ─────────────────────────────────────────────────────────────\n\nfunction paraObjetoCategoria(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    nome: textoDe(p[\"Nome\"]),\n    tipo: (p[\"Tipo\"] && p[\"Tipo\"].select && p[\"Tipo\"].select.name) || \"\",\n    ativo: !!(p[\"Ativo\"] && p[\"Ativo\"].checkbox),\n  };\n}\n\nfunction propsDeCategoria(c) {\n  return {\n    \"Nome\": { title: richText(c.nome || \"(sem nome)\") },\n    \"Tipo\": selectOrNull(c.tipo),\n    \"Ativo\": { checkbox: !!c.ativo },\n  };\n}\n\n// ─── Metas ──────────────────────────────────────────────────────────────────\n// Prazo fica RICH_TEXT (não Date): metas.js aceita \"AAAA-MM\" (sem dia) além de\n// \"AAAA-MM-DD\" — um Date do Notion exige dia, então forçaria uma escolha arbitrária\n// (dia 1? último dia?) que a lógica pura nunca precisou fazer. Texto preserva o\n// valor exatamente como o usuário digitou em /novameta.\n\nfunction paraObjetoMeta(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    nome: textoDe(p[\"Nome\"]),\n    orcamento_total: (p[\"Orçamento Total\"] && p[\"Orçamento Total\"].number) || 0,\n    valor_acumulado: (p[\"Valor Acumulado\"] && p[\"Valor Acumulado\"].number) || 0,\n    prazo: textoDe(p[\"Prazo\"]),\n    status: (p[\"Status\"] && p[\"Status\"].select && p[\"Status\"].select.name) || \"\",\n    criado_em: (p[\"Criado Em\"] && p[\"Criado Em\"].date && p[\"Criado Em\"].date.start) || \"\",\n  };\n}\n\nfunction propsDeMeta(m) {\n  const criadoEm = paraIso(m.criado_em) || new Date().toISOString().slice(0, 10);\n  return {\n    \"Nome\": { title: richText(m.nome || \"(sem nome)\") },\n    \"Orçamento Total\": { number: Number(m.orcamento_total) || 0 },\n    \"Valor Acumulado\": { number: Number(m.valor_acumulado) || 0 },\n    \"Prazo\": { rich_text: richText(m.prazo) },\n    \"Status\": selectOrNull(m.status),\n    \"Criado Em\": { date: { start: criadoEm } },\n  };\n}\n\n/** Update parcial: só o cache de progresso (nunca fonte da verdade — ver metas.js). */\nfunction propsValorAcumulado(valor) {\n  return { \"Valor Acumulado\": { number: Number(valor) || 0 } };\n}\n\n/** Update parcial: só o Status (ex.: encerrar uma meta). */\nfunction propsStatus(status) {\n  return { \"Status\": selectOrNull(status) };\n}\n\n// ─── Contas Fixas ───────────────────────────────────────────────────────────\n// Dia Vencimento fica RICH_TEXT (não Number): lembretes.js aceita tanto um dia\n// numérico (1–31) quanto o literal \"sexta-feira\" (contas semanais) — um Number\n// do Notion não representaria essa segunda forma.\n\nfunction paraObjetoContaFixa(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    nome: textoDe(p[\"Nome\"]),\n    dia_vencimento: textoDe(p[\"Dia Vencimento\"]),\n    valor_esperado: (p[\"Valor Esperado\"] && p[\"Valor Esperado\"].number) || 0,\n    // string \"sim\"/\"não\": lembretes.js/relatorio.js comparam com essa convenção\n    // (normalizar(f.ativo) === \"sim\"), herdada do Sheets — o checkbox boolean do\n    // Notion é traduzido aqui pra não precisar tocar nos dois arquivos compartilhados.\n    ativo: (p[\"Ativo\"] && p[\"Ativo\"].checkbox) ? \"sim\" : \"não\",\n  };\n}\n\nfunction propsDeContaFixa(c) {\n  return {\n    \"Nome\": { title: richText(c.nome || \"(sem nome)\") },\n    \"Dia Vencimento\": { rich_text: richText(c.dia_vencimento) },\n    \"Valor Esperado\": { number: Number(c.valor_esperado) || 0 },\n    \"Ativo\": { checkbox: String(c.ativo).trim().toLowerCase() === \"sim\" },\n  };\n}\n\n// ─── Dashboard Mensal ───────────────────────────────────────────────────────\n\nfunction paraObjetoDashboardMensal(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    mes: textoDe(p[\"Mês\"]),\n    saidas: (p[\"Saídas\"] && p[\"Saídas\"].number) || 0,\n    entradas: (p[\"Entradas\"] && p[\"Entradas\"].number) || 0,\n    saldo: (p[\"Saldo\"] && p[\"Saldo\"].number) || 0,\n    metas_ativas: (p[\"Metas Ativas\"] && p[\"Metas Ativas\"].number) || 0,\n    gerado_em: (p[\"Gerado Em\"] && p[\"Gerado Em\"].date && p[\"Gerado Em\"].date.start) || \"\",\n  };\n}\n\n/** \"MM/YYYY\" → YYYYMM (número). O título \"MM/YYYY\" não ordena cronologicamente como\n * texto (\"01/2027\" vem antes de \"12/2026\" alfabeticamente) — esta é a coluna de apoio\n * usada pela view \"Mais recentes\" (SORT BY \"Mês Ordinal\" DESC). */\nfunction mesOrdinal(mesMMYYYY) {\n  const m = /^(\\d{2})\\/(\\d{4})$/.exec(String(mesMMYYYY || \"\").trim());\n  return m ? Number(m[2]) * 100 + Number(m[1]) : 0;\n}\n\nfunction propsDeDashboardMensal(d) {\n  return {\n    \"Mês\": { title: richText(d.mes) },\n    \"Mês Ordinal\": { number: mesOrdinal(d.mes) },\n    \"Saídas\": { number: Number(d.saidas) || 0 },\n    \"Entradas\": { number: Number(d.entradas) || 0 },\n    \"Saldo\": { number: Number(d.saldo) || 0 },\n    \"Metas Ativas\": { number: Number(d.metasAtivas) || 0 },\n    \"Gerado Em\": { date: { start: d.geradoEm || new Date().toISOString() } },\n  };\n}\n\n// ─── Config ─────────────────────────────────────────────────────────────────\n\nfunction paraObjetoConfig(page) {\n  const p = (page && page.properties) || {};\n  return { _id: page && page.id, chave: textoDe(p[\"Chave\"]), valor: textoDe(p[\"Valor\"]) };\n}\n\nfunction propsDeConfig(c) {\n  return {\n    \"Chave\": { title: richText(c.chave || \"(sem chave)\") },\n    \"Valor\": { rich_text: richText(c.valor) },\n  };\n}\n\n// ─── Log ────────────────────────────────────────────────────────────────────\n\n/** Necessário a partir da Fase B: categorizacao-hibrida lê o Log p/ não perguntar 2x. */\nfunction paraObjetoLog(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    timestamp: (p[\"Timestamp\"] && p[\"Timestamp\"].date && p[\"Timestamp\"].date.start) || \"\",\n    acao: textoDe(p[\"Ação\"]),\n    entidade: textoDe(p[\"Entidade\"]),\n    valor_anterior: textoDe(p[\"Valor Anterior\"]),\n    valor_novo: textoDe(p[\"Valor Novo\"]),\n    origem: (p[\"Origem\"] && p[\"Origem\"].select && p[\"Origem\"].select.name) || \"\",\n  };\n}\n\nfunction propsDeLog(l) {\n  const registro = `${l.acao || \"\"} — ${l.entidade || \"\"}`.trim();\n  return {\n    \"Registro\": { title: richText(registro || \"log\") },\n    \"Timestamp\": { date: { start: l.timestamp || new Date().toISOString() } },\n    \"Ação\": { rich_text: richText(l.acao) },\n    \"Entidade\": { rich_text: richText(l.entidade) },\n    \"Valor Anterior\": { rich_text: richText(l.valor_anterior) },\n    \"Valor Novo\": { rich_text: richText(l.valor_novo) },\n    \"Origem\": selectOrNull(l.origem),\n  };\n}\n\n\n\n// ── Glue: aplica Categoria+Meta no(s) Lançamento(s) (patch parcial) ──\nconst itens = $input.all();\nfor (const item of itens) {\n  await notionUpdatePage(item.json.pageId, propsCategoriaEMeta(item.json.categoria, item.json.id_meta));\n}\nreturn itens;"
      },
      "id": "finaplicar-04"
    },
    {
      "name": "Linha Regra",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        -250
      ],
      "parameters": {
        "jsCode": "const r = $('Processar').first().json.regra; return r ? [{ json: r }] : [];"
      },
      "id": "finaplicar-05"
    },
    {
      "name": "Gravar Regra",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        -250
      ],
      "parameters": {
        "jsCode": "// ── Notion: HTTP cru + paginação (this.helpers vem do runtime do Code node) ──\nconst NOTION_TOKEN = $env.NOTION_TOKEN;\nconst NOTION_VERSION = $env.NOTION_VERSION || '2022-06-28';\nconst HELPERS = this.helpers;\nfunction notionHeaders() {\n  return { Authorization: `Bearer ${NOTION_TOKEN}`, 'Notion-Version': NOTION_VERSION, 'Content-Type': 'application/json' };\n}\nasync function notionQueryAll(databaseId, filter, sorts) {\n  let results = [];\n  let cursor;\n  do {\n    const body = { page_size: 100 };\n    if (filter) body.filter = filter;\n    if (sorts) body.sorts = sorts;\n    if (cursor) body.start_cursor = cursor;\n    const resp = await HELPERS.httpRequest({\n      method: 'POST',\n      url: `https://api.notion.com/v1/databases/${databaseId}/query`,\n      headers: notionHeaders(),\n      body,\n      json: true,\n    });\n    results = results.concat(resp.results || []);\n    cursor = resp.has_more ? resp.next_cursor : null;\n  } while (cursor);\n  return results;\n}\nasync function notionCreatePage(databaseId, properties) {\n  return HELPERS.httpRequest({\n    method: 'POST',\n    url: 'https://api.notion.com/v1/pages',\n    headers: notionHeaders(),\n    body: { parent: { database_id: databaseId }, properties },\n    json: true,\n  });\n}\nasync function notionUpdatePage(pageId, properties) {\n  return HELPERS.httpRequest({\n    method: 'PATCH',\n    url: `https://api.notion.com/v1/pages/${pageId}`,\n    headers: notionHeaders(),\n    body: { properties },\n    json: true,\n  });\n}\n// Mapeamento puro entre o shape \"flat\" usado pela lógica de negócio reaproveitada de\n// workflows/src/*.js (parser-cartao, parser-conta, dashboard, rateio, ...) e o formato\n// de properties da API do Notion (POST /v1/pages, POST /v1/databases/{id}/query).\n// Sem I/O — só transformação de dados. Concatenado nos Code nodes do n8n junto com\n// os módulos puros originais (ver scripts/gerar-workflow-*-notion.js).\n// Implementa a Fase A de gstack (schema em workflows-harumi/README... ver plano da branch).\n\n/** \"DD/MM/YYYY\" ou \"YYYY-MM-DD\" → \"YYYY-MM-DD\" (Notion exige ISO); inválido/vazio → null. */\nfunction paraIso(data) {\n  if (data === null || data === undefined || data === \"\") return null;\n  const s = String(data).trim();\n  let m;\n  if ((m = /^(\\d{4})-(\\d{2})-(\\d{2})/.exec(s))) return `${m[1]}-${m[2]}-${m[3]}`;\n  if ((m = /^(\\d{2})\\/(\\d{2})\\/(\\d{4})$/.exec(s))) return `${m[3]}-${m[2]}-${m[1]}`;\n  return null;\n}\n\n/**\n * Texto plano de uma property title/rich_text do Notion. As demais funções de\n * leitura (paraObjeto*) devolvem \"YYYY-MM-DD\" para datas — mesDe()/normalizarData()\n * em workflows/src/*.js já aceitam esse formato ISO nativamente, então nenhuma\n * conversão adicional é necessária na leitura (só na escrita, via paraIso).\n */\nfunction textoDe(prop) {\n  if (!prop) return \"\";\n  const arr = prop.title || prop.rich_text || [];\n  return arr.map((t) => t.plain_text || \"\").join(\"\");\n}\n\nconst richText = (s) => (s ? [{ text: { content: String(s).slice(0, 2000) } }] : []);\nconst selectOrNull = (s) => (s ? { select: { name: String(s) } } : { select: null });\nconst dateOrNull = (isoOuBr) => {\n  const iso = paraIso(isoOuBr);\n  return iso ? { date: { start: iso } } : { date: null };\n};\n\n// ─── Lançamentos ────────────────────────────────────────────────────────────\n\n/** Page do Notion (results[i] de um query em Lançamentos) → objeto flat esperado pelos parsers/dashboard. */\nfunction paraObjetoLancamento(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    data_competencia: (p[\"Data Competência\"] && p[\"Data Competência\"].date && p[\"Data Competência\"].date.start) || \"\",\n    data_original: (p[\"Data Original\"] && p[\"Data Original\"].date && p[\"Data Original\"].date.start) || \"\",\n    descricao: textoDe(p[\"Descrição\"]),\n    titulo: \"\",\n    valor: (p[\"Valor\"] && p[\"Valor\"].number) || 0,\n    categoria: (p[\"Categoria\"] && p[\"Categoria\"].select && p[\"Categoria\"].select.name) || \"\",\n    tipo: (p[\"Tipo\"] && p[\"Tipo\"].select && p[\"Tipo\"].select.name) || \"\",\n    origem: (p[\"Origem\"] && p[\"Origem\"].select && p[\"Origem\"].select.name) || \"\",\n    status: (p[\"Status\"] && p[\"Status\"].select && p[\"Status\"].select.name) || \"\",\n    id_meta: textoDe(p[\"Meta\"]),\n  };\n}\n\n/** Objeto flat (saída do parser-cartao/parser-conta) → properties para criar a page no Notion. */\nfunction propsDeLancamento(l) {\n  return {\n    \"Descrição\": { title: richText(l.descricao || l.titulo || \"(sem descrição)\") },\n    \"Valor\": { number: Number(l.valor) || 0 },\n    \"Categoria\": selectOrNull(l.categoria),\n    \"Tipo\": selectOrNull(l.tipo),\n    \"Origem\": selectOrNull(l.origem),\n    \"Status\": selectOrNull(l.status),\n    \"Meta\": { rich_text: richText(l.id_meta) },\n    \"Data Competência\": dateOrNull(l.data_competencia),\n    \"Data Original\": dateOrNull(l.data_original),\n  };\n}\n\n/** Update parcial (PATCH) de um Lançamento: só Categoria+Meta — não toca nas demais properties. */\nfunction propsCategoriaEMeta(categoria, idMeta) {\n  return { \"Categoria\": selectOrNull(categoria), \"Meta\": { rich_text: richText(idMeta) } };\n}\n\n// ─── Dicionário ─────────────────────────────────────────────────────────────\n\nfunction paraObjetoDicionario(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    descricao_original: textoDe(p[\"Descrição Original\"]),\n    categoria_mapeada: (p[\"Categoria Mapeada\"] && p[\"Categoria Mapeada\"].select && p[\"Categoria Mapeada\"].select.name) || \"\",\n    origem: (p[\"Origem\"] && p[\"Origem\"].select && p[\"Origem\"].select.name) || \"\",\n    criado_em: (p[\"Criado Em\"] && p[\"Criado Em\"].date && p[\"Criado Em\"].date.start) || \"\",\n  };\n}\n\n/** Dicionário lido vira { chave, categoria } (contrato de parser-cartao.categorizar / parser-conta). */\nfunction paraDicionarioChaveCategoria(objetosDicionario) {\n  return objetosDicionario.map((d) => ({ chave: d.descricao_original, categoria: d.categoria_mapeada }));\n}\n\nfunction propsDeDicionario(d) {\n  // Criado Em nunca fica vazio: cai no dia de hoje se d.criado_em não vier preenchido.\n  const criadoEm = paraIso(d.criado_em) || new Date().toISOString().slice(0, 10);\n  return {\n    \"Descrição Original\": { title: richText(d.descricao_original || \"(vazio)\") },\n    \"Categoria Mapeada\": selectOrNull(d.categoria_mapeada),\n    \"Origem\": selectOrNull(d.origem),\n    \"Criado Em\": { date: { start: criadoEm } },\n  };\n}\n\n// ─── Categorias ─────────────────────────────────────────────────────────────\n\nfunction paraObjetoCategoria(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    nome: textoDe(p[\"Nome\"]),\n    tipo: (p[\"Tipo\"] && p[\"Tipo\"].select && p[\"Tipo\"].select.name) || \"\",\n    ativo: !!(p[\"Ativo\"] && p[\"Ativo\"].checkbox),\n  };\n}\n\nfunction propsDeCategoria(c) {\n  return {\n    \"Nome\": { title: richText(c.nome || \"(sem nome)\") },\n    \"Tipo\": selectOrNull(c.tipo),\n    \"Ativo\": { checkbox: !!c.ativo },\n  };\n}\n\n// ─── Metas ──────────────────────────────────────────────────────────────────\n// Prazo fica RICH_TEXT (não Date): metas.js aceita \"AAAA-MM\" (sem dia) além de\n// \"AAAA-MM-DD\" — um Date do Notion exige dia, então forçaria uma escolha arbitrária\n// (dia 1? último dia?) que a lógica pura nunca precisou fazer. Texto preserva o\n// valor exatamente como o usuário digitou em /novameta.\n\nfunction paraObjetoMeta(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    nome: textoDe(p[\"Nome\"]),\n    orcamento_total: (p[\"Orçamento Total\"] && p[\"Orçamento Total\"].number) || 0,\n    valor_acumulado: (p[\"Valor Acumulado\"] && p[\"Valor Acumulado\"].number) || 0,\n    prazo: textoDe(p[\"Prazo\"]),\n    status: (p[\"Status\"] && p[\"Status\"].select && p[\"Status\"].select.name) || \"\",\n    criado_em: (p[\"Criado Em\"] && p[\"Criado Em\"].date && p[\"Criado Em\"].date.start) || \"\",\n  };\n}\n\nfunction propsDeMeta(m) {\n  const criadoEm = paraIso(m.criado_em) || new Date().toISOString().slice(0, 10);\n  return {\n    \"Nome\": { title: richText(m.nome || \"(sem nome)\") },\n    \"Orçamento Total\": { number: Number(m.orcamento_total) || 0 },\n    \"Valor Acumulado\": { number: Number(m.valor_acumulado) || 0 },\n    \"Prazo\": { rich_text: richText(m.prazo) },\n    \"Status\": selectOrNull(m.status),\n    \"Criado Em\": { date: { start: criadoEm } },\n  };\n}\n\n/** Update parcial: só o cache de progresso (nunca fonte da verdade — ver metas.js). */\nfunction propsValorAcumulado(valor) {\n  return { \"Valor Acumulado\": { number: Number(valor) || 0 } };\n}\n\n/** Update parcial: só o Status (ex.: encerrar uma meta). */\nfunction propsStatus(status) {\n  return { \"Status\": selectOrNull(status) };\n}\n\n// ─── Contas Fixas ───────────────────────────────────────────────────────────\n// Dia Vencimento fica RICH_TEXT (não Number): lembretes.js aceita tanto um dia\n// numérico (1–31) quanto o literal \"sexta-feira\" (contas semanais) — um Number\n// do Notion não representaria essa segunda forma.\n\nfunction paraObjetoContaFixa(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    nome: textoDe(p[\"Nome\"]),\n    dia_vencimento: textoDe(p[\"Dia Vencimento\"]),\n    valor_esperado: (p[\"Valor Esperado\"] && p[\"Valor Esperado\"].number) || 0,\n    // string \"sim\"/\"não\": lembretes.js/relatorio.js comparam com essa convenção\n    // (normalizar(f.ativo) === \"sim\"), herdada do Sheets — o checkbox boolean do\n    // Notion é traduzido aqui pra não precisar tocar nos dois arquivos compartilhados.\n    ativo: (p[\"Ativo\"] && p[\"Ativo\"].checkbox) ? \"sim\" : \"não\",\n  };\n}\n\nfunction propsDeContaFixa(c) {\n  return {\n    \"Nome\": { title: richText(c.nome || \"(sem nome)\") },\n    \"Dia Vencimento\": { rich_text: richText(c.dia_vencimento) },\n    \"Valor Esperado\": { number: Number(c.valor_esperado) || 0 },\n    \"Ativo\": { checkbox: String(c.ativo).trim().toLowerCase() === \"sim\" },\n  };\n}\n\n// ─── Dashboard Mensal ───────────────────────────────────────────────────────\n\nfunction paraObjetoDashboardMensal(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    mes: textoDe(p[\"Mês\"]),\n    saidas: (p[\"Saídas\"] && p[\"Saídas\"].number) || 0,\n    entradas: (p[\"Entradas\"] && p[\"Entradas\"].number) || 0,\n    saldo: (p[\"Saldo\"] && p[\"Saldo\"].number) || 0,\n    metas_ativas: (p[\"Metas Ativas\"] && p[\"Metas Ativas\"].number) || 0,\n    gerado_em: (p[\"Gerado Em\"] && p[\"Gerado Em\"].date && p[\"Gerado Em\"].date.start) || \"\",\n  };\n}\n\n/** \"MM/YYYY\" → YYYYMM (número). O título \"MM/YYYY\" não ordena cronologicamente como\n * texto (\"01/2027\" vem antes de \"12/2026\" alfabeticamente) — esta é a coluna de apoio\n * usada pela view \"Mais recentes\" (SORT BY \"Mês Ordinal\" DESC). */\nfunction mesOrdinal(mesMMYYYY) {\n  const m = /^(\\d{2})\\/(\\d{4})$/.exec(String(mesMMYYYY || \"\").trim());\n  return m ? Number(m[2]) * 100 + Number(m[1]) : 0;\n}\n\nfunction propsDeDashboardMensal(d) {\n  return {\n    \"Mês\": { title: richText(d.mes) },\n    \"Mês Ordinal\": { number: mesOrdinal(d.mes) },\n    \"Saídas\": { number: Number(d.saidas) || 0 },\n    \"Entradas\": { number: Number(d.entradas) || 0 },\n    \"Saldo\": { number: Number(d.saldo) || 0 },\n    \"Metas Ativas\": { number: Number(d.metasAtivas) || 0 },\n    \"Gerado Em\": { date: { start: d.geradoEm || new Date().toISOString() } },\n  };\n}\n\n// ─── Config ─────────────────────────────────────────────────────────────────\n\nfunction paraObjetoConfig(page) {\n  const p = (page && page.properties) || {};\n  return { _id: page && page.id, chave: textoDe(p[\"Chave\"]), valor: textoDe(p[\"Valor\"]) };\n}\n\nfunction propsDeConfig(c) {\n  return {\n    \"Chave\": { title: richText(c.chave || \"(sem chave)\") },\n    \"Valor\": { rich_text: richText(c.valor) },\n  };\n}\n\n// ─── Log ────────────────────────────────────────────────────────────────────\n\n/** Necessário a partir da Fase B: categorizacao-hibrida lê o Log p/ não perguntar 2x. */\nfunction paraObjetoLog(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    timestamp: (p[\"Timestamp\"] && p[\"Timestamp\"].date && p[\"Timestamp\"].date.start) || \"\",\n    acao: textoDe(p[\"Ação\"]),\n    entidade: textoDe(p[\"Entidade\"]),\n    valor_anterior: textoDe(p[\"Valor Anterior\"]),\n    valor_novo: textoDe(p[\"Valor Novo\"]),\n    origem: (p[\"Origem\"] && p[\"Origem\"].select && p[\"Origem\"].select.name) || \"\",\n  };\n}\n\nfunction propsDeLog(l) {\n  const registro = `${l.acao || \"\"} — ${l.entidade || \"\"}`.trim();\n  return {\n    \"Registro\": { title: richText(registro || \"log\") },\n    \"Timestamp\": { date: { start: l.timestamp || new Date().toISOString() } },\n    \"Ação\": { rich_text: richText(l.acao) },\n    \"Entidade\": { rich_text: richText(l.entidade) },\n    \"Valor Anterior\": { rich_text: richText(l.valor_anterior) },\n    \"Valor Novo\": { rich_text: richText(l.valor_novo) },\n    \"Origem\": selectOrNull(l.origem),\n  };\n}\n\n\n\n// ── Glue: cria uma page por item de 'Linha Regra' na database NOTION_DB_DICIONARIO ──\nconst itens = $input.all();\nconst criadas = [];\nfor (const item of itens) {\n  const page = await notionCreatePage($env.NOTION_DB_DICIONARIO, propsDeDicionario(item.json));\n  criadas.push(page);\n}\nreturn criadas.map((p) => ({ json: { notion_page_id: p.id } }));"
      },
      "id": "finaplicar-06"
    },
    {
      "name": "Linhas Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        -100
      ],
      "parameters": {
        "jsCode": "return $('Processar').first().json.logs.map((l) => ({ json: l }));"
      },
      "id": "finaplicar-07"
    },
    {
      "name": "Gravar Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        -100
      ],
      "parameters": {
        "jsCode": "// ── Notion: HTTP cru + paginação (this.helpers vem do runtime do Code node) ──\nconst NOTION_TOKEN = $env.NOTION_TOKEN;\nconst NOTION_VERSION = $env.NOTION_VERSION || '2022-06-28';\nconst HELPERS = this.helpers;\nfunction notionHeaders() {\n  return { Authorization: `Bearer ${NOTION_TOKEN}`, 'Notion-Version': NOTION_VERSION, 'Content-Type': 'application/json' };\n}\nasync function notionQueryAll(databaseId, filter, sorts) {\n  let results = [];\n  let cursor;\n  do {\n    const body = { page_size: 100 };\n    if (filter) body.filter = filter;\n    if (sorts) body.sorts = sorts;\n    if (cursor) body.start_cursor = cursor;\n    const resp = await HELPERS.httpRequest({\n      method: 'POST',\n      url: `https://api.notion.com/v1/databases/${databaseId}/query`,\n      headers: notionHeaders(),\n      body,\n      json: true,\n    });\n    results = results.concat(resp.results || []);\n    cursor = resp.has_more ? resp.next_cursor : null;\n  } while (cursor);\n  return results;\n}\nasync function notionCreatePage(databaseId, properties) {\n  return HELPERS.httpRequest({\n    method: 'POST',\n    url: 'https://api.notion.com/v1/pages',\n    headers: notionHeaders(),\n    body: { parent: { database_id: databaseId }, properties },\n    json: true,\n  });\n}\nasync function notionUpdatePage(pageId, properties) {\n  return HELPERS.httpRequest({\n    method: 'PATCH',\n    url: `https://api.notion.com/v1/pages/${pageId}`,\n    headers: notionHeaders(),\n    body: { properties },\n    json: true,\n  });\n}\n// Mapeamento puro entre o shape \"flat\" usado pela lógica de negócio reaproveitada de\n// workflows/src/*.js (parser-cartao, parser-conta, dashboard, rateio, ...) e o formato\n// de properties da API do Notion (POST /v1/pages, POST /v1/databases/{id}/query).\n// Sem I/O — só transformação de dados. Concatenado nos Code nodes do n8n junto com\n// os módulos puros originais (ver scripts/gerar-workflow-*-notion.js).\n// Implementa a Fase A de gstack (schema em workflows-harumi/README... ver plano da branch).\n\n/** \"DD/MM/YYYY\" ou \"YYYY-MM-DD\" → \"YYYY-MM-DD\" (Notion exige ISO); inválido/vazio → null. */\nfunction paraIso(data) {\n  if (data === null || data === undefined || data === \"\") return null;\n  const s = String(data).trim();\n  let m;\n  if ((m = /^(\\d{4})-(\\d{2})-(\\d{2})/.exec(s))) return `${m[1]}-${m[2]}-${m[3]}`;\n  if ((m = /^(\\d{2})\\/(\\d{2})\\/(\\d{4})$/.exec(s))) return `${m[3]}-${m[2]}-${m[1]}`;\n  return null;\n}\n\n/**\n * Texto plano de uma property title/rich_text do Notion. As demais funções de\n * leitura (paraObjeto*) devolvem \"YYYY-MM-DD\" para datas — mesDe()/normalizarData()\n * em workflows/src/*.js já aceitam esse formato ISO nativamente, então nenhuma\n * conversão adicional é necessária na leitura (só na escrita, via paraIso).\n */\nfunction textoDe(prop) {\n  if (!prop) return \"\";\n  const arr = prop.title || prop.rich_text || [];\n  return arr.map((t) => t.plain_text || \"\").join(\"\");\n}\n\nconst richText = (s) => (s ? [{ text: { content: String(s).slice(0, 2000) } }] : []);\nconst selectOrNull = (s) => (s ? { select: { name: String(s) } } : { select: null });\nconst dateOrNull = (isoOuBr) => {\n  const iso = paraIso(isoOuBr);\n  return iso ? { date: { start: iso } } : { date: null };\n};\n\n// ─── Lançamentos ────────────────────────────────────────────────────────────\n\n/** Page do Notion (results[i] de um query em Lançamentos) → objeto flat esperado pelos parsers/dashboard. */\nfunction paraObjetoLancamento(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    data_competencia: (p[\"Data Competência\"] && p[\"Data Competência\"].date && p[\"Data Competência\"].date.start) || \"\",\n    data_original: (p[\"Data Original\"] && p[\"Data Original\"].date && p[\"Data Original\"].date.start) || \"\",\n    descricao: textoDe(p[\"Descrição\"]),\n    titulo: \"\",\n    valor: (p[\"Valor\"] && p[\"Valor\"].number) || 0,\n    categoria: (p[\"Categoria\"] && p[\"Categoria\"].select && p[\"Categoria\"].select.name) || \"\",\n    tipo: (p[\"Tipo\"] && p[\"Tipo\"].select && p[\"Tipo\"].select.name) || \"\",\n    origem: (p[\"Origem\"] && p[\"Origem\"].select && p[\"Origem\"].select.name) || \"\",\n    status: (p[\"Status\"] && p[\"Status\"].select && p[\"Status\"].select.name) || \"\",\n    id_meta: textoDe(p[\"Meta\"]),\n  };\n}\n\n/** Objeto flat (saída do parser-cartao/parser-conta) → properties para criar a page no Notion. */\nfunction propsDeLancamento(l) {\n  return {\n    \"Descrição\": { title: richText(l.descricao || l.titulo || \"(sem descrição)\") },\n    \"Valor\": { number: Number(l.valor) || 0 },\n    \"Categoria\": selectOrNull(l.categoria),\n    \"Tipo\": selectOrNull(l.tipo),\n    \"Origem\": selectOrNull(l.origem),\n    \"Status\": selectOrNull(l.status),\n    \"Meta\": { rich_text: richText(l.id_meta) },\n    \"Data Competência\": dateOrNull(l.data_competencia),\n    \"Data Original\": dateOrNull(l.data_original),\n  };\n}\n\n/** Update parcial (PATCH) de um Lançamento: só Categoria+Meta — não toca nas demais properties. */\nfunction propsCategoriaEMeta(categoria, idMeta) {\n  return { \"Categoria\": selectOrNull(categoria), \"Meta\": { rich_text: richText(idMeta) } };\n}\n\n// ─── Dicionário ─────────────────────────────────────────────────────────────\n\nfunction paraObjetoDicionario(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    descricao_original: textoDe(p[\"Descrição Original\"]),\n    categoria_mapeada: (p[\"Categoria Mapeada\"] && p[\"Categoria Mapeada\"].select && p[\"Categoria Mapeada\"].select.name) || \"\",\n    origem: (p[\"Origem\"] && p[\"Origem\"].select && p[\"Origem\"].select.name) || \"\",\n    criado_em: (p[\"Criado Em\"] && p[\"Criado Em\"].date && p[\"Criado Em\"].date.start) || \"\",\n  };\n}\n\n/** Dicionário lido vira { chave, categoria } (contrato de parser-cartao.categorizar / parser-conta). */\nfunction paraDicionarioChaveCategoria(objetosDicionario) {\n  return objetosDicionario.map((d) => ({ chave: d.descricao_original, categoria: d.categoria_mapeada }));\n}\n\nfunction propsDeDicionario(d) {\n  // Criado Em nunca fica vazio: cai no dia de hoje se d.criado_em não vier preenchido.\n  const criadoEm = paraIso(d.criado_em) || new Date().toISOString().slice(0, 10);\n  return {\n    \"Descrição Original\": { title: richText(d.descricao_original || \"(vazio)\") },\n    \"Categoria Mapeada\": selectOrNull(d.categoria_mapeada),\n    \"Origem\": selectOrNull(d.origem),\n    \"Criado Em\": { date: { start: criadoEm } },\n  };\n}\n\n// ─── Categorias ─────────────────────────────────────────────────────────────\n\nfunction paraObjetoCategoria(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    nome: textoDe(p[\"Nome\"]),\n    tipo: (p[\"Tipo\"] && p[\"Tipo\"].select && p[\"Tipo\"].select.name) || \"\",\n    ativo: !!(p[\"Ativo\"] && p[\"Ativo\"].checkbox),\n  };\n}\n\nfunction propsDeCategoria(c) {\n  return {\n    \"Nome\": { title: richText(c.nome || \"(sem nome)\") },\n    \"Tipo\": selectOrNull(c.tipo),\n    \"Ativo\": { checkbox: !!c.ativo },\n  };\n}\n\n// ─── Metas ──────────────────────────────────────────────────────────────────\n// Prazo fica RICH_TEXT (não Date): metas.js aceita \"AAAA-MM\" (sem dia) além de\n// \"AAAA-MM-DD\" — um Date do Notion exige dia, então forçaria uma escolha arbitrária\n// (dia 1? último dia?) que a lógica pura nunca precisou fazer. Texto preserva o\n// valor exatamente como o usuário digitou em /novameta.\n\nfunction paraObjetoMeta(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    nome: textoDe(p[\"Nome\"]),\n    orcamento_total: (p[\"Orçamento Total\"] && p[\"Orçamento Total\"].number) || 0,\n    valor_acumulado: (p[\"Valor Acumulado\"] && p[\"Valor Acumulado\"].number) || 0,\n    prazo: textoDe(p[\"Prazo\"]),\n    status: (p[\"Status\"] && p[\"Status\"].select && p[\"Status\"].select.name) || \"\",\n    criado_em: (p[\"Criado Em\"] && p[\"Criado Em\"].date && p[\"Criado Em\"].date.start) || \"\",\n  };\n}\n\nfunction propsDeMeta(m) {\n  const criadoEm = paraIso(m.criado_em) || new Date().toISOString().slice(0, 10);\n  return {\n    \"Nome\": { title: richText(m.nome || \"(sem nome)\") },\n    \"Orçamento Total\": { number: Number(m.orcamento_total) || 0 },\n    \"Valor Acumulado\": { number: Number(m.valor_acumulado) || 0 },\n    \"Prazo\": { rich_text: richText(m.prazo) },\n    \"Status\": selectOrNull(m.status),\n    \"Criado Em\": { date: { start: criadoEm } },\n  };\n}\n\n/** Update parcial: só o cache de progresso (nunca fonte da verdade — ver metas.js). */\nfunction propsValorAcumulado(valor) {\n  return { \"Valor Acumulado\": { number: Number(valor) || 0 } };\n}\n\n/** Update parcial: só o Status (ex.: encerrar uma meta). */\nfunction propsStatus(status) {\n  return { \"Status\": selectOrNull(status) };\n}\n\n// ─── Contas Fixas ───────────────────────────────────────────────────────────\n// Dia Vencimento fica RICH_TEXT (não Number): lembretes.js aceita tanto um dia\n// numérico (1–31) quanto o literal \"sexta-feira\" (contas semanais) — um Number\n// do Notion não representaria essa segunda forma.\n\nfunction paraObjetoContaFixa(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    nome: textoDe(p[\"Nome\"]),\n    dia_vencimento: textoDe(p[\"Dia Vencimento\"]),\n    valor_esperado: (p[\"Valor Esperado\"] && p[\"Valor Esperado\"].number) || 0,\n    // string \"sim\"/\"não\": lembretes.js/relatorio.js comparam com essa convenção\n    // (normalizar(f.ativo) === \"sim\"), herdada do Sheets — o checkbox boolean do\n    // Notion é traduzido aqui pra não precisar tocar nos dois arquivos compartilhados.\n    ativo: (p[\"Ativo\"] && p[\"Ativo\"].checkbox) ? \"sim\" : \"não\",\n  };\n}\n\nfunction propsDeContaFixa(c) {\n  return {\n    \"Nome\": { title: richText(c.nome || \"(sem nome)\") },\n    \"Dia Vencimento\": { rich_text: richText(c.dia_vencimento) },\n    \"Valor Esperado\": { number: Number(c.valor_esperado) || 0 },\n    \"Ativo\": { checkbox: String(c.ativo).trim().toLowerCase() === \"sim\" },\n  };\n}\n\n// ─── Dashboard Mensal ───────────────────────────────────────────────────────\n\nfunction paraObjetoDashboardMensal(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    mes: textoDe(p[\"Mês\"]),\n    saidas: (p[\"Saídas\"] && p[\"Saídas\"].number) || 0,\n    entradas: (p[\"Entradas\"] && p[\"Entradas\"].number) || 0,\n    saldo: (p[\"Saldo\"] && p[\"Saldo\"].number) || 0,\n    metas_ativas: (p[\"Metas Ativas\"] && p[\"Metas Ativas\"].number) || 0,\n    gerado_em: (p[\"Gerado Em\"] && p[\"Gerado Em\"].date && p[\"Gerado Em\"].date.start) || \"\",\n  };\n}\n\n/** \"MM/YYYY\" → YYYYMM (número). O título \"MM/YYYY\" não ordena cronologicamente como\n * texto (\"01/2027\" vem antes de \"12/2026\" alfabeticamente) — esta é a coluna de apoio\n * usada pela view \"Mais recentes\" (SORT BY \"Mês Ordinal\" DESC). */\nfunction mesOrdinal(mesMMYYYY) {\n  const m = /^(\\d{2})\\/(\\d{4})$/.exec(String(mesMMYYYY || \"\").trim());\n  return m ? Number(m[2]) * 100 + Number(m[1]) : 0;\n}\n\nfunction propsDeDashboardMensal(d) {\n  return {\n    \"Mês\": { title: richText(d.mes) },\n    \"Mês Ordinal\": { number: mesOrdinal(d.mes) },\n    \"Saídas\": { number: Number(d.saidas) || 0 },\n    \"Entradas\": { number: Number(d.entradas) || 0 },\n    \"Saldo\": { number: Number(d.saldo) || 0 },\n    \"Metas Ativas\": { number: Number(d.metasAtivas) || 0 },\n    \"Gerado Em\": { date: { start: d.geradoEm || new Date().toISOString() } },\n  };\n}\n\n// ─── Config ─────────────────────────────────────────────────────────────────\n\nfunction paraObjetoConfig(page) {\n  const p = (page && page.properties) || {};\n  return { _id: page && page.id, chave: textoDe(p[\"Chave\"]), valor: textoDe(p[\"Valor\"]) };\n}\n\nfunction propsDeConfig(c) {\n  return {\n    \"Chave\": { title: richText(c.chave || \"(sem chave)\") },\n    \"Valor\": { rich_text: richText(c.valor) },\n  };\n}\n\n// ─── Log ────────────────────────────────────────────────────────────────────\n\n/** Necessário a partir da Fase B: categorizacao-hibrida lê o Log p/ não perguntar 2x. */\nfunction paraObjetoLog(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    timestamp: (p[\"Timestamp\"] && p[\"Timestamp\"].date && p[\"Timestamp\"].date.start) || \"\",\n    acao: textoDe(p[\"Ação\"]),\n    entidade: textoDe(p[\"Entidade\"]),\n    valor_anterior: textoDe(p[\"Valor Anterior\"]),\n    valor_novo: textoDe(p[\"Valor Novo\"]),\n    origem: (p[\"Origem\"] && p[\"Origem\"].select && p[\"Origem\"].select.name) || \"\",\n  };\n}\n\nfunction propsDeLog(l) {\n  const registro = `${l.acao || \"\"} — ${l.entidade || \"\"}`.trim();\n  return {\n    \"Registro\": { title: richText(registro || \"log\") },\n    \"Timestamp\": { date: { start: l.timestamp || new Date().toISOString() } },\n    \"Ação\": { rich_text: richText(l.acao) },\n    \"Entidade\": { rich_text: richText(l.entidade) },\n    \"Valor Anterior\": { rich_text: richText(l.valor_anterior) },\n    \"Valor Novo\": { rich_text: richText(l.valor_novo) },\n    \"Origem\": selectOrNull(l.origem),\n  };\n}\n\n\n\n// ── Glue: cria uma page por item de 'Linhas Log' na database NOTION_DB_LOG ──\nconst itens = $input.all();\nconst criadas = [];\nfor (const item of itens) {\n  const page = await notionCreatePage($env.NOTION_DB_LOG, propsDeLog(item.json));\n  criadas.push(page);\n}\nreturn criadas.map((p) => ({ json: { notion_page_id: p.id } }));"
      },
      "id": "finaplicar-08"
    },
    {
      "name": "Confirmar Callback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        -100
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN_HARUMI }}/answerCallbackQuery",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ callback_query_id: $('Início').first().json.callback_id, text: '✅ Aplicado' }) }}",
        "options": {}
      },
      "id": "finaplicar-09"
    },
    {
      "name": "Editar Mensagem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        -100
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN_HARUMI }}/editMessageText",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $('Início').first().json.chat_id, message_id: Number($('Início').first().json.message_id), text: $('Processar').first().json.texto_edit }) }}",
        "options": {}
      },
      "id": "finaplicar-10"
    },
    {
      "name": "Recusar Callback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        150
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN_HARUMI }}/answerCallbackQuery",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ callback_query_id: $('Início').first().json.callback_id, text: $json.aviso, show_alert: true }) }}",
        "options": {}
      },
      "id": "finaplicar-11"
    }
  ],
  "connections": {
    "Início": {
      "main": [
        [
          {
            "node": "Processar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar": {
      "main": [
        [
          {
            "node": "Aplicar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aplicar?": {
      "main": [
        [
          {
            "node": "Atualizar Lançamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Recusar Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Lançamento": {
      "main": [
        [
          {
            "node": "Linha Regra",
            "type": "main",
            "index": 0
          },
          {
            "node": "Linhas Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linha Regra": {
      "main": [
        [
          {
            "node": "Gravar Regra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linhas Log": {
      "main": [
        [
          {
            "node": "Gravar Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gravar Log": {
      "main": [
        [
          {
            "node": "Confirmar Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmar Callback": {
      "main": [
        [
          {
            "node": "Editar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
