workflows-harumi/dashboard.json
{
  "id": "FinDashNotion01",
  "name": "dashboard (Notion — Harumi)",
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "nodes": [
    {
      "name": "Cron Semanal",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        -100
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            }
          ]
        }
      },
      "id": "fin-dash-notion-01"
    },
    {
      "name": "Início Comando",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        100
      ],
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "fin-dash-notion-02"
    },
    {
      "name": "Ler Dados (Notion)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ],
      "parameters": {
        "jsCode": "// ── Notion: HTTP cru + paginação (this.helpers vem do runtime do Code node) ──\nconst NOTION_TOKEN = $env.NOTION_TOKEN;\nconst NOTION_VERSION = $env.NOTION_VERSION || '2022-06-28';\nconst HELPERS = this.helpers;\nfunction notionHeaders() {\n  return { Authorization: `Bearer ${NOTION_TOKEN}`, 'Notion-Version': NOTION_VERSION, 'Content-Type': 'application/json' };\n}\nasync function notionQueryAll(databaseId, filter, sorts) {\n  let results = [];\n  let cursor;\n  do {\n    const body = { page_size: 100 };\n    if (filter) body.filter = filter;\n    if (sorts) body.sorts = sorts;\n    if (cursor) body.start_cursor = cursor;\n    const resp = await HELPERS.httpRequest({\n      method: 'POST',\n      url: `https://api.notion.com/v1/databases/${databaseId}/query`,\n      headers: notionHeaders(),\n      body,\n      json: true,\n    });\n    results = results.concat(resp.results || []);\n    cursor = resp.has_more ? resp.next_cursor : null;\n  } while (cursor);\n  return results;\n}\nasync function notionCreatePage(databaseId, properties) {\n  return HELPERS.httpRequest({\n    method: 'POST',\n    url: 'https://api.notion.com/v1/pages',\n    headers: notionHeaders(),\n    body: { parent: { database_id: databaseId }, properties },\n    json: true,\n  });\n}\nasync function notionUpdatePage(pageId, properties) {\n  return HELPERS.httpRequest({\n    method: 'PATCH',\n    url: `https://api.notion.com/v1/pages/${pageId}`,\n    headers: notionHeaders(),\n    body: { properties },\n    json: true,\n  });\n}\n\n// ── Glue: Lançamentos + Contas Fixas + Metas ativas + FaturaAberta + Parcelas + Config ──\nconst [lancamentos, contasFixas, metasAtivas, faturaAberta, parcelas, config] = await Promise.all([\n  notionQueryAll($env.NOTION_DB_LANCAMENTOS),\n  notionQueryAll($env.NOTION_DB_CONTAS_FIXAS),\n  notionQueryAll($env.NOTION_DB_METAS, { property: 'Status', select: { equals: 'ativa' } }),\n  notionQueryAll($env.NOTION_DB_FATURA_ABERTA),\n  notionQueryAll($env.NOTION_DB_PARCELAS),\n  notionQueryAll($env.NOTION_DB_CONFIG),\n]);\nreturn [{ json: { lancamentos, contasFixas, metasAtivas, faturaAberta, parcelas, config } }];"
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "id": "fin-dash-notion-03"
    },
    {
      "name": "Calcular",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "parameters": {
        "jsCode": "// Rateio proporcional ao salário — lógica pura do dashboard da reunião familiar.\r\n// TDD em rateio.test.js. Módulo Node consumido pelo runner (não é Code node n8n).\r\n// Implementa gstack/specs/dashboard-reuniao-familiar.md.\r\n\r\n/** Remove acento e caixa para comparar categorias/nomes (Deposito ~ Depósito). */\r\nfunction normalizar(s) {\r\n  return String(s == null ? \"\" : s)\r\n    .normalize(\"NFD\").replace(/[̀-ͯ]/g, \"\").trim().toLowerCase();\r\n}\r\n\r\nconst arred = (n) => Math.round(n * 100) / 100;\r\n\r\n/**\r\n * Valor da planilha → número. Defesa contra `valor` gravado como TEXTO (ex.: o nó\r\n * googleSheets em USER_ENTERED + locale pt_BR pode coagir \"1011.87\" a texto). Aceita\r\n * número nativo, \"1011.87\" (ponto decimal), BR \"1.011,56\"/\"1011,56\" e \"R$ 1.234,56\".\r\n * Lixo/vazio → 0 (nunca NaN — NaN envenenaria a soma inteira do relatório).\r\n */\r\nfunction valorNum(v) {\r\n  if (typeof v === \"number\") return Number.isFinite(v) ? v : 0;\r\n  if (v === null || v === undefined) return 0;\r\n  let s = String(v).trim().replace(/^R\\$\\s*/i, \"\");\r\n  if (s === \"\") return 0;\r\n  if (s.includes(\",\")) s = s.replace(/\\./g, \"\").replace(\",\", \".\");        // BR: ponto=milhar, vírgula=decimal\r\n  else if ((s.match(/\\./g) || []).length > 1) s = s.replace(/\\./g, \"\");   // só pontos múltiplos = milhar\r\n  const n = Number(s);\r\n  return Number.isFinite(n) ? n : 0;\r\n}\r\n\r\n/**\r\n * Categorias de transferência interna — movimentação entre contas próprias\r\n * (ex.: pagar a fatura do cartão, resgate/aplicação, Pix para si mesmo). NÃO são\r\n * consumo nem receita: o gasto real já está nas compras da fatura (origem=cartao)\r\n * e contá-las de novo no extrato duplicaria. O parser resolve \"Pagamento/Retirada\"\r\n * para uma destas conforme a direção (entrada→Pagamento, saída→Retirada).\r\n */\r\nconst CATEGORIAS_TRANSFERENCIA = new Set([\"pagamento\", \"retirada\"]);\r\nfunction ehTransferencia(categoria) {\r\n  return CATEGORIAS_TRANSFERENCIA.has(normalizar(categoria));\r\n}\r\n\r\n/** salarios: {pessoa: salario} ou [{pessoa, salario}] → {pessoa: proporção}. */\r\nfunction proporcoes(salarios) {\r\n  const pares = Array.isArray(salarios)\r\n    ? salarios.map((s) => [s.pessoa, Number(s.salario)])\r\n    : Object.entries(salarios).map(([p, v]) => [p, Number(v)]);\r\n  const total = pares.reduce((s, [, v]) => s + v, 0);\r\n  if (!(total > 0)) throw new Error(\"soma dos salários deve ser > 0 (configurar aba Salários)\");\r\n  const out = {};\r\n  for (const [p, v] of pares) out[p] = v / total;\r\n  return out;\r\n}\r\n\r\n/**\r\n * Data da planilha → \"MM/YYYY\" | null. Aceita os três formatos que o nó de\r\n * leitura pode devolver (valueRenderOption=UNFORMATTED_VALUE):\r\n *   - \"DD/MM/YYYY\" (string) ;\r\n *   - \"YYYY-MM-DD\" (string ISO) ;\r\n *   - serial do Sheets (número ou string só-dígitos): célula formatada como\r\n *     Data volta como dias desde 1899-12-30, não como string.\r\n */\r\nfunction mesDe(v) {\r\n  if (v === null || v === undefined || v === \"\") return null;\r\n  if (typeof v === \"number\" || (typeof v === \"string\" && /^\\d+(\\.\\d+)?$/.test(v.trim()))) {\r\n    const serial = Math.floor(Number(v));\r\n    if (!Number.isFinite(serial) || serial <= 0) return null;\r\n    const d = new Date(Date.UTC(1899, 11, 30) + serial * 86400000);\r\n    return `${String(d.getUTCMonth() + 1).padStart(2, \"0\")}/${d.getUTCFullYear()}`;\r\n  }\r\n  const s = String(v).trim();\r\n  let m;\r\n  if ((m = /^\\d{2}\\/(\\d{2})\\/(\\d{4})$/.exec(s))) return `${m[1]}/${m[2]}`;\r\n  if ((m = /^(\\d{4})-(\\d{2})-\\d{2}/.exec(s))) return `${m[2]}/${m[1]}`;\r\n  return null;\r\n}\r\n\r\n/** \"MM/YYYY\" → número YYYYMM comparável (ex.: \"05/2026\" → 202605); inválido → null. */\r\nfunction mesParaNum(mes) {\r\n  const m = /^(\\d{2})\\/(\\d{4})$/.exec(String(mes == null ? \"\" : mes).trim());\r\n  if (!m) return null;\r\n  return Number(m[2]) * 100 + Number(m[1]);\r\n}\r\n\r\n/**\r\n * Pessoa dona de uma categoria exclusiva \"Gastos {pessoa}\", ou null. Despesa\r\n * exclusiva NÃO é dividida por salário: é cobrada 100% de quem é (decisão do Marcelo).\r\n */\r\nfunction categoriaExclusivaDe(categoria, pessoas) {\r\n  const c = normalizar(categoria);\r\n  for (const p of pessoas) {\r\n    if (c === \"gastos \" + normalizar(p)) return p;\r\n  }\r\n  return null;\r\n}\r\n\r\n/**\r\n * Movimentação PESSOAL (não é da casa): \"Depósito para o/a {pessoa}\" (entrada) e\r\n * \"Saída para o/a {pessoa}\" (saída). Dinheiro que passou pela conta mas é pessoal —\r\n * ex.: Pix de terceiros que era do Marcelo + o Pix que ele mandou de volta p/ si.\r\n * APARECE no fluxo de caixa (entradas/saídas), mas é NEUTRA ao rateio: não é\r\n * contribuição (pago) nem custo/dívida da casa (base/cota). Distingue-se de \"Retirada\"\r\n * (pgto de fatura / aplicação CDB), que é transferência excluída de tudo.\r\n */\r\nfunction ehMovimentacaoPessoal(categoria) {\r\n  const c = normalizar(categoria);\r\n  return /^deposito para /.test(c) || /^saida para /.test(c);\r\n}\r\n\r\n/**\r\n * Categoria de META (\"Meta: Viagem Lua de Mel\", \"Meta: IPTU\", ...). É poupança/objetivo\r\n * rastreado à parte na aba Metas — NÃO é despesa mensal compartilhada da casa. Fica FORA\r\n * do rateio e do treemap de gastos da casa (decisão do Marcelo). Aparece no fluxo de caixa.\r\n */\r\nfunction ehMeta(categoria) {\r\n  return /^meta:/.test(normalizar(categoria));\r\n}\r\n\r\n/**\r\n * Núcleo do rateio sobre um conjunto JÁ filtrado de lançamentos (DRY entre rateioMes\r\n * e rateioAcumulado). `prop` = proporções por pessoa (de proporcoes()).\r\n * - base dividida = saídas confirmadas não-transferência, não-exclusivas e não-pessoais;\r\n * - exclusivo[p] = Σ saídas confirmadas \"Gastos {p}\" (100% da pessoa);\r\n * - cota[p] = base × prop[p] + exclusivo[p];   pago[p] = entradas \"Depósito {p}\";\r\n * - saldo = pago − cota;  acerto = cota − pago (positivo = a pessoa deve).\r\n * Movimentações pessoais (\"Depósito/Saída para o ...\") são IGNORADAS aqui (neutras).\r\n * Conservação: Σ cotas = base + Σ exclusivos = Σ saídas confirmadas não-transferência/pessoais.\r\n * @returns {{totalDespesas, cota, pago, saldo, acerto}}\r\n */\r\nfunction calcularRateio(lancamentos, prop) {\r\n  const pessoas = Object.keys(prop);\r\n  const exclusivo = {};\r\n  for (const p of pessoas) exclusivo[p] = 0;\r\n  let base = 0;\r\n  for (const l of lancamentos) {\r\n    if (l.tipo !== \"saída\" || l.status !== \"confirmado\") continue;\r\n    // fora do rateio: transferência interna, movimentação pessoal e Metas (poupança à parte)\r\n    if (ehTransferencia(l.categoria) || ehMovimentacaoPessoal(l.categoria) || ehMeta(l.categoria)) continue;\r\n    const dono = categoriaExclusivaDe(l.categoria, pessoas);\r\n    if (dono) exclusivo[dono] = arred(exclusivo[dono] + valorNum(l.valor));\r\n    else base = arred(base + valorNum(l.valor));\r\n  }\r\n  const totalDespesas = arred(base + pessoas.reduce((s, p) => s + exclusivo[p], 0));\r\n\r\n  // Divide a base entre as pessoas; a ÚLTIMA absorve o resíduo de arredondamento para\r\n  // garantir Σ(parte dividida) == base exatamente — sem dívida-fantasma de R$ 0,01 no\r\n  // saldo cumulativo (que nunca quitaria). O exclusivo de cada um soma à parte dele.\r\n  const parteBase = {};\r\n  let alocado = 0;\r\n  pessoas.forEach((p, idx) => {\r\n    if (idx === pessoas.length - 1) parteBase[p] = arred(base - alocado);\r\n    else { parteBase[p] = arred(base * prop[p]); alocado = arred(alocado + parteBase[p]); }\r\n  });\r\n\r\n  const cota = {}, pago = {}, saldo = {}, acerto = {};\r\n  for (const p of pessoas) {\r\n    cota[p] = arred(parteBase[p] + exclusivo[p]);\r\n    const alvo = normalizar(`deposito ${p}`);\r\n    pago[p] = arred(lancamentos\r\n      .filter((l) => l.tipo === \"entrada\" && normalizar(l.categoria) === alvo)\r\n      .reduce((s, l) => s + valorNum(l.valor), 0));\r\n    saldo[p] = arred(pago[p] - cota[p]);\r\n    acerto[p] = arred(cota[p] - pago[p]);\r\n  }\r\n  return { totalDespesas, cota, pago, saldo, acerto };\r\n}\r\n\r\n/**\r\n * Rateio do mês (`mes` = \"MM/YYYY\"). Visão de um único mês (usada no relatório).\r\n * @returns {{mes, totalDespesas, proporcoes, cota, pago, saldo, acerto}}\r\n */\r\nfunction rateioMes(lancamentos, salarios, mes) {\r\n  const prop = proporcoes(salarios);\r\n  const doMes = lancamentos.filter((l) => mesDe(l.data_competencia) === mes);\r\n  return { mes, proporcoes: prop, ...calcularRateio(doMes, prop) };\r\n}\r\n\r\n/**\r\n * Rateio CUMULATIVO: meses com `mesInicio ≤ mesDe ≤ mesAte`. Detecta dívida acumulada\r\n * (decisão do Marcelo). `mesInicio` (opcional, \"MM/YYYY\") é o marco onde a conta da casa\r\n * começa — meses anteriores (pré-rastreio) ficam de fora. Lançamentos com data ilegível\r\n * (`mesDe===null`) são descartados.\r\n * @returns {{mesAte, mesInicio, acumulado:true, totalDespesas, proporcoes, cota, pago, saldo, acerto}}\r\n */\r\nfunction rateioAcumulado(lancamentos, salarios, mesAte, mesInicio) {\r\n  const prop = proporcoes(salarios);\r\n  const ate = mesParaNum(mesAte);\r\n  const inicio = mesParaNum(mesInicio);\r\n  const ateOuAntes = lancamentos.filter((l) => {\r\n    const m = mesParaNum(mesDe(l.data_competencia));\r\n    return m !== null && (ate === null || m <= ate) && (inicio === null || m >= inicio);\r\n  });\r\n\r\n  const mesesSet = new Set();\r\n  for (const l of ateOuAntes) {\r\n    const m = mesDe(l.data_competencia);\r\n    if (m) mesesSet.add(m);\r\n  }\r\n  const mesesOrdenados = [...mesesSet].sort((a, b) => mesParaNum(a) - mesParaNum(b));\r\n\r\n  const pessoas = Object.keys(prop);\r\n  // FONTE ÚNICA: os totais do card são a SOMA mês-a-mês (mesmo cálculo do histórico do\r\n  // modal). Antes o card vinha de um calcularRateio agregado separado, que podia divergir\r\n  // da soma do modal em centavos (resíduo de arredondamento absorvido 1× vs N×). Agora o\r\n  // card == última linha de saldoAcumulado do histórico, sempre.\r\n  const cota = {}, pago = {}, saldo = {}, acerto = {};\r\n  for (const p of pessoas) { cota[p] = 0; pago[p] = 0; saldo[p] = 0; acerto[p] = 0; }\r\n  let totalDespesas = 0;\r\n  const historico = [];\r\n\r\n  for (const m of mesesOrdenados) {\r\n    const doMes = lancamentos.filter((l) => mesDe(l.data_competencia) === m);\r\n    const rMes = calcularRateio(doMes, prop);\r\n\r\n    totalDespesas = arred(totalDespesas + rMes.totalDespesas);\r\n    for (const p of pessoas) {\r\n      cota[p] = arred(cota[p] + rMes.cota[p]);\r\n      pago[p] = arred(pago[p] + rMes.pago[p]);\r\n      saldo[p] = arred(saldo[p] + rMes.saldo[p]);\r\n      acerto[p] = arred(cota[p] - pago[p]);\r\n    }\r\n\r\n    const exclusivoMes = {};\r\n    for (const p of pessoas) {\r\n      exclusivoMes[p] = 0;\r\n      for (const l of doMes) {\r\n        if (l.tipo === \"saída\" && l.status === \"confirmado\"\r\n          && categoriaExclusivaDe(l.categoria, pessoas) === p) {\r\n          exclusivoMes[p] = arred(exclusivoMes[p] + valorNum(l.valor));\r\n        }\r\n      }\r\n    }\r\n\r\n    historico.push({\r\n      mes: m,\r\n      totalDespesas: rMes.totalDespesas,\r\n      cota: rMes.cota,\r\n      exclusivo: exclusivoMes,\r\n      pago: rMes.pago,\r\n      saldo: rMes.saldo,\r\n      saldoAcumulado: { ...saldo }, // == card (soma corrente) — modal e card sempre batem\r\n    });\r\n  }\r\n\r\n  return { mesAte, mesInicio: mesInicio || null, acumulado: true, proporcoes: prop, totalDespesas, cota, pago, saldo, acerto, historico };\r\n}\r\n\r\n\n// Parser da FATURA ABERTA do C6 — lógica pura do Code node do futuro workflow.\r\n// O C6 não exporta CSV da fatura não-fechada; o Marcelo cola, no Telegram, o TEXTO\r\n// REAL selecionável do app web (Ctrl+C) — não OCR, não print. Parser determinístico,\r\n// sem LLM. Implementa gstack/specs/fatura-aberta-projecao.md (Fatia 1: parser + checksum).\r\n//\r\n// Convenções herdadas do projeto: valor sempre positivo (direção fica no consumidor);\r\n// \"Inclusao de Pagamento\"/negativos são excluídos do gasto e do checksum (mesma ideia do\r\n// ehTransferencia). Parser nunca trava: linha que não casa o padrão vira aviso.\r\n\r\n// O C6 rotula os dias mais recentes como \"Hoje\"/\"Ontem\" em vez do nome do dia da semana.\r\n// Sem eles no padrão, a 1ª data reconhecida pulava o bloco do dia atual e seus lançamentos\r\n// eram silenciosamente descartados (bug do R$ 733,97 — o checksum não fechava).\r\nconst DIAS_SEMANA = \"Domingo|Segunda-feira|Terça-feira|Quarta-feira|Quinta-feira|Sexta-feira|Sábado|Hoje|Ontem\";\r\nconst RE_DIA = new RegExp(`^(?:${DIAS_SEMANA}),\\\\s*(\\\\d{2})/(\\\\d{2})/(\\\\d{2})$`);\r\nconst RE_VALOR = /^-?R\\$\\s/;\r\nconst RE_PARCELAS = /^Em\\s+(\\d+)x$/i;\r\nconst RE_PAGAMENTO = /Inclusao de Pagamento|Pagamento recebido|Retirada/i;\r\nconst ASSINATURA = \"Total dessa fatura\";\r\n\r\n/** \"R$ 1.234,56\" / \"-R$ 9.363,91\" → number (com sinal). Inválido → null (não trava). */\r\nfunction parseReais(s) {\r\n  const txt = String(s).trim();\r\n  if (!RE_VALOR.test(txt)) return null;\r\n  const limpo = txt.replace(/^-?R\\$\\s*/, \"\").replace(/\\./g, \"\").replace(\",\", \".\");\r\n  if (limpo === \"\") return null;\r\n  const n = Number(limpo);\r\n  if (!Number.isFinite(n)) return null;\r\n  const valor = (txt.startsWith(\"-\") ? -1 : 1) * Math.abs(n);\r\n  return Math.round(valor * 100) / 100;\r\n}\r\n\r\n/** \"Domingo, 14/06/26\" → \"14/06/2026\" (DD/MM/AA→YYYY, R7). Não-dia → null. */\r\nfunction diaParaData(linha) {\r\n  const m = RE_DIA.exec(linha.trim());\r\n  if (!m) return null;\r\n  return `${m[1]}/${m[2]}/20${m[3]}`;\r\n}\r\n\r\nconst arredonda = (n) => Math.round(n * 100) / 100;\r\nconst brlSimples = (n) => \"R$ \" + Number(n).toLocaleString(\"pt-BR\", { minimumFractionDigits: 2, maximumFractionDigits: 2 });\r\n\r\n/** \"DD/MM/YYYY\" → Date (para escolher, entre candidatos, o par mais próximo em data). */\r\nfunction paraDataDDMMYYYY(s) {\r\n  const m = /^(\\d{2})\\/(\\d{2})\\/(\\d{4})$/.exec(String(s).trim());\r\n  if (!m) return null;\r\n  return new Date(Number(m[3]), Number(m[2]) - 1, Number(m[1]));\r\n}\r\n\r\n/**\r\n * Cancela pares 1:1 (estorno negativo + lançamento positivo de mesma descrição, ou o par\r\n * \"Estorno Tarifa\" × \"...Anuidade...\", |valor| idêntico) — HANDOFF.md \"Estorno + par\r\n * idêntico\" / \"Anuidade + Estorno Tarifa\". Mesma ideia do cancelarPares de parser-cartao.js,\r\n * adaptada ao formato data+categoria+estabelecimento da fatura aberta.\r\n * @returns {{mantidos: object[], cancelados: {estorno:object, original:object}[]}}\r\n */\r\nfunction cancelarParesEstorno(candidatos) {\r\n  const mantidos = [...candidatos];\r\n  const cancelados = [];\r\n  const ehParAnuidade = (neg, pos) =>\r\n    /^Estorno/i.test(neg.estabelecimento) && /Anuidade/i.test(pos.estabelecimento);\r\n\r\n  for (const neg of candidatos.filter((c) => c.valor < 0)) {\r\n    if (!mantidos.includes(neg)) continue;\r\n    const opcoes = mantidos.filter(\r\n      (pos) =>\r\n        pos.valor > 0 &&\r\n        Math.abs(pos.valor) === Math.abs(neg.valor) &&\r\n        (pos.estabelecimento === neg.estabelecimento || ehParAnuidade(neg, pos))\r\n    );\r\n    if (opcoes.length === 0) continue;\r\n    const dataNeg = paraDataDDMMYYYY(neg.data);\r\n    opcoes.sort((a, b) => {\r\n      const da = paraDataDDMMYYYY(a.data);\r\n      const db = paraDataDDMMYYYY(b.data);\r\n      if (!dataNeg || !da || !db) return 0;\r\n      return Math.abs(da - dataNeg) - Math.abs(db - dataNeg);\r\n    });\r\n    const par = opcoes[0];\r\n    mantidos.splice(mantidos.indexOf(neg), 1);\r\n    mantidos.splice(mantidos.indexOf(par), 1);\r\n    cancelados.push({ estorno: neg, original: par });\r\n  }\r\n  return { mantidos, cancelados };\r\n}\r\n\r\n/**\r\n * Parseia o texto colado da fatura aberta do C6 web.\r\n * @param {string} texto bloco copiado do app web (pode vir de 1+ mensagens concatenadas)\r\n * @returns {{\r\n *   competencia_label: string|null,\r\n *   total: number|null,\r\n *   lancamentos: {data:string, categoria_c6:string, estabelecimento:string, valor:number, parcelas_total:number|null}[],\r\n *   pagamentos: {data:string|null, descricao:string, valor:number}[],\r\n *   checksum: {somado:number, total:number|null, diferenca:number|null, bate:boolean},\r\n *   avisos: string[]\r\n * }}\r\n */\r\nfunction parseFaturaAberta(texto) {\r\n  const linhas = String(texto).replace(/^﻿/, \"\").split(/\\r?\\n/)\r\n    .map((l) => l.trim()).filter((l) => l !== \"\");\r\n  const avisos = [];\r\n\r\n  // Assinatura obrigatória: sem ela, não é fatura C6 → não grava.\r\n  const idxAssinatura = linhas.indexOf(ASSINATURA);\r\n  if (idxAssinatura === -1) {\r\n    avisos.push(`texto sem a assinatura \"${ASSINATURA}\" — não parece a fatura do C6; nada gravado`);\r\n    return {\r\n      competencia_label: null, total: null, lancamentos: [], pagamentos: [],\r\n      checksum: { somado: 0, total: null, diferenca: null, bate: false }, avisos,\r\n    };\r\n  }\r\n\r\n  // Cabeçalho = tudo antes do primeiro dia da semana; competência é a 1ª linha.\r\n  const idxPrimeiroDia = linhas.findIndex((l) => diaParaData(l) !== null);\r\n  const competencia_label = linhas[0] || null;\r\n\r\n  // Total dessa fatura = primeiro valor logo após a assinatura.\r\n  let total = null;\r\n  for (let i = idxAssinatura + 1; i < linhas.length; i++) {\r\n    const v = parseReais(linhas[i]);\r\n    if (v !== null) { total = Math.abs(v); break; }\r\n  }\r\n\r\n  const lancamentos = [];\r\n  const pagamentos = [];\r\n  const candidatos = [];\r\n  let dataAtual = null;\r\n\r\n  const corpo = idxPrimeiroDia === -1 ? [] : linhas.slice(idxPrimeiroDia);\r\n  let i = 0;\r\n  while (i < corpo.length) {\r\n    const linha = corpo[i];\r\n\r\n    const data = diaParaData(linha);\r\n    if (data) { dataAtual = data; i++; continue; }\r\n\r\n    // Acumula descritores (categoria, estabelecimento, ou rótulo de pagamento)\r\n    // até encontrar a primeira linha de valor.\r\n    const descritores = [];\r\n    while (i < corpo.length && !RE_VALOR.test(corpo[i]) && diaParaData(corpo[i]) === null) {\r\n      descritores.push(corpo[i]);\r\n      i++;\r\n    }\r\n    if (i >= corpo.length) {\r\n      if (descritores.length) avisos.push(`descrição sem valor no fim do texto: \"${descritores.join(\" / \")}\"`);\r\n      break;\r\n    }\r\n\r\n    // Valor (vem repetido 2×: original e convertido; nacional = iguais → pega o 1º).\r\n    const valor = parseReais(corpo[i]);\r\n    i++;\r\n    while (i < corpo.length && RE_VALOR.test(corpo[i])) i++; // consome a 2ª ocorrência\r\n    // Parcelas opcionais: \"Em Mx\".\r\n    let parcelas_total = null;\r\n    if (i < corpo.length) {\r\n      const mp = RE_PARCELAS.exec(corpo[i]);\r\n      if (mp) { parcelas_total = Number(mp[1]); i++; }\r\n    }\r\n\r\n    if (valor === null) {\r\n      avisos.push(`valor malformado, lançamento ignorado: \"${descritores.join(\" / \")}\"`);\r\n      continue;\r\n    }\r\n    if (descritores.length === 0) {\r\n      avisos.push(`valor sem descrição (${corpo[i - 1]}) ignorado`);\r\n      continue;\r\n    }\r\n\r\n    // \"Inclusao de Pagamento\"/\"Pagamento recebido\"/\"Retirada\": sempre pagamento, direto.\r\n    if (RE_PAGAMENTO.test(descritores.join(\" \"))) {\r\n      pagamentos.push({ data: dataAtual, descricao: descritores.join(\" / \"), valor: Math.abs(valor) });\r\n      continue;\r\n    }\r\n\r\n    const categoria_c6 = descritores.length >= 2 ? descritores[0] : \"\";\r\n    const estabelecimento = descritores.length >= 2\r\n      ? descritores.slice(1).join(\" \") : descritores[0];\r\n    candidatos.push({ data: dataAtual, categoria_c6, estabelecimento, valor, parcelas_total });\r\n  }\r\n\r\n  // Estorno + par idêntico (ou \"Estorno Tarifa\" × \"Anuidade...\") se cancelam — HANDOFF.md.\r\n  // Sem isso o negativo caía sozinho em \"pagamentos\" (excluído do checksum) e o positivo\r\n  // pareado ficava contado sozinho em \"lancamentos\", estufando a soma (bug do R$98,00 do\r\n  // estorno de tarifa: soma > total sem duplicata real nenhuma).\r\n  const { mantidos, cancelados } = cancelarParesEstorno(candidatos);\r\n  for (const c of cancelados) {\r\n    avisos.push(\r\n      `estorno cancelado automaticamente: \"${c.estorno.estabelecimento}\" × \"${c.original.estabelecimento}\" (${brlSimples(Math.abs(c.estorno.valor))})`\r\n    );\r\n  }\r\n  for (const cand of mantidos) {\r\n    if (cand.valor < 0) {\r\n      pagamentos.push({ data: cand.data, descricao: cand.estabelecimento, valor: Math.abs(cand.valor) });\r\n    } else {\r\n      lancamentos.push({\r\n        data: cand.data,\r\n        categoria_c6: cand.categoria_c6,\r\n        estabelecimento: cand.estabelecimento,\r\n        valor: Math.abs(cand.valor),\r\n        parcelas_total: cand.parcelas_total,\r\n      });\r\n    }\r\n  }\r\n\r\n  const somado = arredonda(lancamentos.reduce((s, l) => s + l.valor, 0));\r\n  const diferenca = total === null ? null : arredonda(total - somado);\r\n  const bate = total !== null && diferenca === 0;\r\n\r\n  return {\r\n    competencia_label,\r\n    total,\r\n    lancamentos,\r\n    pagamentos,\r\n    checksum: { somado, total, diferenca, bate },\r\n    avisos,\r\n  };\r\n}\r\n\r\n// ═══════════════ FATIA 2 — parcelas (seed/reseed + projeção) ═════════\r\n//\r\n// O desktop só mostra \"Em Mx\" (total), nunca \"N de M\". Inferir N pela data é furado\r\n// (provado). Solução: seed único (Marcelo lê \"Parcela N de M\" no celular) + índice\r\n// DERIVADO DO CALENDÁRIO — N_atual = N_no_seed + ciclos decorridos desde o seed.\r\n// Assim, pular uma colagem de ciclo NÃO dessincroniza, e recolar o mesmo ciclo não\r\n// incrementa. O seed é reexecutável (= reseed): basta recolar para sobrescrever.\r\n\r\nconst MESES = {\r\n  janeiro: 1, fevereiro: 2, março: 3, marco: 3, abril: 4, maio: 5, junho: 6,\r\n  julho: 7, agosto: 8, setembro: 9, outubro: 10, novembro: 11, dezembro: 12,\r\n};\r\n\r\n/** Normaliza estabelecimento/chave p/ casamento: maiúsculas + colapsa espaços. */\r\nfunction normalizarChave(s) {\r\n  return String(s).trim().toUpperCase().replace(/\\s+/g, \" \");\r\n}\r\n\r\n/** \"julho de 2026\" → vencimento \"10/07/2026\" (ciclo vence dia 10). Inválido → null. */\r\nfunction mesAnoParaVencimento(label) {\r\n  const m = /^([a-zç]+)\\s+de\\s+(\\d{4})$/i.exec(String(label).trim());\r\n  if (!m) return null;\r\n  const mes = MESES[m[1].toLowerCase()];\r\n  if (!mes) return null;\r\n  return `10/${String(mes).padStart(2, \"0\")}/${m[2]}`;\r\n}\r\n\r\n/** Soma k meses a um vencimento \"10/MM/YYYY\" (vira o ano). */\r\nfunction addMesesVencimento(vencimento, k) {\r\n  const m = /^(\\d{2})\\/(\\d{2})\\/(\\d{4})$/.exec(String(vencimento).trim());\r\n  if (!m) return null;\r\n  const idx = Number(m[2]) - 1 + k;\r\n  const ano = Number(m[3]) + Math.floor(idx / 12);\r\n  const mes = ((idx % 12) + 12) % 12;\r\n  return `${m[1]}/${String(mes + 1).padStart(2, \"0\")}/${ano}`;\r\n}\r\n\r\nconst proximoVencimento = (v) => addMesesVencimento(v, 1);\r\n\r\n/** Diferença em meses entre dois vencimentos \"10/MM/YYYY\" (v2 − v1). */\r\nfunction mesesEntreVencimentos(v1, v2) {\r\n  const a = /^(\\d{2})\\/(\\d{2})\\/(\\d{4})$/.exec(String(v1).trim());\r\n  const b = /^(\\d{2})\\/(\\d{2})\\/(\\d{4})$/.exec(String(v2).trim());\r\n  if (!a || !b) return null;\r\n  return (Number(b[3]) - Number(a[3])) * 12 + (Number(b[2]) - Number(a[2]));\r\n}\r\n\r\n/**\r\n * Normaliza um ciclo/data lido do Sheets para \"DD/MM/YYYY\". O append do Sheets coage\r\n * datas em serial (ex.: 46213 = 10/07/2026); ao ler de volta vem o número — esta função\r\n * o converte de volta. Aceita serial (número ou string-só-dígitos), \"DD/MM/YYYY\" e\r\n * \"YYYY-MM-DD\". Vazio → \"\".\r\n */\r\nfunction normalizarCiclo(v) {\r\n  if (v === null || v === undefined || v === \"\") return \"\";\r\n  if (typeof v === \"number\" || (typeof v === \"string\" && /^\\d+(\\.\\d+)?$/.test(v.trim()))) {\r\n    const serial = Math.floor(Number(v));\r\n    const d = new Date(Date.UTC(1899, 11, 30) + serial * 86400000);\r\n    const dd = String(d.getUTCDate()).padStart(2, \"0\");\r\n    const mm = String(d.getUTCMonth() + 1).padStart(2, \"0\");\r\n    return `${dd}/${mm}/${d.getUTCFullYear()}`;\r\n  }\r\n  const s = String(v).trim();\r\n  let m;\r\n  if (/^(\\d{2})\\/(\\d{2})\\/(\\d{4})$/.test(s)) return s;\r\n  if ((m = /^(\\d{4})-(\\d{2})-(\\d{2})/.exec(s))) return `${m[3]}/${m[2]}/${m[1]}`;\r\n  return s;\r\n}\r\n\r\n/**\r\n * Parseia o bloco do /seedparcelas — uma linha por parcela: \"estabelecimento;N/M\".\r\n * Separador canônico \";\" (o \"|\" antigo continua aceito por retrocompat).\r\n * Reexecutável (reseed). @returns {{entradas:{chave,N,M}[], avisos:string[]}}\r\n */\r\nfunction parseSeedParcelas(texto) {\r\n  const entradas = [];\r\n  const avisos = [];\r\n  for (const bruta of String(texto).split(/\\r?\\n/)) {\r\n    const linha = bruta.trim();\r\n    if (linha === \"\") continue;\r\n    const m = /^(.+?)\\s*[;|]\\s*(\\d+)\\s*\\/\\s*(\\d+)$/.exec(linha);\r\n    if (!m) { avisos.push(`linha de seed malformada (esperado \"estab;N/M\"): \"${linha}\"`); continue; }\r\n    const N = Number(m[2]);\r\n    const M = Number(m[3]);\r\n    if (N < 1 || M < 1 || N > M) { avisos.push(`parcela inválida (N/M fora de 1..M): \"${linha}\"`); continue; }\r\n    entradas.push({ chave: m[1].trim(), N, M });\r\n  }\r\n  return { entradas, avisos };\r\n}\r\n\r\n/**\r\n * Casa cada seed com os lançamentos parcelados por (chave CONTIDA no estabelecimento, M)\r\n * e monta as linhas da aba Parcelas. Uma linha por lançamento casado (GOL = 4 compras 3x\r\n * no mesmo dia → 4 linhas). @returns {{rows:object[], avisos:string[]}}\r\n */\r\nfunction montarEstadoParcelas(entradas, lancamentosParcelados, vencimentoReferencia) {\r\n  const rows = [];\r\n  const avisos = [];\r\n  const casados = new Set();\r\n  for (const e of entradas) {\r\n    const chaveN = normalizarChave(e.chave);\r\n    const matches = lancamentosParcelados.filter(\r\n      (l) => normalizarChave(l.estabelecimento).includes(chaveN) && l.parcelas_total === e.M\r\n    );\r\n    if (matches.length === 0) {\r\n      avisos.push(`seed sem lançamento correspondente: \"${e.chave}\" (${e.N}/${e.M})`);\r\n      continue;\r\n    }\r\n    for (const l of matches) {\r\n      casados.add(l);\r\n      rows.push({\r\n        chave: e.chave,\r\n        estabelecimento: l.estabelecimento,\r\n        valor: l.valor,\r\n        M: e.M,\r\n        N_no_seed: e.N,\r\n        ciclo_referencia: vencimentoReferencia,\r\n      });\r\n    }\r\n  }\r\n  for (const l of lancamentosParcelados) {\r\n    if (!casados.has(l)) {\r\n      avisos.push(`parcela sem seed (informe N/M): \"${l.estabelecimento}\" (Em ${l.parcelas_total}x)`);\r\n    }\r\n  }\r\n  return { rows, avisos };\r\n}\r\n\r\n/**\r\n * Vencimento \"10/MM/YYYY\" do ciclo aberto corrente, derivado de \"hoje\" (YYYY-MM-DD,\r\n * America/Sao_Paulo). Ciclo fecha dia 03, vence dia 10; transações 04→03 caem no ciclo que\r\n * fecha dia 03. Usado pela v2 do dashboard como âncora da projeção quando não há fatura aberta.\r\n */\r\nfunction vencimentoCicloAberto(hojeISO) {\r\n  const m = /^(\\d{4})-(\\d{2})-(\\d{2})$/.exec(String(hojeISO).trim());\r\n  if (!m) return null;\r\n  let ano = Number(m[1]);\r\n  let mes = Number(m[2]);\r\n  const dia = Number(m[3]);\r\n  if (dia >= 4) {\r\n    mes += 1;\r\n    if (mes === 13) { mes = 1; ano += 1; }\r\n  }\r\n  return `10/${String(mes).padStart(2, \"0\")}/${ano}`;\r\n}\r\n\r\n/** Índice atual da parcela, derivado do calendário (não de contagem de colagens). */\r\nfunction indiceAtual(parcelaRow, vencimentoAtual) {\r\n  return (\r\n    Number(parcelaRow.N_no_seed) +\r\n    mesesEntreVencimentos(normalizarCiclo(parcelaRow.ciclo_referencia), normalizarCiclo(vencimentoAtual))\r\n  );\r\n}\r\n\r\n/**\r\n * Projeção do comprometido futuro: para cada ciclo à frente (1..horizonte), soma o valor\r\n * das parcelas ainda ativas (1 ≤ N ≤ M). Derivada — nunca persistida como confirmada.\r\n * @returns {{vencimento:string, total:number}[]} (um item por ciclo do horizonte)\r\n */\r\nfunction projetarComprometido(parcelaRows, vencimentoAtual, horizonte = 6) {\r\n  const out = [];\r\n  for (let k = 1; k <= horizonte; k++) {\r\n    const venc = addMesesVencimento(vencimentoAtual, k);\r\n    let total = 0;\r\n    for (const row of parcelaRows) {\r\n      const N = indiceAtual(row, venc);\r\n      if (N >= 1 && N <= row.M) total += row.valor;\r\n    }\r\n    out.push({ vencimento: venc, total: arredonda(total) });\r\n  }\r\n  return out;\r\n}\r\n\r\n// ═══════════════ FATIA 3 — provisórios (aba própria) + reconciliação ═\r\n//\r\n// Decisão de arquitetura (2026-06-18): os provisórios vivem numa aba PRÓPRIA\r\n// (`FaturaAberta`), NÃO em Lançamentos. Snapshot = clear+write da aba (idempotente,\r\n// sem deletar linhas no meio de Lançamentos). De quebra elimina as colisões C1/C2:\r\n// como não entram em Lançamentos, o `faturaJaImportada` (que lê Lançamentos) nunca os\r\n// bloqueia, e a regra 3 do dashboard nunca os soma. A aba guarda só o ciclo aberto\r\n// corrente; o próximo /faturaaberta (novo ciclo) sobrescreve. Reconciliação: quando o\r\n// CSV oficial fecha, os confirmados entram em Lançamentos pelo fluxo existente; a aba\r\n// FaturaAberta é sobrescrita na próxima colagem.\r\n\r\n/**\r\n * Linhas da aba FaturaAberta a partir do texto parseado.\r\n * Colunas: ciclo | data_compra | estabelecimento | categoria_c6 | valor | parcelas_total | status\r\n * status = \"fechado\" (checksum bate) | \"rascunho\" (não-fechado — não entra no planejamento, R3).\r\n */\r\nfunction montarProvisorios(parse, vencimento) {\r\n  const status = parse.checksum && parse.checksum.bate ? \"fechado\" : \"rascunho\";\r\n  return parse.lancamentos.map((l) => ({\r\n    ciclo: vencimento,\r\n    data_compra: l.data,\r\n    estabelecimento: l.estabelecimento,\r\n    categoria_c6: l.categoria_c6,\r\n    valor: l.valor,\r\n    parcelas_total: l.parcelas_total === null ? \"\" : l.parcelas_total,\r\n    status,\r\n  }));\r\n}\r\n\r\n\n// Agregações do dashboard da reunião familiar — lógica pura. TDD em dashboard.test.js.\r\n// Módulo Node consumido pelo runner (não é Code node n8n).\r\n// Implementa gstack/specs/dashboard-reuniao-familiar.md.\r\n/**\r\n * Gastos da casa do mês por categoria: `previsto` (Conta Fixa ativa, valor esperado),\r\n * `confirmado` (saída confirmada do mês) e `orcamento` (teto de acompanhamento). Inclui\r\n * categorias com gasto confirmado E contas fixas ativas ainda não pagas (previsto>0,\r\n * confirmado=0) — assim dá p/ ver o que falta pagar.\r\n * Exclui transferência, movimentação pessoal e Metas (só gastos da casa).\r\n *\r\n * `orcamento` = teto da aba Orçamentos (linha ativa) se houver; senão cai no `previsto`\r\n * (valor_esperado da Conta Fixa). É a base da barra de progresso da UI (não escreve em\r\n * Contas Fixas — previsão/lembretes ficam intactos). 0 = sem teto → UI não desenha barra.\r\n * Categoria só com teto (sem confirmado nem previsto) NÃO entra: o conjunto é conf ∪ prev.\r\n * @param {{categoria, teto_mensal, ativo}[]} [orcamentos=[]] aba Orçamentos (A:C)\r\n * @returns {{categoria, previsto, confirmado, orcamento}[]} ordenado por confirmado desc, depois previsto.\r\n */\r\nfunction gastosPorCategoria(lancamentos, mes, contasFixas, orcamentos) {\r\n  const conf = new Map();\r\n  for (const l of lancamentos) {\r\n    if (l.tipo !== \"saída\" || l.status !== \"confirmado\" || mesDe(l.data_competencia) !== mes) continue;\r\n    if (ehTransferencia(l.categoria) || ehMovimentacaoPessoal(l.categoria) || ehMeta(l.categoria)) continue;\r\n    conf.set(l.categoria, (conf.get(l.categoria) || 0) + valorNum(l.valor));\r\n  }\r\n  const prev = new Map();\r\n  for (const f of contasFixas || []) {\r\n    if (normalizar(f.ativo) === \"sim\") {\r\n      prev.set(f.nome, arred((prev.get(f.nome) || 0) + valorNum(f.valor_esperado)));\r\n    }\r\n  }\r\n  // Teto de acompanhamento (aba Orçamentos). Mesma chave de categoria que conf/prev usam —\r\n  // sem normalização nova. Só registra teto > 0; inválido/vazio/0 cai no fallback (previsto).\r\n  const teto = new Map();\r\n  for (const o of orcamentos || []) {\r\n    if (normalizar(o.ativo) !== \"sim\") continue;\r\n    const t = valorNum(o.teto_mensal);\r\n    if (t > 0) teto.set(o.categoria, arred(t));\r\n  }\r\n  const cats = new Set([...conf.keys(), ...prev.keys()]);\r\n  return [...cats]\r\n    .map((categoria) => {\r\n      const previsto = arred(prev.get(categoria) || 0);\r\n      return {\r\n        categoria,\r\n        previsto,\r\n        confirmado: arred(conf.get(categoria) || 0),\r\n        orcamento: teto.has(categoria) ? teto.get(categoria) : previsto,\r\n      };\r\n    })\r\n    .sort((a, b) => (b.confirmado - a.confirmado) || (b.previsto - a.previsto));\r\n}\r\n\r\n/**\r\n * Totais confirmados do mês: saídas, entradas, saldo. É a visão de FLUXO DE CAIXA — inclui\r\n * movimentações pessoais (\"Depósito/Saída para o ...\"), que o usuário quer ver entrando/saindo.\r\n * Só exclui transferências internas (pgto de fatura / aplicação CDB), que dobrariam contagem.\r\n * (Logo, `saidas` pode ser > Σ gastosPorCategoria, que mostra só os gastos da casa.)\r\n */\r\nfunction totaisMes(lancamentos, mes) {\r\n  const soma = (tipo) => arred(lancamentos\r\n    .filter((l) => l.tipo === tipo && l.status === \"confirmado\" && mesDe(l.data_competencia) === mes\r\n      && !ehTransferencia(l.categoria))\r\n    .reduce((s, l) => s + valorNum(l.valor), 0));\r\n  const saidas = soma(\"saída\");\r\n  const entradas = soma(\"entrada\");\r\n  return { saidas, entradas, saldo: arred(entradas - saidas) };\r\n}\r\n\r\n/**\r\n * Previsão do próximo mês (`mes` = \"MM/YYYY\"): parcelas já lançadas (saídas\r\n * previstas do mês) + projeção das contas fixas ativas cuja categoria ainda NÃO\r\n * aparece no mês. Depósitos previstos = total × proporção (regra do Marcelo).\r\n * @param {{nome, valor_esperado, ativo}[]} contasFixas aba Contas Fixas\r\n * @returns {{gastos:{fixas,parcelas,total}, depositosPrevistos:{[pessoa]:number}}}\r\n */\r\nfunction previsaoProximoMes(lancamentos, contasFixas, salarios, mes, faturaAbertaRows) {\r\n  const prop = proporcoes(salarios);\r\n  const pessoas = Object.keys(prop);\r\n\r\n  // 1. Gastos fixos ativos\r\n  const fixas = arred((contasFixas || [])\r\n    .filter((f) => normalizar(f.ativo) === \"sim\")\r\n    .reduce((s, f) => s + valorNum(f.valor_esperado), 0));\r\n\r\n  // 2. Fatura aberta fechada que VENCE no mês previsto (ciclo vence dia 10/MM). A previsão\r\n  //    de 03/2026 soma a fatura cujo vencimento cai em 03/2026 — não qualquer fatura capturada.\r\n  const faFechadas = (faturaAbertaRows || []).filter((r) =>\r\n    normalizar(r.status) === \"fechado\" && mesDe(normalizarCiclo(r.ciclo)) === mes);\r\n  const faturaTotal = arred(faFechadas.reduce((s, r) => s + valorNum(r.valor), 0));\r\n\r\n  // 3. Gastos exclusivos/pessoais na fatura aberta\r\n  const exclusivoFatura = {};\r\n  for (const p of pessoas) {\r\n    exclusivoFatura[p] = 0;\r\n  }\r\n  for (const r of faFechadas) {\r\n    const dono = categoriaExclusivaDe(r.categoria_c6, pessoas);\r\n    if (dono) {\r\n      exclusivoFatura[dono] = arred(exclusivoFatura[dono] + valorNum(r.valor));\r\n    }\r\n  }\r\n  const exclusivoFaturaTotal = arred(pessoas.reduce((s, p) => s + exclusivoFatura[p], 0));\r\n\r\n  // 4. Base comum (compartilhada)\r\n  const faturaBase = arred(faturaTotal - exclusivoFaturaTotal);\r\n  const totalPrevistoBase = arred(fixas + faturaBase);\r\n\r\n  // 5. Rateio da base proporcional ao salário (conservação de resíduo de arredondamento)\r\n  const parteBase = {};\r\n  let alocado = 0;\r\n  pessoas.forEach((p, idx) => {\r\n    if (idx === pessoas.length - 1) {\r\n      parteBase[p] = arred(totalPrevistoBase - alocado);\r\n    } else {\r\n      parteBase[p] = arred(totalPrevistoBase * prop[p]);\r\n      alocado = arred(alocado + parteBase[p]);\r\n    }\r\n  });\r\n\r\n  // 6. Depósito previsto = cota base proporcional + gastos exclusivos individuais\r\n  const depositosPrevistos = {};\r\n  for (const p of pessoas) {\r\n    depositosPrevistos[p] = arred(parteBase[p] + exclusivoFatura[p]);\r\n  }\r\n\r\n  // 7. Detalhes\r\n  const detalhes = [];\r\n  for (const f of contasFixas || []) {\r\n    if (normalizar(f.ativo) === \"sim\") {\r\n      detalhes.push({ categoria: f.nome, valor: valorNum(f.valor_esperado) });\r\n    }\r\n  }\r\n  if (faturaTotal > 0) {\r\n    detalhes.push({ categoria: \"Fatura Cartão C6\", valor: faturaTotal });\r\n  }\r\n\r\n  const total = arred(fixas + faturaTotal);\r\n\r\n  return { gastos: { fixas, parcelas: faturaTotal, total }, detalhes, depositosPrevistos };\r\n}\r\n\r\n/**\r\n * Comprometido futuro (v2): fatura aberta do ciclo corrente + projeção das parcelas.\r\n * Prospectivo a partir de `hojeISO` (YYYY-MM-DD) — independe do seletor de mês. Bloco\r\n * separado da previsão (anti-dupla-contagem): a projeção é derivada da aba `Parcelas`,\r\n * nunca de `Lançamentos`.\r\n * @param {object[]} faturaAbertaRows linhas da aba FaturaAberta (A:G)\r\n * @param {object[]} parcelasRows linhas da aba Parcelas (A:E) — ciclo_referencia em serial\r\n * @param {object[]} configRows aba Config (chave|valor) — comprometido_horizonte (default 6)\r\n * @returns {{faturaAberta:{ciclo,total,status,porCategoria}|null, parcelas:{vencimento,total}[], horizonte:number}}\r\n */\r\nfunction comprometidoFuturo(faturaAbertaRows, parcelasRows, configRows, hojeISO) {\r\n  let horizonte = 6;\r\n  const cfg = (configRows || []).find((r) => normalizar(r.chave) === \"comprometido_horizonte\");\r\n  if (cfg && Math.floor(Number(cfg.valor)) > 0) horizonte = Math.floor(Number(cfg.valor));\r\n\r\n  // Fatura aberta: só status='fechado' (R3 — rascunho/não-fechado fora do dashboard).\r\n  let faFechadas = (faturaAbertaRows || []).filter((r) => normalizar(r.status) === \"fechado\");\r\n  let faturaAberta = null;\r\n  if (faFechadas.length) {\r\n    // A aba é clear+write de um único ciclo; mas se sobrarem 'fechado' de ciclos diferentes\r\n    // (reseed parcial), ancora no ciclo mais recente — evita total e rótulo divergirem.\r\n    const ciclos = [...new Set(faFechadas.map((r) => normalizarCiclo(r.ciclo)))]\r\n      .filter(Boolean)\r\n      .sort((a, b) => -(mesesEntreVencimentos(a, b) || 0)); // crescente (mesesEntre = b−a)\r\n    const ciclo = ciclos[ciclos.length - 1];\r\n    faFechadas = faFechadas.filter((r) => normalizarCiclo(r.ciclo) === ciclo);\r\n    const total = arred(faFechadas.reduce((s, r) => s + valorNum(r.valor), 0));\r\n    const catMap = new Map();\r\n    for (const r of faFechadas) {\r\n      const c = (r.categoria_c6 && String(r.categoria_c6).trim()) || \"Outros\";\r\n      catMap.set(c, (catMap.get(c) || 0) + valorNum(r.valor));\r\n    }\r\n    const porCategoria = [...catMap.entries()]\r\n      .map(([categoria, t]) => ({ categoria, total: arred(t) }))\r\n      .sort((a, b) => b.total - a.total);\r\n    faturaAberta = { ciclo, total, status: \"fechado\", porCategoria };\r\n  }\r\n\r\n  // Âncora = max(ciclo da fatura aberta, vencimento do ciclo aberto de hoje) — Q2.\r\n  // Se vencHoje falhar (hoje malformado), usa o ciclo da fatura aberta como âncora.\r\n  const vencHoje = vencimentoCicloAberto(hojeISO);\r\n  let ancora = vencHoje;\r\n  if (faturaAberta && (!vencHoje || mesesEntreVencimentos(vencHoje, faturaAberta.ciclo) > 0)) {\r\n    ancora = faturaAberta.ciclo;\r\n  }\r\n\r\n  const parcelaRows = (parcelasRows || []).map((r) => ({\r\n    estabelecimento: r.estabelecimento,\r\n    valor: valorNum(r.valor),\r\n    M: Number(r.M),\r\n    N_no_seed: Number(r.N_no_seed),\r\n    ciclo_referencia: normalizarCiclo(r.ciclo_referencia),\r\n  }));\r\n  const parcelas = ancora ? projetarComprometido(parcelaRows, ancora, horizonte) : [];\r\n  return { faturaAberta, parcelas, horizonte };\r\n}\r\n\r\n\n// Lógica pura da gestão de metas — progresso derivado dos Lançamentos, mensagem\r\n// e teclados inline do /metas, parse de /novameta e dos callbacks gm*.\r\n// Implementa gstack/plans/gerenciar-metas.md.\r\n//\r\n// Progresso é SEMPRE derivado dos Lançamentos (fonte da verdade); a coluna C de\r\n// Metas (valor_acumulado) é só cache reescrito no glue, nunca lida como fonte.\r\n// CRUD distinto da associação lançamento→meta da categorização (prefixo meta|).\r\n\r\nconst TEMPLATE_NOVAMETA =\r\n  \"Para criar uma meta, envie:\\n\" +\r\n  \"/novameta <nome> | <orçamento> | <prazo>\\n\" +\r\n  \"Ex.: /novameta Cama Nova | 1800 | 2026-12\";\r\n\r\nfunction formatarReal(n) {\r\n  const [int, dec] = Number(n).toFixed(2).split(\".\");\r\n  return `R$ ${int.replace(/\\B(?=(\\d{3})+(?!\\d))/g, \".\")},${dec}`;\r\n}\r\n\r\nfunction assertCb(botao) {\r\n  if (Buffer.byteLength(botao.callback_data, \"utf-8\") > 64) {\r\n    throw new Error(`callback_data excede 64 bytes: ${botao.callback_data}`);\r\n  }\r\n  return botao;\r\n}\r\n\r\n/**\r\n * Progresso de cada meta ATIVA, derivado dos Lançamentos.\r\n * acumulado = Σ |valor| dos lançamentos com status=confirmado e id_meta==nome\r\n * (match exato após trim dos dois lados — espaço de borda casa, case-sensitive).\r\n * @param {Array<{nome,orcamento_total,prazo,status}>} metas aba Metas (A:F)\r\n * @param {Array<{valor,status,id_meta}>} lancamentos aba Lançamentos (A:J)\r\n * @returns {Array<{nome,orcamento,acumulado,pct:(number|null),prazo}>}\r\n */\r\nfunction calcularProgresso(metas, lancamentos) {\r\n  return (metas || [])\r\n    .filter((m) => String(m.status || \"\").trim().toLowerCase() === \"ativa\")\r\n    .map((m) => {\r\n      const nome = String(m.nome || \"\").trim();\r\n      const orcamento = Number(m.orcamento_total) || 0;\r\n      const acumulado = (lancamentos || [])\r\n        .filter(\r\n          (l) =>\r\n            String(l.status || \"\").trim().toLowerCase() === \"confirmado\" &&\r\n            String(l.id_meta || \"\").trim() === nome\r\n        )\r\n        .reduce((s, l) => s + Math.abs(Number(l.valor) || 0), 0);\r\n      const pct = orcamento > 0 ? Math.round((acumulado / orcamento) * 100) : null;\r\n      return { nome, orcamento, acumulado, pct, prazo: String(m.prazo || \"\").trim() };\r\n    });\r\n}\r\n\r\n/** Mensagem do /metas: lista cada meta ativa; vazio → convite a criar. */\r\nfunction montarMensagemMetas(progresso) {\r\n  if (!progresso || progresso.length === 0) {\r\n    return `🎯 Você ainda não tem metas ativas.\\n\\n${TEMPLATE_NOVAMETA}`;\r\n  }\r\n  const linhas = progresso.map((p) => {\r\n    const acum = formatarReal(p.acumulado);\r\n    if (p.pct === null) return `🎯 ${p.nome}\\n   ${acum} acumulado · até ${p.prazo}`;\r\n    return `🎯 ${p.nome}\\n   ${acum} / ${formatarReal(p.orcamento)} (${p.pct}%) · até ${p.prazo}`;\r\n  });\r\n  return `Suas metas ativas:\\n\\n${linhas.join(\"\\n\\n\")}`;\r\n}\r\n\r\n/** Teclado do /metas: 🏁 Encerrar por meta (gmenc|) + linha final ➕ Nova meta (gmnova|). */\r\nfunction montarTecladoMetas(progresso) {\r\n  const linhas = (progresso || []).map((p) => [\r\n    assertCb({ text: `🏁 Encerrar ${p.nome}`, callback_data: `gmenc|${p.nome}` }),\r\n  ]);\r\n  linhas.push([assertCb({ text: \"➕ Nova meta\", callback_data: \"gmnova|\" })]);\r\n  return { inline_keyboard: linhas };\r\n}\r\n\r\n/** Teclado de confirmação de encerramento (2 toques): ✅ Confirmar → gmok|<nome>. */\r\nfunction montarTecladoConfirmarEncerrar(nome) {\r\n  return {\r\n    inline_keyboard: [\r\n      [assertCb({ text: \"✅ Confirmar encerramento\", callback_data: `gmok|${nome}` })],\r\n    ],\r\n  };\r\n}\r\n\r\n/** Valor em formato BR: ponto milhar, vírgula decimal. Inválido → null. */\r\nfunction parsearValorBR(bruto) {\r\n  const s = String(bruto || \"\")\r\n    .replace(/r\\$/i, \"\")\r\n    .replace(/\\s/g, \"\")\r\n    .replace(/\\./g, \"\")\r\n    .replace(\",\", \".\");\r\n  if (s === \"\") return null;\r\n  const n = Number(s);\r\n  return Number.isFinite(n) ? n : null;\r\n}\r\n\r\n/** Prazo aceito: AAAA-MM ou AAAA-MM-DD (mês 1–12, dia 1–31). */\r\nfunction prazoValido(prazo) {\r\n  const m = /^(\\d{4})-(\\d{2})(?:-(\\d{2}))?$/.exec(String(prazo || \"\").trim());\r\n  if (!m) return false;\r\n  const mes = Number(m[2]);\r\n  if (mes < 1 || mes > 12) return false;\r\n  if (m[3]) {\r\n    const dia = Number(m[3]);\r\n    if (dia < 1 || dia > 31) return false;\r\n  }\r\n  return true;\r\n}\r\n\r\n/** Nome de meta: trim, não vazio, sem '|', curto o bastante p/ caber no callback_data. */\r\nfunction validarNomeMeta(nome) {\r\n  const n = String(nome || \"\").trim();\r\n  if (n === \"\") return { ok: false, erro: \"Nome da meta não pode ser vazio.\" };\r\n  if (n.includes(\"|\")) return { ok: false, erro: \"Nome da meta não pode conter '|'.\" };\r\n  if (Buffer.byteLength(`gmok|${n}`, \"utf-8\") > 64) {\r\n    return { ok: false, erro: \"Nome da meta longo demais (máx ~59 caracteres).\" };\r\n  }\r\n  return { ok: true, nome: n };\r\n}\r\n\r\n/**\r\n * Interpreta `/novameta <nome> | <orçamento> | <prazo>` (stateless).\r\n * @returns {{ok:true, meta:{nome,orcamento,prazo}} | {ok:false, erro:string}}\r\n */\r\nfunction parsearNovaMeta(texto) {\r\n  const corpo = String(texto || \"\").replace(/^\\/novameta(@\\S+)?/i, \"\").trim();\r\n  const partes = corpo.split(\"|\").map((p) => p.trim());\r\n  const erroFmt = (msg) => ({ ok: false, erro: `${msg}\\n\\n${TEMPLATE_NOVAMETA}` });\r\n  if (partes.length !== 3 || partes.some((p) => p === \"\")) {\r\n    return erroFmt(\"Formato inválido — preencha nome, orçamento e prazo separados por '|'.\");\r\n  }\r\n  const [nomeBruto, orcamentoBruto, prazo] = partes;\r\n  const vn = validarNomeMeta(nomeBruto);\r\n  if (!vn.ok) return erroFmt(vn.erro);\r\n  const orcamento = parsearValorBR(orcamentoBruto);\r\n  if (orcamento === null || orcamento <= 0) return erroFmt(\"Orçamento inválido — use um número, ex.: 1800.\");\r\n  if (!prazoValido(prazo)) return erroFmt(\"Prazo inválido — use AAAA-MM, ex.: 2026-12.\");\r\n  return { ok: true, meta: { nome: vn.nome, orcamento, prazo } };\r\n}\r\n\r\n/** Já existe meta ATIVA com esse nome? (homônimo de encerrada é permitido). */\r\nfunction nomeJaExisteAtiva(nome, metas) {\r\n  const alvo = String(nome || \"\").trim();\r\n  return (metas || []).some(\r\n    (m) =>\r\n      String(m.status || \"\").trim().toLowerCase() === \"ativa\" &&\r\n      String(m.nome || \"\").trim() === alvo\r\n  );\r\n}\r\n\r\n/** Parse dos callbacks gm*. gmnova| → nova; gmenc|<nome>; gmok|<nome>. Inválido → null. */\r\nfunction parsearCallbackMetaGestao(data) {\r\n  const s = String(data || \"\");\r\n  if (s === \"gmnova|\") return { acao: \"nova\" };\r\n  const m = /^(gmenc|gmok)\\|(.+)$/.exec(s);\r\n  if (!m) return null;\r\n  return { acao: m[1] === \"gmenc\" ? \"encerrar-confirmar\" : \"encerrar-ok\", nome: m[2] };\r\n}\r\n\r\n\n// Resumo mensal do dashboard em blocos NATIVOS do Notion (callout de saldo, colunas\n// para saídas/entradas, toggle por categoria/metas — não mais um parágrafo de texto\n// único). Reaproveita totaisMes/gastosPorCategoria (dashboard.js), arred (rateio.js)\n// e calcularProgresso (metas.js) sem alteração. Requires normais (mesmo padrão de\n// relatorio-notion-extra.js) — o gerador remove essas linhas antes de concatenar tudo\n// num só Code node.\n\n\n\nfunction brl(n) {\n  const [int, dec] = Math.abs(arred(Number(n))).toFixed(2).split(\".\");\n  return `R$ ${int.replace(/\\B(?=(\\d{3})+(?!\\d))/g, \".\")},${dec}`;\n}\n\n// Notion não tem bloco nativo de barra de progresso — simula com blocos Unicode\n// cheios/vazios dentro do texto. pct null (sem orçamento definido) → sem barra.\nfunction barraUnicode(pct) {\n  if (pct === null || pct === undefined) return \"\";\n  const cheio = Math.max(0, Math.min(10, Math.round(pct / 10)));\n  return `${\"▓\".repeat(cheio)}${\"░\".repeat(10 - cheio)} ${pct}%`;\n}\n\n/**\n * @param {{lancamentos, contasFixas, metas, faturaAbertaRows, parcelasRows, configRows,\n *   hojeISO, mesPrevisto}} dados metas = SÓ as ativas (aba/database já filtrada).\n *   `hojeISO`/`mesPrevisto` são OPCIONAIS: só presentes → calcula comprometido/previsão\n *   (Fase E). Sem eles, o resumo fica igual ao da Fase D (retrocompat).\n * @param {string} mes \"MM/YYYY\"\n * @returns {{saidas, entradas, saldo, metasAtivas, categorias, metas, comprometido?, previsao?}}\n *   dados estruturados (sem formatação de bloco — isso fica a cargo de blocosDashboardNotion)\n */\nfunction montarResumoDashboardNotion(dados, mes) {\n  const { lancamentos, contasFixas, metas, faturaAbertaRows, parcelasRows, configRows, hojeISO, mesPrevisto } = dados;\n  const tot = totaisMes(lancamentos, mes);\n  const cats = gastosPorCategoria(lancamentos, mes, contasFixas, []);\n  const prog = calcularProgresso(metas, lancamentos);\n\n  const categorias = cats.slice(0, 10).map((c) => ({\n    categoria: c.categoria,\n    confirmado: c.confirmado,\n    orcamento: c.orcamento,\n    pct: c.orcamento > 0 ? Math.round((c.confirmado / c.orcamento) * 100) : null,\n  }));\n\n  const metasAtivas = prog.map((p) => ({\n    nome: p.nome,\n    acumulado: p.acumulado,\n    orcamento: p.orcamento,\n    pct: p.pct,\n    prazo: p.prazo,\n  }));\n\n  const resumo = {\n    saidas: tot.saidas,\n    entradas: tot.entradas,\n    saldo: tot.saldo,\n    metasAtivas: metasAtivas.length,\n    categorias,\n    metas: metasAtivas,\n  };\n\n  // Comprometido futuro (fatura aberta do ciclo corrente + projeção de parcelas) —\n  // prospectivo a partir de hojeISO, independente do mês selecionado (mesma semântica\n  // do dashboard-web v2). Individual: sem depositosPrevistos (isso é rateio/casal).\n  if (hojeISO) {\n    resumo.comprometido = comprometidoFuturo(faturaAbertaRows || [], parcelasRows || [], configRows || [], hojeISO);\n  }\n  if (mesPrevisto) {\n    // { Harumi: 1 } força proporcoes() a 100% — instância individual, sem rateio.\n    // Só gastos/detalhes são usados; depositosPrevistos (rateio) é descartado.\n    const previsao = previsaoProximoMes(lancamentos, contasFixas, { Harumi: 1 }, mesPrevisto, faturaAbertaRows || []);\n    resumo.previsao = { mesPrevisto, gastos: previsao.gastos, detalhes: previsao.detalhes };\n  }\n\n  return resumo;\n}\n\n// Monta os blocos filhos da página do mês: callout de saldo (verde/vermelho conforme\n// sinal) + colunas de saídas/entradas + divisor + toggle \"Por categoria\" + toggle\n// \"Metas ativas\" (toggles omitidos se a lista correspondente estiver vazia — mesmo\n// comportamento da versão em texto que este código substitui).\nfunction blocosDashboardNotion(resumo) {\n  const positivo = resumo.saldo >= 0;\n\n  const blocos = [\n    {\n      object: \"block\",\n      type: \"callout\",\n      callout: {\n        icon: { type: \"emoji\", emoji: positivo ? \"✅\" : \"⚠️\" },\n        color: positivo ? \"green_background\" : \"red_background\",\n        rich_text: [{ text: { content: `Saldo do mês: ${brl(resumo.saldo)}` }, annotations: { bold: true } }],\n      },\n    },\n    {\n      object: \"block\",\n      type: \"column_list\",\n      column_list: {\n        children: [\n          {\n            object: \"block\",\n            type: \"column\",\n            column: {\n              children: [\n                { object: \"block\", type: \"paragraph\", paragraph: { rich_text: [{ text: { content: `Saídas\\n${brl(resumo.saidas)}` } }] } },\n              ],\n            },\n          },\n          {\n            object: \"block\",\n            type: \"column\",\n            column: {\n              children: [\n                { object: \"block\", type: \"paragraph\", paragraph: { rich_text: [{ text: { content: `Entradas\\n${brl(resumo.entradas)}` } }] } },\n              ],\n            },\n          },\n        ],\n      },\n    },\n    { object: \"block\", type: \"divider\", divider: {} },\n  ];\n\n  if (resumo.categorias.length) {\n    blocos.push({\n      object: \"block\",\n      type: \"toggle\",\n      toggle: {\n        rich_text: [{ text: { content: \"📊 Por categoria\" } }],\n        children: resumo.categorias.map((c) => ({\n          object: \"block\",\n          type: \"bulleted_list_item\",\n          bulleted_list_item: {\n            rich_text: [\n              {\n                text: {\n                  content:\n                    `${c.categoria}: ${brl(c.confirmado)}` +\n                    (c.orcamento > 0 ? `  de ${brl(c.orcamento)}  ${barraUnicode(c.pct)}` : \"\"),\n                },\n              },\n            ],\n          },\n        })),\n      },\n    });\n  }\n\n  if (resumo.metas.length) {\n    blocos.push({\n      object: \"block\",\n      type: \"toggle\",\n      toggle: {\n        rich_text: [{ text: { content: \"🎯 Metas ativas\" } }],\n        children: resumo.metas.map((m) => ({\n          object: \"block\",\n          type: \"bulleted_list_item\",\n          bulleted_list_item: {\n            rich_text: [\n              {\n                text: {\n                  content:\n                    `${m.nome}: ${brl(m.acumulado)}` +\n                    (m.orcamento > 0 ? `  / ${brl(m.orcamento)}  ${barraUnicode(m.pct)}` : \"\") +\n                    `  · até ${m.prazo}`,\n                },\n              },\n            ],\n          },\n        })),\n      },\n    });\n  }\n\n  // Comprometido Futuro (Fase E) — só aparece se o resumo foi calculado com hojeISO\n  // (ver montarResumoDashboardNotion). Sem fatura/parcela ainda capturada → aviso em\n  // vez de toggle vazio (nada pra recolher).\n  if (resumo.comprometido) {\n    const fa = resumo.comprometido.faturaAberta;\n    if (fa) {\n      blocos.push({\n        object: \"block\",\n        type: \"toggle\",\n        toggle: {\n          rich_text: [{ text: { content: `🧾 Fatura Aberta — vence ${fa.ciclo} — ${brl(fa.total)}` } }],\n          children: fa.porCategoria.map((c) => ({\n            object: \"block\",\n            type: \"bulleted_list_item\",\n            bulleted_list_item: { rich_text: [{ text: { content: `${c.categoria}: ${brl(c.total)}` } }] },\n          })),\n        },\n      });\n    } else {\n      blocos.push({\n        object: \"block\",\n        type: \"paragraph\",\n        paragraph: {\n          rich_text: [{ text: { content: \"🧾 Nenhuma fatura aberta capturada — use /faturaaberta (colar ou enviar .txt).\" } }],\n        },\n      });\n    }\n\n    const parcelasFuturas = resumo.comprometido.parcelas.filter((p) => p.total > 0);\n    if (parcelasFuturas.length) {\n      blocos.push({\n        object: \"block\",\n        type: \"toggle\",\n        toggle: {\n          rich_text: [{ text: { content: \"📅 Parcelas futuras\" } }],\n          children: parcelasFuturas.map((p) => ({\n            object: \"block\",\n            type: \"bulleted_list_item\",\n            bulleted_list_item: { rich_text: [{ text: { content: `${p.vencimento}: ${brl(p.total)}` } }] },\n          })),\n        },\n      });\n    } else {\n      blocos.push({\n        object: \"block\",\n        type: \"paragraph\",\n        paragraph: { rich_text: [{ text: { content: \"📅 Nenhuma parcela futura projetada — use /seedparcelas.\" } }] },\n      });\n    }\n  }\n\n  // Previsão Próximo Mês (Fase E) — contas fixas + fatura fechada que vence no mês\n  // seguinte. Sem depósito previsto (rateio/casal) — só o total e o detalhamento.\n  if (resumo.previsao) {\n    const p = resumo.previsao;\n    blocos.push({\n      object: \"block\",\n      type: \"toggle\",\n      toggle: {\n        rich_text: [{ text: { content: `🔮 Previsão — ${p.mesPrevisto} — total ${brl(p.gastos.total)}` } }],\n        children: [\n          {\n            object: \"block\",\n            type: \"bulleted_list_item\",\n            bulleted_list_item: { rich_text: [{ text: { content: `Contas fixas: ${brl(p.gastos.fixas)}` } }] },\n          },\n          {\n            object: \"block\",\n            type: \"bulleted_list_item\",\n            bulleted_list_item: { rich_text: [{ text: { content: `Fatura do cartão: ${brl(p.gastos.parcelas)}` } }] },\n          },\n          ...p.detalhes.map((d) => ({\n            object: \"block\",\n            type: \"bulleted_list_item\",\n            bulleted_list_item: { rich_text: [{ text: { content: `${d.categoria}: ${brl(d.valor)}` } }] },\n          })),\n        ],\n      },\n    });\n  }\n\n  return blocos;\n}\n\n// Mapeamento puro entre o shape \"flat\" usado pela lógica de negócio reaproveitada de\n// workflows/src/*.js (parser-cartao, parser-conta, dashboard, rateio, ...) e o formato\n// de properties da API do Notion (POST /v1/pages, POST /v1/databases/{id}/query).\n// Sem I/O — só transformação de dados. Concatenado nos Code nodes do n8n junto com\n// os módulos puros originais (ver scripts/gerar-workflow-*-notion.js).\n// Implementa a Fase A de gstack (schema em workflows-harumi/README... ver plano da branch).\n\n/** \"DD/MM/YYYY\" ou \"YYYY-MM-DD\" → \"YYYY-MM-DD\" (Notion exige ISO); inválido/vazio → null. */\nfunction paraIso(data) {\n  if (data === null || data === undefined || data === \"\") return null;\n  const s = String(data).trim();\n  let m;\n  if ((m = /^(\\d{4})-(\\d{2})-(\\d{2})/.exec(s))) return `${m[1]}-${m[2]}-${m[3]}`;\n  if ((m = /^(\\d{2})\\/(\\d{2})\\/(\\d{4})$/.exec(s))) return `${m[3]}-${m[2]}-${m[1]}`;\n  return null;\n}\n\n/**\n * Texto plano de uma property title/rich_text do Notion. As demais funções de\n * leitura (paraObjeto*) devolvem \"YYYY-MM-DD\" para datas — mesDe()/normalizarData()\n * em workflows/src/*.js já aceitam esse formato ISO nativamente, então nenhuma\n * conversão adicional é necessária na leitura (só na escrita, via paraIso).\n */\nfunction textoDe(prop) {\n  if (!prop) return \"\";\n  const arr = prop.title || prop.rich_text || [];\n  return arr.map((t) => t.plain_text || \"\").join(\"\");\n}\n\nconst richText = (s) => (s ? [{ text: { content: String(s).slice(0, 2000) } }] : []);\nconst selectOrNull = (s) => (s ? { select: { name: String(s) } } : { select: null });\nconst dateOrNull = (isoOuBr) => {\n  const iso = paraIso(isoOuBr);\n  return iso ? { date: { start: iso } } : { date: null };\n};\n\n// ─── Lançamentos ────────────────────────────────────────────────────────────\n\n/** Page do Notion (results[i] de um query em Lançamentos) → objeto flat esperado pelos parsers/dashboard. */\nfunction paraObjetoLancamento(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    data_competencia: (p[\"Data Competência\"] && p[\"Data Competência\"].date && p[\"Data Competência\"].date.start) || \"\",\n    data_original: (p[\"Data Original\"] && p[\"Data Original\"].date && p[\"Data Original\"].date.start) || \"\",\n    descricao: textoDe(p[\"Descrição\"]),\n    titulo: \"\",\n    valor: (p[\"Valor\"] && p[\"Valor\"].number) || 0,\n    categoria: (p[\"Categoria\"] && p[\"Categoria\"].select && p[\"Categoria\"].select.name) || \"\",\n    tipo: (p[\"Tipo\"] && p[\"Tipo\"].select && p[\"Tipo\"].select.name) || \"\",\n    origem: (p[\"Origem\"] && p[\"Origem\"].select && p[\"Origem\"].select.name) || \"\",\n    status: (p[\"Status\"] && p[\"Status\"].select && p[\"Status\"].select.name) || \"\",\n    id_meta: textoDe(p[\"Meta\"]),\n  };\n}\n\n/** Objeto flat (saída do parser-cartao/parser-conta) → properties para criar a page no Notion. */\nfunction propsDeLancamento(l) {\n  return {\n    \"Descrição\": { title: richText(l.descricao || l.titulo || \"(sem descrição)\") },\n    \"Valor\": { number: Number(l.valor) || 0 },\n    \"Categoria\": selectOrNull(l.categoria),\n    \"Tipo\": selectOrNull(l.tipo),\n    \"Origem\": selectOrNull(l.origem),\n    \"Status\": selectOrNull(l.status),\n    \"Meta\": { rich_text: richText(l.id_meta) },\n    \"Data Competência\": dateOrNull(l.data_competencia),\n    \"Data Original\": dateOrNull(l.data_original),\n  };\n}\n\n/** Update parcial (PATCH) de um Lançamento: só Categoria+Meta — não toca nas demais properties. */\nfunction propsCategoriaEMeta(categoria, idMeta) {\n  return { \"Categoria\": selectOrNull(categoria), \"Meta\": { rich_text: richText(idMeta) } };\n}\n\n// ─── Dicionário ─────────────────────────────────────────────────────────────\n\nfunction paraObjetoDicionario(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    descricao_original: textoDe(p[\"Descrição Original\"]),\n    categoria_mapeada: (p[\"Categoria Mapeada\"] && p[\"Categoria Mapeada\"].select && p[\"Categoria Mapeada\"].select.name) || \"\",\n    origem: (p[\"Origem\"] && p[\"Origem\"].select && p[\"Origem\"].select.name) || \"\",\n    criado_em: (p[\"Criado Em\"] && p[\"Criado Em\"].date && p[\"Criado Em\"].date.start) || \"\",\n  };\n}\n\n/** Dicionário lido vira { chave, categoria } (contrato de parser-cartao.categorizar / parser-conta). */\nfunction paraDicionarioChaveCategoria(objetosDicionario) {\n  return objetosDicionario.map((d) => ({ chave: d.descricao_original, categoria: d.categoria_mapeada }));\n}\n\nfunction propsDeDicionario(d) {\n  // Criado Em nunca fica vazio: cai no dia de hoje se d.criado_em não vier preenchido.\n  const criadoEm = paraIso(d.criado_em) || new Date().toISOString().slice(0, 10);\n  return {\n    \"Descrição Original\": { title: richText(d.descricao_original || \"(vazio)\") },\n    \"Categoria Mapeada\": selectOrNull(d.categoria_mapeada),\n    \"Origem\": selectOrNull(d.origem),\n    \"Criado Em\": { date: { start: criadoEm } },\n  };\n}\n\n// ─── Categorias ─────────────────────────────────────────────────────────────\n\nfunction paraObjetoCategoria(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    nome: textoDe(p[\"Nome\"]),\n    tipo: (p[\"Tipo\"] && p[\"Tipo\"].select && p[\"Tipo\"].select.name) || \"\",\n    ativo: !!(p[\"Ativo\"] && p[\"Ativo\"].checkbox),\n  };\n}\n\nfunction propsDeCategoria(c) {\n  return {\n    \"Nome\": { title: richText(c.nome || \"(sem nome)\") },\n    \"Tipo\": selectOrNull(c.tipo),\n    \"Ativo\": { checkbox: !!c.ativo },\n  };\n}\n\n// ─── Metas ──────────────────────────────────────────────────────────────────\n// Prazo fica RICH_TEXT (não Date): metas.js aceita \"AAAA-MM\" (sem dia) além de\n// \"AAAA-MM-DD\" — um Date do Notion exige dia, então forçaria uma escolha arbitrária\n// (dia 1? último dia?) que a lógica pura nunca precisou fazer. Texto preserva o\n// valor exatamente como o usuário digitou em /novameta.\n\nfunction paraObjetoMeta(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    nome: textoDe(p[\"Nome\"]),\n    orcamento_total: (p[\"Orçamento Total\"] && p[\"Orçamento Total\"].number) || 0,\n    valor_acumulado: (p[\"Valor Acumulado\"] && p[\"Valor Acumulado\"].number) || 0,\n    prazo: textoDe(p[\"Prazo\"]),\n    status: (p[\"Status\"] && p[\"Status\"].select && p[\"Status\"].select.name) || \"\",\n    criado_em: (p[\"Criado Em\"] && p[\"Criado Em\"].date && p[\"Criado Em\"].date.start) || \"\",\n  };\n}\n\nfunction propsDeMeta(m) {\n  const criadoEm = paraIso(m.criado_em) || new Date().toISOString().slice(0, 10);\n  return {\n    \"Nome\": { title: richText(m.nome || \"(sem nome)\") },\n    \"Orçamento Total\": { number: Number(m.orcamento_total) || 0 },\n    \"Valor Acumulado\": { number: Number(m.valor_acumulado) || 0 },\n    \"Prazo\": { rich_text: richText(m.prazo) },\n    \"Status\": selectOrNull(m.status),\n    \"Criado Em\": { date: { start: criadoEm } },\n  };\n}\n\n/** Update parcial: só o cache de progresso (nunca fonte da verdade — ver metas.js). */\nfunction propsValorAcumulado(valor) {\n  return { \"Valor Acumulado\": { number: Number(valor) || 0 } };\n}\n\n/** Update parcial: só o Status (ex.: encerrar uma meta). */\nfunction propsStatus(status) {\n  return { \"Status\": selectOrNull(status) };\n}\n\n// ─── Contas Fixas ───────────────────────────────────────────────────────────\n// Dia Vencimento fica RICH_TEXT (não Number): lembretes.js aceita tanto um dia\n// numérico (1–31) quanto o literal \"sexta-feira\" (contas semanais) — um Number\n// do Notion não representaria essa segunda forma.\n\nfunction paraObjetoContaFixa(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    nome: textoDe(p[\"Nome\"]),\n    dia_vencimento: textoDe(p[\"Dia Vencimento\"]),\n    valor_esperado: (p[\"Valor Esperado\"] && p[\"Valor Esperado\"].number) || 0,\n    // string \"sim\"/\"não\": lembretes.js/relatorio.js comparam com essa convenção\n    // (normalizar(f.ativo) === \"sim\"), herdada do Sheets — o checkbox boolean do\n    // Notion é traduzido aqui pra não precisar tocar nos dois arquivos compartilhados.\n    ativo: (p[\"Ativo\"] && p[\"Ativo\"].checkbox) ? \"sim\" : \"não\",\n  };\n}\n\nfunction propsDeContaFixa(c) {\n  return {\n    \"Nome\": { title: richText(c.nome || \"(sem nome)\") },\n    \"Dia Vencimento\": { rich_text: richText(c.dia_vencimento) },\n    \"Valor Esperado\": { number: Number(c.valor_esperado) || 0 },\n    \"Ativo\": { checkbox: String(c.ativo).trim().toLowerCase() === \"sim\" },\n  };\n}\n\n// ─── Dashboard Mensal ───────────────────────────────────────────────────────\n\nfunction paraObjetoDashboardMensal(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    mes: textoDe(p[\"Mês\"]),\n    saidas: (p[\"Saídas\"] && p[\"Saídas\"].number) || 0,\n    entradas: (p[\"Entradas\"] && p[\"Entradas\"].number) || 0,\n    saldo: (p[\"Saldo\"] && p[\"Saldo\"].number) || 0,\n    metas_ativas: (p[\"Metas Ativas\"] && p[\"Metas Ativas\"].number) || 0,\n    gerado_em: (p[\"Gerado Em\"] && p[\"Gerado Em\"].date && p[\"Gerado Em\"].date.start) || \"\",\n  };\n}\n\n/** \"MM/YYYY\" → YYYYMM (número). O título \"MM/YYYY\" não ordena cronologicamente como\n * texto (\"01/2027\" vem antes de \"12/2026\" alfabeticamente) — esta é a coluna de apoio\n * usada pela view \"Mais recentes\" (SORT BY \"Mês Ordinal\" DESC). */\nfunction mesOrdinal(mesMMYYYY) {\n  const m = /^(\\d{2})\\/(\\d{4})$/.exec(String(mesMMYYYY || \"\").trim());\n  return m ? Number(m[2]) * 100 + Number(m[1]) : 0;\n}\n\nfunction propsDeDashboardMensal(d) {\n  return {\n    \"Mês\": { title: richText(d.mes) },\n    \"Mês Ordinal\": { number: mesOrdinal(d.mes) },\n    \"Saídas\": { number: Number(d.saidas) || 0 },\n    \"Entradas\": { number: Number(d.entradas) || 0 },\n    \"Saldo\": { number: Number(d.saldo) || 0 },\n    \"Metas Ativas\": { number: Number(d.metasAtivas) || 0 },\n    \"Gerado Em\": { date: { start: d.geradoEm || new Date().toISOString() } },\n  };\n}\n\n// ─── FaturaAberta ───────────────────────────────────────────────────────────\n// Snapshot do ciclo aberto corrente (Fase E). Igual ao padrão Sheets original:\n// clear+write a cada /faturaaberta — no Notion isso vira \"arquiva as pages\n// existentes, cria as novas\" (mesmo substituto usado no upsert do Dashboard\n// Mensal). `ciclo`/`data_compra` ficam RICH_TEXT (não Date) pelo mesmo motivo\n// de Prazo/Dia Vencimento: fatura-aberta.js compara strings \"DD/MM/YYYY\" via\n// normalizarCiclo, não precisa de filtro de Date nativo do Notion.\n\nfunction paraObjetoFaturaAberta(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    ciclo: textoDe(p[\"Ciclo\"]),\n    data_compra: textoDe(p[\"Data Compra\"]),\n    estabelecimento: textoDe(p[\"Estabelecimento\"]),\n    categoria_c6: textoDe(p[\"Categoria C6\"]),\n    valor: (p[\"Valor\"] && p[\"Valor\"].number) || 0,\n    parcelas_total: p[\"Parcelas Total\"] && p[\"Parcelas Total\"].number != null ? p[\"Parcelas Total\"].number : \"\",\n    status: (p[\"Status\"] && p[\"Status\"].select && p[\"Status\"].select.name) || \"\",\n  };\n}\n\nfunction propsDeFaturaAberta(r) {\n  return {\n    \"Estabelecimento\": { title: richText(r.estabelecimento || \"(sem estabelecimento)\") },\n    \"Ciclo\": { rich_text: richText(r.ciclo) },\n    \"Data Compra\": { rich_text: richText(r.data_compra) },\n    \"Categoria C6\": { rich_text: richText(r.categoria_c6) },\n    \"Valor\": { number: Number(r.valor) || 0 },\n    \"Parcelas Total\": { number: r.parcelas_total === \"\" || r.parcelas_total == null ? null : Number(r.parcelas_total) },\n    \"Status\": selectOrNull(r.status),\n  };\n}\n\n// ─── Parcelas ───────────────────────────────────────────────────────────────\n// Estado do seed de parcelamento (Fase E) — mesmas 5 colunas da aba Sheets\n// original (A:E), sem a `chave` de casamento (só usada em memória no seed).\n\nfunction paraObjetoParcela(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    estabelecimento: textoDe(p[\"Estabelecimento\"]),\n    valor: (p[\"Valor\"] && p[\"Valor\"].number) || 0,\n    M: (p[\"M\"] && p[\"M\"].number) || 0,\n    N_no_seed: (p[\"N no Seed\"] && p[\"N no Seed\"].number) || 0,\n    ciclo_referencia: textoDe(p[\"Ciclo Referência\"]),\n  };\n}\n\nfunction propsDeParcela(r) {\n  return {\n    \"Estabelecimento\": { title: richText(r.estabelecimento || \"(sem estabelecimento)\") },\n    \"Valor\": { number: Number(r.valor) || 0 },\n    \"M\": { number: Number(r.M) || 0 },\n    \"N no Seed\": { number: Number(r.N_no_seed) || 0 },\n    \"Ciclo Referência\": { rich_text: richText(r.ciclo_referencia) },\n  };\n}\n\n// ─── Config ─────────────────────────────────────────────────────────────────\n\nfunction paraObjetoConfig(page) {\n  const p = (page && page.properties) || {};\n  return { _id: page && page.id, chave: textoDe(p[\"Chave\"]), valor: textoDe(p[\"Valor\"]) };\n}\n\nfunction propsDeConfig(c) {\n  return {\n    \"Chave\": { title: richText(c.chave || \"(sem chave)\") },\n    \"Valor\": { rich_text: richText(c.valor) },\n  };\n}\n\n// ─── Log ────────────────────────────────────────────────────────────────────\n\n/** Necessário a partir da Fase B: categorizacao-hibrida lê o Log p/ não perguntar 2x. */\nfunction paraObjetoLog(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    timestamp: (p[\"Timestamp\"] && p[\"Timestamp\"].date && p[\"Timestamp\"].date.start) || \"\",\n    acao: textoDe(p[\"Ação\"]),\n    entidade: textoDe(p[\"Entidade\"]),\n    valor_anterior: textoDe(p[\"Valor Anterior\"]),\n    valor_novo: textoDe(p[\"Valor Novo\"]),\n    origem: (p[\"Origem\"] && p[\"Origem\"].select && p[\"Origem\"].select.name) || \"\",\n  };\n}\n\nfunction propsDeLog(l) {\n  const registro = `${l.acao || \"\"} — ${l.entidade || \"\"}`.trim();\n  return {\n    \"Registro\": { title: richText(registro || \"log\") },\n    \"Timestamp\": { date: { start: l.timestamp || new Date().toISOString() } },\n    \"Ação\": { rich_text: richText(l.acao) },\n    \"Entidade\": { rich_text: richText(l.entidade) },\n    \"Valor Anterior\": { rich_text: richText(l.valor_anterior) },\n    \"Valor Novo\": { rich_text: richText(l.valor_novo) },\n    \"Origem\": selectOrNull(l.origem),\n  };\n}\n\n\n\n// ── Glue: agrega o mês vigente + o próximo (previsão) a partir dos dados do Notion ──\nconst hoje = new Date().toLocaleDateString('en-CA', { timeZone: 'America/Sao_Paulo' });\nconst [ano, mesNum] = hoje.split('-');\nconst mes = mesNum + '/' + ano;\nconst proxMes = Number(mesNum) === 12 ? 1 : Number(mesNum) + 1;\nconst proxAno = Number(mesNum) === 12 ? Number(ano) + 1 : Number(ano);\nconst mesPrevisto = String(proxMes).padStart(2, '0') + '/' + proxAno;\nconst brutos = $('Ler Dados (Notion)').first().json;\nconst lancamentos = brutos.lancamentos.map(paraObjetoLancamento);\nconst contasFixas = brutos.contasFixas.map(paraObjetoContaFixa);\nconst metas = brutos.metasAtivas.map(paraObjetoMeta);\nconst faturaAbertaRows = brutos.faturaAberta.map(paraObjetoFaturaAberta);\nconst parcelasRows = brutos.parcelas.map(paraObjetoParcela);\nconst configRows = brutos.config.map(paraObjetoConfig);\nconst resumo = montarResumoDashboardNotion(\n  { lancamentos, contasFixas, metas, faturaAbertaRows, parcelasRows, configRows, hojeISO: hoje, mesPrevisto },\n  mes,\n);\nreturn [{ json: { mes, ...resumo } }];"
      },
      "id": "fin-dash-notion-04"
    },
    {
      "name": "Upsert Dashboard (Notion)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        0
      ],
      "parameters": {
        "jsCode": "// ── Notion: HTTP cru + paginação (this.helpers vem do runtime do Code node) ──\nconst NOTION_TOKEN = $env.NOTION_TOKEN;\nconst NOTION_VERSION = $env.NOTION_VERSION || '2022-06-28';\nconst HELPERS = this.helpers;\nfunction notionHeaders() {\n  return { Authorization: `Bearer ${NOTION_TOKEN}`, 'Notion-Version': NOTION_VERSION, 'Content-Type': 'application/json' };\n}\nasync function notionQueryAll(databaseId, filter, sorts) {\n  let results = [];\n  let cursor;\n  do {\n    const body = { page_size: 100 };\n    if (filter) body.filter = filter;\n    if (sorts) body.sorts = sorts;\n    if (cursor) body.start_cursor = cursor;\n    const resp = await HELPERS.httpRequest({\n      method: 'POST',\n      url: `https://api.notion.com/v1/databases/${databaseId}/query`,\n      headers: notionHeaders(),\n      body,\n      json: true,\n    });\n    results = results.concat(resp.results || []);\n    cursor = resp.has_more ? resp.next_cursor : null;\n  } while (cursor);\n  return results;\n}\nasync function notionCreatePage(databaseId, properties) {\n  return HELPERS.httpRequest({\n    method: 'POST',\n    url: 'https://api.notion.com/v1/pages',\n    headers: notionHeaders(),\n    body: { parent: { database_id: databaseId }, properties },\n    json: true,\n  });\n}\nasync function notionUpdatePage(pageId, properties) {\n  return HELPERS.httpRequest({\n    method: 'PATCH',\n    url: `https://api.notion.com/v1/pages/${pageId}`,\n    headers: notionHeaders(),\n    body: { properties },\n    json: true,\n  });\n}\n// Mapeamento puro entre o shape \"flat\" usado pela lógica de negócio reaproveitada de\n// workflows/src/*.js (parser-cartao, parser-conta, dashboard, rateio, ...) e o formato\n// de properties da API do Notion (POST /v1/pages, POST /v1/databases/{id}/query).\n// Sem I/O — só transformação de dados. Concatenado nos Code nodes do n8n junto com\n// os módulos puros originais (ver scripts/gerar-workflow-*-notion.js).\n// Implementa a Fase A de gstack (schema em workflows-harumi/README... ver plano da branch).\n\n/** \"DD/MM/YYYY\" ou \"YYYY-MM-DD\" → \"YYYY-MM-DD\" (Notion exige ISO); inválido/vazio → null. */\nfunction paraIso(data) {\n  if (data === null || data === undefined || data === \"\") return null;\n  const s = String(data).trim();\n  let m;\n  if ((m = /^(\\d{4})-(\\d{2})-(\\d{2})/.exec(s))) return `${m[1]}-${m[2]}-${m[3]}`;\n  if ((m = /^(\\d{2})\\/(\\d{2})\\/(\\d{4})$/.exec(s))) return `${m[3]}-${m[2]}-${m[1]}`;\n  return null;\n}\n\n/**\n * Texto plano de uma property title/rich_text do Notion. As demais funções de\n * leitura (paraObjeto*) devolvem \"YYYY-MM-DD\" para datas — mesDe()/normalizarData()\n * em workflows/src/*.js já aceitam esse formato ISO nativamente, então nenhuma\n * conversão adicional é necessária na leitura (só na escrita, via paraIso).\n */\nfunction textoDe(prop) {\n  if (!prop) return \"\";\n  const arr = prop.title || prop.rich_text || [];\n  return arr.map((t) => t.plain_text || \"\").join(\"\");\n}\n\nconst richText = (s) => (s ? [{ text: { content: String(s).slice(0, 2000) } }] : []);\nconst selectOrNull = (s) => (s ? { select: { name: String(s) } } : { select: null });\nconst dateOrNull = (isoOuBr) => {\n  const iso = paraIso(isoOuBr);\n  return iso ? { date: { start: iso } } : { date: null };\n};\n\n// ─── Lançamentos ────────────────────────────────────────────────────────────\n\n/** Page do Notion (results[i] de um query em Lançamentos) → objeto flat esperado pelos parsers/dashboard. */\nfunction paraObjetoLancamento(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    data_competencia: (p[\"Data Competência\"] && p[\"Data Competência\"].date && p[\"Data Competência\"].date.start) || \"\",\n    data_original: (p[\"Data Original\"] && p[\"Data Original\"].date && p[\"Data Original\"].date.start) || \"\",\n    descricao: textoDe(p[\"Descrição\"]),\n    titulo: \"\",\n    valor: (p[\"Valor\"] && p[\"Valor\"].number) || 0,\n    categoria: (p[\"Categoria\"] && p[\"Categoria\"].select && p[\"Categoria\"].select.name) || \"\",\n    tipo: (p[\"Tipo\"] && p[\"Tipo\"].select && p[\"Tipo\"].select.name) || \"\",\n    origem: (p[\"Origem\"] && p[\"Origem\"].select && p[\"Origem\"].select.name) || \"\",\n    status: (p[\"Status\"] && p[\"Status\"].select && p[\"Status\"].select.name) || \"\",\n    id_meta: textoDe(p[\"Meta\"]),\n  };\n}\n\n/** Objeto flat (saída do parser-cartao/parser-conta) → properties para criar a page no Notion. */\nfunction propsDeLancamento(l) {\n  return {\n    \"Descrição\": { title: richText(l.descricao || l.titulo || \"(sem descrição)\") },\n    \"Valor\": { number: Number(l.valor) || 0 },\n    \"Categoria\": selectOrNull(l.categoria),\n    \"Tipo\": selectOrNull(l.tipo),\n    \"Origem\": selectOrNull(l.origem),\n    \"Status\": selectOrNull(l.status),\n    \"Meta\": { rich_text: richText(l.id_meta) },\n    \"Data Competência\": dateOrNull(l.data_competencia),\n    \"Data Original\": dateOrNull(l.data_original),\n  };\n}\n\n/** Update parcial (PATCH) de um Lançamento: só Categoria+Meta — não toca nas demais properties. */\nfunction propsCategoriaEMeta(categoria, idMeta) {\n  return { \"Categoria\": selectOrNull(categoria), \"Meta\": { rich_text: richText(idMeta) } };\n}\n\n// ─── Dicionário ─────────────────────────────────────────────────────────────\n\nfunction paraObjetoDicionario(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    descricao_original: textoDe(p[\"Descrição Original\"]),\n    categoria_mapeada: (p[\"Categoria Mapeada\"] && p[\"Categoria Mapeada\"].select && p[\"Categoria Mapeada\"].select.name) || \"\",\n    origem: (p[\"Origem\"] && p[\"Origem\"].select && p[\"Origem\"].select.name) || \"\",\n    criado_em: (p[\"Criado Em\"] && p[\"Criado Em\"].date && p[\"Criado Em\"].date.start) || \"\",\n  };\n}\n\n/** Dicionário lido vira { chave, categoria } (contrato de parser-cartao.categorizar / parser-conta). */\nfunction paraDicionarioChaveCategoria(objetosDicionario) {\n  return objetosDicionario.map((d) => ({ chave: d.descricao_original, categoria: d.categoria_mapeada }));\n}\n\nfunction propsDeDicionario(d) {\n  // Criado Em nunca fica vazio: cai no dia de hoje se d.criado_em não vier preenchido.\n  const criadoEm = paraIso(d.criado_em) || new Date().toISOString().slice(0, 10);\n  return {\n    \"Descrição Original\": { title: richText(d.descricao_original || \"(vazio)\") },\n    \"Categoria Mapeada\": selectOrNull(d.categoria_mapeada),\n    \"Origem\": selectOrNull(d.origem),\n    \"Criado Em\": { date: { start: criadoEm } },\n  };\n}\n\n// ─── Categorias ─────────────────────────────────────────────────────────────\n\nfunction paraObjetoCategoria(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    nome: textoDe(p[\"Nome\"]),\n    tipo: (p[\"Tipo\"] && p[\"Tipo\"].select && p[\"Tipo\"].select.name) || \"\",\n    ativo: !!(p[\"Ativo\"] && p[\"Ativo\"].checkbox),\n  };\n}\n\nfunction propsDeCategoria(c) {\n  return {\n    \"Nome\": { title: richText(c.nome || \"(sem nome)\") },\n    \"Tipo\": selectOrNull(c.tipo),\n    \"Ativo\": { checkbox: !!c.ativo },\n  };\n}\n\n// ─── Metas ──────────────────────────────────────────────────────────────────\n// Prazo fica RICH_TEXT (não Date): metas.js aceita \"AAAA-MM\" (sem dia) além de\n// \"AAAA-MM-DD\" — um Date do Notion exige dia, então forçaria uma escolha arbitrária\n// (dia 1? último dia?) que a lógica pura nunca precisou fazer. Texto preserva o\n// valor exatamente como o usuário digitou em /novameta.\n\nfunction paraObjetoMeta(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    nome: textoDe(p[\"Nome\"]),\n    orcamento_total: (p[\"Orçamento Total\"] && p[\"Orçamento Total\"].number) || 0,\n    valor_acumulado: (p[\"Valor Acumulado\"] && p[\"Valor Acumulado\"].number) || 0,\n    prazo: textoDe(p[\"Prazo\"]),\n    status: (p[\"Status\"] && p[\"Status\"].select && p[\"Status\"].select.name) || \"\",\n    criado_em: (p[\"Criado Em\"] && p[\"Criado Em\"].date && p[\"Criado Em\"].date.start) || \"\",\n  };\n}\n\nfunction propsDeMeta(m) {\n  const criadoEm = paraIso(m.criado_em) || new Date().toISOString().slice(0, 10);\n  return {\n    \"Nome\": { title: richText(m.nome || \"(sem nome)\") },\n    \"Orçamento Total\": { number: Number(m.orcamento_total) || 0 },\n    \"Valor Acumulado\": { number: Number(m.valor_acumulado) || 0 },\n    \"Prazo\": { rich_text: richText(m.prazo) },\n    \"Status\": selectOrNull(m.status),\n    \"Criado Em\": { date: { start: criadoEm } },\n  };\n}\n\n/** Update parcial: só o cache de progresso (nunca fonte da verdade — ver metas.js). */\nfunction propsValorAcumulado(valor) {\n  return { \"Valor Acumulado\": { number: Number(valor) || 0 } };\n}\n\n/** Update parcial: só o Status (ex.: encerrar uma meta). */\nfunction propsStatus(status) {\n  return { \"Status\": selectOrNull(status) };\n}\n\n// ─── Contas Fixas ───────────────────────────────────────────────────────────\n// Dia Vencimento fica RICH_TEXT (não Number): lembretes.js aceita tanto um dia\n// numérico (1–31) quanto o literal \"sexta-feira\" (contas semanais) — um Number\n// do Notion não representaria essa segunda forma.\n\nfunction paraObjetoContaFixa(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    nome: textoDe(p[\"Nome\"]),\n    dia_vencimento: textoDe(p[\"Dia Vencimento\"]),\n    valor_esperado: (p[\"Valor Esperado\"] && p[\"Valor Esperado\"].number) || 0,\n    // string \"sim\"/\"não\": lembretes.js/relatorio.js comparam com essa convenção\n    // (normalizar(f.ativo) === \"sim\"), herdada do Sheets — o checkbox boolean do\n    // Notion é traduzido aqui pra não precisar tocar nos dois arquivos compartilhados.\n    ativo: (p[\"Ativo\"] && p[\"Ativo\"].checkbox) ? \"sim\" : \"não\",\n  };\n}\n\nfunction propsDeContaFixa(c) {\n  return {\n    \"Nome\": { title: richText(c.nome || \"(sem nome)\") },\n    \"Dia Vencimento\": { rich_text: richText(c.dia_vencimento) },\n    \"Valor Esperado\": { number: Number(c.valor_esperado) || 0 },\n    \"Ativo\": { checkbox: String(c.ativo).trim().toLowerCase() === \"sim\" },\n  };\n}\n\n// ─── Dashboard Mensal ───────────────────────────────────────────────────────\n\nfunction paraObjetoDashboardMensal(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    mes: textoDe(p[\"Mês\"]),\n    saidas: (p[\"Saídas\"] && p[\"Saídas\"].number) || 0,\n    entradas: (p[\"Entradas\"] && p[\"Entradas\"].number) || 0,\n    saldo: (p[\"Saldo\"] && p[\"Saldo\"].number) || 0,\n    metas_ativas: (p[\"Metas Ativas\"] && p[\"Metas Ativas\"].number) || 0,\n    gerado_em: (p[\"Gerado Em\"] && p[\"Gerado Em\"].date && p[\"Gerado Em\"].date.start) || \"\",\n  };\n}\n\n/** \"MM/YYYY\" → YYYYMM (número). O título \"MM/YYYY\" não ordena cronologicamente como\n * texto (\"01/2027\" vem antes de \"12/2026\" alfabeticamente) — esta é a coluna de apoio\n * usada pela view \"Mais recentes\" (SORT BY \"Mês Ordinal\" DESC). */\nfunction mesOrdinal(mesMMYYYY) {\n  const m = /^(\\d{2})\\/(\\d{4})$/.exec(String(mesMMYYYY || \"\").trim());\n  return m ? Number(m[2]) * 100 + Number(m[1]) : 0;\n}\n\nfunction propsDeDashboardMensal(d) {\n  return {\n    \"Mês\": { title: richText(d.mes) },\n    \"Mês Ordinal\": { number: mesOrdinal(d.mes) },\n    \"Saídas\": { number: Number(d.saidas) || 0 },\n    \"Entradas\": { number: Number(d.entradas) || 0 },\n    \"Saldo\": { number: Number(d.saldo) || 0 },\n    \"Metas Ativas\": { number: Number(d.metasAtivas) || 0 },\n    \"Gerado Em\": { date: { start: d.geradoEm || new Date().toISOString() } },\n  };\n}\n\n// ─── FaturaAberta ───────────────────────────────────────────────────────────\n// Snapshot do ciclo aberto corrente (Fase E). Igual ao padrão Sheets original:\n// clear+write a cada /faturaaberta — no Notion isso vira \"arquiva as pages\n// existentes, cria as novas\" (mesmo substituto usado no upsert do Dashboard\n// Mensal). `ciclo`/`data_compra` ficam RICH_TEXT (não Date) pelo mesmo motivo\n// de Prazo/Dia Vencimento: fatura-aberta.js compara strings \"DD/MM/YYYY\" via\n// normalizarCiclo, não precisa de filtro de Date nativo do Notion.\n\nfunction paraObjetoFaturaAberta(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    ciclo: textoDe(p[\"Ciclo\"]),\n    data_compra: textoDe(p[\"Data Compra\"]),\n    estabelecimento: textoDe(p[\"Estabelecimento\"]),\n    categoria_c6: textoDe(p[\"Categoria C6\"]),\n    valor: (p[\"Valor\"] && p[\"Valor\"].number) || 0,\n    parcelas_total: p[\"Parcelas Total\"] && p[\"Parcelas Total\"].number != null ? p[\"Parcelas Total\"].number : \"\",\n    status: (p[\"Status\"] && p[\"Status\"].select && p[\"Status\"].select.name) || \"\",\n  };\n}\n\nfunction propsDeFaturaAberta(r) {\n  return {\n    \"Estabelecimento\": { title: richText(r.estabelecimento || \"(sem estabelecimento)\") },\n    \"Ciclo\": { rich_text: richText(r.ciclo) },\n    \"Data Compra\": { rich_text: richText(r.data_compra) },\n    \"Categoria C6\": { rich_text: richText(r.categoria_c6) },\n    \"Valor\": { number: Number(r.valor) || 0 },\n    \"Parcelas Total\": { number: r.parcelas_total === \"\" || r.parcelas_total == null ? null : Number(r.parcelas_total) },\n    \"Status\": selectOrNull(r.status),\n  };\n}\n\n// ─── Parcelas ───────────────────────────────────────────────────────────────\n// Estado do seed de parcelamento (Fase E) — mesmas 5 colunas da aba Sheets\n// original (A:E), sem a `chave` de casamento (só usada em memória no seed).\n\nfunction paraObjetoParcela(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    estabelecimento: textoDe(p[\"Estabelecimento\"]),\n    valor: (p[\"Valor\"] && p[\"Valor\"].number) || 0,\n    M: (p[\"M\"] && p[\"M\"].number) || 0,\n    N_no_seed: (p[\"N no Seed\"] && p[\"N no Seed\"].number) || 0,\n    ciclo_referencia: textoDe(p[\"Ciclo Referência\"]),\n  };\n}\n\nfunction propsDeParcela(r) {\n  return {\n    \"Estabelecimento\": { title: richText(r.estabelecimento || \"(sem estabelecimento)\") },\n    \"Valor\": { number: Number(r.valor) || 0 },\n    \"M\": { number: Number(r.M) || 0 },\n    \"N no Seed\": { number: Number(r.N_no_seed) || 0 },\n    \"Ciclo Referência\": { rich_text: richText(r.ciclo_referencia) },\n  };\n}\n\n// ─── Config ─────────────────────────────────────────────────────────────────\n\nfunction paraObjetoConfig(page) {\n  const p = (page && page.properties) || {};\n  return { _id: page && page.id, chave: textoDe(p[\"Chave\"]), valor: textoDe(p[\"Valor\"]) };\n}\n\nfunction propsDeConfig(c) {\n  return {\n    \"Chave\": { title: richText(c.chave || \"(sem chave)\") },\n    \"Valor\": { rich_text: richText(c.valor) },\n  };\n}\n\n// ─── Log ────────────────────────────────────────────────────────────────────\n\n/** Necessário a partir da Fase B: categorizacao-hibrida lê o Log p/ não perguntar 2x. */\nfunction paraObjetoLog(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    timestamp: (p[\"Timestamp\"] && p[\"Timestamp\"].date && p[\"Timestamp\"].date.start) || \"\",\n    acao: textoDe(p[\"Ação\"]),\n    entidade: textoDe(p[\"Entidade\"]),\n    valor_anterior: textoDe(p[\"Valor Anterior\"]),\n    valor_novo: textoDe(p[\"Valor Novo\"]),\n    origem: (p[\"Origem\"] && p[\"Origem\"].select && p[\"Origem\"].select.name) || \"\",\n  };\n}\n\nfunction propsDeLog(l) {\n  const registro = `${l.acao || \"\"} — ${l.entidade || \"\"}`.trim();\n  return {\n    \"Registro\": { title: richText(registro || \"log\") },\n    \"Timestamp\": { date: { start: l.timestamp || new Date().toISOString() } },\n    \"Ação\": { rich_text: richText(l.acao) },\n    \"Entidade\": { rich_text: richText(l.entidade) },\n    \"Valor Anterior\": { rich_text: richText(l.valor_anterior) },\n    \"Valor Novo\": { rich_text: richText(l.valor_novo) },\n    \"Origem\": selectOrNull(l.origem),\n  };\n}\n\n\n// Resumo mensal do dashboard em blocos NATIVOS do Notion (callout de saldo, colunas\n// para saídas/entradas, toggle por categoria/metas — não mais um parágrafo de texto\n// único). Reaproveita totaisMes/gastosPorCategoria (dashboard.js), arred (rateio.js)\n// e calcularProgresso (metas.js) sem alteração. Requires normais (mesmo padrão de\n// relatorio-notion-extra.js) — o gerador remove essas linhas antes de concatenar tudo\n// num só Code node.\n\n\n\nfunction brl(n) {\n  const [int, dec] = Math.abs(arred(Number(n))).toFixed(2).split(\".\");\n  return `R$ ${int.replace(/\\B(?=(\\d{3})+(?!\\d))/g, \".\")},${dec}`;\n}\n\n// Notion não tem bloco nativo de barra de progresso — simula com blocos Unicode\n// cheios/vazios dentro do texto. pct null (sem orçamento definido) → sem barra.\nfunction barraUnicode(pct) {\n  if (pct === null || pct === undefined) return \"\";\n  const cheio = Math.max(0, Math.min(10, Math.round(pct / 10)));\n  return `${\"▓\".repeat(cheio)}${\"░\".repeat(10 - cheio)} ${pct}%`;\n}\n\n/**\n * @param {{lancamentos, contasFixas, metas, faturaAbertaRows, parcelasRows, configRows,\n *   hojeISO, mesPrevisto}} dados metas = SÓ as ativas (aba/database já filtrada).\n *   `hojeISO`/`mesPrevisto` são OPCIONAIS: só presentes → calcula comprometido/previsão\n *   (Fase E). Sem eles, o resumo fica igual ao da Fase D (retrocompat).\n * @param {string} mes \"MM/YYYY\"\n * @returns {{saidas, entradas, saldo, metasAtivas, categorias, metas, comprometido?, previsao?}}\n *   dados estruturados (sem formatação de bloco — isso fica a cargo de blocosDashboardNotion)\n */\nfunction montarResumoDashboardNotion(dados, mes) {\n  const { lancamentos, contasFixas, metas, faturaAbertaRows, parcelasRows, configRows, hojeISO, mesPrevisto } = dados;\n  const tot = totaisMes(lancamentos, mes);\n  const cats = gastosPorCategoria(lancamentos, mes, contasFixas, []);\n  const prog = calcularProgresso(metas, lancamentos);\n\n  const categorias = cats.slice(0, 10).map((c) => ({\n    categoria: c.categoria,\n    confirmado: c.confirmado,\n    orcamento: c.orcamento,\n    pct: c.orcamento > 0 ? Math.round((c.confirmado / c.orcamento) * 100) : null,\n  }));\n\n  const metasAtivas = prog.map((p) => ({\n    nome: p.nome,\n    acumulado: p.acumulado,\n    orcamento: p.orcamento,\n    pct: p.pct,\n    prazo: p.prazo,\n  }));\n\n  const resumo = {\n    saidas: tot.saidas,\n    entradas: tot.entradas,\n    saldo: tot.saldo,\n    metasAtivas: metasAtivas.length,\n    categorias,\n    metas: metasAtivas,\n  };\n\n  // Comprometido futuro (fatura aberta do ciclo corrente + projeção de parcelas) —\n  // prospectivo a partir de hojeISO, independente do mês selecionado (mesma semântica\n  // do dashboard-web v2). Individual: sem depositosPrevistos (isso é rateio/casal).\n  if (hojeISO) {\n    resumo.comprometido = comprometidoFuturo(faturaAbertaRows || [], parcelasRows || [], configRows || [], hojeISO);\n  }\n  if (mesPrevisto) {\n    // { Harumi: 1 } força proporcoes() a 100% — instância individual, sem rateio.\n    // Só gastos/detalhes são usados; depositosPrevistos (rateio) é descartado.\n    const previsao = previsaoProximoMes(lancamentos, contasFixas, { Harumi: 1 }, mesPrevisto, faturaAbertaRows || []);\n    resumo.previsao = { mesPrevisto, gastos: previsao.gastos, detalhes: previsao.detalhes };\n  }\n\n  return resumo;\n}\n\n// Monta os blocos filhos da página do mês: callout de saldo (verde/vermelho conforme\n// sinal) + colunas de saídas/entradas + divisor + toggle \"Por categoria\" + toggle\n// \"Metas ativas\" (toggles omitidos se a lista correspondente estiver vazia — mesmo\n// comportamento da versão em texto que este código substitui).\nfunction blocosDashboardNotion(resumo) {\n  const positivo = resumo.saldo >= 0;\n\n  const blocos = [\n    {\n      object: \"block\",\n      type: \"callout\",\n      callout: {\n        icon: { type: \"emoji\", emoji: positivo ? \"✅\" : \"⚠️\" },\n        color: positivo ? \"green_background\" : \"red_background\",\n        rich_text: [{ text: { content: `Saldo do mês: ${brl(resumo.saldo)}` }, annotations: { bold: true } }],\n      },\n    },\n    {\n      object: \"block\",\n      type: \"column_list\",\n      column_list: {\n        children: [\n          {\n            object: \"block\",\n            type: \"column\",\n            column: {\n              children: [\n                { object: \"block\", type: \"paragraph\", paragraph: { rich_text: [{ text: { content: `Saídas\\n${brl(resumo.saidas)}` } }] } },\n              ],\n            },\n          },\n          {\n            object: \"block\",\n            type: \"column\",\n            column: {\n              children: [\n                { object: \"block\", type: \"paragraph\", paragraph: { rich_text: [{ text: { content: `Entradas\\n${brl(resumo.entradas)}` } }] } },\n              ],\n            },\n          },\n        ],\n      },\n    },\n    { object: \"block\", type: \"divider\", divider: {} },\n  ];\n\n  if (resumo.categorias.length) {\n    blocos.push({\n      object: \"block\",\n      type: \"toggle\",\n      toggle: {\n        rich_text: [{ text: { content: \"📊 Por categoria\" } }],\n        children: resumo.categorias.map((c) => ({\n          object: \"block\",\n          type: \"bulleted_list_item\",\n          bulleted_list_item: {\n            rich_text: [\n              {\n                text: {\n                  content:\n                    `${c.categoria}: ${brl(c.confirmado)}` +\n                    (c.orcamento > 0 ? `  de ${brl(c.orcamento)}  ${barraUnicode(c.pct)}` : \"\"),\n                },\n              },\n            ],\n          },\n        })),\n      },\n    });\n  }\n\n  if (resumo.metas.length) {\n    blocos.push({\n      object: \"block\",\n      type: \"toggle\",\n      toggle: {\n        rich_text: [{ text: { content: \"🎯 Metas ativas\" } }],\n        children: resumo.metas.map((m) => ({\n          object: \"block\",\n          type: \"bulleted_list_item\",\n          bulleted_list_item: {\n            rich_text: [\n              {\n                text: {\n                  content:\n                    `${m.nome}: ${brl(m.acumulado)}` +\n                    (m.orcamento > 0 ? `  / ${brl(m.orcamento)}  ${barraUnicode(m.pct)}` : \"\") +\n                    `  · até ${m.prazo}`,\n                },\n              },\n            ],\n          },\n        })),\n      },\n    });\n  }\n\n  // Comprometido Futuro (Fase E) — só aparece se o resumo foi calculado com hojeISO\n  // (ver montarResumoDashboardNotion). Sem fatura/parcela ainda capturada → aviso em\n  // vez de toggle vazio (nada pra recolher).\n  if (resumo.comprometido) {\n    const fa = resumo.comprometido.faturaAberta;\n    if (fa) {\n      blocos.push({\n        object: \"block\",\n        type: \"toggle\",\n        toggle: {\n          rich_text: [{ text: { content: `🧾 Fatura Aberta — vence ${fa.ciclo} — ${brl(fa.total)}` } }],\n          children: fa.porCategoria.map((c) => ({\n            object: \"block\",\n            type: \"bulleted_list_item\",\n            bulleted_list_item: { rich_text: [{ text: { content: `${c.categoria}: ${brl(c.total)}` } }] },\n          })),\n        },\n      });\n    } else {\n      blocos.push({\n        object: \"block\",\n        type: \"paragraph\",\n        paragraph: {\n          rich_text: [{ text: { content: \"🧾 Nenhuma fatura aberta capturada — use /faturaaberta (colar ou enviar .txt).\" } }],\n        },\n      });\n    }\n\n    const parcelasFuturas = resumo.comprometido.parcelas.filter((p) => p.total > 0);\n    if (parcelasFuturas.length) {\n      blocos.push({\n        object: \"block\",\n        type: \"toggle\",\n        toggle: {\n          rich_text: [{ text: { content: \"📅 Parcelas futuras\" } }],\n          children: parcelasFuturas.map((p) => ({\n            object: \"block\",\n            type: \"bulleted_list_item\",\n            bulleted_list_item: { rich_text: [{ text: { content: `${p.vencimento}: ${brl(p.total)}` } }] },\n          })),\n        },\n      });\n    } else {\n      blocos.push({\n        object: \"block\",\n        type: \"paragraph\",\n        paragraph: { rich_text: [{ text: { content: \"📅 Nenhuma parcela futura projetada — use /seedparcelas.\" } }] },\n      });\n    }\n  }\n\n  // Previsão Próximo Mês (Fase E) — contas fixas + fatura fechada que vence no mês\n  // seguinte. Sem depósito previsto (rateio/casal) — só o total e o detalhamento.\n  if (resumo.previsao) {\n    const p = resumo.previsao;\n    blocos.push({\n      object: \"block\",\n      type: \"toggle\",\n      toggle: {\n        rich_text: [{ text: { content: `🔮 Previsão — ${p.mesPrevisto} — total ${brl(p.gastos.total)}` } }],\n        children: [\n          {\n            object: \"block\",\n            type: \"bulleted_list_item\",\n            bulleted_list_item: { rich_text: [{ text: { content: `Contas fixas: ${brl(p.gastos.fixas)}` } }] },\n          },\n          {\n            object: \"block\",\n            type: \"bulleted_list_item\",\n            bulleted_list_item: { rich_text: [{ text: { content: `Fatura do cartão: ${brl(p.gastos.parcelas)}` } }] },\n          },\n          ...p.detalhes.map((d) => ({\n            object: \"block\",\n            type: \"bulleted_list_item\",\n            bulleted_list_item: { rich_text: [{ text: { content: `${d.categoria}: ${brl(d.valor)}` } }] },\n          })),\n        ],\n      },\n    });\n  }\n\n  return blocos;\n}\n\n\n\n// ── Glue: cria ou atualiza a page do mês em Dashboard Mensal + corpo (blocos nativos) ──\nconst item = $json;\nconst existentes = await notionQueryAll($env.NOTION_DB_DASHBOARD_MENSAL,\n  { property: 'Mês', title: { equals: item.mes } });\nconst props = propsDeDashboardMensal({ mes: item.mes, saidas: item.saidas, entradas: item.entradas,\n  saldo: item.saldo, metasAtivas: item.metasAtivas, geradoEm: new Date().toISOString() });\n\nlet pageId;\nif (existentes.length) {\n  pageId = existentes[0].id;\n  await notionUpdatePage(pageId, props);\n  const filhos = await HELPERS.httpRequest({ method: 'GET',\n    url: `https://api.notion.com/v1/blocks/${pageId}/children`, headers: notionHeaders(), json: true });\n  for (const b of (filhos.results || [])) {\n    await HELPERS.httpRequest({ method: 'PATCH', url: `https://api.notion.com/v1/blocks/${b.id}`,\n      headers: notionHeaders(), body: { archived: true }, json: true });\n  }\n} else {\n  const criado = await notionCreatePage($env.NOTION_DB_DASHBOARD_MENSAL, props);\n  pageId = criado.id;\n}\n\nawait HELPERS.httpRequest({\n  method: 'PATCH', url: `https://api.notion.com/v1/blocks/${pageId}/children`,\n  headers: notionHeaders(),\n  body: { children: blocosDashboardNotion(item) },\n  json: true,\n});\nreturn [{ json: { ok: true, pageId, mes: item.mes } }];"
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "id": "fin-dash-notion-05"
    },
    {
      "name": "Avisar Atualizado",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        800,
        0
      ],
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID_HARUMI }}",
        "text": "=📊 Dashboard atualizado! Confira a database \"Dashboard Mensal\" no Notion (mês {{ $json.mes }}).",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "FinTelegramBotHarumi01",
          "name": "Telegram Bot (Harumi)"
        }
      },
      "id": "fin-dash-notion-06"
    }
  ],
  "connections": {
    "Cron Semanal": {
      "main": [
        [
          {
            "node": "Ler Dados (Notion)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Início Comando": {
      "main": [
        [
          {
            "node": "Ler Dados (Notion)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler Dados (Notion)": {
      "main": [
        [
          {
            "node": "Calcular",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular": {
      "main": [
        [
          {
            "node": "Upsert Dashboard (Notion)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Dashboard (Notion)": {
      "main": [
        [
          {
            "node": "Avisar Atualizado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
