workflows-harumi/ingestao-csv-cartao.json
{
  "id": "FinIngestCartNo1",
  "name": "ingestao-csv-cartao (Notion)",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "nodes": [
    {
      "name": "Início",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "inputSource": "workflowInputs",
        "workflowInputs": {
          "values": [
            {
              "name": "csv",
              "type": "string"
            },
            {
              "name": "nome_arquivo",
              "type": "string"
            }
          ]
        }
      },
      "id": "fin-cartao-notion-01"
    },
    {
      "name": "Ler Dados (Notion)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        0
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "jsCode": "// ── Notion: HTTP cru + paginação (this.helpers vem do runtime do Code node) ──\nconst NOTION_TOKEN = $env.NOTION_TOKEN;\nconst NOTION_VERSION = $env.NOTION_VERSION || '2022-06-28';\nconst HELPERS = this.helpers;\nfunction notionHeaders() {\n  return { Authorization: `Bearer ${NOTION_TOKEN}`, 'Notion-Version': NOTION_VERSION, 'Content-Type': 'application/json' };\n}\nasync function notionQueryAll(databaseId, filter, sorts) {\n  let results = [];\n  let cursor;\n  do {\n    const body = { page_size: 100 };\n    if (filter) body.filter = filter;\n    if (sorts) body.sorts = sorts;\n    if (cursor) body.start_cursor = cursor;\n    const resp = await HELPERS.httpRequest({\n      method: 'POST',\n      url: `https://api.notion.com/v1/databases/${databaseId}/query`,\n      headers: notionHeaders(),\n      body,\n      json: true,\n    });\n    results = results.concat(resp.results || []);\n    cursor = resp.has_more ? resp.next_cursor : null;\n  } while (cursor);\n  return results;\n}\nasync function notionCreatePage(databaseId, properties) {\n  return HELPERS.httpRequest({\n    method: 'POST',\n    url: 'https://api.notion.com/v1/pages',\n    headers: notionHeaders(),\n    body: { parent: { database_id: databaseId }, properties },\n    json: true,\n  });\n}\nasync function notionUpdatePage(pageId, properties) {\n  return HELPERS.httpRequest({\n    method: 'PATCH',\n    url: `https://api.notion.com/v1/pages/${pageId}`,\n    headers: notionHeaders(),\n    body: { properties },\n    json: true,\n  });\n}\n\n// ── Glue: lê Dicionário (origem=cartao) e Lançamentos (origem=cartao, p/ dedup) ──\nconst filtroCartao = { property: 'Origem', select: { equals: 'cartao' } };\nconst [dicionario, lancamentosExistentes] = await Promise.all([\n  notionQueryAll($env.NOTION_DB_DICIONARIO, filtroCartao),\n  notionQueryAll($env.NOTION_DB_LANCAMENTOS, filtroCartao),\n]);\nreturn [{ json: { dicionario, lancamentos_existentes: lancamentosExistentes } }];"
      },
      "id": "fin-cartao-notion-02"
    },
    {
      "name": "Parser Fatura",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        0
      ],
      "parameters": {
        "jsCode": "// Parser da fatura C6 cartão — lógica pura do Code node do workflow ingestao-csv-cartao.\r\n// Implementa gstack/plans/ingestao-csv-cartao.md. Sem dependências externas.\r\n\r\nconst COLUNAS = [\r\n  \"Data de Compra\", \"Nome no Cartão\", \"Final do Cartão\", \"Categoria\", \"Descrição\",\r\n  \"Parcela\", \"Valor (em US$)\", \"Cotação (em R$)\", \"Valor (em R$)\",\r\n];\r\n\r\n/** Divide uma linha CSV com separador ; respeitando campos entre aspas. */\r\nfunction splitLinha(linha) {\r\n  const campos = [];\r\n  let atual = \"\";\r\n  let dentroAspas = false;\r\n  for (let i = 0; i < linha.length; i++) {\r\n    const c = linha[i];\r\n    if (c === '\"') {\r\n      if (dentroAspas && linha[i + 1] === '\"') { atual += '\"'; i++; }\r\n      else dentroAspas = !dentroAspas;\r\n    } else if (c === \";\" && !dentroAspas) {\r\n      campos.push(atual); atual = \"\";\r\n    } else {\r\n      atual += c;\r\n    }\r\n  }\r\n  campos.push(atual);\r\n  return campos.map((c) => c.trim());\r\n}\r\n\r\n/** DD/MM/YYYY → Date (para ordenação por proximidade). */\r\nfunction paraData(ddmmyyyy) {\r\n  const [d, m, a] = ddmmyyyy.split(\"/\").map(Number);\r\n  const data = new Date(a, m - 1, d);\r\n  if (Number.isNaN(data.getTime())) throw new Error(`data inválida: ${ddmmyyyy}`);\r\n  return data;\r\n}\r\n\r\n/** Extrai a data de vencimento de \"Fatura_YYYY-MM-DD.csv\". Lança erro se fora do padrão. */\r\nfunction vencimentoDoNome(nomeArquivo) {\r\n  const m = /Fatura_(\\d{4})-(\\d{2})-(\\d{2})\\.csv$/i.exec(nomeArquivo);\r\n  if (!m) throw new Error(`nome de arquivo fora do padrão Fatura_YYYY-MM-DD.csv: ${nomeArquivo}`);\r\n  return `${m[3]}/${m[2]}/${m[1]}`; // DD/MM/YYYY\r\n}\r\n\r\n/**\r\n * Cancela pares 1:1 (estorno negativo + positivo de mesma descrição e |valor|,\r\n * o mais próximo em data). Retorna { mantidos, cancelados }.\r\n */\r\nfunction cancelarPares(linhas) {\r\n  const mantidos = [...linhas];\r\n  const cancelados = [];\r\n  const ehParAnuidade = (neg, pos) =>\r\n    neg[\"Descrição\"] === \"Estorno Tarifa\" && pos[\"Descrição\"].startsWith(\"Anuidade\");\r\n\r\n  for (const neg of linhas.filter((l) => l._valor < 0)) {\r\n    if (!mantidos.includes(neg)) continue;\r\n    const candidatos = mantidos.filter(\r\n      (pos) =>\r\n        pos._valor > 0 &&\r\n        Math.abs(pos._valor) === Math.abs(neg._valor) &&\r\n        (pos[\"Descrição\"] === neg[\"Descrição\"] || ehParAnuidade(neg, pos))\r\n    );\r\n    if (candidatos.length === 0) continue;\r\n    candidatos.sort(\r\n      (a, b) =>\r\n        Math.abs(paraData(a[\"Data de Compra\"]) - paraData(neg[\"Data de Compra\"])) -\r\n        Math.abs(paraData(b[\"Data de Compra\"]) - paraData(neg[\"Data de Compra\"]))\r\n    );\r\n    const par = candidatos[0];\r\n    mantidos.splice(mantidos.indexOf(neg), 1);\r\n    mantidos.splice(mantidos.indexOf(par), 1);\r\n    cancelados.push({\r\n      estorno: { descricao: neg[\"Descrição\"], data: neg[\"Data de Compra\"], valor: neg._valor },\r\n      original: { descricao: par[\"Descrição\"], data: par[\"Data de Compra\"], valor: par._valor },\r\n    });\r\n  }\r\n  return { mantidos, cancelados };\r\n}\r\n\r\n/** Busca categoria no dicionário: descrição CONTÉM chave (case-insensitive). */\r\nfunction categorizar(descricao, dicionario) {\r\n  const alvo = descricao.toUpperCase();\r\n  const regra = dicionario.find((r) => alvo.includes(r.chave.toUpperCase()));\r\n  return regra ? regra.categoria : \"\";\r\n}\r\n\r\n/**\r\n * Processa a fatura completa.\r\n * @param {string} csvText conteúdo do CSV (UTF-8)\r\n * @param {string} nomeArquivo ex.: Fatura_2026-06-10.csv\r\n * @param {{chave: string, categoria: string}[]} dicionario regras origem=cartao\r\n * @param {{nome: string}[]} metas metas ativas (aba Metas)\r\n * @returns {{lancamentos: object[], cancelados: object[], avisos: string[], resumo: object}}\r\n */\r\nfunction processarFatura(csvText, nomeArquivo, dicionario, metas) {\r\n  const vencimento = vencimentoDoNome(nomeArquivo);\r\n  const linhasTexto = csvText.replace(/^﻿/, \"\").split(/\\r?\\n/).filter((l) => l.trim() !== \"\");\r\n  if (linhasTexto.length === 0) throw new Error(\"CSV vazio\");\r\n\r\n  const header = splitLinha(linhasTexto[0]);\r\n  if (JSON.stringify(header) !== JSON.stringify(COLUNAS)) {\r\n    throw new Error(`colunas inesperadas: ${header.join(\" | \")}`);\r\n  }\r\n  if (linhasTexto.length === 1) {\r\n    return { lancamentos: [], cancelados: [], avisos: [], resumo: { total: 0, quantidade: 0 } };\r\n  }\r\n\r\n  let linhas = linhasTexto.slice(1).map((texto, i) => {\r\n    const campos = splitLinha(texto);\r\n    if (campos.length !== COLUNAS.length) {\r\n      throw new Error(`linha ${i + 2}: esperadas ${COLUNAS.length} colunas, vieram ${campos.length}`);\r\n    }\r\n    const obj = Object.fromEntries(COLUNAS.map((c, j) => [c, campos[j]]));\r\n    obj._valor = Number(obj[\"Valor (em R$)\"]);\r\n    if (Number.isNaN(obj._valor)) throw new Error(`linha ${i + 2}: valor inválido \"${obj[\"Valor (em R$)\"]}\"`);\r\n    paraData(obj[\"Data de Compra\"]);\r\n    return obj;\r\n  });\r\n\r\n  // Regra: Inclusao de Pagamento é ignorado\r\n  linhas = linhas.filter((l) => l[\"Descrição\"] !== \"Inclusao de Pagamento\");\r\n\r\n  // Regra: cancelamento 1:1 de estornos e do par Anuidade/Estorno Tarifa\r\n  const { mantidos, cancelados } = cancelarPares(linhas);\r\n\r\n  const avisos = [];\r\n  const lancamentos = mantidos.map((l) => {\r\n    const categoria = categorizar(l[\"Descrição\"], dicionario);\r\n    let idMeta = \"\";\r\n    if (categoria.startsWith(\"Meta: \")) {\r\n      const nomeMeta = categoria.slice(6);\r\n      if (metas.some((m) => m.nome === nomeMeta)) idMeta = nomeMeta;\r\n      else avisos.push(`meta não encontrada para categoria \"${categoria}\"`);\r\n    }\r\n    const sufixo = l[\"Parcela\"] !== \"Única\" ? ` (${l[\"Parcela\"]})` : \"\";\r\n    // Convenção canônica do projeto: valor sempre positivo, direção em tipo\r\n    return {\r\n      data_competencia: vencimento,\r\n      data_original: l[\"Data de Compra\"],\r\n      descricao: l[\"Descrição\"] + sufixo,\r\n      titulo: \"\",\r\n      valor: Math.abs(l._valor),\r\n      categoria,\r\n      tipo: l._valor < 0 ? \"entrada\" : \"saída\",\r\n      origem: \"cartao\",\r\n      status: \"confirmado\",\r\n      id_meta: idMeta,\r\n    };\r\n  });\r\n\r\n  const datas = mantidos.map((l) => paraData(l[\"Data de Compra\"]));\r\n  const fmt = (d) => d.toLocaleDateString(\"pt-BR\");\r\n  const resumo = {\r\n    quantidade: lancamentos.length,\r\n    // total líquido da fatura: saídas menos créditos mantidos\r\n    total: Math.round(\r\n      lancamentos.reduce((s, l) => s + (l.tipo === \"saída\" ? l.valor : -l.valor), 0) * 100\r\n    ) / 100,\r\n    periodo_inicio: datas.length ? fmt(new Date(Math.min(...datas))) : \"\",\r\n    periodo_fim: datas.length ? fmt(new Date(Math.max(...datas))) : \"\",\r\n    vencimento,\r\n    pares_cancelados: cancelados.length,\r\n  };\r\n  return { lancamentos, cancelados, avisos, resumo };\r\n}\r\n\r\n/**\r\n * Normaliza uma data vinda da planilha para a chave canônica \"DD/MM/YYYY\".\r\n * Aceita os três formatos que o nó googleSheets pode devolver:\r\n *   - \"DD/MM/YYYY\" (string) → como está;\r\n *   - \"YYYY-MM-DD\" (string ISO) → reordena;\r\n *   - serial do Sheets (número ou string só-dígitos; dias desde 1899-12-30).\r\n * Qualquer outra coisa → null (linha ignorada no cálculo, não trava).\r\n */\r\nfunction normalizarData(v) {\r\n  if (v === null || v === undefined || v === \"\") return null;\r\n  if (typeof v === \"number\" || (typeof v === \"string\" && /^\\d+(\\.\\d+)?$/.test(v.trim()))) {\r\n    const serial = Math.floor(Number(v));\r\n    if (!Number.isFinite(serial) || serial <= 0) return null;\r\n    const d = new Date(Date.UTC(1899, 11, 30) + serial * 86400000);\r\n    const dd = String(d.getUTCDate()).padStart(2, \"0\");\r\n    const mm = String(d.getUTCMonth() + 1).padStart(2, \"0\");\r\n    return `${dd}/${mm}/${d.getUTCFullYear()}`;\r\n  }\r\n  const s = String(v).trim();\r\n  let m;\r\n  if ((m = /^(\\d{2})\\/(\\d{2})\\/(\\d{4})$/.exec(s))) return `${m[1]}/${m[2]}/${m[3]}`;\r\n  if ((m = /^(\\d{4})-(\\d{2})-(\\d{2})/.exec(s))) return `${m[3]}/${m[2]}/${m[1]}`;\r\n  return null;\r\n}\r\n\r\n/**\r\n * Decide se a fatura (identificada pelo vencimento) já está na planilha.\r\n * @param {{origem, data_competencia}[]} existentes linhas atuais de Lançamentos\r\n * @param {string} vencimentoDDMMYYYY vencimento do arquivo (vencimentoDoNome → DD/MM/YYYY)\r\n * @returns {{bloqueada: boolean, quantidade: number}}\r\n */\r\nfunction faturaJaImportada(existentes, vencimentoDDMMYYYY) {\r\n  const alvo = normalizarData(vencimentoDDMMYYYY);\r\n  const quantidade = (existentes || []).filter(\r\n    (r) => String(r.origem) === \"cartao\" && normalizarData(r.data_competencia) === alvo\r\n  ).length;\r\n  return { bloqueada: quantidade > 0, quantidade };\r\n}\r\n\r\n// Mapeamento puro entre o shape \"flat\" usado pela lógica de negócio reaproveitada de\n// workflows/src/*.js (parser-cartao, parser-conta, dashboard, rateio, ...) e o formato\n// de properties da API do Notion (POST /v1/pages, POST /v1/databases/{id}/query).\n// Sem I/O — só transformação de dados. Concatenado nos Code nodes do n8n junto com\n// os módulos puros originais (ver scripts/gerar-workflow-*-notion.js).\n// Implementa a Fase A de gstack (schema em workflows-harumi/README... ver plano da branch).\n\n/** \"DD/MM/YYYY\" ou \"YYYY-MM-DD\" → \"YYYY-MM-DD\" (Notion exige ISO); inválido/vazio → null. */\nfunction paraIso(data) {\n  if (data === null || data === undefined || data === \"\") return null;\n  const s = String(data).trim();\n  let m;\n  if ((m = /^(\\d{4})-(\\d{2})-(\\d{2})/.exec(s))) return `${m[1]}-${m[2]}-${m[3]}`;\n  if ((m = /^(\\d{2})\\/(\\d{2})\\/(\\d{4})$/.exec(s))) return `${m[3]}-${m[2]}-${m[1]}`;\n  return null;\n}\n\n/**\n * Texto plano de uma property title/rich_text do Notion. As demais funções de\n * leitura (paraObjeto*) devolvem \"YYYY-MM-DD\" para datas — mesDe()/normalizarData()\n * em workflows/src/*.js já aceitam esse formato ISO nativamente, então nenhuma\n * conversão adicional é necessária na leitura (só na escrita, via paraIso).\n */\nfunction textoDe(prop) {\n  if (!prop) return \"\";\n  const arr = prop.title || prop.rich_text || [];\n  return arr.map((t) => t.plain_text || \"\").join(\"\");\n}\n\nconst richText = (s) => (s ? [{ text: { content: String(s).slice(0, 2000) } }] : []);\nconst selectOrNull = (s) => (s ? { select: { name: String(s) } } : { select: null });\nconst dateOrNull = (isoOuBr) => {\n  const iso = paraIso(isoOuBr);\n  return iso ? { date: { start: iso } } : { date: null };\n};\n\n// ─── Lançamentos ────────────────────────────────────────────────────────────\n\n/** Page do Notion (results[i] de um query em Lançamentos) → objeto flat esperado pelos parsers/dashboard. */\nfunction paraObjetoLancamento(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    data_competencia: (p[\"Data Competência\"] && p[\"Data Competência\"].date && p[\"Data Competência\"].date.start) || \"\",\n    data_original: (p[\"Data Original\"] && p[\"Data Original\"].date && p[\"Data Original\"].date.start) || \"\",\n    descricao: textoDe(p[\"Descrição\"]),\n    titulo: \"\",\n    valor: (p[\"Valor\"] && p[\"Valor\"].number) || 0,\n    categoria: (p[\"Categoria\"] && p[\"Categoria\"].select && p[\"Categoria\"].select.name) || \"\",\n    tipo: (p[\"Tipo\"] && p[\"Tipo\"].select && p[\"Tipo\"].select.name) || \"\",\n    origem: (p[\"Origem\"] && p[\"Origem\"].select && p[\"Origem\"].select.name) || \"\",\n    status: (p[\"Status\"] && p[\"Status\"].select && p[\"Status\"].select.name) || \"\",\n    id_meta: textoDe(p[\"Meta\"]),\n  };\n}\n\n/** Objeto flat (saída do parser-cartao/parser-conta) → properties para criar a page no Notion. */\nfunction propsDeLancamento(l) {\n  return {\n    \"Descrição\": { title: richText(l.descricao || l.titulo || \"(sem descrição)\") },\n    \"Valor\": { number: Number(l.valor) || 0 },\n    \"Categoria\": selectOrNull(l.categoria),\n    \"Tipo\": selectOrNull(l.tipo),\n    \"Origem\": selectOrNull(l.origem),\n    \"Status\": selectOrNull(l.status),\n    \"Meta\": { rich_text: richText(l.id_meta) },\n    \"Data Competência\": dateOrNull(l.data_competencia),\n    \"Data Original\": dateOrNull(l.data_original),\n  };\n}\n\n/** Update parcial (PATCH) de um Lançamento: só Categoria+Meta — não toca nas demais properties. */\nfunction propsCategoriaEMeta(categoria, idMeta) {\n  return { \"Categoria\": selectOrNull(categoria), \"Meta\": { rich_text: richText(idMeta) } };\n}\n\n// ─── Dicionário ─────────────────────────────────────────────────────────────\n\nfunction paraObjetoDicionario(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    descricao_original: textoDe(p[\"Descrição Original\"]),\n    categoria_mapeada: (p[\"Categoria Mapeada\"] && p[\"Categoria Mapeada\"].select && p[\"Categoria Mapeada\"].select.name) || \"\",\n    origem: (p[\"Origem\"] && p[\"Origem\"].select && p[\"Origem\"].select.name) || \"\",\n    criado_em: (p[\"Criado Em\"] && p[\"Criado Em\"].date && p[\"Criado Em\"].date.start) || \"\",\n  };\n}\n\n/** Dicionário lido vira { chave, categoria } (contrato de parser-cartao.categorizar / parser-conta). */\nfunction paraDicionarioChaveCategoria(objetosDicionario) {\n  return objetosDicionario.map((d) => ({ chave: d.descricao_original, categoria: d.categoria_mapeada }));\n}\n\nfunction propsDeDicionario(d) {\n  // Criado Em nunca fica vazio: cai no dia de hoje se d.criado_em não vier preenchido.\n  const criadoEm = paraIso(d.criado_em) || new Date().toISOString().slice(0, 10);\n  return {\n    \"Descrição Original\": { title: richText(d.descricao_original || \"(vazio)\") },\n    \"Categoria Mapeada\": selectOrNull(d.categoria_mapeada),\n    \"Origem\": selectOrNull(d.origem),\n    \"Criado Em\": { date: { start: criadoEm } },\n  };\n}\n\n// ─── Categorias ─────────────────────────────────────────────────────────────\n\nfunction paraObjetoCategoria(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    nome: textoDe(p[\"Nome\"]),\n    tipo: (p[\"Tipo\"] && p[\"Tipo\"].select && p[\"Tipo\"].select.name) || \"\",\n    ativo: !!(p[\"Ativo\"] && p[\"Ativo\"].checkbox),\n  };\n}\n\nfunction propsDeCategoria(c) {\n  return {\n    \"Nome\": { title: richText(c.nome || \"(sem nome)\") },\n    \"Tipo\": selectOrNull(c.tipo),\n    \"Ativo\": { checkbox: !!c.ativo },\n  };\n}\n\n// ─── Config ─────────────────────────────────────────────────────────────────\n\nfunction paraObjetoConfig(page) {\n  const p = (page && page.properties) || {};\n  return { _id: page && page.id, chave: textoDe(p[\"Chave\"]), valor: textoDe(p[\"Valor\"]) };\n}\n\nfunction propsDeConfig(c) {\n  return {\n    \"Chave\": { title: richText(c.chave || \"(sem chave)\") },\n    \"Valor\": { rich_text: richText(c.valor) },\n  };\n}\n\n// ─── Log ────────────────────────────────────────────────────────────────────\n\n/** Necessário a partir da Fase B: categorizacao-hibrida lê o Log p/ não perguntar 2x. */\nfunction paraObjetoLog(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    timestamp: (p[\"Timestamp\"] && p[\"Timestamp\"].date && p[\"Timestamp\"].date.start) || \"\",\n    acao: textoDe(p[\"Ação\"]),\n    entidade: textoDe(p[\"Entidade\"]),\n    valor_anterior: textoDe(p[\"Valor Anterior\"]),\n    valor_novo: textoDe(p[\"Valor Novo\"]),\n    origem: (p[\"Origem\"] && p[\"Origem\"].select && p[\"Origem\"].select.name) || \"\",\n  };\n}\n\nfunction propsDeLog(l) {\n  const registro = `${l.acao || \"\"} — ${l.entidade || \"\"}`.trim();\n  return {\n    \"Registro\": { title: richText(registro || \"log\") },\n    \"Timestamp\": { date: { start: l.timestamp || new Date().toISOString() } },\n    \"Ação\": { rich_text: richText(l.acao) },\n    \"Entidade\": { rich_text: richText(l.entidade) },\n    \"Valor Anterior\": { rich_text: richText(l.valor_anterior) },\n    \"Valor Novo\": { rich_text: richText(l.valor_novo) },\n    \"Origem\": selectOrNull(l.origem),\n  };\n}\n\n\n// ── Glue: Dicionário/Lançamentos existentes vêm de 'Ler Dados (Notion)' ──\nconst entrada = $('Início').first().json;\nconst brutos = $('Ler Dados (Notion)').first().json;\nconst dicionario = paraDicionarioChaveCategoria(brutos.dicionario.map(paraObjetoDicionario));\nconst metas = []; // Fase C adiciona a database Metas no Notion\nconst existentes = brutos.lancamentos_existentes.map(paraObjetoLancamento);\ntry {\n  const r = processarFatura(String(entrada.csv || ''), String(entrada.nome_arquivo || ''), dicionario, metas);\n  const dedup = faturaJaImportada(existentes, r.resumo.vencimento);\n  return [{ json: { ok: true, bloqueada: dedup.bloqueada, ja_importadas: dedup.quantidade, ...r } }];\n} catch (e) {\n  return [{ json: { ok: false, erro: e.message } }];\n}"
      },
      "id": "fin-cartao-notion-03"
    },
    {
      "name": "Parse OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1000,
        -200
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.ok }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      },
      "id": "fin-cartao-notion-04"
    },
    {
      "name": "Notificar Erro",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1000,
        200
      ],
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=⚠️ ingestao-csv-cartao (Notion) falhou: {{ $json.erro }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "FinTelegramBot01",
          "name": "Telegram Bot"
        }
      },
      "id": "fin-cartao-notion-05"
    },
    {
      "name": "Já Importada?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1000,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.bloqueada }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      },
      "id": "fin-cartao-notion-06"
    },
    {
      "name": "Linhas Log Bloqueado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        120
      ],
      "parameters": {
        "jsCode": "const p = $('Parser Fatura').first().json;\nreturn [{ json: { timestamp: new Date().toISOString(), acao: 'importacao_bloqueada',\n  entidade: 'Lançamentos', valor_anterior: 'vencimento ' + p.resumo.vencimento,\n  valor_novo: 'fatura ja importada (' + p.ja_importadas + ' lancamentos)',\n  origem: 'ingestao-csv-cartao' } }];"
      },
      "id": "fin-cartao-notion-07"
    },
    {
      "name": "Gravar Log Bloqueado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        120
      ],
      "parameters": {
        "jsCode": "// ── Notion: HTTP cru + paginação (this.helpers vem do runtime do Code node) ──\nconst NOTION_TOKEN = $env.NOTION_TOKEN;\nconst NOTION_VERSION = $env.NOTION_VERSION || '2022-06-28';\nconst HELPERS = this.helpers;\nfunction notionHeaders() {\n  return { Authorization: `Bearer ${NOTION_TOKEN}`, 'Notion-Version': NOTION_VERSION, 'Content-Type': 'application/json' };\n}\nasync function notionQueryAll(databaseId, filter, sorts) {\n  let results = [];\n  let cursor;\n  do {\n    const body = { page_size: 100 };\n    if (filter) body.filter = filter;\n    if (sorts) body.sorts = sorts;\n    if (cursor) body.start_cursor = cursor;\n    const resp = await HELPERS.httpRequest({\n      method: 'POST',\n      url: `https://api.notion.com/v1/databases/${databaseId}/query`,\n      headers: notionHeaders(),\n      body,\n      json: true,\n    });\n    results = results.concat(resp.results || []);\n    cursor = resp.has_more ? resp.next_cursor : null;\n  } while (cursor);\n  return results;\n}\nasync function notionCreatePage(databaseId, properties) {\n  return HELPERS.httpRequest({\n    method: 'POST',\n    url: 'https://api.notion.com/v1/pages',\n    headers: notionHeaders(),\n    body: { parent: { database_id: databaseId }, properties },\n    json: true,\n  });\n}\nasync function notionUpdatePage(pageId, properties) {\n  return HELPERS.httpRequest({\n    method: 'PATCH',\n    url: `https://api.notion.com/v1/pages/${pageId}`,\n    headers: notionHeaders(),\n    body: { properties },\n    json: true,\n  });\n}\n// Mapeamento puro entre o shape \"flat\" usado pela lógica de negócio reaproveitada de\n// workflows/src/*.js (parser-cartao, parser-conta, dashboard, rateio, ...) e o formato\n// de properties da API do Notion (POST /v1/pages, POST /v1/databases/{id}/query).\n// Sem I/O — só transformação de dados. Concatenado nos Code nodes do n8n junto com\n// os módulos puros originais (ver scripts/gerar-workflow-*-notion.js).\n// Implementa a Fase A de gstack (schema em workflows-harumi/README... ver plano da branch).\n\n/** \"DD/MM/YYYY\" ou \"YYYY-MM-DD\" → \"YYYY-MM-DD\" (Notion exige ISO); inválido/vazio → null. */\nfunction paraIso(data) {\n  if (data === null || data === undefined || data === \"\") return null;\n  const s = String(data).trim();\n  let m;\n  if ((m = /^(\\d{4})-(\\d{2})-(\\d{2})/.exec(s))) return `${m[1]}-${m[2]}-${m[3]}`;\n  if ((m = /^(\\d{2})\\/(\\d{2})\\/(\\d{4})$/.exec(s))) return `${m[3]}-${m[2]}-${m[1]}`;\n  return null;\n}\n\n/**\n * Texto plano de uma property title/rich_text do Notion. As demais funções de\n * leitura (paraObjeto*) devolvem \"YYYY-MM-DD\" para datas — mesDe()/normalizarData()\n * em workflows/src/*.js já aceitam esse formato ISO nativamente, então nenhuma\n * conversão adicional é necessária na leitura (só na escrita, via paraIso).\n */\nfunction textoDe(prop) {\n  if (!prop) return \"\";\n  const arr = prop.title || prop.rich_text || [];\n  return arr.map((t) => t.plain_text || \"\").join(\"\");\n}\n\nconst richText = (s) => (s ? [{ text: { content: String(s).slice(0, 2000) } }] : []);\nconst selectOrNull = (s) => (s ? { select: { name: String(s) } } : { select: null });\nconst dateOrNull = (isoOuBr) => {\n  const iso = paraIso(isoOuBr);\n  return iso ? { date: { start: iso } } : { date: null };\n};\n\n// ─── Lançamentos ────────────────────────────────────────────────────────────\n\n/** Page do Notion (results[i] de um query em Lançamentos) → objeto flat esperado pelos parsers/dashboard. */\nfunction paraObjetoLancamento(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    data_competencia: (p[\"Data Competência\"] && p[\"Data Competência\"].date && p[\"Data Competência\"].date.start) || \"\",\n    data_original: (p[\"Data Original\"] && p[\"Data Original\"].date && p[\"Data Original\"].date.start) || \"\",\n    descricao: textoDe(p[\"Descrição\"]),\n    titulo: \"\",\n    valor: (p[\"Valor\"] && p[\"Valor\"].number) || 0,\n    categoria: (p[\"Categoria\"] && p[\"Categoria\"].select && p[\"Categoria\"].select.name) || \"\",\n    tipo: (p[\"Tipo\"] && p[\"Tipo\"].select && p[\"Tipo\"].select.name) || \"\",\n    origem: (p[\"Origem\"] && p[\"Origem\"].select && p[\"Origem\"].select.name) || \"\",\n    status: (p[\"Status\"] && p[\"Status\"].select && p[\"Status\"].select.name) || \"\",\n    id_meta: textoDe(p[\"Meta\"]),\n  };\n}\n\n/** Objeto flat (saída do parser-cartao/parser-conta) → properties para criar a page no Notion. */\nfunction propsDeLancamento(l) {\n  return {\n    \"Descrição\": { title: richText(l.descricao || l.titulo || \"(sem descrição)\") },\n    \"Valor\": { number: Number(l.valor) || 0 },\n    \"Categoria\": selectOrNull(l.categoria),\n    \"Tipo\": selectOrNull(l.tipo),\n    \"Origem\": selectOrNull(l.origem),\n    \"Status\": selectOrNull(l.status),\n    \"Meta\": { rich_text: richText(l.id_meta) },\n    \"Data Competência\": dateOrNull(l.data_competencia),\n    \"Data Original\": dateOrNull(l.data_original),\n  };\n}\n\n/** Update parcial (PATCH) de um Lançamento: só Categoria+Meta — não toca nas demais properties. */\nfunction propsCategoriaEMeta(categoria, idMeta) {\n  return { \"Categoria\": selectOrNull(categoria), \"Meta\": { rich_text: richText(idMeta) } };\n}\n\n// ─── Dicionário ─────────────────────────────────────────────────────────────\n\nfunction paraObjetoDicionario(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    descricao_original: textoDe(p[\"Descrição Original\"]),\n    categoria_mapeada: (p[\"Categoria Mapeada\"] && p[\"Categoria Mapeada\"].select && p[\"Categoria Mapeada\"].select.name) || \"\",\n    origem: (p[\"Origem\"] && p[\"Origem\"].select && p[\"Origem\"].select.name) || \"\",\n    criado_em: (p[\"Criado Em\"] && p[\"Criado Em\"].date && p[\"Criado Em\"].date.start) || \"\",\n  };\n}\n\n/** Dicionário lido vira { chave, categoria } (contrato de parser-cartao.categorizar / parser-conta). */\nfunction paraDicionarioChaveCategoria(objetosDicionario) {\n  return objetosDicionario.map((d) => ({ chave: d.descricao_original, categoria: d.categoria_mapeada }));\n}\n\nfunction propsDeDicionario(d) {\n  // Criado Em nunca fica vazio: cai no dia de hoje se d.criado_em não vier preenchido.\n  const criadoEm = paraIso(d.criado_em) || new Date().toISOString().slice(0, 10);\n  return {\n    \"Descrição Original\": { title: richText(d.descricao_original || \"(vazio)\") },\n    \"Categoria Mapeada\": selectOrNull(d.categoria_mapeada),\n    \"Origem\": selectOrNull(d.origem),\n    \"Criado Em\": { date: { start: criadoEm } },\n  };\n}\n\n// ─── Categorias ─────────────────────────────────────────────────────────────\n\nfunction paraObjetoCategoria(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    nome: textoDe(p[\"Nome\"]),\n    tipo: (p[\"Tipo\"] && p[\"Tipo\"].select && p[\"Tipo\"].select.name) || \"\",\n    ativo: !!(p[\"Ativo\"] && p[\"Ativo\"].checkbox),\n  };\n}\n\nfunction propsDeCategoria(c) {\n  return {\n    \"Nome\": { title: richText(c.nome || \"(sem nome)\") },\n    \"Tipo\": selectOrNull(c.tipo),\n    \"Ativo\": { checkbox: !!c.ativo },\n  };\n}\n\n// ─── Config ─────────────────────────────────────────────────────────────────\n\nfunction paraObjetoConfig(page) {\n  const p = (page && page.properties) || {};\n  return { _id: page && page.id, chave: textoDe(p[\"Chave\"]), valor: textoDe(p[\"Valor\"]) };\n}\n\nfunction propsDeConfig(c) {\n  return {\n    \"Chave\": { title: richText(c.chave || \"(sem chave)\") },\n    \"Valor\": { rich_text: richText(c.valor) },\n  };\n}\n\n// ─── Log ────────────────────────────────────────────────────────────────────\n\n/** Necessário a partir da Fase B: categorizacao-hibrida lê o Log p/ não perguntar 2x. */\nfunction paraObjetoLog(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    timestamp: (p[\"Timestamp\"] && p[\"Timestamp\"].date && p[\"Timestamp\"].date.start) || \"\",\n    acao: textoDe(p[\"Ação\"]),\n    entidade: textoDe(p[\"Entidade\"]),\n    valor_anterior: textoDe(p[\"Valor Anterior\"]),\n    valor_novo: textoDe(p[\"Valor Novo\"]),\n    origem: (p[\"Origem\"] && p[\"Origem\"].select && p[\"Origem\"].select.name) || \"\",\n  };\n}\n\nfunction propsDeLog(l) {\n  const registro = `${l.acao || \"\"} — ${l.entidade || \"\"}`.trim();\n  return {\n    \"Registro\": { title: richText(registro || \"log\") },\n    \"Timestamp\": { date: { start: l.timestamp || new Date().toISOString() } },\n    \"Ação\": { rich_text: richText(l.acao) },\n    \"Entidade\": { rich_text: richText(l.entidade) },\n    \"Valor Anterior\": { rich_text: richText(l.valor_anterior) },\n    \"Valor Novo\": { rich_text: richText(l.valor_novo) },\n    \"Origem\": selectOrNull(l.origem),\n  };\n}\n\n\n\n// ── Glue: cria uma page por item de 'Linhas Log Bloqueado' na database NOTION_DB_LOG ──\nconst itens = $input.all();\nconst criadas = [];\nfor (const item of itens) {\n  const page = await notionCreatePage($env.NOTION_DB_LOG, propsDeLog(item.json));\n  criadas.push(page);\n}\nreturn criadas.map((p) => ({ json: { notion_page_id: p.id } }));"
      },
      "id": "fin-cartao-notion-08"
    },
    {
      "name": "Avisar Bloqueado",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1600,
        120
      ],
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=⚠️ Fatura com vencimento {{ $('Parser Fatura').first().json.resumo.vencimento }} já importada ({{ $('Parser Fatura').first().json.ja_importadas }} lançamentos no Notion). Nada foi gravado.\nPara reimportar, apague as páginas dessa fatura na database Lançamentos.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "FinTelegramBot01",
          "name": "Telegram Bot"
        }
      },
      "id": "fin-cartao-notion-09"
    },
    {
      "name": "Confirmação",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1000,
        -100
      ],
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "message": "=📄 Fatura com vencimento {{ $json.resumo.vencimento }}\nEncontrei {{ $json.resumo.quantidade }} lançamentos, total R$ {{ $json.resumo.total }}, período {{ $json.resumo.periodo_inicio }} a {{ $json.resumo.periodo_fim }}.\n{{ $json.resumo.pares_cancelados }} par(es) cancelado(s) automaticamente.{{ $json.avisos.length ? '\\n⚠️ ' + $json.avisos.join('; ') : '' }}\nConfirmar?",
        "responseType": "approval",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "✅ Confirmar",
            "disapproveLabel": "❌ Cancelar"
          }
        },
        "options": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "FinTelegramBot01",
          "name": "Telegram Bot"
        }
      },
      "id": "fin-cartao-notion-10"
    },
    {
      "name": "Aprovado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1200,
        -100
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      },
      "id": "fin-cartao-notion-11"
    },
    {
      "name": "Linhas Lançamentos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        -200
      ],
      "parameters": {
        "jsCode": "return $('Parser Fatura').first().json.lancamentos.map((l) => ({ json: l }));"
      },
      "id": "fin-cartao-notion-12"
    },
    {
      "name": "Gravar Lançamentos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        -200
      ],
      "parameters": {
        "jsCode": "// ── Notion: HTTP cru + paginação (this.helpers vem do runtime do Code node) ──\nconst NOTION_TOKEN = $env.NOTION_TOKEN;\nconst NOTION_VERSION = $env.NOTION_VERSION || '2022-06-28';\nconst HELPERS = this.helpers;\nfunction notionHeaders() {\n  return { Authorization: `Bearer ${NOTION_TOKEN}`, 'Notion-Version': NOTION_VERSION, 'Content-Type': 'application/json' };\n}\nasync function notionQueryAll(databaseId, filter, sorts) {\n  let results = [];\n  let cursor;\n  do {\n    const body = { page_size: 100 };\n    if (filter) body.filter = filter;\n    if (sorts) body.sorts = sorts;\n    if (cursor) body.start_cursor = cursor;\n    const resp = await HELPERS.httpRequest({\n      method: 'POST',\n      url: `https://api.notion.com/v1/databases/${databaseId}/query`,\n      headers: notionHeaders(),\n      body,\n      json: true,\n    });\n    results = results.concat(resp.results || []);\n    cursor = resp.has_more ? resp.next_cursor : null;\n  } while (cursor);\n  return results;\n}\nasync function notionCreatePage(databaseId, properties) {\n  return HELPERS.httpRequest({\n    method: 'POST',\n    url: 'https://api.notion.com/v1/pages',\n    headers: notionHeaders(),\n    body: { parent: { database_id: databaseId }, properties },\n    json: true,\n  });\n}\nasync function notionUpdatePage(pageId, properties) {\n  return HELPERS.httpRequest({\n    method: 'PATCH',\n    url: `https://api.notion.com/v1/pages/${pageId}`,\n    headers: notionHeaders(),\n    body: { properties },\n    json: true,\n  });\n}\n// Mapeamento puro entre o shape \"flat\" usado pela lógica de negócio reaproveitada de\n// workflows/src/*.js (parser-cartao, parser-conta, dashboard, rateio, ...) e o formato\n// de properties da API do Notion (POST /v1/pages, POST /v1/databases/{id}/query).\n// Sem I/O — só transformação de dados. Concatenado nos Code nodes do n8n junto com\n// os módulos puros originais (ver scripts/gerar-workflow-*-notion.js).\n// Implementa a Fase A de gstack (schema em workflows-harumi/README... ver plano da branch).\n\n/** \"DD/MM/YYYY\" ou \"YYYY-MM-DD\" → \"YYYY-MM-DD\" (Notion exige ISO); inválido/vazio → null. */\nfunction paraIso(data) {\n  if (data === null || data === undefined || data === \"\") return null;\n  const s = String(data).trim();\n  let m;\n  if ((m = /^(\\d{4})-(\\d{2})-(\\d{2})/.exec(s))) return `${m[1]}-${m[2]}-${m[3]}`;\n  if ((m = /^(\\d{2})\\/(\\d{2})\\/(\\d{4})$/.exec(s))) return `${m[3]}-${m[2]}-${m[1]}`;\n  return null;\n}\n\n/**\n * Texto plano de uma property title/rich_text do Notion. As demais funções de\n * leitura (paraObjeto*) devolvem \"YYYY-MM-DD\" para datas — mesDe()/normalizarData()\n * em workflows/src/*.js já aceitam esse formato ISO nativamente, então nenhuma\n * conversão adicional é necessária na leitura (só na escrita, via paraIso).\n */\nfunction textoDe(prop) {\n  if (!prop) return \"\";\n  const arr = prop.title || prop.rich_text || [];\n  return arr.map((t) => t.plain_text || \"\").join(\"\");\n}\n\nconst richText = (s) => (s ? [{ text: { content: String(s).slice(0, 2000) } }] : []);\nconst selectOrNull = (s) => (s ? { select: { name: String(s) } } : { select: null });\nconst dateOrNull = (isoOuBr) => {\n  const iso = paraIso(isoOuBr);\n  return iso ? { date: { start: iso } } : { date: null };\n};\n\n// ─── Lançamentos ────────────────────────────────────────────────────────────\n\n/** Page do Notion (results[i] de um query em Lançamentos) → objeto flat esperado pelos parsers/dashboard. */\nfunction paraObjetoLancamento(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    data_competencia: (p[\"Data Competência\"] && p[\"Data Competência\"].date && p[\"Data Competência\"].date.start) || \"\",\n    data_original: (p[\"Data Original\"] && p[\"Data Original\"].date && p[\"Data Original\"].date.start) || \"\",\n    descricao: textoDe(p[\"Descrição\"]),\n    titulo: \"\",\n    valor: (p[\"Valor\"] && p[\"Valor\"].number) || 0,\n    categoria: (p[\"Categoria\"] && p[\"Categoria\"].select && p[\"Categoria\"].select.name) || \"\",\n    tipo: (p[\"Tipo\"] && p[\"Tipo\"].select && p[\"Tipo\"].select.name) || \"\",\n    origem: (p[\"Origem\"] && p[\"Origem\"].select && p[\"Origem\"].select.name) || \"\",\n    status: (p[\"Status\"] && p[\"Status\"].select && p[\"Status\"].select.name) || \"\",\n    id_meta: textoDe(p[\"Meta\"]),\n  };\n}\n\n/** Objeto flat (saída do parser-cartao/parser-conta) → properties para criar a page no Notion. */\nfunction propsDeLancamento(l) {\n  return {\n    \"Descrição\": { title: richText(l.descricao || l.titulo || \"(sem descrição)\") },\n    \"Valor\": { number: Number(l.valor) || 0 },\n    \"Categoria\": selectOrNull(l.categoria),\n    \"Tipo\": selectOrNull(l.tipo),\n    \"Origem\": selectOrNull(l.origem),\n    \"Status\": selectOrNull(l.status),\n    \"Meta\": { rich_text: richText(l.id_meta) },\n    \"Data Competência\": dateOrNull(l.data_competencia),\n    \"Data Original\": dateOrNull(l.data_original),\n  };\n}\n\n/** Update parcial (PATCH) de um Lançamento: só Categoria+Meta — não toca nas demais properties. */\nfunction propsCategoriaEMeta(categoria, idMeta) {\n  return { \"Categoria\": selectOrNull(categoria), \"Meta\": { rich_text: richText(idMeta) } };\n}\n\n// ─── Dicionário ─────────────────────────────────────────────────────────────\n\nfunction paraObjetoDicionario(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    descricao_original: textoDe(p[\"Descrição Original\"]),\n    categoria_mapeada: (p[\"Categoria Mapeada\"] && p[\"Categoria Mapeada\"].select && p[\"Categoria Mapeada\"].select.name) || \"\",\n    origem: (p[\"Origem\"] && p[\"Origem\"].select && p[\"Origem\"].select.name) || \"\",\n    criado_em: (p[\"Criado Em\"] && p[\"Criado Em\"].date && p[\"Criado Em\"].date.start) || \"\",\n  };\n}\n\n/** Dicionário lido vira { chave, categoria } (contrato de parser-cartao.categorizar / parser-conta). */\nfunction paraDicionarioChaveCategoria(objetosDicionario) {\n  return objetosDicionario.map((d) => ({ chave: d.descricao_original, categoria: d.categoria_mapeada }));\n}\n\nfunction propsDeDicionario(d) {\n  // Criado Em nunca fica vazio: cai no dia de hoje se d.criado_em não vier preenchido.\n  const criadoEm = paraIso(d.criado_em) || new Date().toISOString().slice(0, 10);\n  return {\n    \"Descrição Original\": { title: richText(d.descricao_original || \"(vazio)\") },\n    \"Categoria Mapeada\": selectOrNull(d.categoria_mapeada),\n    \"Origem\": selectOrNull(d.origem),\n    \"Criado Em\": { date: { start: criadoEm } },\n  };\n}\n\n// ─── Categorias ─────────────────────────────────────────────────────────────\n\nfunction paraObjetoCategoria(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    nome: textoDe(p[\"Nome\"]),\n    tipo: (p[\"Tipo\"] && p[\"Tipo\"].select && p[\"Tipo\"].select.name) || \"\",\n    ativo: !!(p[\"Ativo\"] && p[\"Ativo\"].checkbox),\n  };\n}\n\nfunction propsDeCategoria(c) {\n  return {\n    \"Nome\": { title: richText(c.nome || \"(sem nome)\") },\n    \"Tipo\": selectOrNull(c.tipo),\n    \"Ativo\": { checkbox: !!c.ativo },\n  };\n}\n\n// ─── Config ─────────────────────────────────────────────────────────────────\n\nfunction paraObjetoConfig(page) {\n  const p = (page && page.properties) || {};\n  return { _id: page && page.id, chave: textoDe(p[\"Chave\"]), valor: textoDe(p[\"Valor\"]) };\n}\n\nfunction propsDeConfig(c) {\n  return {\n    \"Chave\": { title: richText(c.chave || \"(sem chave)\") },\n    \"Valor\": { rich_text: richText(c.valor) },\n  };\n}\n\n// ─── Log ────────────────────────────────────────────────────────────────────\n\n/** Necessário a partir da Fase B: categorizacao-hibrida lê o Log p/ não perguntar 2x. */\nfunction paraObjetoLog(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    timestamp: (p[\"Timestamp\"] && p[\"Timestamp\"].date && p[\"Timestamp\"].date.start) || \"\",\n    acao: textoDe(p[\"Ação\"]),\n    entidade: textoDe(p[\"Entidade\"]),\n    valor_anterior: textoDe(p[\"Valor Anterior\"]),\n    valor_novo: textoDe(p[\"Valor Novo\"]),\n    origem: (p[\"Origem\"] && p[\"Origem\"].select && p[\"Origem\"].select.name) || \"\",\n  };\n}\n\nfunction propsDeLog(l) {\n  const registro = `${l.acao || \"\"} — ${l.entidade || \"\"}`.trim();\n  return {\n    \"Registro\": { title: richText(registro || \"log\") },\n    \"Timestamp\": { date: { start: l.timestamp || new Date().toISOString() } },\n    \"Ação\": { rich_text: richText(l.acao) },\n    \"Entidade\": { rich_text: richText(l.entidade) },\n    \"Valor Anterior\": { rich_text: richText(l.valor_anterior) },\n    \"Valor Novo\": { rich_text: richText(l.valor_novo) },\n    \"Origem\": selectOrNull(l.origem),\n  };\n}\n\n\n\n// ── Glue: cria uma page por item de 'Linhas Lançamentos' na database NOTION_DB_LANCAMENTOS ──\nconst itens = $input.all();\nconst criadas = [];\nfor (const item of itens) {\n  const page = await notionCreatePage($env.NOTION_DB_LANCAMENTOS, propsDeLancamento(item.json));\n  criadas.push(page);\n}\nreturn criadas.map((p) => ({ json: { notion_page_id: p.id } }));"
      },
      "id": "fin-cartao-notion-13"
    },
    {
      "name": "Linhas Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        -200
      ],
      "parameters": {
        "jsCode": "const p = $('Parser Fatura').first().json;\nconst agora = new Date().toISOString();\nconst logs = [{ json: { timestamp: agora, acao: 'importacao_confirmada', entidade: 'Lançamentos',\n  valor_anterior: '', valor_novo: p.resumo.quantidade + ' lançamentos / R$ ' + p.resumo.total,\n  origem: 'ingestao-csv-cartao' } }];\nfor (const c of p.cancelados) {\n  logs.push({ json: { timestamp: agora, acao: 'estorno_cancelado', entidade: 'Lançamentos',\n    valor_anterior: c.original.descricao + ' ' + c.original.data + ' R$ ' + c.original.valor,\n    valor_novo: c.estorno.descricao + ' ' + c.estorno.data + ' R$ ' + c.estorno.valor,\n    origem: 'ingestao-csv-cartao' } });\n}\nreturn logs;"
      },
      "id": "fin-cartao-notion-14"
    },
    {
      "name": "Gravar Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        -200
      ],
      "parameters": {
        "jsCode": "// ── Notion: HTTP cru + paginação (this.helpers vem do runtime do Code node) ──\nconst NOTION_TOKEN = $env.NOTION_TOKEN;\nconst NOTION_VERSION = $env.NOTION_VERSION || '2022-06-28';\nconst HELPERS = this.helpers;\nfunction notionHeaders() {\n  return { Authorization: `Bearer ${NOTION_TOKEN}`, 'Notion-Version': NOTION_VERSION, 'Content-Type': 'application/json' };\n}\nasync function notionQueryAll(databaseId, filter, sorts) {\n  let results = [];\n  let cursor;\n  do {\n    const body = { page_size: 100 };\n    if (filter) body.filter = filter;\n    if (sorts) body.sorts = sorts;\n    if (cursor) body.start_cursor = cursor;\n    const resp = await HELPERS.httpRequest({\n      method: 'POST',\n      url: `https://api.notion.com/v1/databases/${databaseId}/query`,\n      headers: notionHeaders(),\n      body,\n      json: true,\n    });\n    results = results.concat(resp.results || []);\n    cursor = resp.has_more ? resp.next_cursor : null;\n  } while (cursor);\n  return results;\n}\nasync function notionCreatePage(databaseId, properties) {\n  return HELPERS.httpRequest({\n    method: 'POST',\n    url: 'https://api.notion.com/v1/pages',\n    headers: notionHeaders(),\n    body: { parent: { database_id: databaseId }, properties },\n    json: true,\n  });\n}\nasync function notionUpdatePage(pageId, properties) {\n  return HELPERS.httpRequest({\n    method: 'PATCH',\n    url: `https://api.notion.com/v1/pages/${pageId}`,\n    headers: notionHeaders(),\n    body: { properties },\n    json: true,\n  });\n}\n// Mapeamento puro entre o shape \"flat\" usado pela lógica de negócio reaproveitada de\n// workflows/src/*.js (parser-cartao, parser-conta, dashboard, rateio, ...) e o formato\n// de properties da API do Notion (POST /v1/pages, POST /v1/databases/{id}/query).\n// Sem I/O — só transformação de dados. Concatenado nos Code nodes do n8n junto com\n// os módulos puros originais (ver scripts/gerar-workflow-*-notion.js).\n// Implementa a Fase A de gstack (schema em workflows-harumi/README... ver plano da branch).\n\n/** \"DD/MM/YYYY\" ou \"YYYY-MM-DD\" → \"YYYY-MM-DD\" (Notion exige ISO); inválido/vazio → null. */\nfunction paraIso(data) {\n  if (data === null || data === undefined || data === \"\") return null;\n  const s = String(data).trim();\n  let m;\n  if ((m = /^(\\d{4})-(\\d{2})-(\\d{2})/.exec(s))) return `${m[1]}-${m[2]}-${m[3]}`;\n  if ((m = /^(\\d{2})\\/(\\d{2})\\/(\\d{4})$/.exec(s))) return `${m[3]}-${m[2]}-${m[1]}`;\n  return null;\n}\n\n/**\n * Texto plano de uma property title/rich_text do Notion. As demais funções de\n * leitura (paraObjeto*) devolvem \"YYYY-MM-DD\" para datas — mesDe()/normalizarData()\n * em workflows/src/*.js já aceitam esse formato ISO nativamente, então nenhuma\n * conversão adicional é necessária na leitura (só na escrita, via paraIso).\n */\nfunction textoDe(prop) {\n  if (!prop) return \"\";\n  const arr = prop.title || prop.rich_text || [];\n  return arr.map((t) => t.plain_text || \"\").join(\"\");\n}\n\nconst richText = (s) => (s ? [{ text: { content: String(s).slice(0, 2000) } }] : []);\nconst selectOrNull = (s) => (s ? { select: { name: String(s) } } : { select: null });\nconst dateOrNull = (isoOuBr) => {\n  const iso = paraIso(isoOuBr);\n  return iso ? { date: { start: iso } } : { date: null };\n};\n\n// ─── Lançamentos ────────────────────────────────────────────────────────────\n\n/** Page do Notion (results[i] de um query em Lançamentos) → objeto flat esperado pelos parsers/dashboard. */\nfunction paraObjetoLancamento(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    data_competencia: (p[\"Data Competência\"] && p[\"Data Competência\"].date && p[\"Data Competência\"].date.start) || \"\",\n    data_original: (p[\"Data Original\"] && p[\"Data Original\"].date && p[\"Data Original\"].date.start) || \"\",\n    descricao: textoDe(p[\"Descrição\"]),\n    titulo: \"\",\n    valor: (p[\"Valor\"] && p[\"Valor\"].number) || 0,\n    categoria: (p[\"Categoria\"] && p[\"Categoria\"].select && p[\"Categoria\"].select.name) || \"\",\n    tipo: (p[\"Tipo\"] && p[\"Tipo\"].select && p[\"Tipo\"].select.name) || \"\",\n    origem: (p[\"Origem\"] && p[\"Origem\"].select && p[\"Origem\"].select.name) || \"\",\n    status: (p[\"Status\"] && p[\"Status\"].select && p[\"Status\"].select.name) || \"\",\n    id_meta: textoDe(p[\"Meta\"]),\n  };\n}\n\n/** Objeto flat (saída do parser-cartao/parser-conta) → properties para criar a page no Notion. */\nfunction propsDeLancamento(l) {\n  return {\n    \"Descrição\": { title: richText(l.descricao || l.titulo || \"(sem descrição)\") },\n    \"Valor\": { number: Number(l.valor) || 0 },\n    \"Categoria\": selectOrNull(l.categoria),\n    \"Tipo\": selectOrNull(l.tipo),\n    \"Origem\": selectOrNull(l.origem),\n    \"Status\": selectOrNull(l.status),\n    \"Meta\": { rich_text: richText(l.id_meta) },\n    \"Data Competência\": dateOrNull(l.data_competencia),\n    \"Data Original\": dateOrNull(l.data_original),\n  };\n}\n\n/** Update parcial (PATCH) de um Lançamento: só Categoria+Meta — não toca nas demais properties. */\nfunction propsCategoriaEMeta(categoria, idMeta) {\n  return { \"Categoria\": selectOrNull(categoria), \"Meta\": { rich_text: richText(idMeta) } };\n}\n\n// ─── Dicionário ─────────────────────────────────────────────────────────────\n\nfunction paraObjetoDicionario(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    descricao_original: textoDe(p[\"Descrição Original\"]),\n    categoria_mapeada: (p[\"Categoria Mapeada\"] && p[\"Categoria Mapeada\"].select && p[\"Categoria Mapeada\"].select.name) || \"\",\n    origem: (p[\"Origem\"] && p[\"Origem\"].select && p[\"Origem\"].select.name) || \"\",\n    criado_em: (p[\"Criado Em\"] && p[\"Criado Em\"].date && p[\"Criado Em\"].date.start) || \"\",\n  };\n}\n\n/** Dicionário lido vira { chave, categoria } (contrato de parser-cartao.categorizar / parser-conta). */\nfunction paraDicionarioChaveCategoria(objetosDicionario) {\n  return objetosDicionario.map((d) => ({ chave: d.descricao_original, categoria: d.categoria_mapeada }));\n}\n\nfunction propsDeDicionario(d) {\n  // Criado Em nunca fica vazio: cai no dia de hoje se d.criado_em não vier preenchido.\n  const criadoEm = paraIso(d.criado_em) || new Date().toISOString().slice(0, 10);\n  return {\n    \"Descrição Original\": { title: richText(d.descricao_original || \"(vazio)\") },\n    \"Categoria Mapeada\": selectOrNull(d.categoria_mapeada),\n    \"Origem\": selectOrNull(d.origem),\n    \"Criado Em\": { date: { start: criadoEm } },\n  };\n}\n\n// ─── Categorias ─────────────────────────────────────────────────────────────\n\nfunction paraObjetoCategoria(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    nome: textoDe(p[\"Nome\"]),\n    tipo: (p[\"Tipo\"] && p[\"Tipo\"].select && p[\"Tipo\"].select.name) || \"\",\n    ativo: !!(p[\"Ativo\"] && p[\"Ativo\"].checkbox),\n  };\n}\n\nfunction propsDeCategoria(c) {\n  return {\n    \"Nome\": { title: richText(c.nome || \"(sem nome)\") },\n    \"Tipo\": selectOrNull(c.tipo),\n    \"Ativo\": { checkbox: !!c.ativo },\n  };\n}\n\n// ─── Config ─────────────────────────────────────────────────────────────────\n\nfunction paraObjetoConfig(page) {\n  const p = (page && page.properties) || {};\n  return { _id: page && page.id, chave: textoDe(p[\"Chave\"]), valor: textoDe(p[\"Valor\"]) };\n}\n\nfunction propsDeConfig(c) {\n  return {\n    \"Chave\": { title: richText(c.chave || \"(sem chave)\") },\n    \"Valor\": { rich_text: richText(c.valor) },\n  };\n}\n\n// ─── Log ────────────────────────────────────────────────────────────────────\n\n/** Necessário a partir da Fase B: categorizacao-hibrida lê o Log p/ não perguntar 2x. */\nfunction paraObjetoLog(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    timestamp: (p[\"Timestamp\"] && p[\"Timestamp\"].date && p[\"Timestamp\"].date.start) || \"\",\n    acao: textoDe(p[\"Ação\"]),\n    entidade: textoDe(p[\"Entidade\"]),\n    valor_anterior: textoDe(p[\"Valor Anterior\"]),\n    valor_novo: textoDe(p[\"Valor Novo\"]),\n    origem: (p[\"Origem\"] && p[\"Origem\"].select && p[\"Origem\"].select.name) || \"\",\n  };\n}\n\nfunction propsDeLog(l) {\n  const registro = `${l.acao || \"\"} — ${l.entidade || \"\"}`.trim();\n  return {\n    \"Registro\": { title: richText(registro || \"log\") },\n    \"Timestamp\": { date: { start: l.timestamp || new Date().toISOString() } },\n    \"Ação\": { rich_text: richText(l.acao) },\n    \"Entidade\": { rich_text: richText(l.entidade) },\n    \"Valor Anterior\": { rich_text: richText(l.valor_anterior) },\n    \"Valor Novo\": { rich_text: richText(l.valor_novo) },\n    \"Origem\": selectOrNull(l.origem),\n  };\n}\n\n\n\n// ── Glue: cria uma page por item de 'Linhas Log' na database NOTION_DB_LOG ──\nconst itens = $input.all();\nconst criadas = [];\nfor (const item of itens) {\n  const page = await notionCreatePage($env.NOTION_DB_LOG, propsDeLog(item.json));\n  criadas.push(page);\n}\nreturn criadas.map((p) => ({ json: { notion_page_id: p.id } }));"
      },
      "id": "fin-cartao-notion-15"
    },
    {
      "name": "Avisar Sucesso",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2200,
        -200
      ],
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=✅ Importação concluída: {{ $('Parser Fatura').first().json.resumo.quantidade }} lançamentos gravados no Notion.\n(Categorização automática chega na Fase B — por ora, categorize manualmente na database.)",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "FinTelegramBot01",
          "name": "Telegram Bot"
        }
      },
      "id": "fin-cartao-notion-16"
    },
    {
      "name": "Linhas Log Cancelado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        0
      ],
      "parameters": {
        "jsCode": "const p = $('Parser Fatura').first().json;\nreturn [{ json: { timestamp: new Date().toISOString(), acao: 'importacao_cancelada',\n  entidade: 'Lançamentos', valor_anterior: '',\n  valor_novo: p.resumo.quantidade + ' lançamentos descartados', origem: 'ingestao-csv-cartao' } }];"
      },
      "id": "fin-cartao-notion-17"
    },
    {
      "name": "Gravar Log Cancelado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        0
      ],
      "parameters": {
        "jsCode": "// ── Notion: HTTP cru + paginação (this.helpers vem do runtime do Code node) ──\nconst NOTION_TOKEN = $env.NOTION_TOKEN;\nconst NOTION_VERSION = $env.NOTION_VERSION || '2022-06-28';\nconst HELPERS = this.helpers;\nfunction notionHeaders() {\n  return { Authorization: `Bearer ${NOTION_TOKEN}`, 'Notion-Version': NOTION_VERSION, 'Content-Type': 'application/json' };\n}\nasync function notionQueryAll(databaseId, filter, sorts) {\n  let results = [];\n  let cursor;\n  do {\n    const body = { page_size: 100 };\n    if (filter) body.filter = filter;\n    if (sorts) body.sorts = sorts;\n    if (cursor) body.start_cursor = cursor;\n    const resp = await HELPERS.httpRequest({\n      method: 'POST',\n      url: `https://api.notion.com/v1/databases/${databaseId}/query`,\n      headers: notionHeaders(),\n      body,\n      json: true,\n    });\n    results = results.concat(resp.results || []);\n    cursor = resp.has_more ? resp.next_cursor : null;\n  } while (cursor);\n  return results;\n}\nasync function notionCreatePage(databaseId, properties) {\n  return HELPERS.httpRequest({\n    method: 'POST',\n    url: 'https://api.notion.com/v1/pages',\n    headers: notionHeaders(),\n    body: { parent: { database_id: databaseId }, properties },\n    json: true,\n  });\n}\nasync function notionUpdatePage(pageId, properties) {\n  return HELPERS.httpRequest({\n    method: 'PATCH',\n    url: `https://api.notion.com/v1/pages/${pageId}`,\n    headers: notionHeaders(),\n    body: { properties },\n    json: true,\n  });\n}\n// Mapeamento puro entre o shape \"flat\" usado pela lógica de negócio reaproveitada de\n// workflows/src/*.js (parser-cartao, parser-conta, dashboard, rateio, ...) e o formato\n// de properties da API do Notion (POST /v1/pages, POST /v1/databases/{id}/query).\n// Sem I/O — só transformação de dados. Concatenado nos Code nodes do n8n junto com\n// os módulos puros originais (ver scripts/gerar-workflow-*-notion.js).\n// Implementa a Fase A de gstack (schema em workflows-harumi/README... ver plano da branch).\n\n/** \"DD/MM/YYYY\" ou \"YYYY-MM-DD\" → \"YYYY-MM-DD\" (Notion exige ISO); inválido/vazio → null. */\nfunction paraIso(data) {\n  if (data === null || data === undefined || data === \"\") return null;\n  const s = String(data).trim();\n  let m;\n  if ((m = /^(\\d{4})-(\\d{2})-(\\d{2})/.exec(s))) return `${m[1]}-${m[2]}-${m[3]}`;\n  if ((m = /^(\\d{2})\\/(\\d{2})\\/(\\d{4})$/.exec(s))) return `${m[3]}-${m[2]}-${m[1]}`;\n  return null;\n}\n\n/**\n * Texto plano de uma property title/rich_text do Notion. As demais funções de\n * leitura (paraObjeto*) devolvem \"YYYY-MM-DD\" para datas — mesDe()/normalizarData()\n * em workflows/src/*.js já aceitam esse formato ISO nativamente, então nenhuma\n * conversão adicional é necessária na leitura (só na escrita, via paraIso).\n */\nfunction textoDe(prop) {\n  if (!prop) return \"\";\n  const arr = prop.title || prop.rich_text || [];\n  return arr.map((t) => t.plain_text || \"\").join(\"\");\n}\n\nconst richText = (s) => (s ? [{ text: { content: String(s).slice(0, 2000) } }] : []);\nconst selectOrNull = (s) => (s ? { select: { name: String(s) } } : { select: null });\nconst dateOrNull = (isoOuBr) => {\n  const iso = paraIso(isoOuBr);\n  return iso ? { date: { start: iso } } : { date: null };\n};\n\n// ─── Lançamentos ────────────────────────────────────────────────────────────\n\n/** Page do Notion (results[i] de um query em Lançamentos) → objeto flat esperado pelos parsers/dashboard. */\nfunction paraObjetoLancamento(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    data_competencia: (p[\"Data Competência\"] && p[\"Data Competência\"].date && p[\"Data Competência\"].date.start) || \"\",\n    data_original: (p[\"Data Original\"] && p[\"Data Original\"].date && p[\"Data Original\"].date.start) || \"\",\n    descricao: textoDe(p[\"Descrição\"]),\n    titulo: \"\",\n    valor: (p[\"Valor\"] && p[\"Valor\"].number) || 0,\n    categoria: (p[\"Categoria\"] && p[\"Categoria\"].select && p[\"Categoria\"].select.name) || \"\",\n    tipo: (p[\"Tipo\"] && p[\"Tipo\"].select && p[\"Tipo\"].select.name) || \"\",\n    origem: (p[\"Origem\"] && p[\"Origem\"].select && p[\"Origem\"].select.name) || \"\",\n    status: (p[\"Status\"] && p[\"Status\"].select && p[\"Status\"].select.name) || \"\",\n    id_meta: textoDe(p[\"Meta\"]),\n  };\n}\n\n/** Objeto flat (saída do parser-cartao/parser-conta) → properties para criar a page no Notion. */\nfunction propsDeLancamento(l) {\n  return {\n    \"Descrição\": { title: richText(l.descricao || l.titulo || \"(sem descrição)\") },\n    \"Valor\": { number: Number(l.valor) || 0 },\n    \"Categoria\": selectOrNull(l.categoria),\n    \"Tipo\": selectOrNull(l.tipo),\n    \"Origem\": selectOrNull(l.origem),\n    \"Status\": selectOrNull(l.status),\n    \"Meta\": { rich_text: richText(l.id_meta) },\n    \"Data Competência\": dateOrNull(l.data_competencia),\n    \"Data Original\": dateOrNull(l.data_original),\n  };\n}\n\n/** Update parcial (PATCH) de um Lançamento: só Categoria+Meta — não toca nas demais properties. */\nfunction propsCategoriaEMeta(categoria, idMeta) {\n  return { \"Categoria\": selectOrNull(categoria), \"Meta\": { rich_text: richText(idMeta) } };\n}\n\n// ─── Dicionário ─────────────────────────────────────────────────────────────\n\nfunction paraObjetoDicionario(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    descricao_original: textoDe(p[\"Descrição Original\"]),\n    categoria_mapeada: (p[\"Categoria Mapeada\"] && p[\"Categoria Mapeada\"].select && p[\"Categoria Mapeada\"].select.name) || \"\",\n    origem: (p[\"Origem\"] && p[\"Origem\"].select && p[\"Origem\"].select.name) || \"\",\n    criado_em: (p[\"Criado Em\"] && p[\"Criado Em\"].date && p[\"Criado Em\"].date.start) || \"\",\n  };\n}\n\n/** Dicionário lido vira { chave, categoria } (contrato de parser-cartao.categorizar / parser-conta). */\nfunction paraDicionarioChaveCategoria(objetosDicionario) {\n  return objetosDicionario.map((d) => ({ chave: d.descricao_original, categoria: d.categoria_mapeada }));\n}\n\nfunction propsDeDicionario(d) {\n  // Criado Em nunca fica vazio: cai no dia de hoje se d.criado_em não vier preenchido.\n  const criadoEm = paraIso(d.criado_em) || new Date().toISOString().slice(0, 10);\n  return {\n    \"Descrição Original\": { title: richText(d.descricao_original || \"(vazio)\") },\n    \"Categoria Mapeada\": selectOrNull(d.categoria_mapeada),\n    \"Origem\": selectOrNull(d.origem),\n    \"Criado Em\": { date: { start: criadoEm } },\n  };\n}\n\n// ─── Categorias ─────────────────────────────────────────────────────────────\n\nfunction paraObjetoCategoria(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    nome: textoDe(p[\"Nome\"]),\n    tipo: (p[\"Tipo\"] && p[\"Tipo\"].select && p[\"Tipo\"].select.name) || \"\",\n    ativo: !!(p[\"Ativo\"] && p[\"Ativo\"].checkbox),\n  };\n}\n\nfunction propsDeCategoria(c) {\n  return {\n    \"Nome\": { title: richText(c.nome || \"(sem nome)\") },\n    \"Tipo\": selectOrNull(c.tipo),\n    \"Ativo\": { checkbox: !!c.ativo },\n  };\n}\n\n// ─── Config ─────────────────────────────────────────────────────────────────\n\nfunction paraObjetoConfig(page) {\n  const p = (page && page.properties) || {};\n  return { _id: page && page.id, chave: textoDe(p[\"Chave\"]), valor: textoDe(p[\"Valor\"]) };\n}\n\nfunction propsDeConfig(c) {\n  return {\n    \"Chave\": { title: richText(c.chave || \"(sem chave)\") },\n    \"Valor\": { rich_text: richText(c.valor) },\n  };\n}\n\n// ─── Log ────────────────────────────────────────────────────────────────────\n\n/** Necessário a partir da Fase B: categorizacao-hibrida lê o Log p/ não perguntar 2x. */\nfunction paraObjetoLog(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    timestamp: (p[\"Timestamp\"] && p[\"Timestamp\"].date && p[\"Timestamp\"].date.start) || \"\",\n    acao: textoDe(p[\"Ação\"]),\n    entidade: textoDe(p[\"Entidade\"]),\n    valor_anterior: textoDe(p[\"Valor Anterior\"]),\n    valor_novo: textoDe(p[\"Valor Novo\"]),\n    origem: (p[\"Origem\"] && p[\"Origem\"].select && p[\"Origem\"].select.name) || \"\",\n  };\n}\n\nfunction propsDeLog(l) {\n  const registro = `${l.acao || \"\"} — ${l.entidade || \"\"}`.trim();\n  return {\n    \"Registro\": { title: richText(registro || \"log\") },\n    \"Timestamp\": { date: { start: l.timestamp || new Date().toISOString() } },\n    \"Ação\": { rich_text: richText(l.acao) },\n    \"Entidade\": { rich_text: richText(l.entidade) },\n    \"Valor Anterior\": { rich_text: richText(l.valor_anterior) },\n    \"Valor Novo\": { rich_text: richText(l.valor_novo) },\n    \"Origem\": selectOrNull(l.origem),\n  };\n}\n\n\n\n// ── Glue: cria uma page por item de 'Linhas Log Cancelado' na database NOTION_DB_LOG ──\nconst itens = $input.all();\nconst criadas = [];\nfor (const item of itens) {\n  const page = await notionCreatePage($env.NOTION_DB_LOG, propsDeLog(item.json));\n  criadas.push(page);\n}\nreturn criadas.map((p) => ({ json: { notion_page_id: p.id } }));"
      },
      "id": "fin-cartao-notion-18"
    },
    {
      "name": "Avisar Cancelado",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1800,
        0
      ],
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "🚫 Importação cancelada. Nada foi gravado.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "FinTelegramBot01",
          "name": "Telegram Bot"
        }
      },
      "id": "fin-cartao-notion-19"
    }
  ],
  "connections": {
    "Início": {
      "main": [
        [
          {
            "node": "Ler Dados (Notion)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler Dados (Notion)": {
      "main": [
        [
          {
            "node": "Parser Fatura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser Fatura": {
      "main": [
        [
          {
            "node": "Parse OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse OK?": {
      "main": [
        [
          {
            "node": "Já Importada?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notificar Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Já Importada?": {
      "main": [
        [
          {
            "node": "Linhas Log Bloqueado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Confirmação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linhas Log Bloqueado": {
      "main": [
        [
          {
            "node": "Gravar Log Bloqueado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gravar Log Bloqueado": {
      "main": [
        [
          {
            "node": "Avisar Bloqueado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmação": {
      "main": [
        [
          {
            "node": "Aprovado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aprovado?": {
      "main": [
        [
          {
            "node": "Linhas Lançamentos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Linhas Log Cancelado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linhas Lançamentos": {
      "main": [
        [
          {
            "node": "Gravar Lançamentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gravar Lançamentos": {
      "main": [
        [
          {
            "node": "Linhas Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linhas Log": {
      "main": [
        [
          {
            "node": "Gravar Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gravar Log": {
      "main": [
        [
          {
            "node": "Avisar Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linhas Log Cancelado": {
      "main": [
        [
          {
            "node": "Gravar Log Cancelado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gravar Log Cancelado": {
      "main": [
        [
          {
            "node": "Avisar Cancelado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
