workflows-harumi/relatorio-mensal.json
{
  "id": "FinRelatMenNoti1",
  "name": "relatorio-mensal (Notion)",
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "nodes": [
    {
      "name": "Cron Mensal",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 1 * *"
            }
          ]
        }
      },
      "id": "finrelatme-01"
    },
    {
      "name": "Ler Dados (Notion)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ],
      "parameters": {
        "jsCode": "// ── Notion: HTTP cru + paginação (this.helpers vem do runtime do Code node) ──\nconst NOTION_TOKEN = $env.NOTION_TOKEN;\nconst NOTION_VERSION = $env.NOTION_VERSION || '2022-06-28';\nconst HELPERS = this.helpers;\nfunction notionHeaders() {\n  return { Authorization: `Bearer ${NOTION_TOKEN}`, 'Notion-Version': NOTION_VERSION, 'Content-Type': 'application/json' };\n}\nasync function notionQueryAll(databaseId, filter, sorts) {\n  let results = [];\n  let cursor;\n  do {\n    const body = { page_size: 100 };\n    if (filter) body.filter = filter;\n    if (sorts) body.sorts = sorts;\n    if (cursor) body.start_cursor = cursor;\n    const resp = await HELPERS.httpRequest({\n      method: 'POST',\n      url: `https://api.notion.com/v1/databases/${databaseId}/query`,\n      headers: notionHeaders(),\n      body,\n      json: true,\n    });\n    results = results.concat(resp.results || []);\n    cursor = resp.has_more ? resp.next_cursor : null;\n  } while (cursor);\n  return results;\n}\nasync function notionCreatePage(databaseId, properties) {\n  return HELPERS.httpRequest({\n    method: 'POST',\n    url: 'https://api.notion.com/v1/pages',\n    headers: notionHeaders(),\n    body: { parent: { database_id: databaseId }, properties },\n    json: true,\n  });\n}\nasync function notionUpdatePage(pageId, properties) {\n  return HELPERS.httpRequest({\n    method: 'PATCH',\n    url: `https://api.notion.com/v1/pages/${pageId}`,\n    headers: notionHeaders(),\n    body: { properties },\n    json: true,\n  });\n}\n\n// ── Glue: Lançamentos + Contas Fixas + Config + Log (só 'relatorio_enviado') ──\nconst [lancamentos, contasFixas, configRows, logRelatorio] = await Promise.all([\n  notionQueryAll($env.NOTION_DB_LANCAMENTOS),\n  notionQueryAll($env.NOTION_DB_CONTAS_FIXAS),\n  notionQueryAll($env.NOTION_DB_CONFIG),\n  notionQueryAll($env.NOTION_DB_LOG, { property: 'Ação', rich_text: { equals: 'relatorio_enviado' } }),\n]);\nreturn [{ json: { lancamentos, contasFixas, configRows, logRelatorio } }];"
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "id": "finrelatme-02"
    },
    {
      "name": "Montar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "parameters": {
        "jsCode": "// Rateio proporcional ao salário — lógica pura do dashboard da reunião familiar.\r\n// TDD em rateio.test.js. Módulo Node consumido pelo runner (não é Code node n8n).\r\n// Implementa gstack/specs/dashboard-reuniao-familiar.md.\r\n\r\n/** Remove acento e caixa para comparar categorias/nomes (Deposito ~ Depósito). */\r\nfunction normalizar(s) {\r\n  return String(s == null ? \"\" : s)\r\n    .normalize(\"NFD\").replace(/[̀-ͯ]/g, \"\").trim().toLowerCase();\r\n}\r\n\r\nconst arred = (n) => Math.round(n * 100) / 100;\r\n\r\n/**\r\n * Valor da planilha → número. Defesa contra `valor` gravado como TEXTO (ex.: o nó\r\n * googleSheets em USER_ENTERED + locale pt_BR pode coagir \"1011.87\" a texto). Aceita\r\n * número nativo, \"1011.87\" (ponto decimal), BR \"1.011,56\"/\"1011,56\" e \"R$ 1.234,56\".\r\n * Lixo/vazio → 0 (nunca NaN — NaN envenenaria a soma inteira do relatório).\r\n */\r\nfunction valorNum(v) {\r\n  if (typeof v === \"number\") return Number.isFinite(v) ? v : 0;\r\n  if (v === null || v === undefined) return 0;\r\n  let s = String(v).trim().replace(/^R\\$\\s*/i, \"\");\r\n  if (s === \"\") return 0;\r\n  if (s.includes(\",\")) s = s.replace(/\\./g, \"\").replace(\",\", \".\");        // BR: ponto=milhar, vírgula=decimal\r\n  else if ((s.match(/\\./g) || []).length > 1) s = s.replace(/\\./g, \"\");   // só pontos múltiplos = milhar\r\n  const n = Number(s);\r\n  return Number.isFinite(n) ? n : 0;\r\n}\r\n\r\n/**\r\n * Categorias de transferência interna — movimentação entre contas próprias\r\n * (ex.: pagar a fatura do cartão, resgate/aplicação, Pix para si mesmo). NÃO são\r\n * consumo nem receita: o gasto real já está nas compras da fatura (origem=cartao)\r\n * e contá-las de novo no extrato duplicaria. O parser resolve \"Pagamento/Retirada\"\r\n * para uma destas conforme a direção (entrada→Pagamento, saída→Retirada).\r\n */\r\nconst CATEGORIAS_TRANSFERENCIA = new Set([\"pagamento\", \"retirada\"]);\r\nfunction ehTransferencia(categoria) {\r\n  return CATEGORIAS_TRANSFERENCIA.has(normalizar(categoria));\r\n}\r\n\r\n/** salarios: {pessoa: salario} ou [{pessoa, salario}] → {pessoa: proporção}. */\r\nfunction proporcoes(salarios) {\r\n  const pares = Array.isArray(salarios)\r\n    ? salarios.map((s) => [s.pessoa, Number(s.salario)])\r\n    : Object.entries(salarios).map(([p, v]) => [p, Number(v)]);\r\n  const total = pares.reduce((s, [, v]) => s + v, 0);\r\n  if (!(total > 0)) throw new Error(\"soma dos salários deve ser > 0 (configurar aba Salários)\");\r\n  const out = {};\r\n  for (const [p, v] of pares) out[p] = v / total;\r\n  return out;\r\n}\r\n\r\n/**\r\n * Data da planilha → \"MM/YYYY\" | null. Aceita os três formatos que o nó de\r\n * leitura pode devolver (valueRenderOption=UNFORMATTED_VALUE):\r\n *   - \"DD/MM/YYYY\" (string) ;\r\n *   - \"YYYY-MM-DD\" (string ISO) ;\r\n *   - serial do Sheets (número ou string só-dígitos): célula formatada como\r\n *     Data volta como dias desde 1899-12-30, não como string.\r\n */\r\nfunction mesDe(v) {\r\n  if (v === null || v === undefined || v === \"\") return null;\r\n  if (typeof v === \"number\" || (typeof v === \"string\" && /^\\d+(\\.\\d+)?$/.test(v.trim()))) {\r\n    const serial = Math.floor(Number(v));\r\n    if (!Number.isFinite(serial) || serial <= 0) return null;\r\n    const d = new Date(Date.UTC(1899, 11, 30) + serial * 86400000);\r\n    return `${String(d.getUTCMonth() + 1).padStart(2, \"0\")}/${d.getUTCFullYear()}`;\r\n  }\r\n  const s = String(v).trim();\r\n  let m;\r\n  if ((m = /^\\d{2}\\/(\\d{2})\\/(\\d{4})$/.exec(s))) return `${m[1]}/${m[2]}`;\r\n  if ((m = /^(\\d{4})-(\\d{2})-\\d{2}/.exec(s))) return `${m[2]}/${m[1]}`;\r\n  return null;\r\n}\r\n\r\n/** \"MM/YYYY\" → número YYYYMM comparável (ex.: \"05/2026\" → 202605); inválido → null. */\r\nfunction mesParaNum(mes) {\r\n  const m = /^(\\d{2})\\/(\\d{4})$/.exec(String(mes == null ? \"\" : mes).trim());\r\n  if (!m) return null;\r\n  return Number(m[2]) * 100 + Number(m[1]);\r\n}\r\n\r\n/**\r\n * Pessoa dona de uma categoria exclusiva \"Gastos {pessoa}\", ou null. Despesa\r\n * exclusiva NÃO é dividida por salário: é cobrada 100% de quem é (decisão do Marcelo).\r\n */\r\nfunction categoriaExclusivaDe(categoria, pessoas) {\r\n  const c = normalizar(categoria);\r\n  for (const p of pessoas) {\r\n    if (c === \"gastos \" + normalizar(p)) return p;\r\n  }\r\n  return null;\r\n}\r\n\r\n/**\r\n * Movimentação PESSOAL (não é da casa): \"Depósito para o/a {pessoa}\" (entrada) e\r\n * \"Saída para o/a {pessoa}\" (saída). Dinheiro que passou pela conta mas é pessoal —\r\n * ex.: Pix de terceiros que era do Marcelo + o Pix que ele mandou de volta p/ si.\r\n * APARECE no fluxo de caixa (entradas/saídas), mas é NEUTRA ao rateio: não é\r\n * contribuição (pago) nem custo/dívida da casa (base/cota). Distingue-se de \"Retirada\"\r\n * (pgto de fatura / aplicação CDB), que é transferência excluída de tudo.\r\n */\r\nfunction ehMovimentacaoPessoal(categoria) {\r\n  const c = normalizar(categoria);\r\n  return /^deposito para /.test(c) || /^saida para /.test(c);\r\n}\r\n\r\n/**\r\n * Categoria de META (\"Meta: Viagem Lua de Mel\", \"Meta: IPTU\", ...). É poupança/objetivo\r\n * rastreado à parte na aba Metas — NÃO é despesa mensal compartilhada da casa. Fica FORA\r\n * do rateio e do treemap de gastos da casa (decisão do Marcelo). Aparece no fluxo de caixa.\r\n */\r\nfunction ehMeta(categoria) {\r\n  return /^meta:/.test(normalizar(categoria));\r\n}\r\n\r\n/**\r\n * Núcleo do rateio sobre um conjunto JÁ filtrado de lançamentos (DRY entre rateioMes\r\n * e rateioAcumulado). `prop` = proporções por pessoa (de proporcoes()).\r\n * - base dividida = saídas confirmadas não-transferência, não-exclusivas e não-pessoais;\r\n * - exclusivo[p] = Σ saídas confirmadas \"Gastos {p}\" (100% da pessoa);\r\n * - cota[p] = base × prop[p] + exclusivo[p];   pago[p] = entradas \"Depósito {p}\";\r\n * - saldo = pago − cota;  acerto = cota − pago (positivo = a pessoa deve).\r\n * Movimentações pessoais (\"Depósito/Saída para o ...\") são IGNORADAS aqui (neutras).\r\n * Conservação: Σ cotas = base + Σ exclusivos = Σ saídas confirmadas não-transferência/pessoais.\r\n * @returns {{totalDespesas, cota, pago, saldo, acerto}}\r\n */\r\nfunction calcularRateio(lancamentos, prop) {\r\n  const pessoas = Object.keys(prop);\r\n  const exclusivo = {};\r\n  for (const p of pessoas) exclusivo[p] = 0;\r\n  let base = 0;\r\n  for (const l of lancamentos) {\r\n    if (l.tipo !== \"saída\" || l.status !== \"confirmado\") continue;\r\n    // fora do rateio: transferência interna, movimentação pessoal e Metas (poupança à parte)\r\n    if (ehTransferencia(l.categoria) || ehMovimentacaoPessoal(l.categoria) || ehMeta(l.categoria)) continue;\r\n    const dono = categoriaExclusivaDe(l.categoria, pessoas);\r\n    if (dono) exclusivo[dono] = arred(exclusivo[dono] + valorNum(l.valor));\r\n    else base = arred(base + valorNum(l.valor));\r\n  }\r\n  const totalDespesas = arred(base + pessoas.reduce((s, p) => s + exclusivo[p], 0));\r\n\r\n  // Divide a base entre as pessoas; a ÚLTIMA absorve o resíduo de arredondamento para\r\n  // garantir Σ(parte dividida) == base exatamente — sem dívida-fantasma de R$ 0,01 no\r\n  // saldo cumulativo (que nunca quitaria). O exclusivo de cada um soma à parte dele.\r\n  const parteBase = {};\r\n  let alocado = 0;\r\n  pessoas.forEach((p, idx) => {\r\n    if (idx === pessoas.length - 1) parteBase[p] = arred(base - alocado);\r\n    else { parteBase[p] = arred(base * prop[p]); alocado = arred(alocado + parteBase[p]); }\r\n  });\r\n\r\n  const cota = {}, pago = {}, saldo = {}, acerto = {};\r\n  for (const p of pessoas) {\r\n    cota[p] = arred(parteBase[p] + exclusivo[p]);\r\n    const alvo = normalizar(`deposito ${p}`);\r\n    pago[p] = arred(lancamentos\r\n      .filter((l) => l.tipo === \"entrada\" && normalizar(l.categoria) === alvo)\r\n      .reduce((s, l) => s + valorNum(l.valor), 0));\r\n    saldo[p] = arred(pago[p] - cota[p]);\r\n    acerto[p] = arred(cota[p] - pago[p]);\r\n  }\r\n  return { totalDespesas, cota, pago, saldo, acerto };\r\n}\r\n\r\n/**\r\n * Rateio do mês (`mes` = \"MM/YYYY\"). Visão de um único mês (usada no relatório).\r\n * @returns {{mes, totalDespesas, proporcoes, cota, pago, saldo, acerto}}\r\n */\r\nfunction rateioMes(lancamentos, salarios, mes) {\r\n  const prop = proporcoes(salarios);\r\n  const doMes = lancamentos.filter((l) => mesDe(l.data_competencia) === mes);\r\n  return { mes, proporcoes: prop, ...calcularRateio(doMes, prop) };\r\n}\r\n\r\n/**\r\n * Rateio CUMULATIVO: meses com `mesInicio ≤ mesDe ≤ mesAte`. Detecta dívida acumulada\r\n * (decisão do Marcelo). `mesInicio` (opcional, \"MM/YYYY\") é o marco onde a conta da casa\r\n * começa — meses anteriores (pré-rastreio) ficam de fora. Lançamentos com data ilegível\r\n * (`mesDe===null`) são descartados.\r\n * @returns {{mesAte, mesInicio, acumulado:true, totalDespesas, proporcoes, cota, pago, saldo, acerto}}\r\n */\r\nfunction rateioAcumulado(lancamentos, salarios, mesAte, mesInicio) {\r\n  const prop = proporcoes(salarios);\r\n  const ate = mesParaNum(mesAte);\r\n  const inicio = mesParaNum(mesInicio);\r\n  const ateOuAntes = lancamentos.filter((l) => {\r\n    const m = mesParaNum(mesDe(l.data_competencia));\r\n    return m !== null && (ate === null || m <= ate) && (inicio === null || m >= inicio);\r\n  });\r\n\r\n  const mesesSet = new Set();\r\n  for (const l of ateOuAntes) {\r\n    const m = mesDe(l.data_competencia);\r\n    if (m) mesesSet.add(m);\r\n  }\r\n  const mesesOrdenados = [...mesesSet].sort((a, b) => mesParaNum(a) - mesParaNum(b));\r\n\r\n  const pessoas = Object.keys(prop);\r\n  // FONTE ÚNICA: os totais do card são a SOMA mês-a-mês (mesmo cálculo do histórico do\r\n  // modal). Antes o card vinha de um calcularRateio agregado separado, que podia divergir\r\n  // da soma do modal em centavos (resíduo de arredondamento absorvido 1× vs N×). Agora o\r\n  // card == última linha de saldoAcumulado do histórico, sempre.\r\n  const cota = {}, pago = {}, saldo = {}, acerto = {};\r\n  for (const p of pessoas) { cota[p] = 0; pago[p] = 0; saldo[p] = 0; acerto[p] = 0; }\r\n  let totalDespesas = 0;\r\n  const historico = [];\r\n\r\n  for (const m of mesesOrdenados) {\r\n    const doMes = lancamentos.filter((l) => mesDe(l.data_competencia) === m);\r\n    const rMes = calcularRateio(doMes, prop);\r\n\r\n    totalDespesas = arred(totalDespesas + rMes.totalDespesas);\r\n    for (const p of pessoas) {\r\n      cota[p] = arred(cota[p] + rMes.cota[p]);\r\n      pago[p] = arred(pago[p] + rMes.pago[p]);\r\n      saldo[p] = arred(saldo[p] + rMes.saldo[p]);\r\n      acerto[p] = arred(cota[p] - pago[p]);\r\n    }\r\n\r\n    const exclusivoMes = {};\r\n    for (const p of pessoas) {\r\n      exclusivoMes[p] = 0;\r\n      for (const l of doMes) {\r\n        if (l.tipo === \"saída\" && l.status === \"confirmado\"\r\n          && categoriaExclusivaDe(l.categoria, pessoas) === p) {\r\n          exclusivoMes[p] = arred(exclusivoMes[p] + valorNum(l.valor));\r\n        }\r\n      }\r\n    }\r\n\r\n    historico.push({\r\n      mes: m,\r\n      totalDespesas: rMes.totalDespesas,\r\n      cota: rMes.cota,\r\n      exclusivo: exclusivoMes,\r\n      pago: rMes.pago,\r\n      saldo: rMes.saldo,\r\n      saldoAcumulado: { ...saldo }, // == card (soma corrente) — modal e card sempre batem\r\n    });\r\n  }\r\n\r\n  return { mesAte, mesInicio: mesInicio || null, acumulado: true, proporcoes: prop, totalDespesas, cota, pago, saldo, acerto, historico };\r\n}\r\n\r\n\n// Agregações do dashboard da reunião familiar — lógica pura. TDD em dashboard.test.js.\r\n// Módulo Node consumido pelo runner (não é Code node n8n).\r\n// Implementa gstack/specs/dashboard-reuniao-familiar.md.\r\n/**\r\n * Gastos da casa do mês por categoria: `previsto` (Conta Fixa ativa, valor esperado),\r\n * `confirmado` (saída confirmada do mês) e `orcamento` (teto de acompanhamento). Inclui\r\n * categorias com gasto confirmado E contas fixas ativas ainda não pagas (previsto>0,\r\n * confirmado=0) — assim dá p/ ver o que falta pagar.\r\n * Exclui transferência, movimentação pessoal e Metas (só gastos da casa).\r\n *\r\n * `orcamento` = teto da aba Orçamentos (linha ativa) se houver; senão cai no `previsto`\r\n * (valor_esperado da Conta Fixa). É a base da barra de progresso da UI (não escreve em\r\n * Contas Fixas — previsão/lembretes ficam intactos). 0 = sem teto → UI não desenha barra.\r\n * Categoria só com teto (sem confirmado nem previsto) NÃO entra: o conjunto é conf ∪ prev.\r\n * @param {{categoria, teto_mensal, ativo}[]} [orcamentos=[]] aba Orçamentos (A:C)\r\n * @returns {{categoria, previsto, confirmado, orcamento}[]} ordenado por confirmado desc, depois previsto.\r\n */\r\nfunction gastosPorCategoria(lancamentos, mes, contasFixas, orcamentos) {\r\n  const conf = new Map();\r\n  for (const l of lancamentos) {\r\n    if (l.tipo !== \"saída\" || l.status !== \"confirmado\" || mesDe(l.data_competencia) !== mes) continue;\r\n    if (ehTransferencia(l.categoria) || ehMovimentacaoPessoal(l.categoria) || ehMeta(l.categoria)) continue;\r\n    conf.set(l.categoria, (conf.get(l.categoria) || 0) + valorNum(l.valor));\r\n  }\r\n  const prev = new Map();\r\n  for (const f of contasFixas || []) {\r\n    if (normalizar(f.ativo) === \"sim\") {\r\n      prev.set(f.nome, arred((prev.get(f.nome) || 0) + valorNum(f.valor_esperado)));\r\n    }\r\n  }\r\n  // Teto de acompanhamento (aba Orçamentos). Mesma chave de categoria que conf/prev usam —\r\n  // sem normalização nova. Só registra teto > 0; inválido/vazio/0 cai no fallback (previsto).\r\n  const teto = new Map();\r\n  for (const o of orcamentos || []) {\r\n    if (normalizar(o.ativo) !== \"sim\") continue;\r\n    const t = valorNum(o.teto_mensal);\r\n    if (t > 0) teto.set(o.categoria, arred(t));\r\n  }\r\n  const cats = new Set([...conf.keys(), ...prev.keys()]);\r\n  return [...cats]\r\n    .map((categoria) => {\r\n      const previsto = arred(prev.get(categoria) || 0);\r\n      return {\r\n        categoria,\r\n        previsto,\r\n        confirmado: arred(conf.get(categoria) || 0),\r\n        orcamento: teto.has(categoria) ? teto.get(categoria) : previsto,\r\n      };\r\n    })\r\n    .sort((a, b) => (b.confirmado - a.confirmado) || (b.previsto - a.previsto));\r\n}\r\n\r\n/**\r\n * Totais confirmados do mês: saídas, entradas, saldo. É a visão de FLUXO DE CAIXA — inclui\r\n * movimentações pessoais (\"Depósito/Saída para o ...\"), que o usuário quer ver entrando/saindo.\r\n * Só exclui transferências internas (pgto de fatura / aplicação CDB), que dobrariam contagem.\r\n * (Logo, `saidas` pode ser > Σ gastosPorCategoria, que mostra só os gastos da casa.)\r\n */\r\nfunction totaisMes(lancamentos, mes) {\r\n  const soma = (tipo) => arred(lancamentos\r\n    .filter((l) => l.tipo === tipo && l.status === \"confirmado\" && mesDe(l.data_competencia) === mes\r\n      && !ehTransferencia(l.categoria))\r\n    .reduce((s, l) => s + valorNum(l.valor), 0));\r\n  const saidas = soma(\"saída\");\r\n  const entradas = soma(\"entrada\");\r\n  return { saidas, entradas, saldo: arred(entradas - saidas) };\r\n}\r\n\r\n/**\r\n * Previsão do próximo mês (`mes` = \"MM/YYYY\"): parcelas já lançadas (saídas\r\n * previstas do mês) + projeção das contas fixas ativas cuja categoria ainda NÃO\r\n * aparece no mês. Depósitos previstos = total × proporção (regra do Marcelo).\r\n * @param {{nome, valor_esperado, ativo}[]} contasFixas aba Contas Fixas\r\n * @returns {{gastos:{fixas,parcelas,total}, depositosPrevistos:{[pessoa]:number}}}\r\n */\r\nfunction previsaoProximoMes(lancamentos, contasFixas, salarios, mes, faturaAbertaRows) {\r\n  const prop = proporcoes(salarios);\r\n  const pessoas = Object.keys(prop);\r\n\r\n  // 1. Gastos fixos ativos\r\n  const fixas = arred((contasFixas || [])\r\n    .filter((f) => normalizar(f.ativo) === \"sim\")\r\n    .reduce((s, f) => s + valorNum(f.valor_esperado), 0));\r\n\r\n  // 2. Fatura aberta fechada que VENCE no mês previsto (ciclo vence dia 10/MM). A previsão\r\n  //    de 03/2026 soma a fatura cujo vencimento cai em 03/2026 — não qualquer fatura capturada.\r\n  const faFechadas = (faturaAbertaRows || []).filter((r) =>\r\n    normalizar(r.status) === \"fechado\" && mesDe(normalizarCiclo(r.ciclo)) === mes);\r\n  const faturaTotal = arred(faFechadas.reduce((s, r) => s + valorNum(r.valor), 0));\r\n\r\n  // 3. Gastos exclusivos/pessoais na fatura aberta\r\n  const exclusivoFatura = {};\r\n  for (const p of pessoas) {\r\n    exclusivoFatura[p] = 0;\r\n  }\r\n  for (const r of faFechadas) {\r\n    const dono = categoriaExclusivaDe(r.categoria_c6, pessoas);\r\n    if (dono) {\r\n      exclusivoFatura[dono] = arred(exclusivoFatura[dono] + valorNum(r.valor));\r\n    }\r\n  }\r\n  const exclusivoFaturaTotal = arred(pessoas.reduce((s, p) => s + exclusivoFatura[p], 0));\r\n\r\n  // 4. Base comum (compartilhada)\r\n  const faturaBase = arred(faturaTotal - exclusivoFaturaTotal);\r\n  const totalPrevistoBase = arred(fixas + faturaBase);\r\n\r\n  // 5. Rateio da base proporcional ao salário (conservação de resíduo de arredondamento)\r\n  const parteBase = {};\r\n  let alocado = 0;\r\n  pessoas.forEach((p, idx) => {\r\n    if (idx === pessoas.length - 1) {\r\n      parteBase[p] = arred(totalPrevistoBase - alocado);\r\n    } else {\r\n      parteBase[p] = arred(totalPrevistoBase * prop[p]);\r\n      alocado = arred(alocado + parteBase[p]);\r\n    }\r\n  });\r\n\r\n  // 6. Depósito previsto = cota base proporcional + gastos exclusivos individuais\r\n  const depositosPrevistos = {};\r\n  for (const p of pessoas) {\r\n    depositosPrevistos[p] = arred(parteBase[p] + exclusivoFatura[p]);\r\n  }\r\n\r\n  // 7. Detalhes\r\n  const detalhes = [];\r\n  for (const f of contasFixas || []) {\r\n    if (normalizar(f.ativo) === \"sim\") {\r\n      detalhes.push({ categoria: f.nome, valor: valorNum(f.valor_esperado) });\r\n    }\r\n  }\r\n  if (faturaTotal > 0) {\r\n    detalhes.push({ categoria: \"Fatura Cartão C6\", valor: faturaTotal });\r\n  }\r\n\r\n  const total = arred(fixas + faturaTotal);\r\n\r\n  return { gastos: { fixas, parcelas: faturaTotal, total }, detalhes, depositosPrevistos };\r\n}\r\n\r\n/**\r\n * Comprometido futuro (v2): fatura aberta do ciclo corrente + projeção das parcelas.\r\n * Prospectivo a partir de `hojeISO` (YYYY-MM-DD) — independe do seletor de mês. Bloco\r\n * separado da previsão (anti-dupla-contagem): a projeção é derivada da aba `Parcelas`,\r\n * nunca de `Lançamentos`.\r\n * @param {object[]} faturaAbertaRows linhas da aba FaturaAberta (A:G)\r\n * @param {object[]} parcelasRows linhas da aba Parcelas (A:E) — ciclo_referencia em serial\r\n * @param {object[]} configRows aba Config (chave|valor) — comprometido_horizonte (default 6)\r\n * @returns {{faturaAberta:{ciclo,total,status,porCategoria}|null, parcelas:{vencimento,total}[], horizonte:number}}\r\n */\r\nfunction comprometidoFuturo(faturaAbertaRows, parcelasRows, configRows, hojeISO) {\r\n  let horizonte = 6;\r\n  const cfg = (configRows || []).find((r) => normalizar(r.chave) === \"comprometido_horizonte\");\r\n  if (cfg && Math.floor(Number(cfg.valor)) > 0) horizonte = Math.floor(Number(cfg.valor));\r\n\r\n  // Fatura aberta: só status='fechado' (R3 — rascunho/não-fechado fora do dashboard).\r\n  let faFechadas = (faturaAbertaRows || []).filter((r) => normalizar(r.status) === \"fechado\");\r\n  let faturaAberta = null;\r\n  if (faFechadas.length) {\r\n    // A aba é clear+write de um único ciclo; mas se sobrarem 'fechado' de ciclos diferentes\r\n    // (reseed parcial), ancora no ciclo mais recente — evita total e rótulo divergirem.\r\n    const ciclos = [...new Set(faFechadas.map((r) => normalizarCiclo(r.ciclo)))]\r\n      .filter(Boolean)\r\n      .sort((a, b) => -(mesesEntreVencimentos(a, b) || 0)); // crescente (mesesEntre = b−a)\r\n    const ciclo = ciclos[ciclos.length - 1];\r\n    faFechadas = faFechadas.filter((r) => normalizarCiclo(r.ciclo) === ciclo);\r\n    const total = arred(faFechadas.reduce((s, r) => s + valorNum(r.valor), 0));\r\n    const catMap = new Map();\r\n    for (const r of faFechadas) {\r\n      const c = (r.categoria_c6 && String(r.categoria_c6).trim()) || \"Outros\";\r\n      catMap.set(c, (catMap.get(c) || 0) + valorNum(r.valor));\r\n    }\r\n    const porCategoria = [...catMap.entries()]\r\n      .map(([categoria, t]) => ({ categoria, total: arred(t) }))\r\n      .sort((a, b) => b.total - a.total);\r\n    faturaAberta = { ciclo, total, status: \"fechado\", porCategoria };\r\n  }\r\n\r\n  // Âncora = max(ciclo da fatura aberta, vencimento do ciclo aberto de hoje) — Q2.\r\n  // Se vencHoje falhar (hoje malformado), usa o ciclo da fatura aberta como âncora.\r\n  const vencHoje = vencimentoCicloAberto(hojeISO);\r\n  let ancora = vencHoje;\r\n  if (faturaAberta && (!vencHoje || mesesEntreVencimentos(vencHoje, faturaAberta.ciclo) > 0)) {\r\n    ancora = faturaAberta.ciclo;\r\n  }\r\n\r\n  const parcelaRows = (parcelasRows || []).map((r) => ({\r\n    estabelecimento: r.estabelecimento,\r\n    valor: valorNum(r.valor),\r\n    M: Number(r.M),\r\n    N_no_seed: Number(r.N_no_seed),\r\n    ciclo_referencia: normalizarCiclo(r.ciclo_referencia),\r\n  }));\r\n  const parcelas = ancora ? projetarComprometido(parcelaRows, ancora, horizonte) : [];\r\n  return { faturaAberta, parcelas, horizonte };\r\n}\r\n\r\n\n// Relatório mensal financeiro (Telegram) — lógica pura. TDD em relatorio.test.js.\r\n// Implementa gstack/plans/relatorio-mensal.md. Reusa dashboard.js e rateio.js (DRY).\r\nconst MESES = [\"janeiro\", \"fevereiro\", \"março\", \"abril\", \"maio\", \"junho\",\r\n  \"julho\", \"agosto\", \"setembro\", \"outubro\", \"novembro\", \"dezembro\"];\r\n\r\n/** \"MM/YYYY\" → \"março/2025\" (fallback ao próprio valor). */\r\nfunction nomeMes(mes) {\r\n  const m = /^(\\d{2})\\/(\\d{4})$/.exec(String(mes));\r\n  return m ? `${MESES[Number(m[1]) - 1] || m[1]}/${m[2]}` : String(mes);\r\n}\r\n\r\n/** Moeda BR: 1253 → \"R$ 1.253,00\" (sempre módulo; sinal tratado pelo chamador). */\r\nfunction brl(n) {\r\n  const [int, dec] = Math.abs(arred(Number(n))).toFixed(2).split(\".\");\r\n  return `R$ ${int.replace(/\\B(?=(\\d{3})+(?!\\d))/g, \".\")},${dec}`;\r\n}\r\n\r\n/** Escapa para parse_mode HTML do Telegram. */\r\nfunction esc(s) {\r\n  return String(s == null ? \"\" : s)\r\n    .replace(/&/g, \"&amp;\").replace(/</g, \"&lt;\").replace(/>/g, \"&gt;\");\r\n}\r\n\r\n/**\r\n * Contas fixas a pagar no mês vigente (`mesFixos` = \"MM/YYYY\"), com datas de\r\n * vencimento. Mensais: 1 linha cada (ordenada por dia). Empregada (semanal):\r\n * agrupada em 1 linha \"sextas\". Fatura do cartão: Σ origem=\"cartao\" cuja\r\n * data_competencia (= vencimento) cai no mês; vencimento = Config.cartao_vencimento_dia.\r\n * @returns {{linhas: {nome,valor,vencimento,obs?}[], subtotal: number}}\r\n */\r\nfunction contasFixasDoMes(contasFixas, lancamentos, config, mesFixos) {\r\n  const linhas = [];\r\n  for (const f of contasFixas || []) {\r\n    if (normalizar(f.ativo) !== \"sim\") continue;\r\n    const dia = Number(f.dia_vencimento);\r\n    const numerico = Number.isFinite(dia) && String(f.dia_vencimento).trim() !== \"\";\r\n    linhas.push({\r\n      nome: f.nome,\r\n      valor: arred(valorNum(f.valor_esperado)),\r\n      vencimento: numerico ? `dia ${dia}` : \"sextas\",\r\n      _dia: numerico ? dia : Infinity,\r\n    });\r\n  }\r\n\r\n  const diaCartao = Number((config || {}).cartao_vencimento_dia) || 10;\r\n  // Fatura LÍQUIDA do mês: saídas menos créditos/estornos (entrada). Antes somava\r\n  // entrada como positivo (inflava) e não excluía transferências (ex.: pagamento\r\n  // da própria fatura, se rotulado). Espelha o resumo.total do parser-cartao.\r\n  const fatura = arred((lancamentos || [])\r\n    .filter((l) => normalizar(l.origem) === \"cartao\" && !ehTransferencia(l.categoria)\r\n      && mesDe(l.data_competencia) === mesFixos)\r\n    .reduce((s, l) => s + (l.tipo === \"entrada\" ? -valorNum(l.valor) : valorNum(l.valor)), 0));\r\n  const cartao = { nome: \"Cartão C6\", valor: fatura, vencimento: `dia ${diaCartao}`, _dia: diaCartao };\r\n  if (fatura === 0) cartao.obs = \"fatura ainda não importada\";\r\n  linhas.push(cartao);\r\n\r\n  linhas.sort((a, b) => a._dia - b._dia);\r\n  const subtotal = arred(linhas.reduce((s, l) => s + l.valor, 0));\r\n  for (const l of linhas) delete l._dia;\r\n  return { linhas, subtotal };\r\n}\r\n\r\n/** Idempotência do cron: false se já existe `relatorio_enviado` desse mesGastos. */\r\nfunction deveEnviarCron(logs, mesGastos) {\r\n  return !(logs || []).some(\r\n    (l) => l.acao === \"relatorio_enviado\" && String(l.valor_anterior) === mesGastos);\r\n}\r\n\r\n/**\r\n * Monta o texto HTML do relatório.\r\n * @param {{lancamentos, contasFixas, salarios, config}} dados\r\n * @param {{mesGastos, mesFixos, urlPlanilha}} opts\r\n * @returns {{texto: string}}\r\n */\r\nfunction montarRelatorio(dados, opts) {\r\n  const { lancamentos, contasFixas, salarios, config } = dados;\r\n  const { mesGastos, mesFixos, urlPlanilha } = opts;\r\n  const L = [];\r\n\r\n  const tot = totaisMes(lancamentos, mesGastos);\r\n  L.push(`📊 <b>Relatório — ${esc(nomeMes(mesGastos))}</b>`, \"\");\r\n  L.push(\"<b>Gastos do mês</b>\");\r\n  L.push(`Saídas: ${brl(tot.saidas)}`);\r\n  L.push(`Entradas: ${brl(tot.entradas)}`);\r\n  L.push(`Saldo: ${brl(tot.saldo)}${tot.saldo < 0 ? \" (negativo)\" : \"\"}`);\r\n\r\n  const cats = gastosPorCategoria(lancamentos, mesGastos);\r\n  if (cats.length) {\r\n    L.push(\"\", \"<b>Por categoria</b>\");\r\n    for (const c of cats.slice(0, 5)) L.push(`• ${esc(c.categoria)}: ${brl(c.confirmado)}`);\r\n    const resto = arred(cats.slice(5).reduce((s, c) => s + c.confirmado, 0));\r\n    if (resto > 0) L.push(`• Outras: ${brl(resto)}`);\r\n  }\r\n\r\n  L.push(\"\", \"<b>Rateio</b>\");\r\n  try {\r\n    const r = rateioMes(lancamentos, salarios, mesGastos);\r\n    for (const p of Object.keys(r.acerto)) {\r\n      const a = r.acerto[p];\r\n      const txt = a > 0 ? `deve ${brl(a)}` : a < 0 ? `crédito ${brl(a)}` : \"quitado\";\r\n      L.push(`• ${esc(p)}: ${txt}`);\r\n    }\r\n  } catch (e) {\r\n    L.push(\"⚠️ rateio indisponível (configure a aba Salários)\");\r\n  }\r\n\r\n  const fix = contasFixasDoMes(contasFixas, lancamentos, config, mesFixos);\r\n  L.push(\"\", `<b>Contas fixas — ${esc(nomeMes(mesFixos))}</b>`);\r\n  for (const l of fix.linhas) {\r\n    const obs = l.obs ? ` (${esc(l.obs)})` : \"\";\r\n    L.push(`• ${esc(l.nome)} — ${brl(l.valor)} — ${esc(l.vencimento)}${obs}`);\r\n  }\r\n  L.push(`Subtotal: ${brl(fix.subtotal)}`);\r\n\r\n  if (urlPlanilha) L.push(\"\", `🔗 <a href=\"${esc(urlPlanilha)}\">Dashboard</a>`);\r\n\r\n  return { texto: L.join(\"\\n\") };\r\n}\r\n\r\n\n// Variante individual (sem rateio) de workflows/src/relatorio.js#montarRelatorio.\n// Reaproveita totaisMes/gastosPorCategoria (dashboard.js) e contasFixasDoMes/nomeMes/\n// brl/esc (relatorio.js) SEM MODIFICÁ-LOS — só omite a seção \"Rateio\" (que depende de\n// Salários, um conceito exclusivo do modo casal e que não existe no Notion da Harumi).\n// Requires normais (como o próprio relatorio.js faz) — o gerador remove essas linhas\n// (semRequireLocal, mesmo padrão de scripts/gerar-workflow-relatorio.js) antes de\n// concatenar tudo num só Code node; aqui eles só existem pra este arquivo ser\n// testável via `node relatorio-notion-extra.test.js` normal.\n\n\n\n/**\n * @param {{lancamentos, contasFixas, config}} dados (sem `salarios` — modo individual)\n * @param {{mesGastos, mesFixos, urlDashboard}} opts urlDashboard opcional (Fase D adiciona o link)\n */\nfunction montarRelatorioIndividual(dados, opts) {\n  const { lancamentos, contasFixas, config } = dados;\n  const { mesGastos, mesFixos, urlDashboard } = opts;\n  const L = [];\n\n  const tot = totaisMes(lancamentos, mesGastos);\n  L.push(`📊 <b>Relatório — ${esc(nomeMes(mesGastos))}</b>`, \"\");\n  L.push(\"<b>Gastos do mês</b>\");\n  L.push(`Saídas: ${brl(tot.saidas)}`);\n  L.push(`Entradas: ${brl(tot.entradas)}`);\n  L.push(`Saldo: ${brl(tot.saldo)}${tot.saldo < 0 ? \" (negativo)\" : \"\"}`);\n\n  const cats = gastosPorCategoria(lancamentos, mesGastos);\n  if (cats.length) {\n    L.push(\"\", \"<b>Por categoria</b>\");\n    for (const c of cats.slice(0, 5)) L.push(`• ${esc(c.categoria)}: ${brl(c.confirmado)}`);\n    const resto = arred(cats.slice(5).reduce((s, c) => s + c.confirmado, 0));\n    if (resto > 0) L.push(`• Outras: ${brl(resto)}`);\n  }\n\n  const fix = contasFixasDoMes(contasFixas, lancamentos, config, mesFixos);\n  L.push(\"\", `<b>Contas fixas — ${esc(nomeMes(mesFixos))}</b>`);\n  for (const l of fix.linhas) {\n    const obs = l.obs ? ` (${esc(l.obs)})` : \"\";\n    L.push(`• ${esc(l.nome)} — ${brl(l.valor)} — ${esc(l.vencimento)}${obs}`);\n  }\n  L.push(`Subtotal: ${brl(fix.subtotal)}`);\n\n  if (urlDashboard) L.push(\"\", `🔗 <a href=\"${esc(urlDashboard)}\">Dashboard</a>`);\n\n  return { texto: L.join(\"\\n\") };\n}\n\n// Mapeamento puro entre o shape \"flat\" usado pela lógica de negócio reaproveitada de\n// workflows/src/*.js (parser-cartao, parser-conta, dashboard, rateio, ...) e o formato\n// de properties da API do Notion (POST /v1/pages, POST /v1/databases/{id}/query).\n// Sem I/O — só transformação de dados. Concatenado nos Code nodes do n8n junto com\n// os módulos puros originais (ver scripts/gerar-workflow-*-notion.js).\n// Implementa a Fase A de gstack (schema em workflows-harumi/README... ver plano da branch).\n\n/** \"DD/MM/YYYY\" ou \"YYYY-MM-DD\" → \"YYYY-MM-DD\" (Notion exige ISO); inválido/vazio → null. */\nfunction paraIso(data) {\n  if (data === null || data === undefined || data === \"\") return null;\n  const s = String(data).trim();\n  let m;\n  if ((m = /^(\\d{4})-(\\d{2})-(\\d{2})/.exec(s))) return `${m[1]}-${m[2]}-${m[3]}`;\n  if ((m = /^(\\d{2})\\/(\\d{2})\\/(\\d{4})$/.exec(s))) return `${m[3]}-${m[2]}-${m[1]}`;\n  return null;\n}\n\n/**\n * Texto plano de uma property title/rich_text do Notion. As demais funções de\n * leitura (paraObjeto*) devolvem \"YYYY-MM-DD\" para datas — mesDe()/normalizarData()\n * em workflows/src/*.js já aceitam esse formato ISO nativamente, então nenhuma\n * conversão adicional é necessária na leitura (só na escrita, via paraIso).\n */\nfunction textoDe(prop) {\n  if (!prop) return \"\";\n  const arr = prop.title || prop.rich_text || [];\n  return arr.map((t) => t.plain_text || \"\").join(\"\");\n}\n\nconst richText = (s) => (s ? [{ text: { content: String(s).slice(0, 2000) } }] : []);\nconst selectOrNull = (s) => (s ? { select: { name: String(s) } } : { select: null });\nconst dateOrNull = (isoOuBr) => {\n  const iso = paraIso(isoOuBr);\n  return iso ? { date: { start: iso } } : { date: null };\n};\n\n// ─── Lançamentos ────────────────────────────────────────────────────────────\n\n/** Page do Notion (results[i] de um query em Lançamentos) → objeto flat esperado pelos parsers/dashboard. */\nfunction paraObjetoLancamento(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    data_competencia: (p[\"Data Competência\"] && p[\"Data Competência\"].date && p[\"Data Competência\"].date.start) || \"\",\n    data_original: (p[\"Data Original\"] && p[\"Data Original\"].date && p[\"Data Original\"].date.start) || \"\",\n    descricao: textoDe(p[\"Descrição\"]),\n    titulo: \"\",\n    valor: (p[\"Valor\"] && p[\"Valor\"].number) || 0,\n    categoria: (p[\"Categoria\"] && p[\"Categoria\"].select && p[\"Categoria\"].select.name) || \"\",\n    tipo: (p[\"Tipo\"] && p[\"Tipo\"].select && p[\"Tipo\"].select.name) || \"\",\n    origem: (p[\"Origem\"] && p[\"Origem\"].select && p[\"Origem\"].select.name) || \"\",\n    status: (p[\"Status\"] && p[\"Status\"].select && p[\"Status\"].select.name) || \"\",\n    id_meta: textoDe(p[\"Meta\"]),\n  };\n}\n\n/** Objeto flat (saída do parser-cartao/parser-conta) → properties para criar a page no Notion. */\nfunction propsDeLancamento(l) {\n  return {\n    \"Descrição\": { title: richText(l.descricao || l.titulo || \"(sem descrição)\") },\n    \"Valor\": { number: Number(l.valor) || 0 },\n    \"Categoria\": selectOrNull(l.categoria),\n    \"Tipo\": selectOrNull(l.tipo),\n    \"Origem\": selectOrNull(l.origem),\n    \"Status\": selectOrNull(l.status),\n    \"Meta\": { rich_text: richText(l.id_meta) },\n    \"Data Competência\": dateOrNull(l.data_competencia),\n    \"Data Original\": dateOrNull(l.data_original),\n  };\n}\n\n/** Update parcial (PATCH) de um Lançamento: só Categoria+Meta — não toca nas demais properties. */\nfunction propsCategoriaEMeta(categoria, idMeta) {\n  return { \"Categoria\": selectOrNull(categoria), \"Meta\": { rich_text: richText(idMeta) } };\n}\n\n// ─── Dicionário ─────────────────────────────────────────────────────────────\n\nfunction paraObjetoDicionario(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    descricao_original: textoDe(p[\"Descrição Original\"]),\n    categoria_mapeada: (p[\"Categoria Mapeada\"] && p[\"Categoria Mapeada\"].select && p[\"Categoria Mapeada\"].select.name) || \"\",\n    origem: (p[\"Origem\"] && p[\"Origem\"].select && p[\"Origem\"].select.name) || \"\",\n    criado_em: (p[\"Criado Em\"] && p[\"Criado Em\"].date && p[\"Criado Em\"].date.start) || \"\",\n  };\n}\n\n/** Dicionário lido vira { chave, categoria } (contrato de parser-cartao.categorizar / parser-conta). */\nfunction paraDicionarioChaveCategoria(objetosDicionario) {\n  return objetosDicionario.map((d) => ({ chave: d.descricao_original, categoria: d.categoria_mapeada }));\n}\n\nfunction propsDeDicionario(d) {\n  // Criado Em nunca fica vazio: cai no dia de hoje se d.criado_em não vier preenchido.\n  const criadoEm = paraIso(d.criado_em) || new Date().toISOString().slice(0, 10);\n  return {\n    \"Descrição Original\": { title: richText(d.descricao_original || \"(vazio)\") },\n    \"Categoria Mapeada\": selectOrNull(d.categoria_mapeada),\n    \"Origem\": selectOrNull(d.origem),\n    \"Criado Em\": { date: { start: criadoEm } },\n  };\n}\n\n// ─── Categorias ─────────────────────────────────────────────────────────────\n\nfunction paraObjetoCategoria(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    nome: textoDe(p[\"Nome\"]),\n    tipo: (p[\"Tipo\"] && p[\"Tipo\"].select && p[\"Tipo\"].select.name) || \"\",\n    ativo: !!(p[\"Ativo\"] && p[\"Ativo\"].checkbox),\n  };\n}\n\nfunction propsDeCategoria(c) {\n  return {\n    \"Nome\": { title: richText(c.nome || \"(sem nome)\") },\n    \"Tipo\": selectOrNull(c.tipo),\n    \"Ativo\": { checkbox: !!c.ativo },\n  };\n}\n\n// ─── Metas ──────────────────────────────────────────────────────────────────\n// Prazo fica RICH_TEXT (não Date): metas.js aceita \"AAAA-MM\" (sem dia) além de\n// \"AAAA-MM-DD\" — um Date do Notion exige dia, então forçaria uma escolha arbitrária\n// (dia 1? último dia?) que a lógica pura nunca precisou fazer. Texto preserva o\n// valor exatamente como o usuário digitou em /novameta.\n\nfunction paraObjetoMeta(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    nome: textoDe(p[\"Nome\"]),\n    orcamento_total: (p[\"Orçamento Total\"] && p[\"Orçamento Total\"].number) || 0,\n    valor_acumulado: (p[\"Valor Acumulado\"] && p[\"Valor Acumulado\"].number) || 0,\n    prazo: textoDe(p[\"Prazo\"]),\n    status: (p[\"Status\"] && p[\"Status\"].select && p[\"Status\"].select.name) || \"\",\n    criado_em: (p[\"Criado Em\"] && p[\"Criado Em\"].date && p[\"Criado Em\"].date.start) || \"\",\n  };\n}\n\nfunction propsDeMeta(m) {\n  const criadoEm = paraIso(m.criado_em) || new Date().toISOString().slice(0, 10);\n  return {\n    \"Nome\": { title: richText(m.nome || \"(sem nome)\") },\n    \"Orçamento Total\": { number: Number(m.orcamento_total) || 0 },\n    \"Valor Acumulado\": { number: Number(m.valor_acumulado) || 0 },\n    \"Prazo\": { rich_text: richText(m.prazo) },\n    \"Status\": selectOrNull(m.status),\n    \"Criado Em\": { date: { start: criadoEm } },\n  };\n}\n\n/** Update parcial: só o cache de progresso (nunca fonte da verdade — ver metas.js). */\nfunction propsValorAcumulado(valor) {\n  return { \"Valor Acumulado\": { number: Number(valor) || 0 } };\n}\n\n/** Update parcial: só o Status (ex.: encerrar uma meta). */\nfunction propsStatus(status) {\n  return { \"Status\": selectOrNull(status) };\n}\n\n// ─── Contas Fixas ───────────────────────────────────────────────────────────\n// Dia Vencimento fica RICH_TEXT (não Number): lembretes.js aceita tanto um dia\n// numérico (1–31) quanto o literal \"sexta-feira\" (contas semanais) — um Number\n// do Notion não representaria essa segunda forma.\n\nfunction paraObjetoContaFixa(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    nome: textoDe(p[\"Nome\"]),\n    dia_vencimento: textoDe(p[\"Dia Vencimento\"]),\n    valor_esperado: (p[\"Valor Esperado\"] && p[\"Valor Esperado\"].number) || 0,\n    // string \"sim\"/\"não\": lembretes.js/relatorio.js comparam com essa convenção\n    // (normalizar(f.ativo) === \"sim\"), herdada do Sheets — o checkbox boolean do\n    // Notion é traduzido aqui pra não precisar tocar nos dois arquivos compartilhados.\n    ativo: (p[\"Ativo\"] && p[\"Ativo\"].checkbox) ? \"sim\" : \"não\",\n  };\n}\n\nfunction propsDeContaFixa(c) {\n  return {\n    \"Nome\": { title: richText(c.nome || \"(sem nome)\") },\n    \"Dia Vencimento\": { rich_text: richText(c.dia_vencimento) },\n    \"Valor Esperado\": { number: Number(c.valor_esperado) || 0 },\n    \"Ativo\": { checkbox: String(c.ativo).trim().toLowerCase() === \"sim\" },\n  };\n}\n\n// ─── Config ─────────────────────────────────────────────────────────────────\n\nfunction paraObjetoConfig(page) {\n  const p = (page && page.properties) || {};\n  return { _id: page && page.id, chave: textoDe(p[\"Chave\"]), valor: textoDe(p[\"Valor\"]) };\n}\n\nfunction propsDeConfig(c) {\n  return {\n    \"Chave\": { title: richText(c.chave || \"(sem chave)\") },\n    \"Valor\": { rich_text: richText(c.valor) },\n  };\n}\n\n// ─── Log ────────────────────────────────────────────────────────────────────\n\n/** Necessário a partir da Fase B: categorizacao-hibrida lê o Log p/ não perguntar 2x. */\nfunction paraObjetoLog(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    timestamp: (p[\"Timestamp\"] && p[\"Timestamp\"].date && p[\"Timestamp\"].date.start) || \"\",\n    acao: textoDe(p[\"Ação\"]),\n    entidade: textoDe(p[\"Entidade\"]),\n    valor_anterior: textoDe(p[\"Valor Anterior\"]),\n    valor_novo: textoDe(p[\"Valor Novo\"]),\n    origem: (p[\"Origem\"] && p[\"Origem\"].select && p[\"Origem\"].select.name) || \"\",\n  };\n}\n\nfunction propsDeLog(l) {\n  const registro = `${l.acao || \"\"} — ${l.entidade || \"\"}`.trim();\n  return {\n    \"Registro\": { title: richText(registro || \"log\") },\n    \"Timestamp\": { date: { start: l.timestamp || new Date().toISOString() } },\n    \"Ação\": { rich_text: richText(l.acao) },\n    \"Entidade\": { rich_text: richText(l.entidade) },\n    \"Valor Anterior\": { rich_text: richText(l.valor_anterior) },\n    \"Valor Novo\": { rich_text: richText(l.valor_novo) },\n    \"Origem\": selectOrNull(l.origem),\n  };\n}\n\n\n\n// ── Glue (cron): fecha o mês anterior; contas fixas do mês vigente (Notion) ──\nconst mesVigente = (iso) => { const [y, m] = iso.split('-'); return m + '/' + y; };\nconst mesAnterior = (iso) => { let [y, m] = iso.split('-').map(Number); m -= 1;\n  if (m === 0) { m = 12; y -= 1; } return String(m).padStart(2, '0') + '/' + y; };\nconst cfgDict = (rows) => { const o = {}; for (const r of rows) o[r.chave] = r.valor; return o; };\nconst hoje = new Date().toLocaleDateString('en-CA', { timeZone: 'America/Sao_Paulo' });\nconst brutos = $('Ler Dados (Notion)').first().json;\nconst lanc = brutos.lancamentos.map(paraObjetoLancamento);\nconst fixas = brutos.contasFixas.map(paraObjetoContaFixa);\nconst cfg = cfgDict(brutos.configRows.map(paraObjetoConfig));\nconst logs = brutos.logRelatorio.map(paraObjetoLog);\nconst mesGastos = mesAnterior(hoje), mesFixos = mesVigente(hoje);\nif (!deveEnviarCron(logs, mesGastos)) return []; // já enviou este mês → no-op\nconst { texto } = montarRelatorioIndividual({ lancamentos: lanc, contasFixas: fixas, config: cfg },\n  { mesGastos, mesFixos });\nreturn [{ json: { texto, log: { timestamp: new Date().toISOString(),\n  acao: 'relatorio_enviado', entidade: 'Relatorio', valor_anterior: mesGastos,\n  valor_novo: '', origem: 'relatorio-mensal' } } }];"
      },
      "id": "finrelatme-03"
    },
    {
      "name": "Enviar Relatório",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        0
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $env.TELEGRAM_CHAT_ID, text: $json.texto, parse_mode: 'HTML', disable_web_page_preview: true }) }}",
        "options": {}
      },
      "id": "finrelatme-04"
    },
    {
      "name": "Linha Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        0
      ],
      "parameters": {
        "jsCode": "const envios = $input.all();\nreturn $('Montar').all()\n  .filter((i, idx) => !(envios[idx] && envios[idx].json && envios[idx].json.error))\n  .map((i) => ({ json: i.json.log }));"
      },
      "id": "finrelatme-05"
    },
    {
      "name": "Gravar Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        0
      ],
      "parameters": {
        "jsCode": "// ── Notion: HTTP cru + paginação (this.helpers vem do runtime do Code node) ──\nconst NOTION_TOKEN = $env.NOTION_TOKEN;\nconst NOTION_VERSION = $env.NOTION_VERSION || '2022-06-28';\nconst HELPERS = this.helpers;\nfunction notionHeaders() {\n  return { Authorization: `Bearer ${NOTION_TOKEN}`, 'Notion-Version': NOTION_VERSION, 'Content-Type': 'application/json' };\n}\nasync function notionQueryAll(databaseId, filter, sorts) {\n  let results = [];\n  let cursor;\n  do {\n    const body = { page_size: 100 };\n    if (filter) body.filter = filter;\n    if (sorts) body.sorts = sorts;\n    if (cursor) body.start_cursor = cursor;\n    const resp = await HELPERS.httpRequest({\n      method: 'POST',\n      url: `https://api.notion.com/v1/databases/${databaseId}/query`,\n      headers: notionHeaders(),\n      body,\n      json: true,\n    });\n    results = results.concat(resp.results || []);\n    cursor = resp.has_more ? resp.next_cursor : null;\n  } while (cursor);\n  return results;\n}\nasync function notionCreatePage(databaseId, properties) {\n  return HELPERS.httpRequest({\n    method: 'POST',\n    url: 'https://api.notion.com/v1/pages',\n    headers: notionHeaders(),\n    body: { parent: { database_id: databaseId }, properties },\n    json: true,\n  });\n}\nasync function notionUpdatePage(pageId, properties) {\n  return HELPERS.httpRequest({\n    method: 'PATCH',\n    url: `https://api.notion.com/v1/pages/${pageId}`,\n    headers: notionHeaders(),\n    body: { properties },\n    json: true,\n  });\n}\n// Mapeamento puro entre o shape \"flat\" usado pela lógica de negócio reaproveitada de\n// workflows/src/*.js (parser-cartao, parser-conta, dashboard, rateio, ...) e o formato\n// de properties da API do Notion (POST /v1/pages, POST /v1/databases/{id}/query).\n// Sem I/O — só transformação de dados. Concatenado nos Code nodes do n8n junto com\n// os módulos puros originais (ver scripts/gerar-workflow-*-notion.js).\n// Implementa a Fase A de gstack (schema em workflows-harumi/README... ver plano da branch).\n\n/** \"DD/MM/YYYY\" ou \"YYYY-MM-DD\" → \"YYYY-MM-DD\" (Notion exige ISO); inválido/vazio → null. */\nfunction paraIso(data) {\n  if (data === null || data === undefined || data === \"\") return null;\n  const s = String(data).trim();\n  let m;\n  if ((m = /^(\\d{4})-(\\d{2})-(\\d{2})/.exec(s))) return `${m[1]}-${m[2]}-${m[3]}`;\n  if ((m = /^(\\d{2})\\/(\\d{2})\\/(\\d{4})$/.exec(s))) return `${m[3]}-${m[2]}-${m[1]}`;\n  return null;\n}\n\n/**\n * Texto plano de uma property title/rich_text do Notion. As demais funções de\n * leitura (paraObjeto*) devolvem \"YYYY-MM-DD\" para datas — mesDe()/normalizarData()\n * em workflows/src/*.js já aceitam esse formato ISO nativamente, então nenhuma\n * conversão adicional é necessária na leitura (só na escrita, via paraIso).\n */\nfunction textoDe(prop) {\n  if (!prop) return \"\";\n  const arr = prop.title || prop.rich_text || [];\n  return arr.map((t) => t.plain_text || \"\").join(\"\");\n}\n\nconst richText = (s) => (s ? [{ text: { content: String(s).slice(0, 2000) } }] : []);\nconst selectOrNull = (s) => (s ? { select: { name: String(s) } } : { select: null });\nconst dateOrNull = (isoOuBr) => {\n  const iso = paraIso(isoOuBr);\n  return iso ? { date: { start: iso } } : { date: null };\n};\n\n// ─── Lançamentos ────────────────────────────────────────────────────────────\n\n/** Page do Notion (results[i] de um query em Lançamentos) → objeto flat esperado pelos parsers/dashboard. */\nfunction paraObjetoLancamento(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    data_competencia: (p[\"Data Competência\"] && p[\"Data Competência\"].date && p[\"Data Competência\"].date.start) || \"\",\n    data_original: (p[\"Data Original\"] && p[\"Data Original\"].date && p[\"Data Original\"].date.start) || \"\",\n    descricao: textoDe(p[\"Descrição\"]),\n    titulo: \"\",\n    valor: (p[\"Valor\"] && p[\"Valor\"].number) || 0,\n    categoria: (p[\"Categoria\"] && p[\"Categoria\"].select && p[\"Categoria\"].select.name) || \"\",\n    tipo: (p[\"Tipo\"] && p[\"Tipo\"].select && p[\"Tipo\"].select.name) || \"\",\n    origem: (p[\"Origem\"] && p[\"Origem\"].select && p[\"Origem\"].select.name) || \"\",\n    status: (p[\"Status\"] && p[\"Status\"].select && p[\"Status\"].select.name) || \"\",\n    id_meta: textoDe(p[\"Meta\"]),\n  };\n}\n\n/** Objeto flat (saída do parser-cartao/parser-conta) → properties para criar a page no Notion. */\nfunction propsDeLancamento(l) {\n  return {\n    \"Descrição\": { title: richText(l.descricao || l.titulo || \"(sem descrição)\") },\n    \"Valor\": { number: Number(l.valor) || 0 },\n    \"Categoria\": selectOrNull(l.categoria),\n    \"Tipo\": selectOrNull(l.tipo),\n    \"Origem\": selectOrNull(l.origem),\n    \"Status\": selectOrNull(l.status),\n    \"Meta\": { rich_text: richText(l.id_meta) },\n    \"Data Competência\": dateOrNull(l.data_competencia),\n    \"Data Original\": dateOrNull(l.data_original),\n  };\n}\n\n/** Update parcial (PATCH) de um Lançamento: só Categoria+Meta — não toca nas demais properties. */\nfunction propsCategoriaEMeta(categoria, idMeta) {\n  return { \"Categoria\": selectOrNull(categoria), \"Meta\": { rich_text: richText(idMeta) } };\n}\n\n// ─── Dicionário ─────────────────────────────────────────────────────────────\n\nfunction paraObjetoDicionario(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    descricao_original: textoDe(p[\"Descrição Original\"]),\n    categoria_mapeada: (p[\"Categoria Mapeada\"] && p[\"Categoria Mapeada\"].select && p[\"Categoria Mapeada\"].select.name) || \"\",\n    origem: (p[\"Origem\"] && p[\"Origem\"].select && p[\"Origem\"].select.name) || \"\",\n    criado_em: (p[\"Criado Em\"] && p[\"Criado Em\"].date && p[\"Criado Em\"].date.start) || \"\",\n  };\n}\n\n/** Dicionário lido vira { chave, categoria } (contrato de parser-cartao.categorizar / parser-conta). */\nfunction paraDicionarioChaveCategoria(objetosDicionario) {\n  return objetosDicionario.map((d) => ({ chave: d.descricao_original, categoria: d.categoria_mapeada }));\n}\n\nfunction propsDeDicionario(d) {\n  // Criado Em nunca fica vazio: cai no dia de hoje se d.criado_em não vier preenchido.\n  const criadoEm = paraIso(d.criado_em) || new Date().toISOString().slice(0, 10);\n  return {\n    \"Descrição Original\": { title: richText(d.descricao_original || \"(vazio)\") },\n    \"Categoria Mapeada\": selectOrNull(d.categoria_mapeada),\n    \"Origem\": selectOrNull(d.origem),\n    \"Criado Em\": { date: { start: criadoEm } },\n  };\n}\n\n// ─── Categorias ─────────────────────────────────────────────────────────────\n\nfunction paraObjetoCategoria(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    nome: textoDe(p[\"Nome\"]),\n    tipo: (p[\"Tipo\"] && p[\"Tipo\"].select && p[\"Tipo\"].select.name) || \"\",\n    ativo: !!(p[\"Ativo\"] && p[\"Ativo\"].checkbox),\n  };\n}\n\nfunction propsDeCategoria(c) {\n  return {\n    \"Nome\": { title: richText(c.nome || \"(sem nome)\") },\n    \"Tipo\": selectOrNull(c.tipo),\n    \"Ativo\": { checkbox: !!c.ativo },\n  };\n}\n\n// ─── Metas ──────────────────────────────────────────────────────────────────\n// Prazo fica RICH_TEXT (não Date): metas.js aceita \"AAAA-MM\" (sem dia) além de\n// \"AAAA-MM-DD\" — um Date do Notion exige dia, então forçaria uma escolha arbitrária\n// (dia 1? último dia?) que a lógica pura nunca precisou fazer. Texto preserva o\n// valor exatamente como o usuário digitou em /novameta.\n\nfunction paraObjetoMeta(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    nome: textoDe(p[\"Nome\"]),\n    orcamento_total: (p[\"Orçamento Total\"] && p[\"Orçamento Total\"].number) || 0,\n    valor_acumulado: (p[\"Valor Acumulado\"] && p[\"Valor Acumulado\"].number) || 0,\n    prazo: textoDe(p[\"Prazo\"]),\n    status: (p[\"Status\"] && p[\"Status\"].select && p[\"Status\"].select.name) || \"\",\n    criado_em: (p[\"Criado Em\"] && p[\"Criado Em\"].date && p[\"Criado Em\"].date.start) || \"\",\n  };\n}\n\nfunction propsDeMeta(m) {\n  const criadoEm = paraIso(m.criado_em) || new Date().toISOString().slice(0, 10);\n  return {\n    \"Nome\": { title: richText(m.nome || \"(sem nome)\") },\n    \"Orçamento Total\": { number: Number(m.orcamento_total) || 0 },\n    \"Valor Acumulado\": { number: Number(m.valor_acumulado) || 0 },\n    \"Prazo\": { rich_text: richText(m.prazo) },\n    \"Status\": selectOrNull(m.status),\n    \"Criado Em\": { date: { start: criadoEm } },\n  };\n}\n\n/** Update parcial: só o cache de progresso (nunca fonte da verdade — ver metas.js). */\nfunction propsValorAcumulado(valor) {\n  return { \"Valor Acumulado\": { number: Number(valor) || 0 } };\n}\n\n/** Update parcial: só o Status (ex.: encerrar uma meta). */\nfunction propsStatus(status) {\n  return { \"Status\": selectOrNull(status) };\n}\n\n// ─── Contas Fixas ───────────────────────────────────────────────────────────\n// Dia Vencimento fica RICH_TEXT (não Number): lembretes.js aceita tanto um dia\n// numérico (1–31) quanto o literal \"sexta-feira\" (contas semanais) — um Number\n// do Notion não representaria essa segunda forma.\n\nfunction paraObjetoContaFixa(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    nome: textoDe(p[\"Nome\"]),\n    dia_vencimento: textoDe(p[\"Dia Vencimento\"]),\n    valor_esperado: (p[\"Valor Esperado\"] && p[\"Valor Esperado\"].number) || 0,\n    // string \"sim\"/\"não\": lembretes.js/relatorio.js comparam com essa convenção\n    // (normalizar(f.ativo) === \"sim\"), herdada do Sheets — o checkbox boolean do\n    // Notion é traduzido aqui pra não precisar tocar nos dois arquivos compartilhados.\n    ativo: (p[\"Ativo\"] && p[\"Ativo\"].checkbox) ? \"sim\" : \"não\",\n  };\n}\n\nfunction propsDeContaFixa(c) {\n  return {\n    \"Nome\": { title: richText(c.nome || \"(sem nome)\") },\n    \"Dia Vencimento\": { rich_text: richText(c.dia_vencimento) },\n    \"Valor Esperado\": { number: Number(c.valor_esperado) || 0 },\n    \"Ativo\": { checkbox: String(c.ativo).trim().toLowerCase() === \"sim\" },\n  };\n}\n\n// ─── Config ─────────────────────────────────────────────────────────────────\n\nfunction paraObjetoConfig(page) {\n  const p = (page && page.properties) || {};\n  return { _id: page && page.id, chave: textoDe(p[\"Chave\"]), valor: textoDe(p[\"Valor\"]) };\n}\n\nfunction propsDeConfig(c) {\n  return {\n    \"Chave\": { title: richText(c.chave || \"(sem chave)\") },\n    \"Valor\": { rich_text: richText(c.valor) },\n  };\n}\n\n// ─── Log ────────────────────────────────────────────────────────────────────\n\n/** Necessário a partir da Fase B: categorizacao-hibrida lê o Log p/ não perguntar 2x. */\nfunction paraObjetoLog(page) {\n  const p = (page && page.properties) || {};\n  return {\n    _id: page && page.id,\n    timestamp: (p[\"Timestamp\"] && p[\"Timestamp\"].date && p[\"Timestamp\"].date.start) || \"\",\n    acao: textoDe(p[\"Ação\"]),\n    entidade: textoDe(p[\"Entidade\"]),\n    valor_anterior: textoDe(p[\"Valor Anterior\"]),\n    valor_novo: textoDe(p[\"Valor Novo\"]),\n    origem: (p[\"Origem\"] && p[\"Origem\"].select && p[\"Origem\"].select.name) || \"\",\n  };\n}\n\nfunction propsDeLog(l) {\n  const registro = `${l.acao || \"\"} — ${l.entidade || \"\"}`.trim();\n  return {\n    \"Registro\": { title: richText(registro || \"log\") },\n    \"Timestamp\": { date: { start: l.timestamp || new Date().toISOString() } },\n    \"Ação\": { rich_text: richText(l.acao) },\n    \"Entidade\": { rich_text: richText(l.entidade) },\n    \"Valor Anterior\": { rich_text: richText(l.valor_anterior) },\n    \"Valor Novo\": { rich_text: richText(l.valor_novo) },\n    \"Origem\": selectOrNull(l.origem),\n  };\n}\n\n\n\n// ── Glue: cria uma page por item de 'Linha Log' na database NOTION_DB_LOG ──\nconst itens = $input.all();\nconst criadas = [];\nfor (const item of itens) {\n  const page = await notionCreatePage($env.NOTION_DB_LOG, propsDeLog(item.json));\n  criadas.push(page);\n}\nreturn criadas.map((p) => ({ json: { notion_page_id: p.id } }));"
      },
      "id": "finrelatme-06"
    }
  ],
  "connections": {
    "Cron Mensal": {
      "main": [
        [
          {
            "node": "Ler Dados (Notion)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler Dados (Notion)": {
      "main": [
        [
          {
            "node": "Montar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar": {
      "main": [
        [
          {
            "node": "Enviar Relatório",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Relatório": {
      "main": [
        [
          {
            "node": "Linha Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linha Log": {
      "main": [
        [
          {
            "node": "Gravar Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
