workflows-harumi/roteador-central.json
{
  "id": "FinRoteadorHar01",
  "name": "roteador-central (Notion — Harumi, Fase A)",
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "nodes": [
    {
      "name": "Webhook Telegram",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "f1aacea1-0003-4000-8000-harumi0000001",
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-bot-harumi",
        "options": {}
      },
      "id": "fin-rot-harumi-01"
    },
    {
      "name": "Classificar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ],
      "parameters": {
        "jsCode": "// Lógica pura do roteador-central — classificação de updates do Telegram e\r\n// detecção de tipo de CSV. Implementa gstack/plans/roteador-central.md.\r\n\r\nconst RESPOSTAS = {\r\n  boasVindas:\r\n    \"👋 Bot Financeiro ativo!\\n\" +\r\n    \"Envie o ZIP/CSV do extrato ou da fatura do C6 que eu processo.\\n\" +\r\n    \"Fatura aberta: cole após /faturaaberta ou mande como arquivo .txt.\\n\" +\r\n    \"Comandos: /categorizar, /relatorio, /dashboard, /metas, /novameta, \" +\r\n    \"/faturaaberta, /fecharfatura, /seedparcelas.\",\r\n  emConstrucao: (oque) => `🚧 ${oque} em construção — chega nas próximas fases.`,\r\n  comandoDesconhecido: \"Comando não reconhecido. Use /start para ver as opções.\",\r\n  pdf: \"🚧 Ingestão de PDF em construção — chega nas próximas fases.\",\r\n  formatoNaoSuportado:\r\n    \"Formato não suportado. Envie um .zip (extrato/fatura C6) ou .csv.\",\r\n};\r\n\r\n/**\r\n * Classifica um update do Telegram.\r\n * @param {object} update update JSON do Telegram (body do webhook)\r\n * @param {{chatId: string, secret: string, headerSecret: string}} ctx\r\n *   chatId esperado (TELEGRAM_CHAT_ID); secret esperado (TELEGRAM_WEBHOOK_SECRET,\r\n *   vazio desliga o check); headerSecret = X-Telegram-Bot-Api-Secret-Token recebido\r\n * @returns {{rota: \"ignorar\"|\"responder\"|\"documento\", resposta?: string,\r\n *   file_id?: string, file_name?: string, tipo_arquivo?: \"zip\"|\"csv\"|\"txt\"}}\r\n */\r\nfunction classificarUpdate(update, ctx) {\r\n  const { chatId, secret, headerSecret } = ctx;\r\n  if (secret && headerSecret !== secret) return { rota: \"ignorar\" };\r\n\r\n  // Callback de teclado inline (categorização — item 6; lembretes — item 7).\r\n  // Segurança: valida o REMETENTE do clique; prefixo desconhecido → ignorar.\r\n  // O destino fica na lógica pura para o glue só despachar, sem Switch por regex.\r\n  const cq = update && update.callback_query;\r\n  if (cq) {\r\n    if (String((cq.from || {}).id) !== String(chatId)) return { rota: \"ignorar\" };\r\n    const prefixo = (/^(cat|meta|pg|np|gmnova|gmenc|gmok)\\|/.exec(String(cq.data || \"\")) || [])[1];\r\n    if (!prefixo) return { rota: \"ignorar\" };\r\n    let destino;\r\n    if (prefixo === \"pg\" || prefixo === \"np\") destino = \"responder-lembrete\";\r\n    else if (prefixo === \"gmnova\" || prefixo === \"gmenc\" || prefixo === \"gmok\") destino = \"gerenciar-metas\";\r\n    else destino = \"aplicar-categoria\"; // cat| e meta| (associação lançamento→meta da categorização)\r\n    return {\r\n      rota: \"callback\",\r\n      destino,\r\n      callback_id: cq.id,\r\n      data: cq.data,\r\n      chat_id: cq.message && cq.message.chat ? cq.message.chat.id : \"\",\r\n      message_id: cq.message ? cq.message.message_id : \"\",\r\n    };\r\n  }\r\n\r\n  const msg = update && update.message;\r\n  if (!msg || !msg.chat) return { rota: \"ignorar\" }; // edited_message etc.\r\n  if (String(msg.chat.id) !== String(chatId)) return { rota: \"ignorar\" };\r\n\r\n  if (msg.document) {\r\n    const nome = String(msg.document.file_name || \"\");\r\n    const ext = (/\\.([a-z0-9]+)$/i.exec(nome) || [, \"\"])[1].toLowerCase();\r\n    if (ext === \"zip\" || ext === \"csv\") {\r\n      return {\r\n        rota: \"documento\",\r\n        file_id: msg.document.file_id,\r\n        file_name: nome,\r\n        tipo_arquivo: ext,\r\n      };\r\n    }\r\n    // .txt = fatura aberta enviada como arquivo (texto selecionável do app web do C6 salvo\r\n    // em bloco de notas). Chega INTEIRO — não sofre o split de 4096 chars da colagem. Vai ao\r\n    // fatura-aberta direto (arquivo é atômico/completo); sempre grava (fechado ou rascunho).\r\n    if (ext === \"txt\") {\r\n      return {\r\n        rota: \"documento\",\r\n        file_id: msg.document.file_id,\r\n        file_name: nome,\r\n        tipo_arquivo: \"txt\",\r\n      };\r\n    }\r\n    if (ext === \"pdf\") return { rota: \"responder\", resposta: RESPOSTAS.pdf };\r\n    return { rota: \"responder\", resposta: RESPOSTAS.formatoNaoSuportado };\r\n  }\r\n\r\n  if (typeof msg.text === \"string\" && msg.text.trim() !== \"\") {\r\n    const texto = msg.text.trim();\r\n    if (texto.startsWith(\"/\")) {\r\n      const cmd = texto.split(/[\\s@]/)[0].toLowerCase();\r\n      if (cmd === \"/start\") return { rota: \"responder\", resposta: RESPOSTAS.boasVindas };\r\n      if (cmd === \"/categorizar\") return { rota: \"categorizar\" };\r\n      if (cmd === \"/relatorio\") return { rota: \"relatorio\" };\r\n      if (cmd === \"/dashboard\") return { rota: \"dashboard\" };\r\n      if (cmd === \"/metas\") return { rota: \"metas\" };\r\n      if (cmd === \"/novameta\") return { rota: \"nova-meta\", texto };\r\n      if (cmd === \"/faturaaberta\") return { rota: \"fatura-aberta\", texto };\r\n      // Encerra uma colagem em andamento que não fechou: grava o capturado como rascunho\r\n      // (o fatura-buffer força o flush; o fatura-aberta marca rascunho e reporta o que falta).\r\n      if (cmd === \"/fecharfatura\") return { rota: \"fechar-fatura\", texto };\r\n      if (cmd === \"/seedparcelas\") return { rota: \"seed-parcelas\", texto };\r\n      return { rota: \"responder\", resposta: RESPOSTAS.comandoDesconhecido };\r\n    }\r\n    // Texto livre não vai mais direto ao stub: pode ser a CONTINUAÇÃO de uma colagem de fatura\r\n    // aberta dividida pelo Telegram. Quem decide anexar×stub é o fatura-buffer (que tem o estado).\r\n    return { rota: \"texto-livre\", texto };\r\n  }\r\n\r\n  return { rota: \"ignorar\" }; // foto, sticker, voz etc.\r\n}\r\n\r\n/**\r\n * Detecta o tipo de um CSV do C6 pelo CONTEÚDO (nome de arquivo não discrimina).\r\n * Remove BOM antes do match — o extrato real começa com EF BB BF.\r\n * @param {string} texto conteúdo do CSV\r\n * @returns {\"cartao\"|\"conta\"|\"desconhecido\"}\r\n */\r\nfunction detectarTipoCsv(texto) {\r\n  const t = String(texto || \"\").replace(/^﻿/, \"\").replace(/^\\s+/, \"\");\r\n  if (t.startsWith(\"Data de Compra;\")) return \"cartao\";\r\n  if (t.startsWith(\"EXTRATO DE CONTA CORRENTE\")) return \"conta\";\r\n  return \"desconhecido\";\r\n}\r\n\r\n\n// ── Glue: classifica o update recebido pelo webhook ──\nconst r = classificarUpdate($json.body || {}, {\n  chatId: $env.TELEGRAM_CHAT_ID || '',\n  secret: $env.TELEGRAM_WEBHOOK_SECRET || '',\n  headerSecret: String(($json.headers || {})['x-telegram-bot-api-secret-token'] || ''),\n});\nreturn [{ json: r }];"
      },
      "id": "fin-rot-harumi-02"
    },
    {
      "name": "É Documento?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.rota }}",
              "rightValue": "documento",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "fin-rot-harumi-03"
    },
    {
      "name": "Deve Responder?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        200
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.rota }}",
              "rightValue": "responder",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "fin-rot-harumi-04"
    },
    {
      "name": "Responder",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        600,
        200
      ],
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.resposta }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "FinTelegramBot01",
          "name": "Telegram Bot"
        }
      },
      "id": "fin-rot-harumi-05"
    },
    {
      "name": "Ignorar",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        600,
        320
      ],
      "parameters": {},
      "id": "fin-rot-harumi-06"
    },
    {
      "name": "É ZIP?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        600,
        -100
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.tipo_arquivo }}",
              "rightValue": "zip",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "fin-rot-harumi-07"
    },
    {
      "name": "Baixar ZIP",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        800,
        -200
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput",
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Classificar').first().json.file_id }}",
        "download": true
      },
      "credentials": {
        "telegramApi": {
          "id": "FinTelegramBot01",
          "name": "Telegram Bot"
        }
      },
      "id": "fin-rot-harumi-08"
    },
    {
      "name": "Extrair ZIP",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        -200
      ],
      "parameters": {
        "jsCode": "// Grava o ZIP baixado com nome FIXO, extrai com 7z (execFile, sem shell),\n// lê os CSVs e limpa o temporário no sucesso E no erro.\nconst fs = require('fs');\nconst path = require('path');\nconst { execFileSync } = require('child_process');\nconst dir = '/tmp/roteador-harumi/' + $execution.id;\nconst out = path.join(dir, 'out');\nfs.mkdirSync(out, { recursive: true });\nconst item = $input.first();\nif (!item.binary || !item.binary.data) {\n  return [{ json: { ok: false, erro: 'download sem conteúdo binário' } }];\n}\nconst buf = await this.helpers.getBinaryDataBuffer(0, 'data');\nfs.writeFileSync(path.join(dir, 'input.zip'), buf);\nlet resultado;\ntry {\n  execFileSync('7z', ['x', '-y', '-p' + ($env.C6_ZIP_PASSWORD || ''), '-o' + out, path.join(dir, 'input.zip')], { stdio: 'pipe' });\n  const arquivos = fs.readdirSync(out).filter((f) => f.toLowerCase().endsWith('.csv'));\n  resultado = arquivos.map((f) => ({\n    json: { ok: true, csv: fs.readFileSync(path.join(out, f), 'utf-8'), nome_arquivo: f },\n  }));\n  if (resultado.length === 0) resultado = [{ json: { ok: false, erro: 'ZIP não contém arquivos CSV' } }];\n} catch (e) {\n  const detalhe = [String((e && e.message) || e).slice(0, 200),\n    e && e.stderr ? String(e.stderr).slice(0, 200) : ''].filter(Boolean).join(' | ');\n  resultado = [{ json: { ok: false, erro: 'falha ao extrair: ' + detalhe } }];\n}\nfs.rmSync(dir, { recursive: true, force: true });\nreturn resultado;"
      },
      "id": "fin-rot-harumi-09"
    },
    {
      "name": "ZIP OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1200,
        -200
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.ok }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      },
      "id": "fin-rot-harumi-10"
    },
    {
      "name": "Avisar Erro ZIP",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1400,
        -100
      ],
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=❌ Não consegui processar o ZIP: {{ $json.erro }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "FinTelegramBot01",
          "name": "Telegram Bot"
        }
      },
      "id": "fin-rot-harumi-11"
    },
    {
      "name": "Avisar Erro Download",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1200,
        -380
      ],
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "❌ Não consegui baixar o arquivo. Tente reenviar.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "FinTelegramBot01",
          "name": "Telegram Bot"
        }
      },
      "id": "fin-rot-harumi-12"
    },
    {
      "name": "Baixar CSV",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        800,
        0
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput",
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Classificar').first().json.file_id }}",
        "download": true
      },
      "credentials": {
        "telegramApi": {
          "id": "FinTelegramBot01",
          "name": "Telegram Bot"
        }
      },
      "id": "fin-rot-harumi-13"
    },
    {
      "name": "Texto CSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        0
      ],
      "parameters": {
        "jsCode": "// Decodifica o CSV baixado do Telegram (binário → texto)\nconst item = $input.first();\nif (!item.binary || !item.binary.data) {\n  return [{ json: { csv: '', nome_arquivo: '' } }];\n}\nconst buf = await this.helpers.getBinaryDataBuffer(0, 'data');\nreturn [{ json: {\n  csv: buf.toString('utf-8'),\n  nome_arquivo: $('Classificar').first().json.file_name || 'arquivo.csv',\n} }];"
      },
      "onError": "continueErrorOutput",
      "id": "fin-rot-harumi-14"
    },
    {
      "name": "Detectar Tipo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        -200
      ],
      "parameters": {
        "jsCode": "// Lógica pura do roteador-central — classificação de updates do Telegram e\r\n// detecção de tipo de CSV. Implementa gstack/plans/roteador-central.md.\r\n\r\nconst RESPOSTAS = {\r\n  boasVindas:\r\n    \"👋 Bot Financeiro ativo!\\n\" +\r\n    \"Envie o ZIP/CSV do extrato ou da fatura do C6 que eu processo.\\n\" +\r\n    \"Fatura aberta: cole após /faturaaberta ou mande como arquivo .txt.\\n\" +\r\n    \"Comandos: /categorizar, /relatorio, /dashboard, /metas, /novameta, \" +\r\n    \"/faturaaberta, /fecharfatura, /seedparcelas.\",\r\n  emConstrucao: (oque) => `🚧 ${oque} em construção — chega nas próximas fases.`,\r\n  comandoDesconhecido: \"Comando não reconhecido. Use /start para ver as opções.\",\r\n  pdf: \"🚧 Ingestão de PDF em construção — chega nas próximas fases.\",\r\n  formatoNaoSuportado:\r\n    \"Formato não suportado. Envie um .zip (extrato/fatura C6) ou .csv.\",\r\n};\r\n\r\n/**\r\n * Classifica um update do Telegram.\r\n * @param {object} update update JSON do Telegram (body do webhook)\r\n * @param {{chatId: string, secret: string, headerSecret: string}} ctx\r\n *   chatId esperado (TELEGRAM_CHAT_ID); secret esperado (TELEGRAM_WEBHOOK_SECRET,\r\n *   vazio desliga o check); headerSecret = X-Telegram-Bot-Api-Secret-Token recebido\r\n * @returns {{rota: \"ignorar\"|\"responder\"|\"documento\", resposta?: string,\r\n *   file_id?: string, file_name?: string, tipo_arquivo?: \"zip\"|\"csv\"|\"txt\"}}\r\n */\r\nfunction classificarUpdate(update, ctx) {\r\n  const { chatId, secret, headerSecret } = ctx;\r\n  if (secret && headerSecret !== secret) return { rota: \"ignorar\" };\r\n\r\n  // Callback de teclado inline (categorização — item 6; lembretes — item 7).\r\n  // Segurança: valida o REMETENTE do clique; prefixo desconhecido → ignorar.\r\n  // O destino fica na lógica pura para o glue só despachar, sem Switch por regex.\r\n  const cq = update && update.callback_query;\r\n  if (cq) {\r\n    if (String((cq.from || {}).id) !== String(chatId)) return { rota: \"ignorar\" };\r\n    const prefixo = (/^(cat|meta|pg|np|gmnova|gmenc|gmok)\\|/.exec(String(cq.data || \"\")) || [])[1];\r\n    if (!prefixo) return { rota: \"ignorar\" };\r\n    let destino;\r\n    if (prefixo === \"pg\" || prefixo === \"np\") destino = \"responder-lembrete\";\r\n    else if (prefixo === \"gmnova\" || prefixo === \"gmenc\" || prefixo === \"gmok\") destino = \"gerenciar-metas\";\r\n    else destino = \"aplicar-categoria\"; // cat| e meta| (associação lançamento→meta da categorização)\r\n    return {\r\n      rota: \"callback\",\r\n      destino,\r\n      callback_id: cq.id,\r\n      data: cq.data,\r\n      chat_id: cq.message && cq.message.chat ? cq.message.chat.id : \"\",\r\n      message_id: cq.message ? cq.message.message_id : \"\",\r\n    };\r\n  }\r\n\r\n  const msg = update && update.message;\r\n  if (!msg || !msg.chat) return { rota: \"ignorar\" }; // edited_message etc.\r\n  if (String(msg.chat.id) !== String(chatId)) return { rota: \"ignorar\" };\r\n\r\n  if (msg.document) {\r\n    const nome = String(msg.document.file_name || \"\");\r\n    const ext = (/\\.([a-z0-9]+)$/i.exec(nome) || [, \"\"])[1].toLowerCase();\r\n    if (ext === \"zip\" || ext === \"csv\") {\r\n      return {\r\n        rota: \"documento\",\r\n        file_id: msg.document.file_id,\r\n        file_name: nome,\r\n        tipo_arquivo: ext,\r\n      };\r\n    }\r\n    // .txt = fatura aberta enviada como arquivo (texto selecionável do app web do C6 salvo\r\n    // em bloco de notas). Chega INTEIRO — não sofre o split de 4096 chars da colagem. Vai ao\r\n    // fatura-aberta direto (arquivo é atômico/completo); sempre grava (fechado ou rascunho).\r\n    if (ext === \"txt\") {\r\n      return {\r\n        rota: \"documento\",\r\n        file_id: msg.document.file_id,\r\n        file_name: nome,\r\n        tipo_arquivo: \"txt\",\r\n      };\r\n    }\r\n    if (ext === \"pdf\") return { rota: \"responder\", resposta: RESPOSTAS.pdf };\r\n    return { rota: \"responder\", resposta: RESPOSTAS.formatoNaoSuportado };\r\n  }\r\n\r\n  if (typeof msg.text === \"string\" && msg.text.trim() !== \"\") {\r\n    const texto = msg.text.trim();\r\n    if (texto.startsWith(\"/\")) {\r\n      const cmd = texto.split(/[\\s@]/)[0].toLowerCase();\r\n      if (cmd === \"/start\") return { rota: \"responder\", resposta: RESPOSTAS.boasVindas };\r\n      if (cmd === \"/categorizar\") return { rota: \"categorizar\" };\r\n      if (cmd === \"/relatorio\") return { rota: \"relatorio\" };\r\n      if (cmd === \"/dashboard\") return { rota: \"dashboard\" };\r\n      if (cmd === \"/metas\") return { rota: \"metas\" };\r\n      if (cmd === \"/novameta\") return { rota: \"nova-meta\", texto };\r\n      if (cmd === \"/faturaaberta\") return { rota: \"fatura-aberta\", texto };\r\n      // Encerra uma colagem em andamento que não fechou: grava o capturado como rascunho\r\n      // (o fatura-buffer força o flush; o fatura-aberta marca rascunho e reporta o que falta).\r\n      if (cmd === \"/fecharfatura\") return { rota: \"fechar-fatura\", texto };\r\n      if (cmd === \"/seedparcelas\") return { rota: \"seed-parcelas\", texto };\r\n      return { rota: \"responder\", resposta: RESPOSTAS.comandoDesconhecido };\r\n    }\r\n    // Texto livre não vai mais direto ao stub: pode ser a CONTINUAÇÃO de uma colagem de fatura\r\n    // aberta dividida pelo Telegram. Quem decide anexar×stub é o fatura-buffer (que tem o estado).\r\n    return { rota: \"texto-livre\", texto };\r\n  }\r\n\r\n  return { rota: \"ignorar\" }; // foto, sticker, voz etc.\r\n}\r\n\r\n/**\r\n * Detecta o tipo de um CSV do C6 pelo CONTEÚDO (nome de arquivo não discrimina).\r\n * Remove BOM antes do match — o extrato real começa com EF BB BF.\r\n * @param {string} texto conteúdo do CSV\r\n * @returns {\"cartao\"|\"conta\"|\"desconhecido\"}\r\n */\r\nfunction detectarTipoCsv(texto) {\r\n  const t = String(texto || \"\").replace(/^﻿/, \"\").replace(/^\\s+/, \"\");\r\n  if (t.startsWith(\"Data de Compra;\")) return \"cartao\";\r\n  if (t.startsWith(\"EXTRATO DE CONTA CORRENTE\")) return \"conta\";\r\n  return \"desconhecido\";\r\n}\r\n\r\n\n// ── Glue: adiciona o tipo detectado a cada CSV ──\nreturn $input.all().map((item) => ({ json: {\n  csv: item.json.csv,\n  nome_arquivo: item.json.nome_arquivo,\n  tipo: detectarTipoCsv(item.json.csv),\n} }));"
      },
      "id": "fin-rot-harumi-15"
    },
    {
      "name": "Cartão?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1800,
        -200
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.tipo }}",
              "rightValue": "cartao",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "fin-rot-harumi-16"
    },
    {
      "name": "Conta?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2000,
        -100
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.tipo }}",
              "rightValue": "conta",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "fin-rot-harumi-17"
    },
    {
      "name": "Ingestão Cartão",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2000,
        -300
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "FinIngestCartNo1",
          "cachedResultName": "ingestao-csv-cartao (Notion)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "csv": "={{ $json.csv }}",
            "nome_arquivo": "={{ $json.nome_arquivo }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "csv",
              "displayName": "csv",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "nome_arquivo",
              "displayName": "nome_arquivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ]
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "fin-rot-harumi-18"
    },
    {
      "name": "Ingestão Conta",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2200,
        -150
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "FinIngestContNo1",
          "cachedResultName": "ingestao-csv-conta (Notion)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "csv": "={{ $json.csv }}",
            "nome_arquivo": "={{ $json.nome_arquivo }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "csv",
              "displayName": "csv",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "nome_arquivo",
              "displayName": "nome_arquivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ]
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "fin-rot-harumi-19"
    },
    {
      "name": "Não Reconhecido",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2200,
        0
      ],
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "🤔 CSV não reconhecido — não parece fatura nem extrato do C6.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "FinTelegramBot01",
          "name": "Telegram Bot"
        }
      },
      "id": "fin-rot-harumi-20"
    }
  ],
  "connections": {
    "Webhook Telegram": {
      "main": [
        [
          {
            "node": "Classificar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classificar": {
      "main": [
        [
          {
            "node": "É Documento?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Documento?": {
      "main": [
        [
          {
            "node": "É ZIP?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Deve Responder?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deve Responder?": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ignorar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É ZIP?": {
      "main": [
        [
          {
            "node": "Baixar ZIP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Baixar CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar ZIP": {
      "main": [
        [
          {
            "node": "Extrair ZIP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Avisar Erro Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair ZIP": {
      "main": [
        [
          {
            "node": "ZIP OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ZIP OK?": {
      "main": [
        [
          {
            "node": "Detectar Tipo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Avisar Erro ZIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar CSV": {
      "main": [
        [
          {
            "node": "Texto CSV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Avisar Erro Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Texto CSV": {
      "main": [
        [
          {
            "node": "Detectar Tipo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Avisar Erro Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detectar Tipo": {
      "main": [
        [
          {
            "node": "Cartão?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cartão?": {
      "main": [
        [
          {
            "node": "Ingestão Cartão",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Conta?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conta?": {
      "main": [
        [
          {
            "node": "Ingestão Conta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não Reconhecido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
