workflows/categorizacao-hibrida.json
{
  "id": "FinCategoriza001",
  "name": "categorizacao-hibrida",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "nodes": [
    {
      "name": "Início",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "fincategor-01"
    },
    {
      "name": "Ler Dados",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        0
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "method": "GET",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $env.GOOGLE_SHEETS_ID }}/values:batchGet?ranges='Lan%C3%A7amentos'!A%3AJ&ranges='Categorias'!A%3AC&ranges='Metas'!A%3AF&ranges='Dicion%C3%A1rio'!A%3AD&ranges='Log'!A%3AF&valueRenderOption=UNFORMATTED_VALUE",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "FinSheetsSA00001",
          "name": "Google Sheets SA"
        }
      },
      "id": "fincategor-02"
    },
    {
      "name": "Resolver",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "parameters": {
        "jsCode": "// Lógica pura da categorização híbrida — prompt/parse do Gemini, chave do\n// Dicionário, teclados inline e parse de callbacks.\n// Implementa gstack/plans/categorizacao-hibrida.md.\n\nconst LIMIAR_CONFIANCA = 0.8;\n\n/** Prompt de classificação: o Gemini só escolhe entre as categorias ativas. */\nfunction montarPrompt(lancamento, categorias) {\n  return [\n    \"Você categoriza lançamentos financeiros pessoais de um casal brasileiro.\",\n    `Categorias válidas: ${categorias.join(\", \")}.`,\n    \"Lançamento:\",\n    `- descrição: ${lancamento.descricao}`,\n    `- título: ${lancamento.titulo || \"(vazio)\"}`,\n    `- valor: R$ ${lancamento.valor} (${lancamento.tipo})`,\n    `- origem: ${lancamento.origem === \"cartao\" ? \"cartão de crédito\" : \"conta corrente\"}`,\n    'Responda APENAS JSON: {\"categoria\": \"<uma das categorias válidas>\", \"confianca\": <0.0 a 1.0>}.',\n    \"Se nenhuma categoria servir bem, use a mais próxima com confianca baixa.\",\n  ].join(\"\\n\");\n}\n\n/**\n * Interpreta a resposta do Gemini. Qualquer problema (não-JSON, categoria fora da\n * lista, confiança inválida) → { valida: false } (degrada para pergunta manual).\n */\nfunction parsearRespostaGemini(texto, categoriasValidas) {\n  let obj;\n  try {\n    obj = JSON.parse(String(texto || \"\").trim());\n  } catch {\n    return { valida: false };\n  }\n  const categoria = String(obj.categoria || \"\");\n  const confianca = Number(obj.confianca);\n  if (!categoriasValidas.includes(categoria)) return { valida: false };\n  if (Number.isNaN(confianca) || confianca < 0 || confianca > 1) return { valida: false };\n  return { valida: true, categoria, confianca, confiante: confianca >= LIMIAR_CONFIANCA };\n}\n\n/** Chave para regra nova no Dicionário: Título (conta) ou descrição sem sufixo de parcela (cartão). */\nfunction chaveDicionario(lancamento) {\n  if (lancamento.origem === \"conta\") return String(lancamento.titulo || \"\").trim();\n  return String(lancamento.descricao || \"\").replace(/ \\(\\d+\\/\\d+\\)$/, \"\").trim();\n}\n\n/** Resgate de CDB pula o Gemini e pergunta direto a meta (HANDOFF). */\nfunction ehResgateCdb(lancamento) {\n  const t = String(lancamento.titulo || \"\").toUpperCase();\n  return t.includes(\"RESGATE\") && t.includes(\"CDB\");\n}\n\n/**\n * Teclado inline para pergunta manual. Categorias → `cat|row|nome`;\n * metas ativas → `meta|row|nome` (caminho p/ viagem/hospedagem e CDB).\n * @returns {{inline_keyboard: Array<Array<{text: string, callback_data: string}>>}}\n */\nfunction montarTeclado(row, categorias, metas) {\n  const botoes = [\n    ...categorias.map((c) => ({ text: c, callback_data: `cat|${row}|${c}` })),\n    ...metas.map((m) => ({ text: `🎯 ${m}`, callback_data: `meta|${row}|${m}` })),\n  ];\n  for (const b of botoes) {\n    if (Buffer.byteLength(b.callback_data, \"utf-8\") > 64) {\n      throw new Error(`callback_data excede 64 bytes: ${b.callback_data}`);\n    }\n  }\n  const linhas = [];\n  for (let i = 0; i < botoes.length; i += 2) linhas.push(botoes.slice(i, i + 2));\n  return { inline_keyboard: linhas };\n}\n\n/** Teclado só de metas (caso RESGATE CDB). */\nfunction montarTecladoMetas(row, metas) {\n  return montarTeclado(row, [], metas);\n}\n\n/** Parse do callback_data. Inválido/desconhecido → null. */\nfunction parsearCallback(data) {\n  const m = /^(cat|meta)\\|(\\d+)\\|(.+)$/.exec(String(data || \"\"));\n  if (!m) return null;\n  return { tipo: m[1], row: Number(m[2]), nome: m[3] };\n}\n\n\n// ── Glue: varre pendências e resolve Dicionário → Gemini → pergunta ──\nconst vr = ($json.valueRanges || []);\nconst paraObjetos = (idx) => {\n  const v = (vr[idx] && vr[idx].values) || [];\n  if (v.length < 2) return [];\n  const h = v[0].map(String);\n  return v.slice(1).map((linha, i) => {\n    const o = {};\n    h.forEach((c, j) => { o[c] = linha[j] !== undefined ? linha[j] : ''; });\n    o._row = i + 2;\n    return o;\n  });\n};\nconst linhas = paraObjetos(0);\nconst categorias = paraObjetos(1)\n  .filter((c) => String(c.ativo).toLowerCase() === 'sim').map((c) => String(c.nome));\nconst metas = paraObjetos(2)\n  .filter((m) => String(m.status) === 'ativa').map((m) => String(m.nome));\nconst dicionario = paraObjetos(3);\nconst logs = paraObjetos(4);\nconst perguntadas = new Set(logs.filter((l) => l.acao === 'categoria_perguntada')\n  .map((l) => String(l.valor_anterior)));\n\nconst pendentes = linhas.filter((l) => String(l.categoria || '').trim() === '');\nconst agora = new Date().toISOString();\nconst saida = [];\nlet aplicados = 0, perguntados = 0, puladas = 0;\n// Dedup intra-lote: regra criada neste lote vale para os próximos lançamentos\n// iguais (o re-lookup no Dicionário só enxerga regras de lotes anteriores)\nconst regrasDoLote = new Map();\n\nfor (const l of pendentes) {\n  const marca = 'row=' + l._row;\n  if (perguntadas.has(marca)) { puladas++; continue; } // pergunta já aberta — não repetir\n  // Serial do Sheets (UNFORMATTED_VALUE p/ datas reais) → DD/MM/YYYY\n  const serialParaData = (v) => {\n    if (!v && v !== 0) return '';\n    if (typeof v === 'number' || (typeof v === 'string' && /^\\d+$/.test(String(v).trim()))) {\n      const d = new Date(Date.UTC(1899, 11, 30) + Math.floor(Number(v)) * 86400000);\n      return d.getUTCDate().toString().padStart(2,'0') + '/' +\n        (d.getUTCMonth()+1).toString().padStart(2,'0') + '/' + d.getUTCFullYear();\n    }\n    return String(v);\n  };\n  // Formata valor: número ou string numérica → 'R$ 1.234,56'; ausente → 'R$ ?'\n  const fmtValor = (v) => {\n    const n = Number(v);\n    if (isNaN(n) || v === '' || v == null) return 'R$ ?';\n    const [int, dec] = n.toFixed(2).split('.');\n    return 'R$ ' + int.replace(/\\B(?=(\\d{3})+(?!\\d))/g, '.') + ',' + dec;\n  };\n  const lanc = { descricao: String(l.descricao || ''), titulo: String(l.titulo || ''),\n    valor: l.valor, tipo: String(l.tipo || ''), origem: String(l.origem || '') };\n  const textoPergunta = '🤔 Como categorizar?\\n' + lanc.descricao +\n    (lanc.titulo && lanc.titulo !== lanc.descricao ? ' (' + lanc.titulo + ')' : '') +\n    '\\n' + fmtValor(lanc.valor) + ' · ' + lanc.tipo + ' · ' + serialParaData(l.data_original);\n\n  if (ehResgateCdb(lanc)) {\n    saida.push({ json: { fase: 'perguntar', row: l._row, texto: '🎯 Resgate de CDB — associar a qual meta?\\n' + textoPergunta,\n      teclado: montarTecladoMetas(l._row, metas),\n      log: { timestamp: agora, acao: 'categoria_perguntada', entidade: 'Lançamentos',\n        valor_anterior: marca, valor_novo: lanc.descricao, origem: 'categorizacao-hibrida' } } });\n    perguntados++;\n    continue;\n  }\n\n  // Re-lookup no Dicionário (regra pode ter surgido depois da importação)\n  const campo = (lanc.origem === 'conta' ? lanc.titulo : lanc.descricao).toUpperCase();\n  const regraExistente = dicionario.find((r) => String(r.origem).trim() === lanc.origem &&\n    campo.includes(String(r.descricao_original || '').toUpperCase()));\n  if (regraExistente) {\n    let categoria = String(regraExistente.categoria_mapeada);\n    if (categoria === 'Pagamento/Retirada') categoria = lanc.tipo === 'entrada' ? 'Pagamento' : 'Retirada';\n    const idMeta = categoria.startsWith('Meta: ') && metas.includes(categoria.slice(6)) ? categoria.slice(6) : '';\n    saida.push({ json: { fase: 'aplicar', row: l._row, categoria, id_meta: idMeta, regra: null,\n      logs: [{ timestamp: agora, acao: 'categoria_aplicada_dicionario', entidade: 'Lançamentos',\n        valor_anterior: marca, valor_novo: categoria + ' ← ' + lanc.descricao, origem: 'categorizacao-hibrida' }] } });\n    aplicados++;\n    continue;\n  }\n\n  const chave = chaveDicionario(lanc);\n  const chaveLote = lanc.origem + '|' + chave.toUpperCase();\n  if (regrasDoLote.has(chaveLote)) {\n    const categoria = regrasDoLote.get(chaveLote);\n    const idMeta = categoria.startsWith('Meta: ') && metas.includes(categoria.slice(6)) ? categoria.slice(6) : '';\n    saida.push({ json: { fase: 'aplicar', row: l._row, categoria, id_meta: idMeta, regra: null,\n      logs: [{ timestamp: agora, acao: 'categoria_aplicada_dicionario', entidade: 'Lançamentos',\n        valor_anterior: marca, valor_novo: categoria + ' ← ' + lanc.descricao + ' (regra do lote)', origem: 'categorizacao-hibrida' }] } });\n    aplicados++;\n    continue;\n  }\n\n  // Gemini Flash\n  let avaliacao = { valida: false };\n  try {\n    const resp = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://generativelanguage.googleapis.com/v1beta/models/' + $env.GEMINI_MODEL + ':generateContent',\n      headers: { 'x-goog-api-key': $env.GEMINI_API_KEY, 'Content-Type': 'application/json' },\n      body: { contents: [{ parts: [{ text: montarPrompt(lanc, categorias) }] }],\n        generationConfig: { responseMimeType: 'application/json' } },\n      json: true,\n    });\n    const texto = resp && resp.candidates && resp.candidates[0] &&\n      resp.candidates[0].content.parts[0].text;\n    avaliacao = parsearRespostaGemini(texto, categorias);\n  } catch (e) { avaliacao = { valida: false, _erro: String((e && e.message) || e).slice(0, 140) }; } // Gemini fora → pergunta manual\n\n  if (avaliacao.valida && avaliacao.confiante) {\n    regrasDoLote.set(chaveLote, avaliacao.categoria);\n    saida.push({ json: { fase: 'aplicar', row: l._row, categoria: avaliacao.categoria, id_meta: '',\n      regra: { descricao_original: chave, categoria_mapeada: avaliacao.categoria,\n        origem: lanc.origem, criado_em: agora.slice(0, 10) },\n      logs: [\n        { timestamp: agora, acao: 'categoria_aplicada_gemini', entidade: 'Lançamentos',\n          valor_anterior: marca, valor_novo: avaliacao.categoria + ' (conf ' + avaliacao.confianca + ') ← ' + lanc.descricao, origem: 'categorizacao-hibrida' },\n        { timestamp: agora, acao: 'regra_adicionada', entidade: 'dicionario',\n          valor_anterior: '', valor_novo: chave + ' → ' + avaliacao.categoria, origem: 'categorizacao-hibrida' },\n      ] } });\n    aplicados++;\n  } else {\n    saida.push({ json: { fase: 'perguntar', row: l._row, texto: textoPergunta,\n      teclado: montarTeclado(l._row, categorias, metas),\n      log: { timestamp: agora, acao: 'categoria_perguntada', entidade: 'Lançamentos',\n        valor_anterior: marca,\n        valor_novo: lanc.descricao + (avaliacao._erro ? ' [gemini: ' + avaliacao._erro + ']' : ''),\n        origem: 'categorizacao-hibrida' } } });\n    perguntados++;\n  }\n}\n\nif (aplicados + perguntados > 0) {\n  let t = '🏷️ Categorização: ' + aplicados + ' aplicada(s) automaticamente, ' + perguntados + ' aguardando sua escolha.';\n  if (puladas > 0) t += '\\n(' + puladas + ' já perguntada(s) antes — responda os botões anteriores.)';\n  saida.push({ json: { fase: 'resumo', texto: t } });\n} else {\n  // Sempre dar retorno ao /categorizar, mesmo sem novidade (senão o fluxo fica mudo).\n  const t = pendentes.length === 0\n    ? '✅ Nenhum lançamento sem categoria — está tudo categorizado.'\n    : '✅ Nada novo: ' + puladas + ' lançamento(s) já aguardam sua escolha nos botões enviados antes.';\n  saida.push({ json: { fase: 'resumo', texto: t } });\n}\nreturn saida;"
      },
      "id": "fincategor-03"
    },
    {
      "name": "Aplicar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        600,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.fase }}",
              "rightValue": "aplicar",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "fincategor-04"
    },
    {
      "name": "Atualizar Lançamento",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        800,
        -150
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Lançamentos"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row }}",
            "categoria": "={{ $json.categoria }}",
            "id_meta": "={{ $json.id_meta }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false,
              "readOnly": true
            },
            {
              "id": "categoria",
              "displayName": "categoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id_meta",
              "displayName": "id_meta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "FinSheetsSA00001",
          "name": "Google Sheets SA"
        }
      },
      "id": "fincategor-05"
    },
    {
      "name": "Linha Regra",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        -250
      ],
      "parameters": {
        "jsCode": "return $('Aplicar?').all().filter((i) => i.json.regra).map((i) => ({ json: i.json.regra }));"
      },
      "id": "fincategor-06"
    },
    {
      "name": "Gravar Regra",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1200,
        -250
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Dicionário"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": []
        },
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "FinSheetsSA00001",
          "name": "Google Sheets SA"
        }
      },
      "id": "fincategor-07"
    },
    {
      "name": "Logs Aplicar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        -100
      ],
      "parameters": {
        "jsCode": "return $('Aplicar?').all().flatMap((i) => (i.json.logs || []).map((l) => ({ json: l })));"
      },
      "id": "fincategor-08"
    },
    {
      "name": "Gravar Log Aplicar",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1200,
        -100
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Log"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": []
        },
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "FinSheetsSA00001",
          "name": "Google Sheets SA"
        }
      },
      "id": "fincategor-09"
    },
    {
      "name": "Perguntar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        100
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.fase }}",
              "rightValue": "perguntar",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "fincategor-10"
    },
    {
      "name": "Enviar Pergunta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        100
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $env.TELEGRAM_CHAT_ID, text: $json.texto, reply_markup: $json.teclado }) }}",
        "options": {}
      },
      "id": "fincategor-11"
    },
    {
      "name": "Log Pergunta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        100
      ],
      "parameters": {
        "jsCode": "return $('Perguntar?').all().map((i) => ({ json: i.json.log }));"
      },
      "id": "fincategor-12"
    },
    {
      "name": "Gravar Log Pergunta",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1400,
        100
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Log"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": []
        },
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "FinSheetsSA00001",
          "name": "Google Sheets SA"
        }
      },
      "id": "fincategor-13"
    },
    {
      "name": "Resumo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1000,
        250
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.fase }}",
              "rightValue": "resumo",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "fincategor-14"
    },
    {
      "name": "Enviar Resumo",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1200,
        250
      ],
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.texto }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "FinTelegramBot01",
          "name": "Telegram Bot"
        }
      },
      "id": "fincategor-15"
    }
  ],
  "connections": {
    "Início": {
      "main": [
        [
          {
            "node": "Ler Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler Dados": {
      "main": [
        [
          {
            "node": "Resolver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolver": {
      "main": [
        [
          {
            "node": "Aplicar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aplicar?": {
      "main": [
        [
          {
            "node": "Atualizar Lançamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Perguntar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Lançamento": {
      "main": [
        [
          {
            "node": "Linha Regra",
            "type": "main",
            "index": 0
          },
          {
            "node": "Logs Aplicar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linha Regra": {
      "main": [
        [
          {
            "node": "Gravar Regra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logs Aplicar": {
      "main": [
        [
          {
            "node": "Gravar Log Aplicar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perguntar?": {
      "main": [
        [
          {
            "node": "Enviar Pergunta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resumo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Pergunta": {
      "main": [
        [
          {
            "node": "Log Pergunta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Pergunta": {
      "main": [
        [
          {
            "node": "Gravar Log Pergunta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resumo?": {
      "main": [
        [
          {
            "node": "Enviar Resumo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
