workflows/dashboard.json
{
  "id": "FinDashboardWeb01",
  "name": "dashboard",
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "nodes": [
    {
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "f1aacea1-0009-4000-8000-financeiro09",
      "parameters": {
        "httpMethod": "GET",
        "path": "dashboard-data",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "findashboa-01"
    },
    {
      "name": "Ler Dados",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        0
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "method": "GET",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $env.GOOGLE_SHEETS_ID }}/values:batchGet?ranges=Lan%C3%A7amentos!A%3AJ&ranges=Contas%20Fixas!A%3AD&ranges=Sal%C3%A1rios!A%3AB&ranges=Metas!A%3AF&valueRenderOption=UNFORMATTED_VALUE",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "FinSheetsSA00001",
          "name": "Google Sheets SA"
        }
      },
      "id": "findashboa-02"
    },
    {
      "name": "Processar e Renderizar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "parameters": {
        "jsCode": "// Rateio proporcional ao salário — lógica pura do dashboard da reunião familiar.\r\n// TDD em rateio.test.js. Módulo Node consumido pelo runner (não é Code node n8n).\r\n// Implementa gstack/specs/dashboard-reuniao-familiar.md.\r\n\r\n/** Remove acento e caixa para comparar categorias/nomes (Deposito ~ Depósito). */\r\nfunction normalizar(s) {\r\n  return String(s == null ? \"\" : s)\r\n    .normalize(\"NFD\").replace(/[̀-ͯ]/g, \"\").trim().toLowerCase();\r\n}\r\n\r\nconst arred = (n) => Math.round(n * 100) / 100;\r\n\r\n/**\r\n * Valor da planilha → número. Defesa contra `valor` gravado como TEXTO (ex.: o nó\r\n * googleSheets em USER_ENTERED + locale pt_BR pode coagir \"1011.87\" a texto). Aceita\r\n * número nativo, \"1011.87\" (ponto decimal), BR \"1.011,56\"/\"1011,56\" e \"R$ 1.234,56\".\r\n * Lixo/vazio → 0 (nunca NaN — NaN envenenaria a soma inteira do relatório).\r\n */\r\nfunction valorNum(v) {\r\n  if (typeof v === \"number\") return Number.isFinite(v) ? v : 0;\r\n  if (v === null || v === undefined) return 0;\r\n  let s = String(v).trim().replace(/^R\\$\\s*/i, \"\");\r\n  if (s === \"\") return 0;\r\n  if (s.includes(\",\")) s = s.replace(/\\./g, \"\").replace(\",\", \".\");        // BR: ponto=milhar, vírgula=decimal\r\n  else if ((s.match(/\\./g) || []).length > 1) s = s.replace(/\\./g, \"\");   // só pontos múltiplos = milhar\r\n  const n = Number(s);\r\n  return Number.isFinite(n) ? n : 0;\r\n}\r\n\r\n/**\r\n * Categorias de transferência interna — movimentação entre contas próprias\r\n * (ex.: pagar a fatura do cartão, resgate/aplicação, Pix para si mesmo). NÃO são\r\n * consumo nem receita: o gasto real já está nas compras da fatura (origem=cartao)\r\n * e contá-las de novo no extrato duplicaria. O parser resolve \"Pagamento/Retirada\"\r\n * para uma destas conforme a direção (entrada→Pagamento, saída→Retirada).\r\n */\r\nconst CATEGORIAS_TRANSFERENCIA = new Set([\"pagamento\", \"retirada\"]);\r\nfunction ehTransferencia(categoria) {\r\n  return CATEGORIAS_TRANSFERENCIA.has(normalizar(categoria));\r\n}\r\n\r\n/** salarios: {pessoa: salario} ou [{pessoa, salario}] → {pessoa: proporção}. */\r\nfunction proporcoes(salarios) {\r\n  const pares = Array.isArray(salarios)\r\n    ? salarios.map((s) => [s.pessoa, Number(s.salario)])\r\n    : Object.entries(salarios).map(([p, v]) => [p, Number(v)]);\r\n  const total = pares.reduce((s, [, v]) => s + v, 0);\r\n  if (!(total > 0)) throw new Error(\"soma dos salários deve ser > 0 (configurar aba Salários)\");\r\n  const out = {};\r\n  for (const [p, v] of pares) out[p] = v / total;\r\n  return out;\r\n}\r\n\r\n/**\r\n * Data da planilha → \"MM/YYYY\" | null. Aceita os três formatos que o nó de\r\n * leitura pode devolver (valueRenderOption=UNFORMATTED_VALUE):\r\n *   - \"DD/MM/YYYY\" (string) ;\r\n *   - \"YYYY-MM-DD\" (string ISO) ;\r\n *   - serial do Sheets (número ou string só-dígitos): célula formatada como\r\n *     Data volta como dias desde 1899-12-30, não como string.\r\n */\r\nfunction mesDe(v) {\r\n  if (v === null || v === undefined || v === \"\") return null;\r\n  if (typeof v === \"number\" || (typeof v === \"string\" && /^\\d+(\\.\\d+)?$/.test(v.trim()))) {\r\n    const serial = Math.floor(Number(v));\r\n    if (!Number.isFinite(serial) || serial <= 0) return null;\r\n    const d = new Date(Date.UTC(1899, 11, 30) + serial * 86400000);\r\n    return `${String(d.getUTCMonth() + 1).padStart(2, \"0\")}/${d.getUTCFullYear()}`;\r\n  }\r\n  const s = String(v).trim();\r\n  let m;\r\n  if ((m = /^\\d{2}\\/(\\d{2})\\/(\\d{4})$/.exec(s))) return `${m[1]}/${m[2]}`;\r\n  if ((m = /^(\\d{4})-(\\d{2})-\\d{2}/.exec(s))) return `${m[2]}/${m[1]}`;\r\n  return null;\r\n}\r\n\r\n/**\r\n * Rateio do mês (`mes` = \"MM/YYYY\"). Cota = despesas confirmadas do mês ×\r\n * proporção; pago = depósitos \"Deposito {pessoa}\" do mês; saldo = pago − cota;\r\n * acerto = cota − pago (positivo = a pessoa deve esse valor da sua parte).\r\n * @returns {{mes, totalDespesas, proporcoes, cota, pago, saldo, acerto}}\r\n */\r\nfunction rateioMes(lancamentos, salarios, mes) {\r\n  const prop = proporcoes(salarios);\r\n  const doMes = lancamentos.filter((l) => mesDe(l.data_competencia) === mes);\r\n  const totalDespesas = arred(\r\n    doMes.filter((l) => l.tipo === \"saída\" && l.status === \"confirmado\" && !ehTransferencia(l.categoria))\r\n      .reduce((s, l) => s + valorNum(l.valor), 0));\r\n\r\n  const cota = {}, pago = {}, saldo = {}, acerto = {};\r\n  for (const p of Object.keys(prop)) {\r\n    cota[p] = arred(totalDespesas * prop[p]);\r\n    const alvo = normalizar(`deposito ${p}`);\r\n    pago[p] = arred(\r\n      doMes.filter((l) => l.tipo === \"entrada\" && normalizar(l.categoria) === alvo)\r\n        .reduce((s, l) => s + valorNum(l.valor), 0));\r\n    saldo[p] = arred(pago[p] - cota[p]);\r\n    acerto[p] = arred(cota[p] - pago[p]);\r\n  }\r\n  return { mes, totalDespesas, proporcoes: prop, cota, pago, saldo, acerto };\r\n}\r\n\r\n\n// Agregações do dashboard da reunião familiar — lógica pura. TDD em dashboard.test.js.\r\n// Módulo Node consumido pelo runner (não é Code node n8n).\r\n// Implementa gstack/specs/dashboard-reuniao-familiar.md.\r\n/** Saídas confirmadas do mês agrupadas por categoria, ordenadas desc. */\r\nfunction gastosPorCategoria(lancamentos, mes) {\r\n  const acc = new Map();\r\n  for (const l of lancamentos) {\r\n    if (l.tipo !== \"saída\" || l.status !== \"confirmado\" || mesDe(l.data_competencia) !== mes) continue;\r\n    if (ehTransferencia(l.categoria)) continue;\r\n    acc.set(l.categoria, (acc.get(l.categoria) || 0) + valorNum(l.valor));\r\n  }\r\n  return [...acc.entries()]\r\n    .map(([categoria, total]) => ({ categoria, total: arred(total) }))\r\n    .sort((a, b) => b.total - a.total);\r\n}\r\n\r\n/** Totais confirmados do mês: saídas, entradas, saldo. */\r\nfunction totaisMes(lancamentos, mes) {\r\n  const soma = (tipo) => arred(lancamentos\r\n    .filter((l) => l.tipo === tipo && l.status === \"confirmado\" && mesDe(l.data_competencia) === mes\r\n      && !ehTransferencia(l.categoria))\r\n    .reduce((s, l) => s + valorNum(l.valor), 0));\r\n  const saidas = soma(\"saída\");\r\n  const entradas = soma(\"entrada\");\r\n  return { saidas, entradas, saldo: arred(entradas - saidas) };\r\n}\r\n\r\n/**\r\n * Previsão do próximo mês (`mes` = \"MM/YYYY\"): parcelas já lançadas (saídas\r\n * previstas do mês) + projeção das contas fixas ativas cuja categoria ainda NÃO\r\n * aparece no mês. Depósitos previstos = total × proporção (regra do Marcelo).\r\n * @param {{nome, valor_esperado, ativo}[]} contasFixas aba Contas Fixas\r\n * @returns {{gastos:{fixas,parcelas,total}, depositosPrevistos:{[pessoa]:number}}}\r\n */\r\nfunction previsaoProximoMes(lancamentos, contasFixas, salarios, mes) {\r\n  const doMes = lancamentos.filter((l) => mesDe(l.data_competencia) === mes);\r\n\r\n  // C2: provisórios da fatura aberta (origem=fatura-aberta) NÃO entram aqui — eles têm\r\n  // bloco próprio (\"Comprometido futuro\", v2); somá-los duplicaria o comprometido.\r\n  const parcelas = arred(doMes\r\n    .filter((l) => l.tipo === \"saída\" && l.status === \"previsto\" && l.origem !== \"fatura-aberta\")\r\n    .reduce((s, l) => s + valorNum(l.valor), 0));\r\n  const fixas = arred((contasFixas || [])\r\n    .filter((f) => normalizar(f.ativo) === \"sim\")\r\n    .reduce((s, f) => s + valorNum(f.valor_esperado), 0));\r\n  const total = arred(fixas + parcelas);\r\n\r\n  const detalhes = [];\r\n  for (const f of contasFixas || []) {\r\n    if (normalizar(f.ativo) === \"sim\") {\r\n      detalhes.push({ categoria: f.nome, valor: valorNum(f.valor_esperado) });\r\n    }\r\n  }\r\n  for (const l of doMes) {\r\n    if (l.tipo === \"saída\" && l.status === \"previsto\" && l.origem !== \"fatura-aberta\") {\r\n      detalhes.push({ categoria: l.categoria || \"Parcela\", valor: valorNum(l.valor) });\r\n    }\r\n  }\r\n\r\n  const prop = proporcoes(salarios);\r\n  const depositosPrevistos = {};\r\n  for (const p of Object.keys(prop)) depositosPrevistos[p] = arred(total * prop[p]);\r\n\r\n  return { gastos: { fixas, parcelas, total }, detalhes, depositosPrevistos };\r\n}\r\n\r\n\n\n// ── Glue (dashboard): processa inputs e valida autenticação ──\nconst headers = $('Webhook').first().json.headers || {};\nconst authHeader = headers['authorization'] || '';\nconst token = authHeader.replace(/^Bearer\\s+/i, '').trim();\nconst expectedPassword = ($env.DASHBOARD_PASSWORD || '').trim();\n\nif (!expectedPassword || token !== expectedPassword) {\n  return [{ json: { error: 'Senha inválida' } }];\n}\n\nconst vr = ($json.valueRanges || []);\nconst paraObjetos = (idx) => {\n  const v = (vr[idx] && vr[idx].values) || [];\n  if (v.length < 2) return [];\n  const h = v[0].map(String);\n  return v.slice(1).map((linha) => {\n    const o = {};\n    h.forEach((c, j) => { o[c] = linha[j] !== undefined ? linha[j] : ''; });\n    return o;\n  });\n};\nconst mesVigente = (iso) => { const [y, m] = iso.split('-'); return m + '/' + y; };\nconst mesAnterior = (iso) => { let [y, m] = iso.split('-').map(Number); m -= 1;\n  if (m === 0) { m = 12; y -= 1; } return String(m).padStart(2, '0') + '/' + y; };\nconst mesSeguinte = (mesStr) => { let [m, y] = mesStr.split('/').map(Number); m += 1;\n  if (m === 13) { m = 1; y += 1; } return String(m).padStart(2, '0') + '/' + y; };\nconst hoje = new Date().toLocaleDateString('en-CA', { timeZone: 'America/Sao_Paulo' });\nlet mesReq = '';\ntry { mesReq = $('Webhook').first().json.query.mes || ''; } catch (e) {}\nconst mesPassado = mesReq || mesAnterior(hoje);\nconst mesPrevisao = mesSeguinte(mesPassado);\n\nconst lancamentos = paraObjetos(0);\nconst contasFixas = paraObjetos(1);\nconst salarios = paraObjetos(2);\nconst metas = paraObjetos(3);\n\n// Mapeia meses disponíveis a partir de Lançamentos\nconst mesesSet = new Set();\nfor (const l of lancamentos) {\n  const m = mesDe(l.data_competencia);\n  if (m) mesesSet.add(m);\n}\nmesesSet.add(mesPassado);\nconst mesesDisponiveis = [...mesesSet].sort((a, b) => {\n  const [ma, ya] = a.split('/').map(Number);\n  const [mb, yb] = b.split('/').map(Number);\n  return ya !== yb ? ya - yb : ma - mb;\n});\n\n// Valida salários\nconst avisos = [];\nlet salariosConfig = salarios;\nconst somaSalarios = (salarios || []).reduce((s, r) => s + Number(r.salario || 0), 0);\nif (somaSalarios === 0) {\n  avisos.push('salarios_zerados');\n  salariosConfig = { Marcelo: 10000, Harumi: 10000 };\n}\n\n// Efetua cálculos\nconst totais = totaisMes(lancamentos, mesPassado);\nconst gastos = gastosPorCategoria(lancamentos, mesPassado);\nconst rateio = rateioMes(lancamentos, salariosConfig, mesPassado);\nconst previsao = previsaoProximoMes(lancamentos, contasFixas, salariosConfig, mesPrevisao);\n\n// Metas ativas\nconst metasAtivas = (metas || []).filter(m => normalizar(m.status) === 'ativa' || normalizar(m.status) === 'ativo');\n\nconst payload = {\n  mesPassado,\n  mesPrevisao,\n  totais,\n  gastos,\n  rateio,\n  previsao,\n  metas: metasAtivas,\n  mesesDisponiveis,\n  avisos\n};\n\nreturn [{ json: payload }];"
      },
      "id": "findashboa-03"
    },
    {
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        600,
        0
      ],
      "parameters": {
        "responseDataSource": "custom",
        "responseCode": "={{ $json.error ? 401 : 200 }}",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Authorization, Content-Type"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, OPTIONS"
              }
            ]
          }
        }
      },
      "id": "findashboa-04"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Ler Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler Dados": {
      "main": [
        [
          {
            "node": "Processar e Renderizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar e Renderizar": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
