workflows/dashboard.json
{
  "id": "FinDashboardWeb01",
  "name": "dashboard",
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "nodes": [
    {
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "f1aacea1-0009-4000-8000-financeiro09",
      "parameters": {
        "httpMethod": "GET",
        "path": "dashboard-data",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "findashboa-01"
    },
    {
      "name": "Ler Dados",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        0
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "method": "GET",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $env.GOOGLE_SHEETS_ID }}/values:batchGet?ranges=Lan%C3%A7amentos!A%3AJ&ranges=Contas%20Fixas!A%3AD&ranges=Sal%C3%A1rios!A%3AB&ranges=Metas!A%3AF&ranges=FaturaAberta!A%3AG&ranges=Parcelas!A%3AE&ranges=Config!A%3AB&valueRenderOption=UNFORMATTED_VALUE",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "FinSheetsSA00001",
          "name": "Google Sheets SA"
        }
      },
      "id": "findashboa-02"
    },
    {
      "name": "Processar e Renderizar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "parameters": {
        "jsCode": "// Rateio proporcional ao salário — lógica pura do dashboard da reunião familiar.\r\n// TDD em rateio.test.js. Módulo Node consumido pelo runner (não é Code node n8n).\r\n// Implementa gstack/specs/dashboard-reuniao-familiar.md.\r\n\r\n/** Remove acento e caixa para comparar categorias/nomes (Deposito ~ Depósito). */\r\nfunction normalizar(s) {\r\n  return String(s == null ? \"\" : s)\r\n    .normalize(\"NFD\").replace(/[̀-ͯ]/g, \"\").trim().toLowerCase();\r\n}\r\n\r\nconst arred = (n) => Math.round(n * 100) / 100;\r\n\r\n/**\r\n * Valor da planilha → número. Defesa contra `valor` gravado como TEXTO (ex.: o nó\r\n * googleSheets em USER_ENTERED + locale pt_BR pode coagir \"1011.87\" a texto). Aceita\r\n * número nativo, \"1011.87\" (ponto decimal), BR \"1.011,56\"/\"1011,56\" e \"R$ 1.234,56\".\r\n * Lixo/vazio → 0 (nunca NaN — NaN envenenaria a soma inteira do relatório).\r\n */\r\nfunction valorNum(v) {\r\n  if (typeof v === \"number\") return Number.isFinite(v) ? v : 0;\r\n  if (v === null || v === undefined) return 0;\r\n  let s = String(v).trim().replace(/^R\\$\\s*/i, \"\");\r\n  if (s === \"\") return 0;\r\n  if (s.includes(\",\")) s = s.replace(/\\./g, \"\").replace(\",\", \".\");        // BR: ponto=milhar, vírgula=decimal\r\n  else if ((s.match(/\\./g) || []).length > 1) s = s.replace(/\\./g, \"\");   // só pontos múltiplos = milhar\r\n  const n = Number(s);\r\n  return Number.isFinite(n) ? n : 0;\r\n}\r\n\r\n/**\r\n * Categorias de transferência interna — movimentação entre contas próprias\r\n * (ex.: pagar a fatura do cartão, resgate/aplicação, Pix para si mesmo). NÃO são\r\n * consumo nem receita: o gasto real já está nas compras da fatura (origem=cartao)\r\n * e contá-las de novo no extrato duplicaria. O parser resolve \"Pagamento/Retirada\"\r\n * para uma destas conforme a direção (entrada→Pagamento, saída→Retirada).\r\n */\r\nconst CATEGORIAS_TRANSFERENCIA = new Set([\"pagamento\", \"retirada\"]);\r\nfunction ehTransferencia(categoria) {\r\n  return CATEGORIAS_TRANSFERENCIA.has(normalizar(categoria));\r\n}\r\n\r\n/** salarios: {pessoa: salario} ou [{pessoa, salario}] → {pessoa: proporção}. */\r\nfunction proporcoes(salarios) {\r\n  const pares = Array.isArray(salarios)\r\n    ? salarios.map((s) => [s.pessoa, Number(s.salario)])\r\n    : Object.entries(salarios).map(([p, v]) => [p, Number(v)]);\r\n  const total = pares.reduce((s, [, v]) => s + v, 0);\r\n  if (!(total > 0)) throw new Error(\"soma dos salários deve ser > 0 (configurar aba Salários)\");\r\n  const out = {};\r\n  for (const [p, v] of pares) out[p] = v / total;\r\n  return out;\r\n}\r\n\r\n/**\r\n * Data da planilha → \"MM/YYYY\" | null. Aceita os três formatos que o nó de\r\n * leitura pode devolver (valueRenderOption=UNFORMATTED_VALUE):\r\n *   - \"DD/MM/YYYY\" (string) ;\r\n *   - \"YYYY-MM-DD\" (string ISO) ;\r\n *   - serial do Sheets (número ou string só-dígitos): célula formatada como\r\n *     Data volta como dias desde 1899-12-30, não como string.\r\n */\r\nfunction mesDe(v) {\r\n  if (v === null || v === undefined || v === \"\") return null;\r\n  if (typeof v === \"number\" || (typeof v === \"string\" && /^\\d+(\\.\\d+)?$/.test(v.trim()))) {\r\n    const serial = Math.floor(Number(v));\r\n    if (!Number.isFinite(serial) || serial <= 0) return null;\r\n    const d = new Date(Date.UTC(1899, 11, 30) + serial * 86400000);\r\n    return `${String(d.getUTCMonth() + 1).padStart(2, \"0\")}/${d.getUTCFullYear()}`;\r\n  }\r\n  const s = String(v).trim();\r\n  let m;\r\n  if ((m = /^\\d{2}\\/(\\d{2})\\/(\\d{4})$/.exec(s))) return `${m[1]}/${m[2]}`;\r\n  if ((m = /^(\\d{4})-(\\d{2})-\\d{2}/.exec(s))) return `${m[2]}/${m[1]}`;\r\n  return null;\r\n}\r\n\r\n/** \"MM/YYYY\" → número YYYYMM comparável (ex.: \"05/2026\" → 202605); inválido → null. */\r\nfunction mesParaNum(mes) {\r\n  const m = /^(\\d{2})\\/(\\d{4})$/.exec(String(mes == null ? \"\" : mes).trim());\r\n  if (!m) return null;\r\n  return Number(m[2]) * 100 + Number(m[1]);\r\n}\r\n\r\n/**\r\n * Pessoa dona de uma categoria exclusiva \"Gastos {pessoa}\", ou null. Despesa\r\n * exclusiva NÃO é dividida por salário: é cobrada 100% de quem é (decisão do Marcelo).\r\n */\r\nfunction categoriaExclusivaDe(categoria, pessoas) {\r\n  const c = normalizar(categoria);\r\n  for (const p of pessoas) {\r\n    if (c === \"gastos \" + normalizar(p)) return p;\r\n  }\r\n  return null;\r\n}\r\n\r\n/**\r\n * Movimentação PESSOAL (não é da casa): \"Depósito para o/a {pessoa}\" (entrada) e\r\n * \"Saída para o/a {pessoa}\" (saída). Dinheiro que passou pela conta mas é pessoal —\r\n * ex.: Pix de terceiros que era do Marcelo + o Pix que ele mandou de volta p/ si.\r\n * APARECE no fluxo de caixa (entradas/saídas), mas é NEUTRA ao rateio: não é\r\n * contribuição (pago) nem custo/dívida da casa (base/cota). Distingue-se de \"Retirada\"\r\n * (pgto de fatura / aplicação CDB), que é transferência excluída de tudo.\r\n */\r\nfunction ehMovimentacaoPessoal(categoria) {\r\n  const c = normalizar(categoria);\r\n  return /^deposito para /.test(c) || /^saida para /.test(c);\r\n}\r\n\r\n/**\r\n * Categoria de META (\"Meta: Viagem Lua de Mel\", \"Meta: IPTU\", ...). É poupança/objetivo\r\n * rastreado à parte na aba Metas — NÃO é despesa mensal compartilhada da casa. Fica FORA\r\n * do rateio e do treemap de gastos da casa (decisão do Marcelo). Aparece no fluxo de caixa.\r\n */\r\nfunction ehMeta(categoria) {\r\n  return /^meta:/.test(normalizar(categoria));\r\n}\r\n\r\n/**\r\n * Núcleo do rateio sobre um conjunto JÁ filtrado de lançamentos (DRY entre rateioMes\r\n * e rateioAcumulado). `prop` = proporções por pessoa (de proporcoes()).\r\n * - base dividida = saídas confirmadas não-transferência, não-exclusivas e não-pessoais;\r\n * - exclusivo[p] = Σ saídas confirmadas \"Gastos {p}\" (100% da pessoa);\r\n * - cota[p] = base × prop[p] + exclusivo[p];   pago[p] = entradas \"Depósito {p}\";\r\n * - saldo = pago − cota;  acerto = cota − pago (positivo = a pessoa deve).\r\n * Movimentações pessoais (\"Depósito/Saída para o ...\") são IGNORADAS aqui (neutras).\r\n * Conservação: Σ cotas = base + Σ exclusivos = Σ saídas confirmadas não-transferência/pessoais.\r\n * @returns {{totalDespesas, cota, pago, saldo, acerto}}\r\n */\r\nfunction calcularRateio(lancamentos, prop) {\r\n  const pessoas = Object.keys(prop);\r\n  const exclusivo = {};\r\n  for (const p of pessoas) exclusivo[p] = 0;\r\n  let base = 0;\r\n  for (const l of lancamentos) {\r\n    if (l.tipo !== \"saída\" || l.status !== \"confirmado\") continue;\r\n    // fora do rateio: transferência interna, movimentação pessoal e Metas (poupança à parte)\r\n    if (ehTransferencia(l.categoria) || ehMovimentacaoPessoal(l.categoria) || ehMeta(l.categoria)) continue;\r\n    const dono = categoriaExclusivaDe(l.categoria, pessoas);\r\n    if (dono) exclusivo[dono] = arred(exclusivo[dono] + valorNum(l.valor));\r\n    else base = arred(base + valorNum(l.valor));\r\n  }\r\n  const totalDespesas = arred(base + pessoas.reduce((s, p) => s + exclusivo[p], 0));\r\n\r\n  // Divide a base entre as pessoas; a ÚLTIMA absorve o resíduo de arredondamento para\r\n  // garantir Σ(parte dividida) == base exatamente — sem dívida-fantasma de R$ 0,01 no\r\n  // saldo cumulativo (que nunca quitaria). O exclusivo de cada um soma à parte dele.\r\n  const parteBase = {};\r\n  let alocado = 0;\r\n  pessoas.forEach((p, idx) => {\r\n    if (idx === pessoas.length - 1) parteBase[p] = arred(base - alocado);\r\n    else { parteBase[p] = arred(base * prop[p]); alocado = arred(alocado + parteBase[p]); }\r\n  });\r\n\r\n  const cota = {}, pago = {}, saldo = {}, acerto = {};\r\n  for (const p of pessoas) {\r\n    cota[p] = arred(parteBase[p] + exclusivo[p]);\r\n    const alvo = normalizar(`deposito ${p}`);\r\n    pago[p] = arred(lancamentos\r\n      .filter((l) => l.tipo === \"entrada\" && normalizar(l.categoria) === alvo)\r\n      .reduce((s, l) => s + valorNum(l.valor), 0));\r\n    saldo[p] = arred(pago[p] - cota[p]);\r\n    acerto[p] = arred(cota[p] - pago[p]);\r\n  }\r\n  return { totalDespesas, cota, pago, saldo, acerto };\r\n}\r\n\r\n/**\r\n * Rateio do mês (`mes` = \"MM/YYYY\"). Visão de um único mês (usada no relatório).\r\n * @returns {{mes, totalDespesas, proporcoes, cota, pago, saldo, acerto}}\r\n */\r\nfunction rateioMes(lancamentos, salarios, mes) {\r\n  const prop = proporcoes(salarios);\r\n  const doMes = lancamentos.filter((l) => mesDe(l.data_competencia) === mes);\r\n  return { mes, proporcoes: prop, ...calcularRateio(doMes, prop) };\r\n}\r\n\r\n/**\r\n * Rateio CUMULATIVO: meses com `mesInicio ≤ mesDe ≤ mesAte`. Detecta dívida acumulada\r\n * (decisão do Marcelo). `mesInicio` (opcional, \"MM/YYYY\") é o marco onde a conta da casa\r\n * começa — meses anteriores (pré-rastreio) ficam de fora. Lançamentos com data ilegível\r\n * (`mesDe===null`) são descartados.\r\n * @returns {{mesAte, mesInicio, acumulado:true, totalDespesas, proporcoes, cota, pago, saldo, acerto}}\r\n */\r\nfunction rateioAcumulado(lancamentos, salarios, mesAte, mesInicio) {\r\n  const prop = proporcoes(salarios);\r\n  const ate = mesParaNum(mesAte);\r\n  const inicio = mesParaNum(mesInicio);\r\n  const ateOuAntes = lancamentos.filter((l) => {\r\n    const m = mesParaNum(mesDe(l.data_competencia));\r\n    return m !== null && (ate === null || m <= ate) && (inicio === null || m >= inicio);\r\n  });\r\n\r\n  const mesesSet = new Set();\r\n  for (const l of ateOuAntes) {\r\n    const m = mesDe(l.data_competencia);\r\n    if (m) mesesSet.add(m);\r\n  }\r\n  const mesesOrdenados = [...mesesSet].sort((a, b) => mesParaNum(a) - mesParaNum(b));\r\n\r\n  const pessoas = Object.keys(prop);\r\n  // FONTE ÚNICA: os totais do card são a SOMA mês-a-mês (mesmo cálculo do histórico do\r\n  // modal). Antes o card vinha de um calcularRateio agregado separado, que podia divergir\r\n  // da soma do modal em centavos (resíduo de arredondamento absorvido 1× vs N×). Agora o\r\n  // card == última linha de saldoAcumulado do histórico, sempre.\r\n  const cota = {}, pago = {}, saldo = {}, acerto = {};\r\n  for (const p of pessoas) { cota[p] = 0; pago[p] = 0; saldo[p] = 0; acerto[p] = 0; }\r\n  let totalDespesas = 0;\r\n  const historico = [];\r\n\r\n  for (const m of mesesOrdenados) {\r\n    const doMes = lancamentos.filter((l) => mesDe(l.data_competencia) === m);\r\n    const rMes = calcularRateio(doMes, prop);\r\n\r\n    totalDespesas = arred(totalDespesas + rMes.totalDespesas);\r\n    for (const p of pessoas) {\r\n      cota[p] = arred(cota[p] + rMes.cota[p]);\r\n      pago[p] = arred(pago[p] + rMes.pago[p]);\r\n      saldo[p] = arred(saldo[p] + rMes.saldo[p]);\r\n      acerto[p] = arred(cota[p] - pago[p]);\r\n    }\r\n\r\n    const exclusivoMes = {};\r\n    for (const p of pessoas) {\r\n      exclusivoMes[p] = 0;\r\n      for (const l of doMes) {\r\n        if (l.tipo === \"saída\" && l.status === \"confirmado\"\r\n          && categoriaExclusivaDe(l.categoria, pessoas) === p) {\r\n          exclusivoMes[p] = arred(exclusivoMes[p] + valorNum(l.valor));\r\n        }\r\n      }\r\n    }\r\n\r\n    historico.push({\r\n      mes: m,\r\n      totalDespesas: rMes.totalDespesas,\r\n      cota: rMes.cota,\r\n      exclusivo: exclusivoMes,\r\n      pago: rMes.pago,\r\n      saldo: rMes.saldo,\r\n      saldoAcumulado: { ...saldo }, // == card (soma corrente) — modal e card sempre batem\r\n    });\r\n  }\r\n\r\n  return { mesAte, mesInicio: mesInicio || null, acumulado: true, proporcoes: prop, totalDespesas, cota, pago, saldo, acerto, historico };\r\n}\r\n\r\n\n// Agregações do dashboard da reunião familiar — lógica pura. TDD em dashboard.test.js.\r\n// Módulo Node consumido pelo runner (não é Code node n8n).\r\n// Implementa gstack/specs/dashboard-reuniao-familiar.md.\r\n/**\r\n * Gastos da casa do mês por categoria: `previsto` (Conta Fixa ativa, valor esperado) e\r\n * `confirmado` (saída confirmada do mês). Inclui categorias com gasto confirmado E contas\r\n * fixas ativas ainda não pagas (previsto>0, confirmado=0) — assim dá p/ ver o que falta pagar.\r\n * Exclui transferência, movimentação pessoal e Metas (só gastos da casa).\r\n * @returns {{categoria, previsto, confirmado}[]} ordenado por confirmado desc, depois previsto.\r\n */\r\nfunction gastosPorCategoria(lancamentos, mes, contasFixas) {\r\n  const conf = new Map();\r\n  for (const l of lancamentos) {\r\n    if (l.tipo !== \"saída\" || l.status !== \"confirmado\" || mesDe(l.data_competencia) !== mes) continue;\r\n    if (ehTransferencia(l.categoria) || ehMovimentacaoPessoal(l.categoria) || ehMeta(l.categoria)) continue;\r\n    conf.set(l.categoria, (conf.get(l.categoria) || 0) + valorNum(l.valor));\r\n  }\r\n  const prev = new Map();\r\n  for (const f of contasFixas || []) {\r\n    if (normalizar(f.ativo) === \"sim\") {\r\n      prev.set(f.nome, arred((prev.get(f.nome) || 0) + valorNum(f.valor_esperado)));\r\n    }\r\n  }\r\n  const cats = new Set([...conf.keys(), ...prev.keys()]);\r\n  return [...cats]\r\n    .map((categoria) => ({\r\n      categoria,\r\n      previsto: arred(prev.get(categoria) || 0),\r\n      confirmado: arred(conf.get(categoria) || 0),\r\n    }))\r\n    .sort((a, b) => (b.confirmado - a.confirmado) || (b.previsto - a.previsto));\r\n}\r\n\r\n/**\r\n * Totais confirmados do mês: saídas, entradas, saldo. É a visão de FLUXO DE CAIXA — inclui\r\n * movimentações pessoais (\"Depósito/Saída para o ...\"), que o usuário quer ver entrando/saindo.\r\n * Só exclui transferências internas (pgto de fatura / aplicação CDB), que dobrariam contagem.\r\n * (Logo, `saidas` pode ser > Σ gastosPorCategoria, que mostra só os gastos da casa.)\r\n */\r\nfunction totaisMes(lancamentos, mes) {\r\n  const soma = (tipo) => arred(lancamentos\r\n    .filter((l) => l.tipo === tipo && l.status === \"confirmado\" && mesDe(l.data_competencia) === mes\r\n      && !ehTransferencia(l.categoria))\r\n    .reduce((s, l) => s + valorNum(l.valor), 0));\r\n  const saidas = soma(\"saída\");\r\n  const entradas = soma(\"entrada\");\r\n  return { saidas, entradas, saldo: arred(entradas - saidas) };\r\n}\r\n\r\n/**\r\n * Previsão do próximo mês (`mes` = \"MM/YYYY\"): parcelas já lançadas (saídas\r\n * previstas do mês) + projeção das contas fixas ativas cuja categoria ainda NÃO\r\n * aparece no mês. Depósitos previstos = total × proporção (regra do Marcelo).\r\n * @param {{nome, valor_esperado, ativo}[]} contasFixas aba Contas Fixas\r\n * @returns {{gastos:{fixas,parcelas,total}, depositosPrevistos:{[pessoa]:number}}}\r\n */\r\nfunction previsaoProximoMes(lancamentos, contasFixas, salarios, mes, faturaAbertaRows) {\r\n  const prop = proporcoes(salarios);\r\n  const pessoas = Object.keys(prop);\r\n\r\n  // 1. Gastos fixos ativos\r\n  const fixas = arred((contasFixas || [])\r\n    .filter((f) => normalizar(f.ativo) === \"sim\")\r\n    .reduce((s, f) => s + valorNum(f.valor_esperado), 0));\r\n\r\n  // 2. Fatura aberta fechada que VENCE no mês previsto (ciclo vence dia 10/MM). A previsão\r\n  //    de 03/2026 soma a fatura cujo vencimento cai em 03/2026 — não qualquer fatura capturada.\r\n  const faFechadas = (faturaAbertaRows || []).filter((r) =>\r\n    normalizar(r.status) === \"fechado\" && mesDe(normalizarCiclo(r.ciclo)) === mes);\r\n  const faturaTotal = arred(faFechadas.reduce((s, r) => s + valorNum(r.valor), 0));\r\n\r\n  // 3. Gastos exclusivos/pessoais na fatura aberta\r\n  const exclusivoFatura = {};\r\n  for (const p of pessoas) {\r\n    exclusivoFatura[p] = 0;\r\n  }\r\n  for (const r of faFechadas) {\r\n    const dono = categoriaExclusivaDe(r.categoria_c6, pessoas);\r\n    if (dono) {\r\n      exclusivoFatura[dono] = arred(exclusivoFatura[dono] + valorNum(r.valor));\r\n    }\r\n  }\r\n  const exclusivoFaturaTotal = arred(pessoas.reduce((s, p) => s + exclusivoFatura[p], 0));\r\n\r\n  // 4. Base comum (compartilhada)\r\n  const faturaBase = arred(faturaTotal - exclusivoFaturaTotal);\r\n  const totalPrevistoBase = arred(fixas + faturaBase);\r\n\r\n  // 5. Rateio da base proporcional ao salário (conservação de resíduo de arredondamento)\r\n  const parteBase = {};\r\n  let alocado = 0;\r\n  pessoas.forEach((p, idx) => {\r\n    if (idx === pessoas.length - 1) {\r\n      parteBase[p] = arred(totalPrevistoBase - alocado);\r\n    } else {\r\n      parteBase[p] = arred(totalPrevistoBase * prop[p]);\r\n      alocado = arred(alocado + parteBase[p]);\r\n    }\r\n  });\r\n\r\n  // 6. Depósito previsto = cota base proporcional + gastos exclusivos individuais\r\n  const depositosPrevistos = {};\r\n  for (const p of pessoas) {\r\n    depositosPrevistos[p] = arred(parteBase[p] + exclusivoFatura[p]);\r\n  }\r\n\r\n  // 7. Detalhes\r\n  const detalhes = [];\r\n  for (const f of contasFixas || []) {\r\n    if (normalizar(f.ativo) === \"sim\") {\r\n      detalhes.push({ categoria: f.nome, valor: valorNum(f.valor_esperado) });\r\n    }\r\n  }\r\n  if (faturaTotal > 0) {\r\n    detalhes.push({ categoria: \"Fatura Cartão C6\", valor: faturaTotal });\r\n  }\r\n\r\n  const total = arred(fixas + faturaTotal);\r\n\r\n  return { gastos: { fixas, parcelas: faturaTotal, total }, detalhes, depositosPrevistos };\r\n}\r\n\r\n/**\r\n * Comprometido futuro (v2): fatura aberta do ciclo corrente + projeção das parcelas.\r\n * Prospectivo a partir de `hojeISO` (YYYY-MM-DD) — independe do seletor de mês. Bloco\r\n * separado da previsão (anti-dupla-contagem): a projeção é derivada da aba `Parcelas`,\r\n * nunca de `Lançamentos`.\r\n * @param {object[]} faturaAbertaRows linhas da aba FaturaAberta (A:G)\r\n * @param {object[]} parcelasRows linhas da aba Parcelas (A:E) — ciclo_referencia em serial\r\n * @param {object[]} configRows aba Config (chave|valor) — comprometido_horizonte (default 6)\r\n * @returns {{faturaAberta:{ciclo,total,status,porCategoria}|null, parcelas:{vencimento,total}[], horizonte:number}}\r\n */\r\nfunction comprometidoFuturo(faturaAbertaRows, parcelasRows, configRows, hojeISO) {\r\n  let horizonte = 6;\r\n  const cfg = (configRows || []).find((r) => normalizar(r.chave) === \"comprometido_horizonte\");\r\n  if (cfg && Math.floor(Number(cfg.valor)) > 0) horizonte = Math.floor(Number(cfg.valor));\r\n\r\n  // Fatura aberta: só status='fechado' (R3 — rascunho/não-fechado fora do dashboard).\r\n  let faFechadas = (faturaAbertaRows || []).filter((r) => normalizar(r.status) === \"fechado\");\r\n  let faturaAberta = null;\r\n  if (faFechadas.length) {\r\n    // A aba é clear+write de um único ciclo; mas se sobrarem 'fechado' de ciclos diferentes\r\n    // (reseed parcial), ancora no ciclo mais recente — evita total e rótulo divergirem.\r\n    const ciclos = [...new Set(faFechadas.map((r) => normalizarCiclo(r.ciclo)))]\r\n      .filter(Boolean)\r\n      .sort((a, b) => -(mesesEntreVencimentos(a, b) || 0)); // crescente (mesesEntre = b−a)\r\n    const ciclo = ciclos[ciclos.length - 1];\r\n    faFechadas = faFechadas.filter((r) => normalizarCiclo(r.ciclo) === ciclo);\r\n    const total = arred(faFechadas.reduce((s, r) => s + valorNum(r.valor), 0));\r\n    const catMap = new Map();\r\n    for (const r of faFechadas) {\r\n      const c = (r.categoria_c6 && String(r.categoria_c6).trim()) || \"Outros\";\r\n      catMap.set(c, (catMap.get(c) || 0) + valorNum(r.valor));\r\n    }\r\n    const porCategoria = [...catMap.entries()]\r\n      .map(([categoria, t]) => ({ categoria, total: arred(t) }))\r\n      .sort((a, b) => b.total - a.total);\r\n    faturaAberta = { ciclo, total, status: \"fechado\", porCategoria };\r\n  }\r\n\r\n  // Âncora = max(ciclo da fatura aberta, vencimento do ciclo aberto de hoje) — Q2.\r\n  // Se vencHoje falhar (hoje malformado), usa o ciclo da fatura aberta como âncora.\r\n  const vencHoje = vencimentoCicloAberto(hojeISO);\r\n  let ancora = vencHoje;\r\n  if (faturaAberta && (!vencHoje || mesesEntreVencimentos(vencHoje, faturaAberta.ciclo) > 0)) {\r\n    ancora = faturaAberta.ciclo;\r\n  }\r\n\r\n  const parcelaRows = (parcelasRows || []).map((r) => ({\r\n    estabelecimento: r.estabelecimento,\r\n    valor: valorNum(r.valor),\r\n    M: Number(r.M),\r\n    N_no_seed: Number(r.N_no_seed),\r\n    ciclo_referencia: normalizarCiclo(r.ciclo_referencia),\r\n  }));\r\n  const parcelas = ancora ? projetarComprometido(parcelaRows, ancora, horizonte) : [];\r\n  return { faturaAberta, parcelas, horizonte };\r\n}\r\n\r\n\n// Parser da FATURA ABERTA do C6 — lógica pura do Code node do futuro workflow.\r\n// O C6 não exporta CSV da fatura não-fechada; o Marcelo cola, no Telegram, o TEXTO\r\n// REAL selecionável do app web (Ctrl+C) — não OCR, não print. Parser determinístico,\r\n// sem LLM. Implementa gstack/specs/fatura-aberta-projecao.md (Fatia 1: parser + checksum).\r\n//\r\n// Convenções herdadas do projeto: valor sempre positivo (direção fica no consumidor);\r\n// \"Inclusao de Pagamento\"/negativos são excluídos do gasto e do checksum (mesma ideia do\r\n// ehTransferencia). Parser nunca trava: linha que não casa o padrão vira aviso.\r\n\r\nconst DIAS_SEMANA = \"Domingo|Segunda-feira|Terça-feira|Quarta-feira|Quinta-feira|Sexta-feira|Sábado\";\r\nconst RE_DIA = new RegExp(`^(?:${DIAS_SEMANA}),\\\\s*(\\\\d{2})/(\\\\d{2})/(\\\\d{2})$`);\r\nconst RE_VALOR = /^-?R\\$\\s/;\r\nconst RE_PARCELAS = /^Em\\s+(\\d+)x$/i;\r\nconst RE_PAGAMENTO = /Inclusao de Pagamento|Pagamento recebido|Retirada/i;\r\nconst ASSINATURA = \"Total dessa fatura\";\r\n\r\n/** \"R$ 1.234,56\" / \"-R$ 9.363,91\" → number (com sinal). Inválido → null (não trava). */\r\nfunction parseReais(s) {\r\n  const txt = String(s).trim();\r\n  if (!RE_VALOR.test(txt)) return null;\r\n  const limpo = txt.replace(/^-?R\\$\\s*/, \"\").replace(/\\./g, \"\").replace(\",\", \".\");\r\n  if (limpo === \"\") return null;\r\n  const n = Number(limpo);\r\n  if (!Number.isFinite(n)) return null;\r\n  const valor = (txt.startsWith(\"-\") ? -1 : 1) * Math.abs(n);\r\n  return Math.round(valor * 100) / 100;\r\n}\r\n\r\n/** \"Domingo, 14/06/26\" → \"14/06/2026\" (DD/MM/AA→YYYY, R7). Não-dia → null. */\r\nfunction diaParaData(linha) {\r\n  const m = RE_DIA.exec(linha.trim());\r\n  if (!m) return null;\r\n  return `${m[1]}/${m[2]}/20${m[3]}`;\r\n}\r\n\r\nconst arredonda = (n) => Math.round(n * 100) / 100;\r\n\r\n/**\r\n * Parseia o texto colado da fatura aberta do C6 web.\r\n * @param {string} texto bloco copiado do app web (pode vir de 1+ mensagens concatenadas)\r\n * @returns {{\r\n *   competencia_label: string|null,\r\n *   total: number|null,\r\n *   lancamentos: {data:string, categoria_c6:string, estabelecimento:string, valor:number, parcelas_total:number|null}[],\r\n *   pagamentos: {data:string|null, descricao:string, valor:number}[],\r\n *   checksum: {somado:number, total:number|null, diferenca:number|null, bate:boolean},\r\n *   avisos: string[]\r\n * }}\r\n */\r\nfunction parseFaturaAberta(texto) {\r\n  const linhas = String(texto).replace(/^﻿/, \"\").split(/\\r?\\n/)\r\n    .map((l) => l.trim()).filter((l) => l !== \"\");\r\n  const avisos = [];\r\n\r\n  // Assinatura obrigatória: sem ela, não é fatura C6 → não grava.\r\n  const idxAssinatura = linhas.indexOf(ASSINATURA);\r\n  if (idxAssinatura === -1) {\r\n    avisos.push(`texto sem a assinatura \"${ASSINATURA}\" — não parece a fatura do C6; nada gravado`);\r\n    return {\r\n      competencia_label: null, total: null, lancamentos: [], pagamentos: [],\r\n      checksum: { somado: 0, total: null, diferenca: null, bate: false }, avisos,\r\n    };\r\n  }\r\n\r\n  // Cabeçalho = tudo antes do primeiro dia da semana; competência é a 1ª linha.\r\n  const idxPrimeiroDia = linhas.findIndex((l) => diaParaData(l) !== null);\r\n  const competencia_label = linhas[0] || null;\r\n\r\n  // Total dessa fatura = primeiro valor logo após a assinatura.\r\n  let total = null;\r\n  for (let i = idxAssinatura + 1; i < linhas.length; i++) {\r\n    const v = parseReais(linhas[i]);\r\n    if (v !== null) { total = Math.abs(v); break; }\r\n  }\r\n\r\n  const lancamentos = [];\r\n  const pagamentos = [];\r\n  let dataAtual = null;\r\n\r\n  const corpo = idxPrimeiroDia === -1 ? [] : linhas.slice(idxPrimeiroDia);\r\n  let i = 0;\r\n  while (i < corpo.length) {\r\n    const linha = corpo[i];\r\n\r\n    const data = diaParaData(linha);\r\n    if (data) { dataAtual = data; i++; continue; }\r\n\r\n    // Acumula descritores (categoria, estabelecimento, ou rótulo de pagamento)\r\n    // até encontrar a primeira linha de valor.\r\n    const descritores = [];\r\n    while (i < corpo.length && !RE_VALOR.test(corpo[i]) && diaParaData(corpo[i]) === null) {\r\n      descritores.push(corpo[i]);\r\n      i++;\r\n    }\r\n    if (i >= corpo.length) {\r\n      if (descritores.length) avisos.push(`descrição sem valor no fim do texto: \"${descritores.join(\" / \")}\"`);\r\n      break;\r\n    }\r\n\r\n    // Valor (vem repetido 2×: original e convertido; nacional = iguais → pega o 1º).\r\n    const valor = parseReais(corpo[i]);\r\n    i++;\r\n    while (i < corpo.length && RE_VALOR.test(corpo[i])) i++; // consome a 2ª ocorrência\r\n    // Parcelas opcionais: \"Em Mx\".\r\n    let parcelas_total = null;\r\n    if (i < corpo.length) {\r\n      const mp = RE_PARCELAS.exec(corpo[i]);\r\n      if (mp) { parcelas_total = Number(mp[1]); i++; }\r\n    }\r\n\r\n    if (valor === null) {\r\n      avisos.push(`valor malformado, lançamento ignorado: \"${descritores.join(\" / \")}\"`);\r\n      continue;\r\n    }\r\n    if (descritores.length === 0) {\r\n      avisos.push(`valor sem descrição (${corpo[i - 1]}) ignorado`);\r\n      continue;\r\n    }\r\n\r\n    const ehPagamento = valor < 0 || RE_PAGAMENTO.test(descritores.join(\" \"));\r\n    if (ehPagamento) {\r\n      pagamentos.push({ data: dataAtual, descricao: descritores.join(\" / \"), valor: Math.abs(valor) });\r\n      continue;\r\n    }\r\n\r\n    const categoria_c6 = descritores.length >= 2 ? descritores[0] : \"\";\r\n    const estabelecimento = descritores.length >= 2\r\n      ? descritores.slice(1).join(\" \") : descritores[0];\r\n    lancamentos.push({\r\n      data: dataAtual,\r\n      categoria_c6,\r\n      estabelecimento,\r\n      valor: Math.abs(valor),\r\n      parcelas_total,\r\n    });\r\n  }\r\n\r\n  const somado = arredonda(lancamentos.reduce((s, l) => s + l.valor, 0));\r\n  const diferenca = total === null ? null : arredonda(total - somado);\r\n  const bate = total !== null && diferenca === 0;\r\n\r\n  return {\r\n    competencia_label,\r\n    total,\r\n    lancamentos,\r\n    pagamentos,\r\n    checksum: { somado, total, diferenca, bate },\r\n    avisos,\r\n  };\r\n}\r\n\r\n// ═══════════════ FATIA 2 — parcelas (seed/reseed + projeção) ═════════\r\n//\r\n// O desktop só mostra \"Em Mx\" (total), nunca \"N de M\". Inferir N pela data é furado\r\n// (provado). Solução: seed único (Marcelo lê \"Parcela N de M\" no celular) + índice\r\n// DERIVADO DO CALENDÁRIO — N_atual = N_no_seed + ciclos decorridos desde o seed.\r\n// Assim, pular uma colagem de ciclo NÃO dessincroniza, e recolar o mesmo ciclo não\r\n// incrementa. O seed é reexecutável (= reseed): basta recolar para sobrescrever.\r\n\r\nconst MESES = {\r\n  janeiro: 1, fevereiro: 2, março: 3, marco: 3, abril: 4, maio: 5, junho: 6,\r\n  julho: 7, agosto: 8, setembro: 9, outubro: 10, novembro: 11, dezembro: 12,\r\n};\r\n\r\n/** Normaliza estabelecimento/chave p/ casamento: maiúsculas + colapsa espaços. */\r\nfunction normalizarChave(s) {\r\n  return String(s).trim().toUpperCase().replace(/\\s+/g, \" \");\r\n}\r\n\r\n/** \"julho de 2026\" → vencimento \"10/07/2026\" (ciclo vence dia 10). Inválido → null. */\r\nfunction mesAnoParaVencimento(label) {\r\n  const m = /^([a-zç]+)\\s+de\\s+(\\d{4})$/i.exec(String(label).trim());\r\n  if (!m) return null;\r\n  const mes = MESES[m[1].toLowerCase()];\r\n  if (!mes) return null;\r\n  return `10/${String(mes).padStart(2, \"0\")}/${m[2]}`;\r\n}\r\n\r\n/** Soma k meses a um vencimento \"10/MM/YYYY\" (vira o ano). */\r\nfunction addMesesVencimento(vencimento, k) {\r\n  const m = /^(\\d{2})\\/(\\d{2})\\/(\\d{4})$/.exec(String(vencimento).trim());\r\n  if (!m) return null;\r\n  const idx = Number(m[2]) - 1 + k;\r\n  const ano = Number(m[3]) + Math.floor(idx / 12);\r\n  const mes = ((idx % 12) + 12) % 12;\r\n  return `${m[1]}/${String(mes + 1).padStart(2, \"0\")}/${ano}`;\r\n}\r\n\r\nconst proximoVencimento = (v) => addMesesVencimento(v, 1);\r\n\r\n/** Diferença em meses entre dois vencimentos \"10/MM/YYYY\" (v2 − v1). */\r\nfunction mesesEntreVencimentos(v1, v2) {\r\n  const a = /^(\\d{2})\\/(\\d{2})\\/(\\d{4})$/.exec(String(v1).trim());\r\n  const b = /^(\\d{2})\\/(\\d{2})\\/(\\d{4})$/.exec(String(v2).trim());\r\n  if (!a || !b) return null;\r\n  return (Number(b[3]) - Number(a[3])) * 12 + (Number(b[2]) - Number(a[2]));\r\n}\r\n\r\n/**\r\n * Normaliza um ciclo/data lido do Sheets para \"DD/MM/YYYY\". O append do Sheets coage\r\n * datas em serial (ex.: 46213 = 10/07/2026); ao ler de volta vem o número — esta função\r\n * o converte de volta. Aceita serial (número ou string-só-dígitos), \"DD/MM/YYYY\" e\r\n * \"YYYY-MM-DD\". Vazio → \"\".\r\n */\r\nfunction normalizarCiclo(v) {\r\n  if (v === null || v === undefined || v === \"\") return \"\";\r\n  if (typeof v === \"number\" || (typeof v === \"string\" && /^\\d+(\\.\\d+)?$/.test(v.trim()))) {\r\n    const serial = Math.floor(Number(v));\r\n    const d = new Date(Date.UTC(1899, 11, 30) + serial * 86400000);\r\n    const dd = String(d.getUTCDate()).padStart(2, \"0\");\r\n    const mm = String(d.getUTCMonth() + 1).padStart(2, \"0\");\r\n    return `${dd}/${mm}/${d.getUTCFullYear()}`;\r\n  }\r\n  const s = String(v).trim();\r\n  let m;\r\n  if (/^(\\d{2})\\/(\\d{2})\\/(\\d{4})$/.test(s)) return s;\r\n  if ((m = /^(\\d{4})-(\\d{2})-(\\d{2})/.exec(s))) return `${m[3]}/${m[2]}/${m[1]}`;\r\n  return s;\r\n}\r\n\r\n/**\r\n * Parseia o bloco do /seedparcelas — uma linha por parcela: \"estabelecimento;N/M\".\r\n * Separador canônico \";\" (o \"|\" antigo continua aceito por retrocompat).\r\n * Reexecutável (reseed). @returns {{entradas:{chave,N,M}[], avisos:string[]}}\r\n */\r\nfunction parseSeedParcelas(texto) {\r\n  const entradas = [];\r\n  const avisos = [];\r\n  for (const bruta of String(texto).split(/\\r?\\n/)) {\r\n    const linha = bruta.trim();\r\n    if (linha === \"\") continue;\r\n    const m = /^(.+?)\\s*[;|]\\s*(\\d+)\\s*\\/\\s*(\\d+)$/.exec(linha);\r\n    if (!m) { avisos.push(`linha de seed malformada (esperado \"estab;N/M\"): \"${linha}\"`); continue; }\r\n    const N = Number(m[2]);\r\n    const M = Number(m[3]);\r\n    if (N < 1 || M < 1 || N > M) { avisos.push(`parcela inválida (N/M fora de 1..M): \"${linha}\"`); continue; }\r\n    entradas.push({ chave: m[1].trim(), N, M });\r\n  }\r\n  return { entradas, avisos };\r\n}\r\n\r\n/**\r\n * Casa cada seed com os lançamentos parcelados por (chave CONTIDA no estabelecimento, M)\r\n * e monta as linhas da aba Parcelas. Uma linha por lançamento casado (GOL = 4 compras 3x\r\n * no mesmo dia → 4 linhas). @returns {{rows:object[], avisos:string[]}}\r\n */\r\nfunction montarEstadoParcelas(entradas, lancamentosParcelados, vencimentoReferencia) {\r\n  const rows = [];\r\n  const avisos = [];\r\n  const casados = new Set();\r\n  for (const e of entradas) {\r\n    const chaveN = normalizarChave(e.chave);\r\n    const matches = lancamentosParcelados.filter(\r\n      (l) => normalizarChave(l.estabelecimento).includes(chaveN) && l.parcelas_total === e.M\r\n    );\r\n    if (matches.length === 0) {\r\n      avisos.push(`seed sem lançamento correspondente: \"${e.chave}\" (${e.N}/${e.M})`);\r\n      continue;\r\n    }\r\n    for (const l of matches) {\r\n      casados.add(l);\r\n      rows.push({\r\n        chave: e.chave,\r\n        estabelecimento: l.estabelecimento,\r\n        valor: l.valor,\r\n        M: e.M,\r\n        N_no_seed: e.N,\r\n        ciclo_referencia: vencimentoReferencia,\r\n      });\r\n    }\r\n  }\r\n  for (const l of lancamentosParcelados) {\r\n    if (!casados.has(l)) {\r\n      avisos.push(`parcela sem seed (informe N/M): \"${l.estabelecimento}\" (Em ${l.parcelas_total}x)`);\r\n    }\r\n  }\r\n  return { rows, avisos };\r\n}\r\n\r\n/**\r\n * Vencimento \"10/MM/YYYY\" do ciclo aberto corrente, derivado de \"hoje\" (YYYY-MM-DD,\r\n * America/Sao_Paulo). Ciclo fecha dia 03, vence dia 10; transações 04→03 caem no ciclo que\r\n * fecha dia 03. Usado pela v2 do dashboard como âncora da projeção quando não há fatura aberta.\r\n */\r\nfunction vencimentoCicloAberto(hojeISO) {\r\n  const m = /^(\\d{4})-(\\d{2})-(\\d{2})$/.exec(String(hojeISO).trim());\r\n  if (!m) return null;\r\n  let ano = Number(m[1]);\r\n  let mes = Number(m[2]);\r\n  const dia = Number(m[3]);\r\n  if (dia >= 4) {\r\n    mes += 1;\r\n    if (mes === 13) { mes = 1; ano += 1; }\r\n  }\r\n  return `10/${String(mes).padStart(2, \"0\")}/${ano}`;\r\n}\r\n\r\n/** Índice atual da parcela, derivado do calendário (não de contagem de colagens). */\r\nfunction indiceAtual(parcelaRow, vencimentoAtual) {\r\n  return (\r\n    Number(parcelaRow.N_no_seed) +\r\n    mesesEntreVencimentos(normalizarCiclo(parcelaRow.ciclo_referencia), normalizarCiclo(vencimentoAtual))\r\n  );\r\n}\r\n\r\n/**\r\n * Projeção do comprometido futuro: para cada ciclo à frente (1..horizonte), soma o valor\r\n * das parcelas ainda ativas (1 ≤ N ≤ M). Derivada — nunca persistida como confirmada.\r\n * @returns {{vencimento:string, total:number}[]} (um item por ciclo do horizonte)\r\n */\r\nfunction projetarComprometido(parcelaRows, vencimentoAtual, horizonte = 6) {\r\n  const out = [];\r\n  for (let k = 1; k <= horizonte; k++) {\r\n    const venc = addMesesVencimento(vencimentoAtual, k);\r\n    let total = 0;\r\n    for (const row of parcelaRows) {\r\n      const N = indiceAtual(row, venc);\r\n      if (N >= 1 && N <= row.M) total += row.valor;\r\n    }\r\n    out.push({ vencimento: venc, total: arredonda(total) });\r\n  }\r\n  return out;\r\n}\r\n\r\n// ═══════════════ FATIA 3 — provisórios (aba própria) + reconciliação ═\r\n//\r\n// Decisão de arquitetura (2026-06-18): os provisórios vivem numa aba PRÓPRIA\r\n// (`FaturaAberta`), NÃO em Lançamentos. Snapshot = clear+write da aba (idempotente,\r\n// sem deletar linhas no meio de Lançamentos). De quebra elimina as colisões C1/C2:\r\n// como não entram em Lançamentos, o `faturaJaImportada` (que lê Lançamentos) nunca os\r\n// bloqueia, e a regra 3 do dashboard nunca os soma. A aba guarda só o ciclo aberto\r\n// corrente; o próximo /faturaaberta (novo ciclo) sobrescreve. Reconciliação: quando o\r\n// CSV oficial fecha, os confirmados entram em Lançamentos pelo fluxo existente; a aba\r\n// FaturaAberta é sobrescrita na próxima colagem.\r\n\r\n/**\r\n * Linhas da aba FaturaAberta a partir do texto parseado.\r\n * Colunas: ciclo | data_compra | estabelecimento | categoria_c6 | valor | parcelas_total | status\r\n * status = \"fechado\" (checksum bate) | \"rascunho\" (não-fechado — não entra no planejamento, R3).\r\n */\r\nfunction montarProvisorios(parse, vencimento) {\r\n  const status = parse.checksum && parse.checksum.bate ? \"fechado\" : \"rascunho\";\r\n  return parse.lancamentos.map((l) => ({\r\n    ciclo: vencimento,\r\n    data_compra: l.data,\r\n    estabelecimento: l.estabelecimento,\r\n    categoria_c6: l.categoria_c6,\r\n    valor: l.valor,\r\n    parcelas_total: l.parcelas_total === null ? \"\" : l.parcelas_total,\r\n    status,\r\n  }));\r\n}\r\n\r\n\n\n// ── Glue (dashboard): processa inputs e valida autenticação ──\nconst headers = $('Webhook').first().json.headers || {};\nconst authHeader = headers['authorization'] || '';\nconst token = authHeader.replace(/^Bearer\\s+/i, '').trim();\nconst expectedPassword = ($env.DASHBOARD_PASSWORD || '').trim();\n\nif (!expectedPassword || token !== expectedPassword) {\n  return [{ json: { error: 'Senha inválida' } }];\n}\n\nconst vr = ($json.valueRanges || []);\nconst paraObjetos = (idx) => {\n  const v = (vr[idx] && vr[idx].values) || [];\n  if (v.length < 2) return [];\n  const h = v[0].map(String);\n  return v.slice(1).map((linha) => {\n    const o = {};\n    h.forEach((c, j) => { o[c] = linha[j] !== undefined ? linha[j] : ''; });\n    return o;\n  });\n};\nconst mesAnterior = (iso) => { let [y, m] = iso.split('-').map(Number); m -= 1;\n  if (m === 0) { m = 12; y -= 1; } return String(m).padStart(2, '0') + '/' + y; };\nconst mesSeguinte = (mesStr) => { let [m, y] = mesStr.split('/').map(Number); m += 1;\n  if (m === 13) { m = 1; y += 1; } return String(m).padStart(2, '0') + '/' + y; };\nconst hoje = new Date().toLocaleDateString('en-CA', { timeZone: 'America/Sao_Paulo' });\nlet mesReq = '';\ntry { mesReq = $('Webhook').first().json.query.mes || ''; } catch (e) {}\nconst mesPassado = mesReq || mesAnterior(hoje);\nconst mesPrevisao = mesSeguinte(mesPassado);\n\nconst lancamentos = paraObjetos(0);\nconst contasFixas = paraObjetos(1);\nconst salarios = paraObjetos(2);\nconst metas = paraObjetos(3);\nconst faturaAbertaRows = paraObjetos(4);\nconst parcelasRows = paraObjetos(5);\nconst configRows = paraObjetos(6);\n\n// Mapeia meses disponíveis a partir de Lançamentos\nconst mesesSet = new Set();\nfor (const l of lancamentos) {\n  const m = mesDe(l.data_competencia);\n  if (m) mesesSet.add(m);\n}\nmesesSet.add(mesPassado);\nconst mesesDisponiveis = [...mesesSet].sort((a, b) => {\n  const [ma, ya] = a.split('/').map(Number);\n  const [mb, yb] = b.split('/').map(Number);\n  return ya !== yb ? ya - yb : ma - mb;\n});\n\n// Valida salários\nconst avisos = [];\nlet salariosConfig = salarios;\nconst somaSalarios = (salarios || []).reduce((s, r) => s + Number(r.salario || 0), 0);\nif (somaSalarios === 0) {\n  avisos.push('salarios_zerados');\n  salariosConfig = { Marcelo: 10000, Harumi: 10000 };\n}\n\n// Efetua cálculos\nconst totais = totaisMes(lancamentos, mesPassado);\nconst gastos = gastosPorCategoria(lancamentos, mesPassado, contasFixas);\n// Saldo com a casa CUMULATIVO (mesInicio..mesPassado). mesInicio = Config.rateio_mes_inicio\n// (marco onde a conta da casa começa; meses pré-rastreio ficam de fora).\nconst cfgInicio = (configRows || []).find((c) => normalizar(c.chave) === 'rateio_mes_inicio');\nlet rateioInicio = (cfgInicio && String(cfgInicio.valor).trim()) || '';\n// Sheets coage '01/2026' (USER_ENTERED) para serial de data — normaliza serial -> 'MM/YYYY'.\nif (/^\\d+$/.test(rateioInicio)) rateioInicio = mesDe(rateioInicio) || '';\nconst rateio = rateioAcumulado(lancamentos, salariosConfig, mesPassado, rateioInicio);\nconst previsao = previsaoProximoMes(lancamentos, contasFixas, salariosConfig, mesPrevisao, faturaAbertaRows);\n\n// Metas ativas\nconst metasAtivas = (metas || []).filter(m => normalizar(m.status) === 'ativa' || normalizar(m.status) === 'ativo');\n\n// Comprometido futuro (v2): fatura aberta do ciclo corrente + projeção de parcelas.\n// Prospectivo a partir de HOJE (ignora o seletor de mês). Lógica pura em dashboard.js.\nconst comprometido = comprometidoFuturo(faturaAbertaRows, parcelasRows, configRows, hoje);\n\nconst payload = {\n  mesPassado,\n  mesPrevisao,\n  totais,\n  gastos,\n  rateio,\n  previsao,\n  metas: metasAtivas,\n  mesesDisponiveis,\n  comprometido,\n  avisos\n};\n\nreturn [{ json: payload }];"
      },
      "id": "findashboa-03"
    },
    {
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        600,
        0
      ],
      "parameters": {
        "responseDataSource": "custom",
        "responseCode": "={{ $json.error ? 401 : 200 }}",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Authorization, Content-Type"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, OPTIONS"
              }
            ]
          }
        }
      },
      "id": "findashboa-04"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Ler Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler Dados": {
      "main": [
        [
          {
            "node": "Processar e Renderizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar e Renderizar": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
