workflows/dashboard.json
{
  "id": "FinDashboardWeb01",
  "name": "dashboard",
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "nodes": [
    {
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "f1aacea1-0009-4000-8000-financeiro09",
      "parameters": {
        "httpMethod": "GET",
        "path": "dashboard-data",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "findashboa-01"
    },
    {
      "name": "Ler Dados",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        0
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "method": "GET",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $env.GOOGLE_SHEETS_ID }}/values:batchGet?ranges=Lan%C3%A7amentos!A%3AJ&ranges=Contas%20Fixas!A%3AD&ranges=Sal%C3%A1rios!A%3AB&ranges=Metas!A%3AF&valueRenderOption=UNFORMATTED_VALUE",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "FinSheetsSA00001",
          "name": "Google Sheets SA"
        }
      },
      "id": "findashboa-02"
    },
    {
      "name": "Processar e Renderizar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "parameters": {
        "jsCode": "// Rateio proporcional ao salário — lógica pura do dashboard da reunião familiar.\n// TDD em rateio.test.js. Módulo Node consumido pelo runner (não é Code node n8n).\n// Implementa gstack/specs/dashboard-reuniao-familiar.md.\n\n/** Remove acento e caixa para comparar categorias/nomes (Deposito ~ Depósito). */\nfunction normalizar(s) {\n  return String(s == null ? \"\" : s)\n    .normalize(\"NFD\").replace(/[̀-ͯ]/g, \"\").trim().toLowerCase();\n}\n\nconst arred = (n) => Math.round(n * 100) / 100;\n\n/** salarios: {pessoa: salario} ou [{pessoa, salario}] → {pessoa: proporção}. */\nfunction proporcoes(salarios) {\n  const pares = Array.isArray(salarios)\n    ? salarios.map((s) => [s.pessoa, Number(s.salario)])\n    : Object.entries(salarios).map(([p, v]) => [p, Number(v)]);\n  const total = pares.reduce((s, [, v]) => s + v, 0);\n  if (!(total > 0)) throw new Error(\"soma dos salários deve ser > 0 (configurar aba Salários)\");\n  const out = {};\n  for (const [p, v] of pares) out[p] = v / total;\n  return out;\n}\n\n/**\n * Data da planilha → \"MM/YYYY\" | null. Aceita os três formatos que o nó de\n * leitura pode devolver (valueRenderOption=UNFORMATTED_VALUE):\n *   - \"DD/MM/YYYY\" (string) ;\n *   - \"YYYY-MM-DD\" (string ISO) ;\n *   - serial do Sheets (número ou string só-dígitos): célula formatada como\n *     Data volta como dias desde 1899-12-30, não como string.\n */\nfunction mesDe(v) {\n  if (v === null || v === undefined || v === \"\") return null;\n  if (typeof v === \"number\" || (typeof v === \"string\" && /^\\d+(\\.\\d+)?$/.test(v.trim()))) {\n    const serial = Math.floor(Number(v));\n    if (!Number.isFinite(serial) || serial <= 0) return null;\n    const d = new Date(Date.UTC(1899, 11, 30) + serial * 86400000);\n    return `${String(d.getUTCMonth() + 1).padStart(2, \"0\")}/${d.getUTCFullYear()}`;\n  }\n  const s = String(v).trim();\n  let m;\n  if ((m = /^\\d{2}\\/(\\d{2})\\/(\\d{4})$/.exec(s))) return `${m[1]}/${m[2]}`;\n  if ((m = /^(\\d{4})-(\\d{2})-\\d{2}/.exec(s))) return `${m[2]}/${m[1]}`;\n  return null;\n}\n\n/**\n * Rateio do mês (`mes` = \"MM/YYYY\"). Cota = despesas confirmadas do mês ×\n * proporção; pago = depósitos \"Deposito {pessoa}\" do mês; saldo = pago − cota;\n * acerto = cota − pago (positivo = a pessoa deve esse valor da sua parte).\n * @returns {{mes, totalDespesas, proporcoes, cota, pago, saldo, acerto}}\n */\nfunction rateioMes(lancamentos, salarios, mes) {\n  const prop = proporcoes(salarios);\n  const doMes = lancamentos.filter((l) => mesDe(l.data_competencia) === mes);\n  const totalDespesas = arred(\n    doMes.filter((l) => l.tipo === \"saída\" && l.status === \"confirmado\")\n      .reduce((s, l) => s + Number(l.valor), 0));\n\n  const cota = {}, pago = {}, saldo = {}, acerto = {};\n  for (const p of Object.keys(prop)) {\n    cota[p] = arred(totalDespesas * prop[p]);\n    const alvo = normalizar(`deposito ${p}`);\n    pago[p] = arred(\n      doMes.filter((l) => l.tipo === \"entrada\" && normalizar(l.categoria) === alvo)\n        .reduce((s, l) => s + Number(l.valor), 0));\n    saldo[p] = arred(pago[p] - cota[p]);\n    acerto[p] = arred(cota[p] - pago[p]);\n  }\n  return { mes, totalDespesas, proporcoes: prop, cota, pago, saldo, acerto };\n}\n\n\n// Agregações do dashboard da reunião familiar — lógica pura. TDD em dashboard.test.js.\n// Módulo Node consumido pelo runner (não é Code node n8n).\n// Implementa gstack/specs/dashboard-reuniao-familiar.md.\n\n/** Saídas confirmadas do mês agrupadas por categoria, ordenadas desc. */\nfunction gastosPorCategoria(lancamentos, mes) {\n  const acc = new Map();\n  for (const l of lancamentos) {\n    if (l.tipo !== \"saída\" || l.status !== \"confirmado\" || mesDe(l.data_competencia) !== mes) continue;\n    acc.set(l.categoria, (acc.get(l.categoria) || 0) + Number(l.valor));\n  }\n  return [...acc.entries()]\n    .map(([categoria, total]) => ({ categoria, total: arred(total) }))\n    .sort((a, b) => b.total - a.total);\n}\n\n/** Totais confirmados do mês: saídas, entradas, saldo. */\nfunction totaisMes(lancamentos, mes) {\n  const soma = (tipo) => arred(lancamentos\n    .filter((l) => l.tipo === tipo && l.status === \"confirmado\" && mesDe(l.data_competencia) === mes)\n    .reduce((s, l) => s + Number(l.valor), 0));\n  const saidas = soma(\"saída\");\n  const entradas = soma(\"entrada\");\n  return { saidas, entradas, saldo: arred(entradas - saidas) };\n}\n\n/**\n * Previsão do próximo mês (`mes` = \"MM/YYYY\"): parcelas já lançadas (saídas\n * previstas do mês) + projeção das contas fixas ativas cuja categoria ainda NÃO\n * aparece no mês. Depósitos previstos = total × proporção (regra do Marcelo).\n * @param {{nome, valor_esperado, ativo}[]} contasFixas aba Contas Fixas\n * @returns {{gastos:{fixas,parcelas,total}, depositosPrevistos:{[pessoa]:number}}}\n */\nfunction previsaoProximoMes(lancamentos, contasFixas, salarios, mes) {\n  const doMes = lancamentos.filter((l) => mesDe(l.data_competencia) === mes);\n\n  const parcelas = arred(doMes\n    .filter((l) => l.tipo === \"saída\" && l.status === \"previsto\")\n    .reduce((s, l) => s + Number(l.valor), 0));\n  const fixas = arred((contasFixas || [])\n    .filter((f) => normalizar(f.ativo) === \"sim\")\n    .reduce((s, f) => s + Number(f.valor_esperado), 0));\n  const total = arred(fixas + parcelas);\n\n  const detalhes = [];\n  for (const f of contasFixas || []) {\n    if (normalizar(f.ativo) === \"sim\") {\n      detalhes.push({ categoria: f.nome, valor: Number(f.valor_esperado) });\n    }\n  }\n  for (const l of doMes) {\n    if (l.tipo === \"saída\" && l.status === \"previsto\") {\n      detalhes.push({ categoria: l.categoria || \"Parcela\", valor: Number(l.valor) });\n    }\n  }\n\n  const prop = proporcoes(salarios);\n  const depositosPrevistos = {};\n  for (const p of Object.keys(prop)) depositosPrevistos[p] = arred(total * prop[p]);\n\n  return { gastos: { fixas, parcelas, total }, detalhes, depositosPrevistos };\n}\n\n\n\n// ── Glue (dashboard): processa inputs e valida autenticação ──\nconst headers = $('Webhook').first().json.headers || {};\nconst authHeader = headers['authorization'] || '';\nconst token = authHeader.replace(/^Bearer\\s+/i, '').trim();\nconst expectedPassword = ($env.DASHBOARD_PASSWORD || '').trim();\n\nif (!expectedPassword || token !== expectedPassword) {\n  return [{ json: { statusCode: 401, error: 'Senha inválida' } }];\n}\n\nconst vr = ($json.valueRanges || []);\nconst paraObjetos = (idx) => {\n  const v = (vr[idx] && vr[idx].values) || [];\n  if (v.length < 2) return [];\n  const h = v[0].map(String);\n  return v.slice(1).map((linha) => {\n    const o = {};\n    h.forEach((c, j) => { o[c] = linha[j] !== undefined ? linha[j] : ''; });\n    return o;\n  });\n};\nconst mesVigente = (iso) => { const [y, m] = iso.split('-'); return m + '/' + y; };\nconst mesAnterior = (iso) => { let [y, m] = iso.split('-').map(Number); m -= 1;\n  if (m === 0) { m = 12; y -= 1; } return String(m).padStart(2, '0') + '/' + y; };\nconst mesSeguinte = (mesStr) => { let [m, y] = mesStr.split('/').map(Number); m += 1;\n  if (m === 13) { m = 1; y += 1; } return String(m).padStart(2, '0') + '/' + y; };\nconst hoje = new Date().toLocaleDateString('en-CA', { timeZone: 'America/Sao_Paulo' });\nlet mesReq = '';\ntry { mesReq = $('Webhook').first().json.query.mes || ''; } catch (e) {}\nconst mesPassado = mesReq || mesAnterior(hoje);\nconst mesPrevisao = mesSeguinte(mesPassado);\n\nconst lancamentos = paraObjetos(0);\nconst contasFixas = paraObjetos(1);\nconst salarios = paraObjetos(2);\nconst metas = paraObjetos(3);\n\n// Mapeia meses disponíveis a partir de Lançamentos\nconst mesesSet = new Set();\nfor (const l of lancamentos) {\n  const m = mesDe(l.data_competencia);\n  if (m) mesesSet.add(m);\n}\nmesesSet.add(mesPassado);\nconst mesesDisponiveis = [...mesesSet].sort((a, b) => {\n  const [ma, ya] = a.split('/').map(Number);\n  const [mb, yb] = b.split('/').map(Number);\n  return ya !== yb ? ya - yb : ma - mb;\n});\n\n// Valida salários\nconst avisos = [];\nlet salariosConfig = salarios;\nconst somaSalarios = (salarios || []).reduce((s, r) => s + Number(r.salario || 0), 0);\nif (somaSalarios === 0) {\n  avisos.push('salarios_zerados');\n  salariosConfig = { Marcelo: 10000, Harumi: 10000 };\n}\n\n// Efetua cálculos\nconst totais = totaisMes(lancamentos, mesPassado);\nconst gastos = gastosPorCategoria(lancamentos, mesPassado);\nconst rateio = rateioMes(lancamentos, salariosConfig, mesPassado);\nconst previsao = previsaoProximoMes(lancamentos, contasFixas, salariosConfig, mesPrevisao);\n\n// Metas ativas\nconst metasAtivas = (metas || []).filter(m => normalizar(m.status) === 'ativa' || normalizar(m.status) === 'ativo');\n\nconst payload = {\n  mesPassado,\n  mesPrevisao,\n  totais,\n  gastos,\n  rateio,\n  previsao,\n  metas: metasAtivas,\n  mesesDisponiveis,\n  avisos\n};\n\nreturn [{ json: { statusCode: 200, payload } }];"
      },
      "id": "findashboa-03"
    },
    {
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        600,
        0
      ],
      "parameters": {
        "responseDataSource": "custom",
        "responseCode": "={{ $json.statusCode }}",
        "responseBody": "={{ $json.error ? { error: $json.error } : $json.payload }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Authorization, Content-Type"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, OPTIONS"
              }
            ]
          }
        }
      },
      "id": "findashboa-04"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Ler Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler Dados": {
      "main": [
        [
          {
            "node": "Processar e Renderizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar e Renderizar": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
