workflows/fatura-buffer.json
{
  "id": "FinFaturaBuf001",
  "name": "fatura-buffer",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "nodes": [
    {
      "name": "Início",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "inputSource": "workflowInputs",
        "workflowInputs": {
          "values": [
            {
              "name": "acao",
              "type": "string"
            },
            {
              "name": "texto",
              "type": "string"
            }
          ]
        }
      },
      "id": "fin-buf-01"
    },
    {
      "name": "Ler Buffer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        0
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "method": "GET",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $env.GOOGLE_SHEETS_ID }}/values:batchGet?ranges='FaturaBuffer'!A%3AC&ranges='Config'!A%3AB&valueRenderOption=UNFORMATTED_VALUE",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "FinSheetsSA00001",
          "name": "Google Sheets SA"
        }
      },
      "id": "fin-buf-02"
    },
    {
      "name": "Decidir",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "parameters": {
        "jsCode": "// Parser da FATURA ABERTA do C6 — lógica pura do Code node do futuro workflow.\n// O C6 não exporta CSV da fatura não-fechada; o Marcelo cola, no Telegram, o TEXTO\n// REAL selecionável do app web (Ctrl+C) — não OCR, não print. Parser determinístico,\n// sem LLM. Implementa gstack/specs/fatura-aberta-projecao.md (Fatia 1: parser + checksum).\n//\n// Convenções herdadas do projeto: valor sempre positivo (direção fica no consumidor);\n// \"Inclusao de Pagamento\"/negativos são excluídos do gasto e do checksum (mesma ideia do\n// ehTransferencia). Parser nunca trava: linha que não casa o padrão vira aviso.\n\nconst DIAS_SEMANA = \"Domingo|Segunda-feira|Terça-feira|Quarta-feira|Quinta-feira|Sexta-feira|Sábado\";\nconst RE_DIA = new RegExp(`^(?:${DIAS_SEMANA}),\\\\s*(\\\\d{2})/(\\\\d{2})/(\\\\d{2})$`);\nconst RE_VALOR = /^-?R\\$\\s/;\nconst RE_PARCELAS = /^Em\\s+(\\d+)x$/i;\nconst RE_PAGAMENTO = /Inclusao de Pagamento|Pagamento recebido|Retirada/i;\nconst ASSINATURA = \"Total dessa fatura\";\n\n/** \"R$ 1.234,56\" / \"-R$ 9.363,91\" → number (com sinal). Inválido → null (não trava). */\nfunction parseReais(s) {\n  const txt = String(s).trim();\n  if (!RE_VALOR.test(txt)) return null;\n  const limpo = txt.replace(/^-?R\\$\\s*/, \"\").replace(/\\./g, \"\").replace(\",\", \".\");\n  if (limpo === \"\") return null;\n  const n = Number(limpo);\n  if (!Number.isFinite(n)) return null;\n  const valor = (txt.startsWith(\"-\") ? -1 : 1) * Math.abs(n);\n  return Math.round(valor * 100) / 100;\n}\n\n/** \"Domingo, 14/06/26\" → \"14/06/2026\" (DD/MM/AA→YYYY, R7). Não-dia → null. */\nfunction diaParaData(linha) {\n  const m = RE_DIA.exec(linha.trim());\n  if (!m) return null;\n  return `${m[1]}/${m[2]}/20${m[3]}`;\n}\n\nconst arredonda = (n) => Math.round(n * 100) / 100;\n\n/**\n * Parseia o texto colado da fatura aberta do C6 web.\n * @param {string} texto bloco copiado do app web (pode vir de 1+ mensagens concatenadas)\n * @returns {{\n *   competencia_label: string|null,\n *   total: number|null,\n *   lancamentos: {data:string, categoria_c6:string, estabelecimento:string, valor:number, parcelas_total:number|null}[],\n *   pagamentos: {data:string|null, descricao:string, valor:number}[],\n *   checksum: {somado:number, total:number|null, diferenca:number|null, bate:boolean},\n *   avisos: string[]\n * }}\n */\nfunction parseFaturaAberta(texto) {\n  const linhas = String(texto).replace(/^﻿/, \"\").split(/\\r?\\n/)\n    .map((l) => l.trim()).filter((l) => l !== \"\");\n  const avisos = [];\n\n  // Assinatura obrigatória: sem ela, não é fatura C6 → não grava.\n  const idxAssinatura = linhas.indexOf(ASSINATURA);\n  if (idxAssinatura === -1) {\n    avisos.push(`texto sem a assinatura \"${ASSINATURA}\" — não parece a fatura do C6; nada gravado`);\n    return {\n      competencia_label: null, total: null, lancamentos: [], pagamentos: [],\n      checksum: { somado: 0, total: null, diferenca: null, bate: false }, avisos,\n    };\n  }\n\n  // Cabeçalho = tudo antes do primeiro dia da semana; competência é a 1ª linha.\n  const idxPrimeiroDia = linhas.findIndex((l) => diaParaData(l) !== null);\n  const competencia_label = linhas[0] || null;\n\n  // Total dessa fatura = primeiro valor logo após a assinatura.\n  let total = null;\n  for (let i = idxAssinatura + 1; i < linhas.length; i++) {\n    const v = parseReais(linhas[i]);\n    if (v !== null) { total = Math.abs(v); break; }\n  }\n\n  const lancamentos = [];\n  const pagamentos = [];\n  let dataAtual = null;\n\n  const corpo = idxPrimeiroDia === -1 ? [] : linhas.slice(idxPrimeiroDia);\n  let i = 0;\n  while (i < corpo.length) {\n    const linha = corpo[i];\n\n    const data = diaParaData(linha);\n    if (data) { dataAtual = data; i++; continue; }\n\n    // Acumula descritores (categoria, estabelecimento, ou rótulo de pagamento)\n    // até encontrar a primeira linha de valor.\n    const descritores = [];\n    while (i < corpo.length && !RE_VALOR.test(corpo[i]) && diaParaData(corpo[i]) === null) {\n      descritores.push(corpo[i]);\n      i++;\n    }\n    if (i >= corpo.length) {\n      if (descritores.length) avisos.push(`descrição sem valor no fim do texto: \"${descritores.join(\" / \")}\"`);\n      break;\n    }\n\n    // Valor (vem repetido 2×: original e convertido; nacional = iguais → pega o 1º).\n    const valor = parseReais(corpo[i]);\n    i++;\n    while (i < corpo.length && RE_VALOR.test(corpo[i])) i++; // consome a 2ª ocorrência\n    // Parcelas opcionais: \"Em Mx\".\n    let parcelas_total = null;\n    if (i < corpo.length) {\n      const mp = RE_PARCELAS.exec(corpo[i]);\n      if (mp) { parcelas_total = Number(mp[1]); i++; }\n    }\n\n    if (valor === null) {\n      avisos.push(`valor malformado, lançamento ignorado: \"${descritores.join(\" / \")}\"`);\n      continue;\n    }\n    if (descritores.length === 0) {\n      avisos.push(`valor sem descrição (${corpo[i - 1]}) ignorado`);\n      continue;\n    }\n\n    const ehPagamento = valor < 0 || RE_PAGAMENTO.test(descritores.join(\" \"));\n    if (ehPagamento) {\n      pagamentos.push({ data: dataAtual, descricao: descritores.join(\" / \"), valor: Math.abs(valor) });\n      continue;\n    }\n\n    const categoria_c6 = descritores.length >= 2 ? descritores[0] : \"\";\n    const estabelecimento = descritores.length >= 2\n      ? descritores.slice(1).join(\" \") : descritores[0];\n    lancamentos.push({\n      data: dataAtual,\n      categoria_c6,\n      estabelecimento,\n      valor: Math.abs(valor),\n      parcelas_total,\n    });\n  }\n\n  const somado = arredonda(lancamentos.reduce((s, l) => s + l.valor, 0));\n  const diferenca = total === null ? null : arredonda(total - somado);\n  const bate = total !== null && diferenca === 0;\n\n  return {\n    competencia_label,\n    total,\n    lancamentos,\n    pagamentos,\n    checksum: { somado, total, diferenca, bate },\n    avisos,\n  };\n}\n\n// ═══════════════ FATIA 2 — parcelas (seed/reseed + projeção) ═════════\n//\n// O desktop só mostra \"Em Mx\" (total), nunca \"N de M\". Inferir N pela data é furado\n// (provado). Solução: seed único (Marcelo lê \"Parcela N de M\" no celular) + índice\n// DERIVADO DO CALENDÁRIO — N_atual = N_no_seed + ciclos decorridos desde o seed.\n// Assim, pular uma colagem de ciclo NÃO dessincroniza, e recolar o mesmo ciclo não\n// incrementa. O seed é reexecutável (= reseed): basta recolar para sobrescrever.\n\nconst MESES = {\n  janeiro: 1, fevereiro: 2, março: 3, marco: 3, abril: 4, maio: 5, junho: 6,\n  julho: 7, agosto: 8, setembro: 9, outubro: 10, novembro: 11, dezembro: 12,\n};\n\n/** Normaliza estabelecimento/chave p/ casamento: maiúsculas + colapsa espaços. */\nfunction normalizarChave(s) {\n  return String(s).trim().toUpperCase().replace(/\\s+/g, \" \");\n}\n\n/** \"julho de 2026\" → vencimento \"10/07/2026\" (ciclo vence dia 10). Inválido → null. */\nfunction mesAnoParaVencimento(label) {\n  const m = /^([a-zç]+)\\s+de\\s+(\\d{4})$/i.exec(String(label).trim());\n  if (!m) return null;\n  const mes = MESES[m[1].toLowerCase()];\n  if (!mes) return null;\n  return `10/${String(mes).padStart(2, \"0\")}/${m[2]}`;\n}\n\n/** Soma k meses a um vencimento \"10/MM/YYYY\" (vira o ano). */\nfunction addMesesVencimento(vencimento, k) {\n  const m = /^(\\d{2})\\/(\\d{2})\\/(\\d{4})$/.exec(String(vencimento).trim());\n  if (!m) return null;\n  const idx = Number(m[2]) - 1 + k;\n  const ano = Number(m[3]) + Math.floor(idx / 12);\n  const mes = ((idx % 12) + 12) % 12;\n  return `${m[1]}/${String(mes + 1).padStart(2, \"0\")}/${ano}`;\n}\n\nconst proximoVencimento = (v) => addMesesVencimento(v, 1);\n\n/** Diferença em meses entre dois vencimentos \"10/MM/YYYY\" (v2 − v1). */\nfunction mesesEntreVencimentos(v1, v2) {\n  const a = /^(\\d{2})\\/(\\d{2})\\/(\\d{4})$/.exec(String(v1).trim());\n  const b = /^(\\d{2})\\/(\\d{2})\\/(\\d{4})$/.exec(String(v2).trim());\n  if (!a || !b) return null;\n  return (Number(b[3]) - Number(a[3])) * 12 + (Number(b[2]) - Number(a[2]));\n}\n\n/**\n * Normaliza um ciclo/data lido do Sheets para \"DD/MM/YYYY\". O append do Sheets coage\n * datas em serial (ex.: 46213 = 10/07/2026); ao ler de volta vem o número — esta função\n * o converte de volta. Aceita serial (número ou string-só-dígitos), \"DD/MM/YYYY\" e\n * \"YYYY-MM-DD\". Vazio → \"\".\n */\nfunction normalizarCiclo(v) {\n  if (v === null || v === undefined || v === \"\") return \"\";\n  if (typeof v === \"number\" || (typeof v === \"string\" && /^\\d+(\\.\\d+)?$/.test(v.trim()))) {\n    const serial = Math.floor(Number(v));\n    const d = new Date(Date.UTC(1899, 11, 30) + serial * 86400000);\n    const dd = String(d.getUTCDate()).padStart(2, \"0\");\n    const mm = String(d.getUTCMonth() + 1).padStart(2, \"0\");\n    return `${dd}/${mm}/${d.getUTCFullYear()}`;\n  }\n  const s = String(v).trim();\n  let m;\n  if (/^(\\d{2})\\/(\\d{2})\\/(\\d{4})$/.test(s)) return s;\n  if ((m = /^(\\d{4})-(\\d{2})-(\\d{2})/.exec(s))) return `${m[3]}/${m[2]}/${m[1]}`;\n  return s;\n}\n\n/**\n * Parseia o bloco do /seedparcelas — uma linha por parcela: \"estabelecimento;N/M\".\n * Separador canônico \";\" (o \"|\" antigo continua aceito por retrocompat).\n * Reexecutável (reseed). @returns {{entradas:{chave,N,M}[], avisos:string[]}}\n */\nfunction parseSeedParcelas(texto) {\n  const entradas = [];\n  const avisos = [];\n  for (const bruta of String(texto).split(/\\r?\\n/)) {\n    const linha = bruta.trim();\n    if (linha === \"\") continue;\n    const m = /^(.+?)\\s*[;|]\\s*(\\d+)\\s*\\/\\s*(\\d+)$/.exec(linha);\n    if (!m) { avisos.push(`linha de seed malformada (esperado \"estab;N/M\"): \"${linha}\"`); continue; }\n    const N = Number(m[2]);\n    const M = Number(m[3]);\n    if (N < 1 || M < 1 || N > M) { avisos.push(`parcela inválida (N/M fora de 1..M): \"${linha}\"`); continue; }\n    entradas.push({ chave: m[1].trim(), N, M });\n  }\n  return { entradas, avisos };\n}\n\n/**\n * Casa cada seed com os lançamentos parcelados por (chave CONTIDA no estabelecimento, M)\n * e monta as linhas da aba Parcelas. Uma linha por lançamento casado (GOL = 4 compras 3x\n * no mesmo dia → 4 linhas). @returns {{rows:object[], avisos:string[]}}\n */\nfunction montarEstadoParcelas(entradas, lancamentosParcelados, vencimentoReferencia) {\n  const rows = [];\n  const avisos = [];\n  const casados = new Set();\n  for (const e of entradas) {\n    const chaveN = normalizarChave(e.chave);\n    const matches = lancamentosParcelados.filter(\n      (l) => normalizarChave(l.estabelecimento).includes(chaveN) && l.parcelas_total === e.M\n    );\n    if (matches.length === 0) {\n      avisos.push(`seed sem lançamento correspondente: \"${e.chave}\" (${e.N}/${e.M})`);\n      continue;\n    }\n    for (const l of matches) {\n      casados.add(l);\n      rows.push({\n        chave: e.chave,\n        estabelecimento: l.estabelecimento,\n        valor: l.valor,\n        M: e.M,\n        N_no_seed: e.N,\n        ciclo_referencia: vencimentoReferencia,\n      });\n    }\n  }\n  for (const l of lancamentosParcelados) {\n    if (!casados.has(l)) {\n      avisos.push(`parcela sem seed (informe N/M): \"${l.estabelecimento}\" (Em ${l.parcelas_total}x)`);\n    }\n  }\n  return { rows, avisos };\n}\n\n/**\n * Vencimento \"10/MM/YYYY\" do ciclo aberto corrente, derivado de \"hoje\" (YYYY-MM-DD,\n * America/Sao_Paulo). Ciclo fecha dia 03, vence dia 10; transações 04→03 caem no ciclo que\n * fecha dia 03. Usado pela v2 do dashboard como âncora da projeção quando não há fatura aberta.\n */\nfunction vencimentoCicloAberto(hojeISO) {\n  const m = /^(\\d{4})-(\\d{2})-(\\d{2})$/.exec(String(hojeISO).trim());\n  if (!m) return null;\n  let ano = Number(m[1]);\n  let mes = Number(m[2]);\n  const dia = Number(m[3]);\n  if (dia >= 4) {\n    mes += 1;\n    if (mes === 13) { mes = 1; ano += 1; }\n  }\n  return `10/${String(mes).padStart(2, \"0\")}/${ano}`;\n}\n\n/** Índice atual da parcela, derivado do calendário (não de contagem de colagens). */\nfunction indiceAtual(parcelaRow, vencimentoAtual) {\n  return (\n    Number(parcelaRow.N_no_seed) +\n    mesesEntreVencimentos(normalizarCiclo(parcelaRow.ciclo_referencia), normalizarCiclo(vencimentoAtual))\n  );\n}\n\n/**\n * Projeção do comprometido futuro: para cada ciclo à frente (1..horizonte), soma o valor\n * das parcelas ainda ativas (1 ≤ N ≤ M). Derivada — nunca persistida como confirmada.\n * @returns {{vencimento:string, total:number}[]} (um item por ciclo do horizonte)\n */\nfunction projetarComprometido(parcelaRows, vencimentoAtual, horizonte = 6) {\n  const out = [];\n  for (let k = 1; k <= horizonte; k++) {\n    const venc = addMesesVencimento(vencimentoAtual, k);\n    let total = 0;\n    for (const row of parcelaRows) {\n      const N = indiceAtual(row, venc);\n      if (N >= 1 && N <= row.M) total += row.valor;\n    }\n    out.push({ vencimento: venc, total: arredonda(total) });\n  }\n  return out;\n}\n\n// ═══════════════ FATIA 3 — provisórios (aba própria) + reconciliação ═\n//\n// Decisão de arquitetura (2026-06-18): os provisórios vivem numa aba PRÓPRIA\n// (`FaturaAberta`), NÃO em Lançamentos. Snapshot = clear+write da aba (idempotente,\n// sem deletar linhas no meio de Lançamentos). De quebra elimina as colisões C1/C2:\n// como não entram em Lançamentos, o `faturaJaImportada` (que lê Lançamentos) nunca os\n// bloqueia, e a regra 3 do dashboard nunca os soma. A aba guarda só o ciclo aberto\n// corrente; o próximo /faturaaberta (novo ciclo) sobrescreve. Reconciliação: quando o\n// CSV oficial fecha, os confirmados entram em Lançamentos pelo fluxo existente; a aba\n// FaturaAberta é sobrescrita na próxima colagem.\n\n/**\n * Linhas da aba FaturaAberta a partir do texto parseado.\n * Colunas: ciclo | data_compra | estabelecimento | categoria_c6 | valor | parcelas_total | status\n * status = \"fechado\" (checksum bate) | \"rascunho\" (não-fechado — não entra no planejamento, R3).\n */\nfunction montarProvisorios(parse, vencimento) {\n  const status = parse.checksum && parse.checksum.bate ? \"fechado\" : \"rascunho\";\n  return parse.lancamentos.map((l) => ({\n    ciclo: vencimento,\n    data_compra: l.data,\n    estabelecimento: l.estabelecimento,\n    categoria_c6: l.categoria_c6,\n    valor: l.valor,\n    parcelas_total: l.parcelas_total === null ? \"\" : l.parcelas_total,\n    status,\n  }));\n}\n\n\n// Lógica pura do fatura-buffer — remonta a fatura aberta colada em N mensagens (o Telegram\n// divide colagens > 4096 chars). Acumula fragmentos e FECHA quando o checksum bate (decisão\n// determinística e síncrona — sem timer/Wait/poller). TDD em fatura-buffer.test.js.\n// Implementa gstack/specs/fatura-aberta-buffer-colagem.md.\n\n// Idêntico ao RESPOSTAS.emConstrucao(\"Entendimento de linguagem natural\") do roteador.js — o\n// stub de NL migrou para cá (texto livre sem sessão de fatura aberta).\nconst STUB_NL = \"🚧 Entendimento de linguagem natural em construção — chega nas próximas fases.\";\n\n// Mitigação leve do race do buffer (sem tocar na arquitetura): quando um texto livre\n// SEM sessão aberta parece um trecho de fatura — caso típico da colagem que o Telegram\n// dividiu e cuja 2ª parte chegou sem o /faturaaberta — orienta a recolar tudo de uma vez.\nconst ORIENTACAO_FATURA = \"📋 Isso parece um trecho de fatura. Se a colagem se dividiu em \" +\n  \"várias mensagens, reenvie tudo de uma vez começando com /faturaaberta.\";\n\n/**\n * Heurística anti-falso-positivo: \"parece fatura\" = ≥2 ocorrências de \"R$\" OU ≥3 linhas\n * contendo valor monetário (\\d+[.,]\\d{2}). \"gastei R$ 50 com pizza\" (1 ocorrência, sem\n * centavos) NÃO dispara → segue no stub de NL normal.\n */\nfunction pareceFatura(texto) {\n  const s = String(texto == null ? \"\" : texto);\n  if ((s.match(/R\\$/gi) || []).length >= 2) return true;\n  const linhasComValor = s.split(/\\r?\\n/).filter((l) => /\\d+[.,]\\d{2}\\b/.test(l)).length;\n  return linhasComValor >= 3;\n}\n\n// Remove o comando inicial (/faturaaberta) E a quebra de linha/espaço que o segue, deixando o\n// texto_acumulado puro (a fatura costuma vir como \"/faturaaberta\\n<fatura>\"). É mais estrito que\n// o stripCmd do fatura-aberta (que só apara [ \\t]); como o buffer passa o texto JÁ puro adiante,\n// o stripCmd do fatura-aberta vira no-op e o parse roda sobre a mesma string nos dois.\nconst stripCmd = (s) => String(s == null ? \"\" : s).replace(/^\\/\\S+[ \\t\\r\\n]*/, \"\");\n\nconst brl = (n) => \"R$ \" + Number(n || 0).toFixed(2).replace(\".\", \",\");\n\n/** Concatena um fragmento ao acumulado, preservando quebras de linha. */\nfunction montarTextoBuffer(acumulado, fragmento) {\n  const a = String(acumulado == null ? \"\" : acumulado);\n  const f = String(fragmento == null ? \"\" : fragmento);\n  return a.trim() ? a + \"\\n\" + f : f;\n}\n\nfunction respostaProgresso(parse) {\n  const n = parse.lancamentos.length;\n  if (parse.total === null) {\n    // total ausente → o parser faz early-return e lancamentos vem vazio; não reportar \"0\".\n    return `📥 Recebi seu trecho, mas ainda não vi \"Total dessa fatura\". ` +\n      `Continue colando, ou /faturaaberta para recomeçar.`;\n  }\n  const ck = parse.checksum;\n  return `📥 Recebi ${n} lançamento(s), somei ${brl(ck.somado)} de ${brl(ck.total)}. ` +\n    `Faltam ${brl(ck.diferenca)} — continue colando, ou /faturaaberta para recomeçar.`;\n}\n\nfunction respostaEstouro(parse) {\n  const ck = parse.checksum;\n  return `⚠️ A soma (${brl(ck.somado)}) passou do Total (${brl(ck.total)}) em ` +\n    `${brl(-ck.diferenca)} — possível estorno/duplicata. /faturaaberta para recomeçar.`;\n}\n\n/**\n * Decide o fluxo do buffer dado o estado e a mensagem recebida.\n * @param {{aberto:(boolean|string), texto_acumulado:string, atualizado_em:(number|string)}} estado\n * @param {\"fatura-aberta-cmd\"|\"texto-livre\"} rota\n * @param {string} texto fragmento recebido (com ou sem /faturaaberta na frente)\n * @param {number} agoraMs epoch ms de agora\n * @param {number} ttlMs janela de expiração da sessão (ms)\n * @returns {{acao:\"flush\"|\"aguardar\"|\"estouro\"|\"stub-nl\"|\"rotear\",\n *   novoTexto?:string, textoFlush?:string, resposta?:string, aberto?:boolean}}\n */\nfunction decidirFluxoBuffer(estado, rota, texto, agoraMs, ttlMs) {\n  const e = estado || {};\n  const aberto = e.aberto === true || String(e.aberto || \"\").trim().toLowerCase() === \"sim\";\n  const atualizado = Number(e.atualizado_em || 0) || 0;\n  const expirado = aberto && Number(agoraMs) - atualizado > Number(ttlMs);\n\n  let novoTexto;\n  if (rota === \"fatura-aberta-cmd\") {\n    novoTexto = stripCmd(texto); // /faturaaberta sempre RESETA a sessão (só o 1º fragmento)\n  } else if (rota === \"texto-livre\") {\n    if (!aberto || expirado) {\n      // Sem sessão: se parece trecho de fatura, orienta a recolar; senão, stub de NL.\n      return { acao: \"stub-nl\", resposta: pareceFatura(texto) ? ORIENTACAO_FATURA : STUB_NL };\n    }\n    novoTexto = montarTextoBuffer(e.texto_acumulado, texto);\n  } else {\n    return { acao: \"rotear\" };\n  }\n\n  const parse = parseFaturaAberta(novoTexto);\n  if (parse.total !== null && parse.checksum.bate) {\n    return { acao: \"flush\", textoFlush: novoTexto };\n  }\n  if (parse.total !== null && parse.checksum.diferenca < 0) {\n    return { acao: \"estouro\", novoTexto, aberto: true, resposta: respostaEstouro(parse) };\n  }\n  // total ausente (assinatura ainda não veio) ou diferença > 0 (faltam) → acumular mais\n  return { acao: \"aguardar\", novoTexto, aberto: true, resposta: respostaProgresso(parse) };\n}\n\n\n\n// ── Glue: monta o estado do buffer e decide flush/responder/stub ──\nconst vr = ($json.valueRanges || []);\nconst paraObjetos = (idx) => {\n  const v = (vr[idx] && vr[idx].values) || [];\n  if (v.length < 2) return [];\n  const h = v[0].map(String);\n  return v.slice(1).map((linha) => {\n    const o = {}; h.forEach((c, j) => { o[c] = linha[j] !== undefined ? linha[j] : ''; }); return o;\n  });\n};\nconst e = $('Início').first().json;\nconst fb = paraObjetos(0);\nconst estado = fb[0] || { aberto: 'não', texto_acumulado: '', atualizado_em: 0 };\nconst cfg = paraObjetos(1);\nconst ttlRow = cfg.find((r) => String(r.chave || '').trim().toLowerCase() === 'fatura_buffer_ttl_min');\nconst ttlMin = ttlRow && Number(ttlRow.valor) > 0 ? Number(ttlRow.valor) : 15;\nconst agoraMs = Date.now();\nconst d = decidirFluxoBuffer(estado, String(e.acao || ''), String(e.texto || ''), agoraMs, ttlMin * 60000);\n\nlet fase, resposta = '', textoFlush = '', row = null;\nif (d.acao === 'flush') {\n  fase = 'flush'; textoFlush = d.textoFlush;\n  row = { texto_acumulado: '', aberto: 'não', atualizado_em: '' };\n} else if (d.acao === 'stub-nl') {\n  fase = 'stub'; resposta = d.resposta;\n} else {\n  fase = 'responder'; resposta = d.resposta;\n  row = { texto_acumulado: d.novoTexto, aberto: 'sim', atualizado_em: String(agoraMs) };\n}\nreturn [{ json: { fase, resposta, textoFlush, row } }];"
      },
      "id": "fin-buf-03"
    },
    {
      "name": "É Stub?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        600,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.fase }}",
              "rightValue": "stub",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "fin-buf-04"
    },
    {
      "name": "Enviar Stub",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        800,
        -140
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.resposta }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "FinTelegramBot01",
          "name": "Telegram Bot"
        }
      },
      "id": "fin-buf-05"
    },
    {
      "name": "Limpar Buffer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        120
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $env.GOOGLE_SHEETS_ID }}/values/FaturaBuffer!A2%3AC:clear",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "FinSheetsSA00001",
          "name": "Google Sheets SA"
        }
      },
      "id": "fin-buf-06"
    },
    {
      "name": "Linha Buffer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        120
      ],
      "parameters": {
        "jsCode": "return [{ json: $('Decidir').first().json.row }];"
      },
      "id": "fin-buf-07"
    },
    {
      "name": "Gravar Buffer",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1200,
        120
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "FaturaBuffer"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": []
        },
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "FinSheetsSA00001",
          "name": "Google Sheets SA"
        }
      },
      "id": "fin-buf-08"
    },
    {
      "name": "É Flush?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1400,
        120
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $('Decidir').first().json.fase }}",
              "rightValue": "flush",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "fin-buf-09"
    },
    {
      "name": "Chamar Fatura",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1600,
        40
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "FinFaturaAbert01",
          "cachedResultName": "fatura-aberta"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "acao": "fatura-aberta",
            "texto": "={{ $('Decidir').first().json.textoFlush }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "acao",
              "displayName": "acao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "texto",
              "displayName": "texto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ]
        },
        "mode": "once",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "fin-buf-10"
    },
    {
      "name": "Reportar Progresso",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1600,
        220
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $('Decidir').first().json.resposta }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "FinTelegramBot01",
          "name": "Telegram Bot"
        }
      },
      "id": "fin-buf-11"
    }
  ],
  "connections": {
    "Início": {
      "main": [
        [
          {
            "node": "Ler Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler Buffer": {
      "main": [
        [
          {
            "node": "Decidir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decidir": {
      "main": [
        [
          {
            "node": "É Stub?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Stub?": {
      "main": [
        [
          {
            "node": "Enviar Stub",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limpar Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar Buffer": {
      "main": [
        [
          {
            "node": "Linha Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linha Buffer": {
      "main": [
        [
          {
            "node": "Gravar Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gravar Buffer": {
      "main": [
        [
          {
            "node": "É Flush?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Flush?": {
      "main": [
        [
          {
            "node": "Chamar Fatura",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reportar Progresso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
