workflows/fatura-buffer.json
{
  "id": "FinFaturaBuf001",
  "name": "fatura-buffer",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "nodes": [
    {
      "name": "Início",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "inputSource": "workflowInputs",
        "workflowInputs": {
          "values": [
            {
              "name": "acao",
              "type": "string"
            },
            {
              "name": "texto",
              "type": "string"
            }
          ]
        }
      },
      "id": "fin-buf-01"
    },
    {
      "name": "Ler Buffer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        0
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "method": "GET",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $env.GOOGLE_SHEETS_ID }}/values:batchGet?ranges='FaturaBuffer'!A%3AC&ranges='Config'!A%3AB&valueRenderOption=UNFORMATTED_VALUE",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "FinSheetsSA00001",
          "name": "Google Sheets SA"
        }
      },
      "id": "fin-buf-02"
    },
    {
      "name": "Decidir",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "parameters": {
        "jsCode": "// Parser da FATURA ABERTA do C6 — lógica pura do Code node do futuro workflow.\r\n// O C6 não exporta CSV da fatura não-fechada; o Marcelo cola, no Telegram, o TEXTO\r\n// REAL selecionável do app web (Ctrl+C) — não OCR, não print. Parser determinístico,\r\n// sem LLM. Implementa gstack/specs/fatura-aberta-projecao.md (Fatia 1: parser + checksum).\r\n//\r\n// Convenções herdadas do projeto: valor sempre positivo (direção fica no consumidor);\r\n// \"Inclusao de Pagamento\"/negativos são excluídos do gasto e do checksum (mesma ideia do\r\n// ehTransferencia). Parser nunca trava: linha que não casa o padrão vira aviso.\r\n\r\n// O C6 rotula os dias mais recentes como \"Hoje\"/\"Ontem\" em vez do nome do dia da semana.\r\n// Sem eles no padrão, a 1ª data reconhecida pulava o bloco do dia atual e seus lançamentos\r\n// eram silenciosamente descartados (bug do R$ 733,97 — o checksum não fechava).\r\nconst DIAS_SEMANA = \"Domingo|Segunda-feira|Terça-feira|Quarta-feira|Quinta-feira|Sexta-feira|Sábado|Hoje|Ontem\";\r\nconst RE_DIA = new RegExp(`^(?:${DIAS_SEMANA}),\\\\s*(\\\\d{2})/(\\\\d{2})/(\\\\d{2})$`);\r\nconst RE_VALOR = /^-?R\\$\\s/;\r\nconst RE_PARCELAS = /^Em\\s+(\\d+)x$/i;\r\nconst RE_PAGAMENTO = /Inclusao de Pagamento|Pagamento recebido|Retirada/i;\r\nconst ASSINATURA = \"Total dessa fatura\";\r\n\r\n/** \"R$ 1.234,56\" / \"-R$ 9.363,91\" → number (com sinal). Inválido → null (não trava). */\r\nfunction parseReais(s) {\r\n  const txt = String(s).trim();\r\n  if (!RE_VALOR.test(txt)) return null;\r\n  const limpo = txt.replace(/^-?R\\$\\s*/, \"\").replace(/\\./g, \"\").replace(\",\", \".\");\r\n  if (limpo === \"\") return null;\r\n  const n = Number(limpo);\r\n  if (!Number.isFinite(n)) return null;\r\n  const valor = (txt.startsWith(\"-\") ? -1 : 1) * Math.abs(n);\r\n  return Math.round(valor * 100) / 100;\r\n}\r\n\r\n/** \"Domingo, 14/06/26\" → \"14/06/2026\" (DD/MM/AA→YYYY, R7). Não-dia → null. */\r\nfunction diaParaData(linha) {\r\n  const m = RE_DIA.exec(linha.trim());\r\n  if (!m) return null;\r\n  return `${m[1]}/${m[2]}/20${m[3]}`;\r\n}\r\n\r\nconst arredonda = (n) => Math.round(n * 100) / 100;\r\n\r\n/**\r\n * Parseia o texto colado da fatura aberta do C6 web.\r\n * @param {string} texto bloco copiado do app web (pode vir de 1+ mensagens concatenadas)\r\n * @returns {{\r\n *   competencia_label: string|null,\r\n *   total: number|null,\r\n *   lancamentos: {data:string, categoria_c6:string, estabelecimento:string, valor:number, parcelas_total:number|null}[],\r\n *   pagamentos: {data:string|null, descricao:string, valor:number}[],\r\n *   checksum: {somado:number, total:number|null, diferenca:number|null, bate:boolean},\r\n *   avisos: string[]\r\n * }}\r\n */\r\nfunction parseFaturaAberta(texto) {\r\n  const linhas = String(texto).replace(/^﻿/, \"\").split(/\\r?\\n/)\r\n    .map((l) => l.trim()).filter((l) => l !== \"\");\r\n  const avisos = [];\r\n\r\n  // Assinatura obrigatória: sem ela, não é fatura C6 → não grava.\r\n  const idxAssinatura = linhas.indexOf(ASSINATURA);\r\n  if (idxAssinatura === -1) {\r\n    avisos.push(`texto sem a assinatura \"${ASSINATURA}\" — não parece a fatura do C6; nada gravado`);\r\n    return {\r\n      competencia_label: null, total: null, lancamentos: [], pagamentos: [],\r\n      checksum: { somado: 0, total: null, diferenca: null, bate: false }, avisos,\r\n    };\r\n  }\r\n\r\n  // Cabeçalho = tudo antes do primeiro dia da semana; competência é a 1ª linha.\r\n  const idxPrimeiroDia = linhas.findIndex((l) => diaParaData(l) !== null);\r\n  const competencia_label = linhas[0] || null;\r\n\r\n  // Total dessa fatura = primeiro valor logo após a assinatura.\r\n  let total = null;\r\n  for (let i = idxAssinatura + 1; i < linhas.length; i++) {\r\n    const v = parseReais(linhas[i]);\r\n    if (v !== null) { total = Math.abs(v); break; }\r\n  }\r\n\r\n  const lancamentos = [];\r\n  const pagamentos = [];\r\n  let dataAtual = null;\r\n\r\n  const corpo = idxPrimeiroDia === -1 ? [] : linhas.slice(idxPrimeiroDia);\r\n  let i = 0;\r\n  while (i < corpo.length) {\r\n    const linha = corpo[i];\r\n\r\n    const data = diaParaData(linha);\r\n    if (data) { dataAtual = data; i++; continue; }\r\n\r\n    // Acumula descritores (categoria, estabelecimento, ou rótulo de pagamento)\r\n    // até encontrar a primeira linha de valor.\r\n    const descritores = [];\r\n    while (i < corpo.length && !RE_VALOR.test(corpo[i]) && diaParaData(corpo[i]) === null) {\r\n      descritores.push(corpo[i]);\r\n      i++;\r\n    }\r\n    if (i >= corpo.length) {\r\n      if (descritores.length) avisos.push(`descrição sem valor no fim do texto: \"${descritores.join(\" / \")}\"`);\r\n      break;\r\n    }\r\n\r\n    // Valor (vem repetido 2×: original e convertido; nacional = iguais → pega o 1º).\r\n    const valor = parseReais(corpo[i]);\r\n    i++;\r\n    while (i < corpo.length && RE_VALOR.test(corpo[i])) i++; // consome a 2ª ocorrência\r\n    // Parcelas opcionais: \"Em Mx\".\r\n    let parcelas_total = null;\r\n    if (i < corpo.length) {\r\n      const mp = RE_PARCELAS.exec(corpo[i]);\r\n      if (mp) { parcelas_total = Number(mp[1]); i++; }\r\n    }\r\n\r\n    if (valor === null) {\r\n      avisos.push(`valor malformado, lançamento ignorado: \"${descritores.join(\" / \")}\"`);\r\n      continue;\r\n    }\r\n    if (descritores.length === 0) {\r\n      avisos.push(`valor sem descrição (${corpo[i - 1]}) ignorado`);\r\n      continue;\r\n    }\r\n\r\n    const ehPagamento = valor < 0 || RE_PAGAMENTO.test(descritores.join(\" \"));\r\n    if (ehPagamento) {\r\n      pagamentos.push({ data: dataAtual, descricao: descritores.join(\" / \"), valor: Math.abs(valor) });\r\n      continue;\r\n    }\r\n\r\n    const categoria_c6 = descritores.length >= 2 ? descritores[0] : \"\";\r\n    const estabelecimento = descritores.length >= 2\r\n      ? descritores.slice(1).join(\" \") : descritores[0];\r\n    lancamentos.push({\r\n      data: dataAtual,\r\n      categoria_c6,\r\n      estabelecimento,\r\n      valor: Math.abs(valor),\r\n      parcelas_total,\r\n    });\r\n  }\r\n\r\n  const somado = arredonda(lancamentos.reduce((s, l) => s + l.valor, 0));\r\n  const diferenca = total === null ? null : arredonda(total - somado);\r\n  const bate = total !== null && diferenca === 0;\r\n\r\n  return {\r\n    competencia_label,\r\n    total,\r\n    lancamentos,\r\n    pagamentos,\r\n    checksum: { somado, total, diferenca, bate },\r\n    avisos,\r\n  };\r\n}\r\n\r\n// ═══════════════ FATIA 2 — parcelas (seed/reseed + projeção) ═════════\r\n//\r\n// O desktop só mostra \"Em Mx\" (total), nunca \"N de M\". Inferir N pela data é furado\r\n// (provado). Solução: seed único (Marcelo lê \"Parcela N de M\" no celular) + índice\r\n// DERIVADO DO CALENDÁRIO — N_atual = N_no_seed + ciclos decorridos desde o seed.\r\n// Assim, pular uma colagem de ciclo NÃO dessincroniza, e recolar o mesmo ciclo não\r\n// incrementa. O seed é reexecutável (= reseed): basta recolar para sobrescrever.\r\n\r\nconst MESES = {\r\n  janeiro: 1, fevereiro: 2, março: 3, marco: 3, abril: 4, maio: 5, junho: 6,\r\n  julho: 7, agosto: 8, setembro: 9, outubro: 10, novembro: 11, dezembro: 12,\r\n};\r\n\r\n/** Normaliza estabelecimento/chave p/ casamento: maiúsculas + colapsa espaços. */\r\nfunction normalizarChave(s) {\r\n  return String(s).trim().toUpperCase().replace(/\\s+/g, \" \");\r\n}\r\n\r\n/** \"julho de 2026\" → vencimento \"10/07/2026\" (ciclo vence dia 10). Inválido → null. */\r\nfunction mesAnoParaVencimento(label) {\r\n  const m = /^([a-zç]+)\\s+de\\s+(\\d{4})$/i.exec(String(label).trim());\r\n  if (!m) return null;\r\n  const mes = MESES[m[1].toLowerCase()];\r\n  if (!mes) return null;\r\n  return `10/${String(mes).padStart(2, \"0\")}/${m[2]}`;\r\n}\r\n\r\n/** Soma k meses a um vencimento \"10/MM/YYYY\" (vira o ano). */\r\nfunction addMesesVencimento(vencimento, k) {\r\n  const m = /^(\\d{2})\\/(\\d{2})\\/(\\d{4})$/.exec(String(vencimento).trim());\r\n  if (!m) return null;\r\n  const idx = Number(m[2]) - 1 + k;\r\n  const ano = Number(m[3]) + Math.floor(idx / 12);\r\n  const mes = ((idx % 12) + 12) % 12;\r\n  return `${m[1]}/${String(mes + 1).padStart(2, \"0\")}/${ano}`;\r\n}\r\n\r\nconst proximoVencimento = (v) => addMesesVencimento(v, 1);\r\n\r\n/** Diferença em meses entre dois vencimentos \"10/MM/YYYY\" (v2 − v1). */\r\nfunction mesesEntreVencimentos(v1, v2) {\r\n  const a = /^(\\d{2})\\/(\\d{2})\\/(\\d{4})$/.exec(String(v1).trim());\r\n  const b = /^(\\d{2})\\/(\\d{2})\\/(\\d{4})$/.exec(String(v2).trim());\r\n  if (!a || !b) return null;\r\n  return (Number(b[3]) - Number(a[3])) * 12 + (Number(b[2]) - Number(a[2]));\r\n}\r\n\r\n/**\r\n * Normaliza um ciclo/data lido do Sheets para \"DD/MM/YYYY\". O append do Sheets coage\r\n * datas em serial (ex.: 46213 = 10/07/2026); ao ler de volta vem o número — esta função\r\n * o converte de volta. Aceita serial (número ou string-só-dígitos), \"DD/MM/YYYY\" e\r\n * \"YYYY-MM-DD\". Vazio → \"\".\r\n */\r\nfunction normalizarCiclo(v) {\r\n  if (v === null || v === undefined || v === \"\") return \"\";\r\n  if (typeof v === \"number\" || (typeof v === \"string\" && /^\\d+(\\.\\d+)?$/.test(v.trim()))) {\r\n    const serial = Math.floor(Number(v));\r\n    const d = new Date(Date.UTC(1899, 11, 30) + serial * 86400000);\r\n    const dd = String(d.getUTCDate()).padStart(2, \"0\");\r\n    const mm = String(d.getUTCMonth() + 1).padStart(2, \"0\");\r\n    return `${dd}/${mm}/${d.getUTCFullYear()}`;\r\n  }\r\n  const s = String(v).trim();\r\n  let m;\r\n  if (/^(\\d{2})\\/(\\d{2})\\/(\\d{4})$/.test(s)) return s;\r\n  if ((m = /^(\\d{4})-(\\d{2})-(\\d{2})/.exec(s))) return `${m[3]}/${m[2]}/${m[1]}`;\r\n  return s;\r\n}\r\n\r\n/**\r\n * Parseia o bloco do /seedparcelas — uma linha por parcela: \"estabelecimento;N/M\".\r\n * Separador canônico \";\" (o \"|\" antigo continua aceito por retrocompat).\r\n * Reexecutável (reseed). @returns {{entradas:{chave,N,M}[], avisos:string[]}}\r\n */\r\nfunction parseSeedParcelas(texto) {\r\n  const entradas = [];\r\n  const avisos = [];\r\n  for (const bruta of String(texto).split(/\\r?\\n/)) {\r\n    const linha = bruta.trim();\r\n    if (linha === \"\") continue;\r\n    const m = /^(.+?)\\s*[;|]\\s*(\\d+)\\s*\\/\\s*(\\d+)$/.exec(linha);\r\n    if (!m) { avisos.push(`linha de seed malformada (esperado \"estab;N/M\"): \"${linha}\"`); continue; }\r\n    const N = Number(m[2]);\r\n    const M = Number(m[3]);\r\n    if (N < 1 || M < 1 || N > M) { avisos.push(`parcela inválida (N/M fora de 1..M): \"${linha}\"`); continue; }\r\n    entradas.push({ chave: m[1].trim(), N, M });\r\n  }\r\n  return { entradas, avisos };\r\n}\r\n\r\n/**\r\n * Casa cada seed com os lançamentos parcelados por (chave CONTIDA no estabelecimento, M)\r\n * e monta as linhas da aba Parcelas. Uma linha por lançamento casado (GOL = 4 compras 3x\r\n * no mesmo dia → 4 linhas). @returns {{rows:object[], avisos:string[]}}\r\n */\r\nfunction montarEstadoParcelas(entradas, lancamentosParcelados, vencimentoReferencia) {\r\n  const rows = [];\r\n  const avisos = [];\r\n  const casados = new Set();\r\n  for (const e of entradas) {\r\n    const chaveN = normalizarChave(e.chave);\r\n    const matches = lancamentosParcelados.filter(\r\n      (l) => normalizarChave(l.estabelecimento).includes(chaveN) && l.parcelas_total === e.M\r\n    );\r\n    if (matches.length === 0) {\r\n      avisos.push(`seed sem lançamento correspondente: \"${e.chave}\" (${e.N}/${e.M})`);\r\n      continue;\r\n    }\r\n    for (const l of matches) {\r\n      casados.add(l);\r\n      rows.push({\r\n        chave: e.chave,\r\n        estabelecimento: l.estabelecimento,\r\n        valor: l.valor,\r\n        M: e.M,\r\n        N_no_seed: e.N,\r\n        ciclo_referencia: vencimentoReferencia,\r\n      });\r\n    }\r\n  }\r\n  for (const l of lancamentosParcelados) {\r\n    if (!casados.has(l)) {\r\n      avisos.push(`parcela sem seed (informe N/M): \"${l.estabelecimento}\" (Em ${l.parcelas_total}x)`);\r\n    }\r\n  }\r\n  return { rows, avisos };\r\n}\r\n\r\n/**\r\n * Vencimento \"10/MM/YYYY\" do ciclo aberto corrente, derivado de \"hoje\" (YYYY-MM-DD,\r\n * America/Sao_Paulo). Ciclo fecha dia 03, vence dia 10; transações 04→03 caem no ciclo que\r\n * fecha dia 03. Usado pela v2 do dashboard como âncora da projeção quando não há fatura aberta.\r\n */\r\nfunction vencimentoCicloAberto(hojeISO) {\r\n  const m = /^(\\d{4})-(\\d{2})-(\\d{2})$/.exec(String(hojeISO).trim());\r\n  if (!m) return null;\r\n  let ano = Number(m[1]);\r\n  let mes = Number(m[2]);\r\n  const dia = Number(m[3]);\r\n  if (dia >= 4) {\r\n    mes += 1;\r\n    if (mes === 13) { mes = 1; ano += 1; }\r\n  }\r\n  return `10/${String(mes).padStart(2, \"0\")}/${ano}`;\r\n}\r\n\r\n/** Índice atual da parcela, derivado do calendário (não de contagem de colagens). */\r\nfunction indiceAtual(parcelaRow, vencimentoAtual) {\r\n  return (\r\n    Number(parcelaRow.N_no_seed) +\r\n    mesesEntreVencimentos(normalizarCiclo(parcelaRow.ciclo_referencia), normalizarCiclo(vencimentoAtual))\r\n  );\r\n}\r\n\r\n/**\r\n * Projeção do comprometido futuro: para cada ciclo à frente (1..horizonte), soma o valor\r\n * das parcelas ainda ativas (1 ≤ N ≤ M). Derivada — nunca persistida como confirmada.\r\n * @returns {{vencimento:string, total:number}[]} (um item por ciclo do horizonte)\r\n */\r\nfunction projetarComprometido(parcelaRows, vencimentoAtual, horizonte = 6) {\r\n  const out = [];\r\n  for (let k = 1; k <= horizonte; k++) {\r\n    const venc = addMesesVencimento(vencimentoAtual, k);\r\n    let total = 0;\r\n    for (const row of parcelaRows) {\r\n      const N = indiceAtual(row, venc);\r\n      if (N >= 1 && N <= row.M) total += row.valor;\r\n    }\r\n    out.push({ vencimento: venc, total: arredonda(total) });\r\n  }\r\n  return out;\r\n}\r\n\r\n// ═══════════════ FATIA 3 — provisórios (aba própria) + reconciliação ═\r\n//\r\n// Decisão de arquitetura (2026-06-18): os provisórios vivem numa aba PRÓPRIA\r\n// (`FaturaAberta`), NÃO em Lançamentos. Snapshot = clear+write da aba (idempotente,\r\n// sem deletar linhas no meio de Lançamentos). De quebra elimina as colisões C1/C2:\r\n// como não entram em Lançamentos, o `faturaJaImportada` (que lê Lançamentos) nunca os\r\n// bloqueia, e a regra 3 do dashboard nunca os soma. A aba guarda só o ciclo aberto\r\n// corrente; o próximo /faturaaberta (novo ciclo) sobrescreve. Reconciliação: quando o\r\n// CSV oficial fecha, os confirmados entram em Lançamentos pelo fluxo existente; a aba\r\n// FaturaAberta é sobrescrita na próxima colagem.\r\n\r\n/**\r\n * Linhas da aba FaturaAberta a partir do texto parseado.\r\n * Colunas: ciclo | data_compra | estabelecimento | categoria_c6 | valor | parcelas_total | status\r\n * status = \"fechado\" (checksum bate) | \"rascunho\" (não-fechado — não entra no planejamento, R3).\r\n */\r\nfunction montarProvisorios(parse, vencimento) {\r\n  const status = parse.checksum && parse.checksum.bate ? \"fechado\" : \"rascunho\";\r\n  return parse.lancamentos.map((l) => ({\r\n    ciclo: vencimento,\r\n    data_compra: l.data,\r\n    estabelecimento: l.estabelecimento,\r\n    categoria_c6: l.categoria_c6,\r\n    valor: l.valor,\r\n    parcelas_total: l.parcelas_total === null ? \"\" : l.parcelas_total,\r\n    status,\r\n  }));\r\n}\r\n\r\n\n// Lógica pura do fatura-buffer — remonta a fatura aberta colada em N mensagens (o Telegram\r\n// divide colagens > 4096 chars). Acumula fragmentos e FECHA quando o checksum bate (decisão\r\n// determinística e síncrona — sem timer/Wait/poller). TDD em fatura-buffer.test.js.\r\n// Implementa gstack/specs/fatura-aberta-buffer-colagem.md.\r\n// Idêntico ao RESPOSTAS.emConstrucao(\"Entendimento de linguagem natural\") do roteador.js — o\r\n// stub de NL migrou para cá (texto livre sem sessão de fatura aberta).\r\nconst STUB_NL = \"🚧 Entendimento de linguagem natural em construção — chega nas próximas fases.\";\r\n\r\n// Mitigação leve do race do buffer (sem tocar na arquitetura): quando um texto livre\r\n// SEM sessão aberta parece um trecho de fatura — caso típico da colagem que o Telegram\r\n// dividiu e cuja 2ª parte chegou sem o /faturaaberta — orienta a recolar tudo de uma vez.\r\nconst ORIENTACAO_FATURA = \"📋 Isso parece um trecho de fatura. Se a colagem se dividiu em \" +\r\n  \"várias mensagens, reenvie tudo de uma vez começando com /faturaaberta.\";\r\n\r\n// /fecharfatura sem nenhuma colagem em andamento: não há o que encerrar.\r\nconst SEM_FATURA_ABERTA = \"📭 Não há fatura aberta em andamento para fechar. \" +\r\n  \"Envie /faturaaberta e cole a fatura, ou mande o arquivo .txt.\";\r\n\r\n/**\r\n * Heurística anti-falso-positivo: \"parece fatura\" = ≥2 ocorrências de \"R$\" OU ≥3 linhas\r\n * contendo valor monetário (\\d+[.,]\\d{2}). \"gastei R$ 50 com pizza\" (1 ocorrência, sem\r\n * centavos) NÃO dispara → segue no stub de NL normal.\r\n */\r\nfunction pareceFatura(texto) {\r\n  const s = String(texto == null ? \"\" : texto);\r\n  if ((s.match(/R\\$/gi) || []).length >= 2) return true;\r\n  const linhasComValor = s.split(/\\r?\\n/).filter((l) => /\\d+[.,]\\d{2}\\b/.test(l)).length;\r\n  return linhasComValor >= 3;\r\n}\r\n\r\n// Remove o comando inicial (/faturaaberta) E a quebra de linha/espaço que o segue, deixando o\r\n// texto_acumulado puro (a fatura costuma vir como \"/faturaaberta\\n<fatura>\"). É mais estrito que\r\n// o stripCmd do fatura-aberta (que só apara [ \\t]); como o buffer passa o texto JÁ puro adiante,\r\n// o stripCmd do fatura-aberta vira no-op e o parse roda sobre a mesma string nos dois.\r\nconst stripCmd = (s) => String(s == null ? \"\" : s).replace(/^\\/\\S+[ \\t\\r\\n]*/, \"\");\r\n\r\nconst brl = (n) => \"R$ \" + Number(n || 0).toFixed(2).replace(\".\", \",\");\r\n\r\n/** Concatena um fragmento ao acumulado, preservando quebras de linha. */\r\nfunction montarTextoBuffer(acumulado, fragmento) {\r\n  const a = String(acumulado == null ? \"\" : acumulado);\r\n  const f = String(fragmento == null ? \"\" : fragmento);\r\n  return a.trim() ? a + \"\\n\" + f : f;\r\n}\r\n\r\nfunction respostaProgresso(parse) {\r\n  const n = parse.lancamentos.length;\r\n  if (parse.total === null) {\r\n    // total ausente → o parser faz early-return e lancamentos vem vazio; não reportar \"0\".\r\n    return `📥 Recebi seu trecho, mas ainda não vi \"Total dessa fatura\". ` +\r\n      `Continue colando, ou /faturaaberta para recomeçar.`;\r\n  }\r\n  const ck = parse.checksum;\r\n  return `📥 Recebi ${n} lançamento(s), somei ${brl(ck.somado)} de ${brl(ck.total)}. ` +\r\n    `Faltam ${brl(ck.diferenca)} — continue colando, /fecharfatura para encerrar como ` +\r\n    `rascunho, ou /faturaaberta para recomeçar.`;\r\n}\r\n\r\nfunction respostaEstouro(parse) {\r\n  const ck = parse.checksum;\r\n  return `⚠️ A soma (${brl(ck.somado)}) passou do Total (${brl(ck.total)}) em ` +\r\n    `${brl(-ck.diferenca)} — possível estorno/duplicata. /faturaaberta para recomeçar.`;\r\n}\r\n\r\n/**\r\n * Decide o fluxo do buffer dado o estado e a mensagem recebida.\r\n * @param {{aberto:(boolean|string), texto_acumulado:string, atualizado_em:(number|string)}} estado\r\n * @param {\"fatura-aberta-cmd\"|\"texto-livre\"} rota\r\n * @param {string} texto fragmento recebido (com ou sem /faturaaberta na frente)\r\n * @param {number} agoraMs epoch ms de agora\r\n * @param {number} ttlMs janela de expiração da sessão (ms)\r\n * @returns {{acao:\"flush\"|\"aguardar\"|\"estouro\"|\"stub-nl\"|\"rotear\",\r\n *   novoTexto?:string, textoFlush?:string, resposta?:string, aberto?:boolean}}\r\n */\r\nfunction decidirFluxoBuffer(estado, rota, texto, agoraMs, ttlMs) {\r\n  const e = estado || {};\r\n  const aberto = e.aberto === true || String(e.aberto || \"\").trim().toLowerCase() === \"sim\";\r\n  const atualizado = Number(e.atualizado_em || 0) || 0;\r\n  const expirado = aberto && Number(agoraMs) - atualizado > Number(ttlMs);\r\n\r\n  // /fecharfatura: encerra a colagem em andamento como rascunho. IGNORA o TTL (é intenção\r\n  // explícita do usuário), mas exige sessão aberta com texto acumulado. Força o flush do que\r\n  // há — o fatura-aberta grava rascunho e reporta o que falta. Sem sessão → avisa, não grava.\r\n  if (rota === \"fechar-fatura\") {\r\n    const textoAtual = String(e.texto_acumulado || \"\");\r\n    if (!aberto || textoAtual.trim() === \"\") {\r\n      return { acao: \"stub-nl\", resposta: SEM_FATURA_ABERTA };\r\n    }\r\n    return { acao: \"flush\", textoFlush: textoAtual };\r\n  }\r\n\r\n  let novoTexto;\r\n  if (rota === \"fatura-aberta-cmd\") {\r\n    novoTexto = stripCmd(texto); // /faturaaberta sempre RESETA a sessão (só o 1º fragmento)\r\n  } else if (rota === \"texto-livre\") {\r\n    if (!aberto || expirado) {\r\n      // Sem sessão: se parece trecho de fatura, orienta a recolar; senão, stub de NL.\r\n      return { acao: \"stub-nl\", resposta: pareceFatura(texto) ? ORIENTACAO_FATURA : STUB_NL };\r\n    }\r\n    novoTexto = montarTextoBuffer(e.texto_acumulado, texto);\r\n  } else {\r\n    return { acao: \"rotear\" };\r\n  }\r\n\r\n  const parse = parseFaturaAberta(novoTexto);\r\n  if (parse.total !== null && parse.checksum.bate) {\r\n    return { acao: \"flush\", textoFlush: novoTexto };\r\n  }\r\n  if (parse.total !== null && parse.checksum.diferenca < 0) {\r\n    return { acao: \"estouro\", novoTexto, aberto: true, resposta: respostaEstouro(parse) };\r\n  }\r\n  // total ausente (assinatura ainda não veio) ou diferença > 0 (faltam) → acumular mais\r\n  return { acao: \"aguardar\", novoTexto, aberto: true, resposta: respostaProgresso(parse) };\r\n}\r\n\r\n\n\n// ── Glue: monta o estado do buffer e decide flush/responder/stub ──\nconst vr = ($json.valueRanges || []);\nconst paraObjetos = (idx) => {\n  const v = (vr[idx] && vr[idx].values) || [];\n  if (v.length < 2) return [];\n  const h = v[0].map(String);\n  return v.slice(1).map((linha) => {\n    const o = {}; h.forEach((c, j) => { o[c] = linha[j] !== undefined ? linha[j] : ''; }); return o;\n  });\n};\nconst e = $('Início').first().json;\nconst fb = paraObjetos(0);\nconst estado = fb[0] || { aberto: 'não', texto_acumulado: '', atualizado_em: 0 };\nconst cfg = paraObjetos(1);\nconst ttlRow = cfg.find((r) => String(r.chave || '').trim().toLowerCase() === 'fatura_buffer_ttl_min');\nconst ttlMin = ttlRow && Number(ttlRow.valor) > 0 ? Number(ttlRow.valor) : 15;\nconst agoraMs = Date.now();\nconst d = decidirFluxoBuffer(estado, String(e.acao || ''), String(e.texto || ''), agoraMs, ttlMin * 60000);\n\nlet fase, resposta = '', textoFlush = '', row = null;\nif (d.acao === 'flush') {\n  fase = 'flush'; textoFlush = d.textoFlush;\n  row = { texto_acumulado: '', aberto: 'não', atualizado_em: '' };\n} else if (d.acao === 'stub-nl') {\n  fase = 'stub'; resposta = d.resposta;\n} else {\n  fase = 'responder'; resposta = d.resposta;\n  row = { texto_acumulado: d.novoTexto, aberto: 'sim', atualizado_em: String(agoraMs) };\n}\nreturn [{ json: { fase, resposta, textoFlush, row } }];"
      },
      "id": "fin-buf-03"
    },
    {
      "name": "É Stub?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        600,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.fase }}",
              "rightValue": "stub",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "fin-buf-04"
    },
    {
      "name": "Enviar Stub",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        800,
        -140
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.resposta }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "FinTelegramBot01",
          "name": "Telegram Bot"
        }
      },
      "id": "fin-buf-05"
    },
    {
      "name": "Limpar Buffer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        120
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $env.GOOGLE_SHEETS_ID }}/values/FaturaBuffer!A2%3AC:clear",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "FinSheetsSA00001",
          "name": "Google Sheets SA"
        }
      },
      "id": "fin-buf-06"
    },
    {
      "name": "Linha Buffer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        120
      ],
      "parameters": {
        "jsCode": "return [{ json: $('Decidir').first().json.row }];"
      },
      "id": "fin-buf-07"
    },
    {
      "name": "Gravar Buffer",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1200,
        120
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "FaturaBuffer"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": []
        },
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "FinSheetsSA00001",
          "name": "Google Sheets SA"
        }
      },
      "id": "fin-buf-08"
    },
    {
      "name": "É Flush?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1400,
        120
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $('Decidir').first().json.fase }}",
              "rightValue": "flush",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "fin-buf-09"
    },
    {
      "name": "Chamar Fatura",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1600,
        40
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "FinFaturaAbert01",
          "cachedResultName": "fatura-aberta"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "acao": "fatura-aberta",
            "texto": "={{ $('Decidir').first().json.textoFlush }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "acao",
              "displayName": "acao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "texto",
              "displayName": "texto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ]
        },
        "mode": "once",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "fin-buf-10"
    },
    {
      "name": "Reportar Progresso",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1600,
        220
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $('Decidir').first().json.resposta }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "FinTelegramBot01",
          "name": "Telegram Bot"
        }
      },
      "id": "fin-buf-11"
    }
  ],
  "connections": {
    "Início": {
      "main": [
        [
          {
            "node": "Ler Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler Buffer": {
      "main": [
        [
          {
            "node": "Decidir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decidir": {
      "main": [
        [
          {
            "node": "É Stub?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Stub?": {
      "main": [
        [
          {
            "node": "Enviar Stub",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limpar Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar Buffer": {
      "main": [
        [
          {
            "node": "Linha Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linha Buffer": {
      "main": [
        [
          {
            "node": "Gravar Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gravar Buffer": {
      "main": [
        [
          {
            "node": "É Flush?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Flush?": {
      "main": [
        [
          {
            "node": "Chamar Fatura",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reportar Progresso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
