workflows/fatura-aberta.json
{
  "id": "FinFaturaAbert01",
  "name": "fatura-aberta",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "nodes": [
    {
      "name": "Início",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "inputSource": "workflowInputs",
        "workflowInputs": {
          "values": [
            {
              "name": "acao",
              "type": "string"
            },
            {
              "name": "texto",
              "type": "string"
            },
            {
              "name": "estado",
              "type": "string"
            }
          ]
        }
      },
      "id": "finfaturaa-01"
    },
    {
      "name": "Ler Dados",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        0
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "method": "GET",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $env.GOOGLE_SHEETS_ID }}/values:batchGet?ranges='FaturaAberta'!A%3AG&ranges='Parcelas'!A%3AE&valueRenderOption=UNFORMATTED_VALUE",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "FinSheetsSA00001",
          "name": "Google Sheets SA"
        }
      },
      "id": "finfaturaa-02"
    },
    {
      "name": "Decidir",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "parameters": {
        "jsCode": "// Parser da FATURA ABERTA do C6 — lógica pura do Code node do futuro workflow.\r\n// O C6 não exporta CSV da fatura não-fechada; o Marcelo cola, no Telegram, o TEXTO\r\n// REAL selecionável do app web (Ctrl+C) — não OCR, não print. Parser determinístico,\r\n// sem LLM. Implementa gstack/specs/fatura-aberta-projecao.md (Fatia 1: parser + checksum).\r\n//\r\n// Convenções herdadas do projeto: valor sempre positivo (direção fica no consumidor);\r\n// \"Inclusao de Pagamento\"/negativos são excluídos do gasto e do checksum (mesma ideia do\r\n// ehTransferencia). Parser nunca trava: linha que não casa o padrão vira aviso.\r\n\r\nconst DIAS_SEMANA = \"Domingo|Segunda-feira|Terça-feira|Quarta-feira|Quinta-feira|Sexta-feira|Sábado\";\r\nconst RE_DIA = new RegExp(`^(?:${DIAS_SEMANA}),\\\\s*(\\\\d{2})/(\\\\d{2})/(\\\\d{2})$`);\r\nconst RE_VALOR = /^-?R\\$\\s/;\r\nconst RE_PARCELAS = /^Em\\s+(\\d+)x$/i;\r\nconst RE_PAGAMENTO = /Inclusao de Pagamento|Pagamento recebido|Retirada/i;\r\nconst ASSINATURA = \"Total dessa fatura\";\r\n\r\n/** \"R$ 1.234,56\" / \"-R$ 9.363,91\" → number (com sinal). Inválido → null (não trava). */\r\nfunction parseReais(s) {\r\n  const txt = String(s).trim();\r\n  if (!RE_VALOR.test(txt)) return null;\r\n  const limpo = txt.replace(/^-?R\\$\\s*/, \"\").replace(/\\./g, \"\").replace(\",\", \".\");\r\n  if (limpo === \"\") return null;\r\n  const n = Number(limpo);\r\n  if (!Number.isFinite(n)) return null;\r\n  const valor = (txt.startsWith(\"-\") ? -1 : 1) * Math.abs(n);\r\n  return Math.round(valor * 100) / 100;\r\n}\r\n\r\n/** \"Domingo, 14/06/26\" → \"14/06/2026\" (DD/MM/AA→YYYY, R7). Não-dia → null. */\r\nfunction diaParaData(linha) {\r\n  const m = RE_DIA.exec(linha.trim());\r\n  if (!m) return null;\r\n  return `${m[1]}/${m[2]}/20${m[3]}`;\r\n}\r\n\r\nconst arredonda = (n) => Math.round(n * 100) / 100;\r\n\r\n/**\r\n * Parseia o texto colado da fatura aberta do C6 web.\r\n * @param {string} texto bloco copiado do app web (pode vir de 1+ mensagens concatenadas)\r\n * @returns {{\r\n *   competencia_label: string|null,\r\n *   total: number|null,\r\n *   lancamentos: {data:string, categoria_c6:string, estabelecimento:string, valor:number, parcelas_total:number|null}[],\r\n *   pagamentos: {data:string|null, descricao:string, valor:number}[],\r\n *   checksum: {somado:number, total:number|null, diferenca:number|null, bate:boolean},\r\n *   avisos: string[]\r\n * }}\r\n */\r\nfunction parseFaturaAberta(texto) {\r\n  const linhas = String(texto).replace(/^﻿/, \"\").split(/\\r?\\n/)\r\n    .map((l) => l.trim()).filter((l) => l !== \"\");\r\n  const avisos = [];\r\n\r\n  // Assinatura obrigatória: sem ela, não é fatura C6 → não grava.\r\n  const idxAssinatura = linhas.indexOf(ASSINATURA);\r\n  if (idxAssinatura === -1) {\r\n    avisos.push(`texto sem a assinatura \"${ASSINATURA}\" — não parece a fatura do C6; nada gravado`);\r\n    return {\r\n      competencia_label: null, total: null, lancamentos: [], pagamentos: [],\r\n      checksum: { somado: 0, total: null, diferenca: null, bate: false }, avisos,\r\n    };\r\n  }\r\n\r\n  // Cabeçalho = tudo antes do primeiro dia da semana; competência é a 1ª linha.\r\n  const idxPrimeiroDia = linhas.findIndex((l) => diaParaData(l) !== null);\r\n  const competencia_label = linhas[0] || null;\r\n\r\n  // Total dessa fatura = primeiro valor logo após a assinatura.\r\n  let total = null;\r\n  for (let i = idxAssinatura + 1; i < linhas.length; i++) {\r\n    const v = parseReais(linhas[i]);\r\n    if (v !== null) { total = Math.abs(v); break; }\r\n  }\r\n\r\n  const lancamentos = [];\r\n  const pagamentos = [];\r\n  let dataAtual = null;\r\n\r\n  const corpo = idxPrimeiroDia === -1 ? [] : linhas.slice(idxPrimeiroDia);\r\n  let i = 0;\r\n  while (i < corpo.length) {\r\n    const linha = corpo[i];\r\n\r\n    const data = diaParaData(linha);\r\n    if (data) { dataAtual = data; i++; continue; }\r\n\r\n    // Acumula descritores (categoria, estabelecimento, ou rótulo de pagamento)\r\n    // até encontrar a primeira linha de valor.\r\n    const descritores = [];\r\n    while (i < corpo.length && !RE_VALOR.test(corpo[i]) && diaParaData(corpo[i]) === null) {\r\n      descritores.push(corpo[i]);\r\n      i++;\r\n    }\r\n    if (i >= corpo.length) {\r\n      if (descritores.length) avisos.push(`descrição sem valor no fim do texto: \"${descritores.join(\" / \")}\"`);\r\n      break;\r\n    }\r\n\r\n    // Valor (vem repetido 2×: original e convertido; nacional = iguais → pega o 1º).\r\n    const valor = parseReais(corpo[i]);\r\n    i++;\r\n    while (i < corpo.length && RE_VALOR.test(corpo[i])) i++; // consome a 2ª ocorrência\r\n    // Parcelas opcionais: \"Em Mx\".\r\n    let parcelas_total = null;\r\n    if (i < corpo.length) {\r\n      const mp = RE_PARCELAS.exec(corpo[i]);\r\n      if (mp) { parcelas_total = Number(mp[1]); i++; }\r\n    }\r\n\r\n    if (valor === null) {\r\n      avisos.push(`valor malformado, lançamento ignorado: \"${descritores.join(\" / \")}\"`);\r\n      continue;\r\n    }\r\n    if (descritores.length === 0) {\r\n      avisos.push(`valor sem descrição (${corpo[i - 1]}) ignorado`);\r\n      continue;\r\n    }\r\n\r\n    const ehPagamento = valor < 0 || RE_PAGAMENTO.test(descritores.join(\" \"));\r\n    if (ehPagamento) {\r\n      pagamentos.push({ data: dataAtual, descricao: descritores.join(\" / \"), valor: Math.abs(valor) });\r\n      continue;\r\n    }\r\n\r\n    const categoria_c6 = descritores.length >= 2 ? descritores[0] : \"\";\r\n    const estabelecimento = descritores.length >= 2\r\n      ? descritores.slice(1).join(\" \") : descritores[0];\r\n    lancamentos.push({\r\n      data: dataAtual,\r\n      categoria_c6,\r\n      estabelecimento,\r\n      valor: Math.abs(valor),\r\n      parcelas_total,\r\n    });\r\n  }\r\n\r\n  const somado = arredonda(lancamentos.reduce((s, l) => s + l.valor, 0));\r\n  const diferenca = total === null ? null : arredonda(total - somado);\r\n  const bate = total !== null && diferenca === 0;\r\n\r\n  return {\r\n    competencia_label,\r\n    total,\r\n    lancamentos,\r\n    pagamentos,\r\n    checksum: { somado, total, diferenca, bate },\r\n    avisos,\r\n  };\r\n}\r\n\r\n// ═══════════════ FATIA 2 — parcelas (seed/reseed + projeção) ═════════\r\n//\r\n// O desktop só mostra \"Em Mx\" (total), nunca \"N de M\". Inferir N pela data é furado\r\n// (provado). Solução: seed único (Marcelo lê \"Parcela N de M\" no celular) + índice\r\n// DERIVADO DO CALENDÁRIO — N_atual = N_no_seed + ciclos decorridos desde o seed.\r\n// Assim, pular uma colagem de ciclo NÃO dessincroniza, e recolar o mesmo ciclo não\r\n// incrementa. O seed é reexecutável (= reseed): basta recolar para sobrescrever.\r\n\r\nconst MESES = {\r\n  janeiro: 1, fevereiro: 2, março: 3, marco: 3, abril: 4, maio: 5, junho: 6,\r\n  julho: 7, agosto: 8, setembro: 9, outubro: 10, novembro: 11, dezembro: 12,\r\n};\r\n\r\n/** Normaliza estabelecimento/chave p/ casamento: maiúsculas + colapsa espaços. */\r\nfunction normalizarChave(s) {\r\n  return String(s).trim().toUpperCase().replace(/\\s+/g, \" \");\r\n}\r\n\r\n/** \"julho de 2026\" → vencimento \"10/07/2026\" (ciclo vence dia 10). Inválido → null. */\r\nfunction mesAnoParaVencimento(label) {\r\n  const m = /^([a-zç]+)\\s+de\\s+(\\d{4})$/i.exec(String(label).trim());\r\n  if (!m) return null;\r\n  const mes = MESES[m[1].toLowerCase()];\r\n  if (!mes) return null;\r\n  return `10/${String(mes).padStart(2, \"0\")}/${m[2]}`;\r\n}\r\n\r\n/** Soma k meses a um vencimento \"10/MM/YYYY\" (vira o ano). */\r\nfunction addMesesVencimento(vencimento, k) {\r\n  const m = /^(\\d{2})\\/(\\d{2})\\/(\\d{4})$/.exec(String(vencimento).trim());\r\n  if (!m) return null;\r\n  const idx = Number(m[2]) - 1 + k;\r\n  const ano = Number(m[3]) + Math.floor(idx / 12);\r\n  const mes = ((idx % 12) + 12) % 12;\r\n  return `${m[1]}/${String(mes + 1).padStart(2, \"0\")}/${ano}`;\r\n}\r\n\r\nconst proximoVencimento = (v) => addMesesVencimento(v, 1);\r\n\r\n/** Diferença em meses entre dois vencimentos \"10/MM/YYYY\" (v2 − v1). */\r\nfunction mesesEntreVencimentos(v1, v2) {\r\n  const a = /^(\\d{2})\\/(\\d{2})\\/(\\d{4})$/.exec(String(v1).trim());\r\n  const b = /^(\\d{2})\\/(\\d{2})\\/(\\d{4})$/.exec(String(v2).trim());\r\n  if (!a || !b) return null;\r\n  return (Number(b[3]) - Number(a[3])) * 12 + (Number(b[2]) - Number(a[2]));\r\n}\r\n\r\n/**\r\n * Normaliza um ciclo/data lido do Sheets para \"DD/MM/YYYY\". O append do Sheets coage\r\n * datas em serial (ex.: 46213 = 10/07/2026); ao ler de volta vem o número — esta função\r\n * o converte de volta. Aceita serial (número ou string-só-dígitos), \"DD/MM/YYYY\" e\r\n * \"YYYY-MM-DD\". Vazio → \"\".\r\n */\r\nfunction normalizarCiclo(v) {\r\n  if (v === null || v === undefined || v === \"\") return \"\";\r\n  if (typeof v === \"number\" || (typeof v === \"string\" && /^\\d+(\\.\\d+)?$/.test(v.trim()))) {\r\n    const serial = Math.floor(Number(v));\r\n    const d = new Date(Date.UTC(1899, 11, 30) + serial * 86400000);\r\n    const dd = String(d.getUTCDate()).padStart(2, \"0\");\r\n    const mm = String(d.getUTCMonth() + 1).padStart(2, \"0\");\r\n    return `${dd}/${mm}/${d.getUTCFullYear()}`;\r\n  }\r\n  const s = String(v).trim();\r\n  let m;\r\n  if (/^(\\d{2})\\/(\\d{2})\\/(\\d{4})$/.test(s)) return s;\r\n  if ((m = /^(\\d{4})-(\\d{2})-(\\d{2})/.exec(s))) return `${m[3]}/${m[2]}/${m[1]}`;\r\n  return s;\r\n}\r\n\r\n/**\r\n * Parseia o bloco do /seedparcelas — uma linha por parcela: \"estabelecimento;N/M\".\r\n * Separador canônico \";\" (o \"|\" antigo continua aceito por retrocompat).\r\n * Reexecutável (reseed). @returns {{entradas:{chave,N,M}[], avisos:string[]}}\r\n */\r\nfunction parseSeedParcelas(texto) {\r\n  const entradas = [];\r\n  const avisos = [];\r\n  for (const bruta of String(texto).split(/\\r?\\n/)) {\r\n    const linha = bruta.trim();\r\n    if (linha === \"\") continue;\r\n    const m = /^(.+?)\\s*[;|]\\s*(\\d+)\\s*\\/\\s*(\\d+)$/.exec(linha);\r\n    if (!m) { avisos.push(`linha de seed malformada (esperado \"estab;N/M\"): \"${linha}\"`); continue; }\r\n    const N = Number(m[2]);\r\n    const M = Number(m[3]);\r\n    if (N < 1 || M < 1 || N > M) { avisos.push(`parcela inválida (N/M fora de 1..M): \"${linha}\"`); continue; }\r\n    entradas.push({ chave: m[1].trim(), N, M });\r\n  }\r\n  return { entradas, avisos };\r\n}\r\n\r\n/**\r\n * Casa cada seed com os lançamentos parcelados por (chave CONTIDA no estabelecimento, M)\r\n * e monta as linhas da aba Parcelas. Uma linha por lançamento casado (GOL = 4 compras 3x\r\n * no mesmo dia → 4 linhas). @returns {{rows:object[], avisos:string[]}}\r\n */\r\nfunction montarEstadoParcelas(entradas, lancamentosParcelados, vencimentoReferencia) {\r\n  const rows = [];\r\n  const avisos = [];\r\n  const casados = new Set();\r\n  for (const e of entradas) {\r\n    const chaveN = normalizarChave(e.chave);\r\n    const matches = lancamentosParcelados.filter(\r\n      (l) => normalizarChave(l.estabelecimento).includes(chaveN) && l.parcelas_total === e.M\r\n    );\r\n    if (matches.length === 0) {\r\n      avisos.push(`seed sem lançamento correspondente: \"${e.chave}\" (${e.N}/${e.M})`);\r\n      continue;\r\n    }\r\n    for (const l of matches) {\r\n      casados.add(l);\r\n      rows.push({\r\n        chave: e.chave,\r\n        estabelecimento: l.estabelecimento,\r\n        valor: l.valor,\r\n        M: e.M,\r\n        N_no_seed: e.N,\r\n        ciclo_referencia: vencimentoReferencia,\r\n      });\r\n    }\r\n  }\r\n  for (const l of lancamentosParcelados) {\r\n    if (!casados.has(l)) {\r\n      avisos.push(`parcela sem seed (informe N/M): \"${l.estabelecimento}\" (Em ${l.parcelas_total}x)`);\r\n    }\r\n  }\r\n  return { rows, avisos };\r\n}\r\n\r\n/**\r\n * Vencimento \"10/MM/YYYY\" do ciclo aberto corrente, derivado de \"hoje\" (YYYY-MM-DD,\r\n * America/Sao_Paulo). Ciclo fecha dia 03, vence dia 10; transações 04→03 caem no ciclo que\r\n * fecha dia 03. Usado pela v2 do dashboard como âncora da projeção quando não há fatura aberta.\r\n */\r\nfunction vencimentoCicloAberto(hojeISO) {\r\n  const m = /^(\\d{4})-(\\d{2})-(\\d{2})$/.exec(String(hojeISO).trim());\r\n  if (!m) return null;\r\n  let ano = Number(m[1]);\r\n  let mes = Number(m[2]);\r\n  const dia = Number(m[3]);\r\n  if (dia >= 4) {\r\n    mes += 1;\r\n    if (mes === 13) { mes = 1; ano += 1; }\r\n  }\r\n  return `10/${String(mes).padStart(2, \"0\")}/${ano}`;\r\n}\r\n\r\n/** Índice atual da parcela, derivado do calendário (não de contagem de colagens). */\r\nfunction indiceAtual(parcelaRow, vencimentoAtual) {\r\n  return (\r\n    Number(parcelaRow.N_no_seed) +\r\n    mesesEntreVencimentos(normalizarCiclo(parcelaRow.ciclo_referencia), normalizarCiclo(vencimentoAtual))\r\n  );\r\n}\r\n\r\n/**\r\n * Projeção do comprometido futuro: para cada ciclo à frente (1..horizonte), soma o valor\r\n * das parcelas ainda ativas (1 ≤ N ≤ M). Derivada — nunca persistida como confirmada.\r\n * @returns {{vencimento:string, total:number}[]} (um item por ciclo do horizonte)\r\n */\r\nfunction projetarComprometido(parcelaRows, vencimentoAtual, horizonte = 6) {\r\n  const out = [];\r\n  for (let k = 1; k <= horizonte; k++) {\r\n    const venc = addMesesVencimento(vencimentoAtual, k);\r\n    let total = 0;\r\n    for (const row of parcelaRows) {\r\n      const N = indiceAtual(row, venc);\r\n      if (N >= 1 && N <= row.M) total += row.valor;\r\n    }\r\n    out.push({ vencimento: venc, total: arredonda(total) });\r\n  }\r\n  return out;\r\n}\r\n\r\n// ═══════════════ FATIA 3 — provisórios (aba própria) + reconciliação ═\r\n//\r\n// Decisão de arquitetura (2026-06-18): os provisórios vivem numa aba PRÓPRIA\r\n// (`FaturaAberta`), NÃO em Lançamentos. Snapshot = clear+write da aba (idempotente,\r\n// sem deletar linhas no meio de Lançamentos). De quebra elimina as colisões C1/C2:\r\n// como não entram em Lançamentos, o `faturaJaImportada` (que lê Lançamentos) nunca os\r\n// bloqueia, e a regra 3 do dashboard nunca os soma. A aba guarda só o ciclo aberto\r\n// corrente; o próximo /faturaaberta (novo ciclo) sobrescreve. Reconciliação: quando o\r\n// CSV oficial fecha, os confirmados entram em Lançamentos pelo fluxo existente; a aba\r\n// FaturaAberta é sobrescrita na próxima colagem.\r\n\r\n/**\r\n * Linhas da aba FaturaAberta a partir do texto parseado.\r\n * Colunas: ciclo | data_compra | estabelecimento | categoria_c6 | valor | parcelas_total | status\r\n * status = \"fechado\" (checksum bate) | \"rascunho\" (não-fechado — não entra no planejamento, R3).\r\n */\r\nfunction montarProvisorios(parse, vencimento) {\r\n  const status = parse.checksum && parse.checksum.bate ? \"fechado\" : \"rascunho\";\r\n  return parse.lancamentos.map((l) => ({\r\n    ciclo: vencimento,\r\n    data_compra: l.data,\r\n    estabelecimento: l.estabelecimento,\r\n    categoria_c6: l.categoria_c6,\r\n    valor: l.valor,\r\n    parcelas_total: l.parcelas_total === null ? \"\" : l.parcelas_total,\r\n    status,\r\n  }));\r\n}\r\n\r\n\n// ── Glue: roteia acao (fatura-aberta | seed-parcelas) ──\nconst vr = ($json.valueRanges || []);\nconst paraObjetos = (idx) => {\n  const v = (vr[idx] && vr[idx].values) || [];\n  if (v.length < 2) return [];\n  const h = v[0].map(String);\n  return v.slice(1).map((linha, i) => {\n    const o = {};\n    h.forEach((c, j) => { o[c] = linha[j] !== undefined ? linha[j] : ''; });\n    o._row = i + 2;\n    return o;\n  });\n};\nconst e = $('Início').first().json;\nconst acao = String(e.acao || '');\nlet inj = null; try { if (e.estado) inj = JSON.parse(e.estado); } catch (x) {}\nconst dry = !!inj; // harness: estado injetado → dry-run (devolve decisão, não escreve)\nconst faObjs = dry ? (inj.faturaAberta || []) : paraObjetos(0);\nconst stripCmd = (t) => String(t || '').replace(/^\\/\\S+[ \\t]*/, '');\nconst brl = (n) => 'R$ ' + Number(n).toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 });\nlet saida = [];\n\nif (acao === 'fatura-aberta') {\n  const parse = parseFaturaAberta(stripCmd(e.texto));\n  if (parse.total === null) {\n    saida.push({ json: { fase: 'avisar', texto: '⚠️ Não achei \"Total dessa fatura\" no texto. Envie a fatura aberta do app web do C6 — colando após /faturaaberta ou como arquivo .txt.' } });\n  } else {\n    const venc = mesAnoParaVencimento(parse.competencia_label);\n    if (!venc) {\n      saida.push({ json: { fase: 'avisar', texto: '⚠️ Não identifiquei o mês/ano da fatura (linha tipo \"julho de 2026\").' } });\n    } else {\n      const rows = montarProvisorios(parse, venc);\n      const ck = parse.checksum;\n      let txt;\n      if (ck.bate) txt = '✅ Fatura aberta de ' + venc + ' capturada.\\n' + rows.length + ' lançamentos · total ' + brl(ck.somado) + ' (confere com o C6).';\n      else if (ck.diferenca > 0) txt = '⚠️ Capturei ' + rows.length + ' lançamentos (' + brl(ck.somado) + '), mas faltam ' + brl(ck.diferenca) + ' para o Total (' + brl(ck.total) + ').\\nProvável captura incompleta — role a fatura inteira e cole de novo. Gravado como rascunho (fora do planejamento até fechar).';\n      else txt = '⚠️ A soma (' + brl(ck.somado) + ') passou do Total (' + brl(ck.total) + ') em ' + brl(-ck.diferenca) + ' — possível estorno/duplicata. Gravado como rascunho.';\n      if (parse.avisos.length) txt += '\\nObs: ' + parse.avisos.join('; ');\n      saida.push({ json: { fase: 'gravar-fatura', rows, texto: txt } });\n    }\n  }\n} else if (acao === 'seed-parcelas') {\n  const { entradas, avisos } = parseSeedParcelas(stripCmd(e.texto));\n  const cicloRef = faObjs.length ? normalizarCiclo(faObjs[0].ciclo) : '';\n  if (!cicloRef) {\n    saida.push({ json: { fase: 'avisar', texto: '⚠️ Capture a fatura aberta primeiro (/faturaaberta) — preciso dela para casar as parcelas.' } });\n  } else if (!entradas.length) {\n    saida.push({ json: { fase: 'avisar', texto: '⚠️ Nenhuma parcela válida. Uma por linha: \"ESTABELECIMENTO;N/M\" (ex.: CLUBEW;1/12).' + (avisos.length ? '\\n' + avisos.join('; ') : '') } });\n  } else {\n    const parcelados = faObjs.filter((r) => String(r.parcelas_total || '') !== '').map((r) => ({ estabelecimento: r.estabelecimento, valor: Number(r.valor), parcelas_total: Number(r.parcelas_total) }));\n    const est = montarEstadoParcelas(entradas, parcelados, cicloRef);\n    const rows = est.rows.map((r) => ({ estabelecimento: r.estabelecimento, valor: r.valor, M: r.M, N_no_seed: r.N_no_seed, ciclo_referencia: r.ciclo_referencia }));\n    const todos = avisos.concat(est.avisos);\n    let txt = rows.length ? ('🌱 Seed salvo: ' + rows.length + ' parcela(s) rastreada(s) no ciclo ' + cicloRef + '.') : '⚠️ Nenhuma parcela casou com a fatura aberta.';\n    if (todos.length) txt += '\\nObs: ' + todos.join('; ');\n    saida.push({ json: { fase: rows.length ? 'gravar-parcelas' : 'avisar', rows, texto: txt } });\n  }\n}\n\nconst modo = dry ? 'teste' : 'real';\nreturn saida.map((s) => ({ json: { ...s.json, modo } }));"
      },
      "id": "finfaturaa-03"
    },
    {
      "name": "Teste?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        600,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.modo }}",
              "rightValue": "teste",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "finfaturaa-04"
    },
    {
      "name": "Saída Teste",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        800,
        -160
      ],
      "parameters": {},
      "id": "finfaturaa-05"
    },
    {
      "name": "Gravar Fatura?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        120
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.fase }}",
              "rightValue": "gravar-fatura",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "finfaturaa-06"
    },
    {
      "name": "Limpar FaturaAberta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        40
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $env.GOOGLE_SHEETS_ID }}/values/FaturaAberta!A2%3AG:clear",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "FinSheetsSA00001",
          "name": "Google Sheets SA"
        }
      },
      "id": "finfaturaa-07"
    },
    {
      "name": "Linhas Fatura",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        40
      ],
      "parameters": {
        "jsCode": "return $('Decidir').first().json.rows.map((r) => ({ json: r }));"
      },
      "id": "finfaturaa-08"
    },
    {
      "name": "Inserir Fatura",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1400,
        40
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "FaturaAberta"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": []
        },
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "FinSheetsSA00001",
          "name": "Google Sheets SA"
        }
      },
      "id": "finfaturaa-09"
    },
    {
      "name": "Resumo Fatura",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        40
      ],
      "parameters": {
        "jsCode": "return [{ json: { texto: $('Decidir').first().json.texto } }];"
      },
      "id": "finfaturaa-10"
    },
    {
      "name": "Reportar Fatura",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1800,
        40
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.texto }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "FinTelegramBot01",
          "name": "Telegram Bot"
        }
      },
      "id": "finfaturaa-11"
    },
    {
      "name": "Gravar Parcelas?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1000,
        220
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.fase }}",
              "rightValue": "gravar-parcelas",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "finfaturaa-12"
    },
    {
      "name": "Limpar Parcelas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        220
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $env.GOOGLE_SHEETS_ID }}/values/Parcelas!A2%3AE:clear",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "FinSheetsSA00001",
          "name": "Google Sheets SA"
        }
      },
      "id": "finfaturaa-13"
    },
    {
      "name": "Linhas Parcelas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        220
      ],
      "parameters": {
        "jsCode": "return $('Decidir').first().json.rows.map((r) => ({ json: r }));"
      },
      "id": "finfaturaa-14"
    },
    {
      "name": "Inserir Parcelas",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1600,
        220
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Parcelas"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": []
        },
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "FinSheetsSA00001",
          "name": "Google Sheets SA"
        }
      },
      "id": "finfaturaa-15"
    },
    {
      "name": "Resumo Parcelas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        220
      ],
      "parameters": {
        "jsCode": "return [{ json: { texto: $('Decidir').first().json.texto } }];"
      },
      "id": "finfaturaa-16"
    },
    {
      "name": "Reportar Parcelas",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2000,
        220
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.texto }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "FinTelegramBot01",
          "name": "Telegram Bot"
        }
      },
      "id": "finfaturaa-17"
    },
    {
      "name": "Avisar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1200,
        400
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.fase }}",
              "rightValue": "avisar",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "finfaturaa-18"
    },
    {
      "name": "Enviar Aviso",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1400,
        400
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.texto }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "FinTelegramBot01",
          "name": "Telegram Bot"
        }
      },
      "id": "finfaturaa-19"
    }
  ],
  "connections": {
    "Início": {
      "main": [
        [
          {
            "node": "Ler Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler Dados": {
      "main": [
        [
          {
            "node": "Decidir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decidir": {
      "main": [
        [
          {
            "node": "Teste?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Teste?": {
      "main": [
        [
          {
            "node": "Saída Teste",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gravar Fatura?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gravar Fatura?": {
      "main": [
        [
          {
            "node": "Limpar FaturaAberta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gravar Parcelas?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar FaturaAberta": {
      "main": [
        [
          {
            "node": "Linhas Fatura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linhas Fatura": {
      "main": [
        [
          {
            "node": "Inserir Fatura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inserir Fatura": {
      "main": [
        [
          {
            "node": "Resumo Fatura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resumo Fatura": {
      "main": [
        [
          {
            "node": "Reportar Fatura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gravar Parcelas?": {
      "main": [
        [
          {
            "node": "Limpar Parcelas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Avisar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar Parcelas": {
      "main": [
        [
          {
            "node": "Linhas Parcelas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linhas Parcelas": {
      "main": [
        [
          {
            "node": "Inserir Parcelas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inserir Parcelas": {
      "main": [
        [
          {
            "node": "Resumo Parcelas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resumo Parcelas": {
      "main": [
        [
          {
            "node": "Reportar Parcelas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avisar?": {
      "main": [
        [
          {
            "node": "Enviar Aviso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
