workflows/gerenciar-metas.json
{
  "id": "FinGerirMetas001",
  "name": "gerenciar-metas",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "nodes": [
    {
      "name": "Início",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "inputSource": "workflowInputs",
        "workflowInputs": {
          "values": [
            {
              "name": "acao",
              "type": "string"
            },
            {
              "name": "texto",
              "type": "string"
            },
            {
              "name": "data",
              "type": "string"
            },
            {
              "name": "callback_id",
              "type": "string"
            },
            {
              "name": "chat_id",
              "type": "string"
            },
            {
              "name": "message_id",
              "type": "string"
            },
            {
              "name": "estado",
              "type": "string"
            }
          ]
        }
      },
      "id": "fingerirme-01"
    },
    {
      "name": "Ler Dados",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        0
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "method": "GET",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $env.GOOGLE_SHEETS_ID }}/values:batchGet?ranges='Metas'!A%3AF&ranges='Lan%C3%A7amentos'!A%3AJ&valueRenderOption=UNFORMATTED_VALUE",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "FinSheetsSA00001",
          "name": "Google Sheets SA"
        }
      },
      "id": "fingerirme-02"
    },
    {
      "name": "Decidir",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "parameters": {
        "jsCode": "// Lógica pura da gestão de metas — progresso derivado dos Lançamentos, mensagem\r\n// e teclados inline do /metas, parse de /novameta e dos callbacks gm*.\r\n// Implementa gstack/plans/gerenciar-metas.md.\r\n//\r\n// Progresso é SEMPRE derivado dos Lançamentos (fonte da verdade); a coluna C de\r\n// Metas (valor_acumulado) é só cache reescrito no glue, nunca lida como fonte.\r\n// CRUD distinto da associação lançamento→meta da categorização (prefixo meta|).\r\n\r\nconst TEMPLATE_NOVAMETA =\r\n  \"Para criar uma meta, envie:\\n\" +\r\n  \"/novameta <nome> | <orçamento> | <prazo>\\n\" +\r\n  \"Ex.: /novameta Cama Nova | 1800 | 2026-12\";\r\n\r\nfunction formatarReal(n) {\r\n  const [int, dec] = Number(n).toFixed(2).split(\".\");\r\n  return `R$ ${int.replace(/\\B(?=(\\d{3})+(?!\\d))/g, \".\")},${dec}`;\r\n}\r\n\r\nfunction assertCb(botao) {\r\n  if (Buffer.byteLength(botao.callback_data, \"utf-8\") > 64) {\r\n    throw new Error(`callback_data excede 64 bytes: ${botao.callback_data}`);\r\n  }\r\n  return botao;\r\n}\r\n\r\n/**\r\n * Progresso de cada meta ATIVA, derivado dos Lançamentos.\r\n * acumulado = Σ |valor| dos lançamentos com status=confirmado e id_meta==nome\r\n * (match exato após trim dos dois lados — espaço de borda casa, case-sensitive).\r\n * @param {Array<{nome,orcamento_total,prazo,status}>} metas aba Metas (A:F)\r\n * @param {Array<{valor,status,id_meta}>} lancamentos aba Lançamentos (A:J)\r\n * @returns {Array<{nome,orcamento,acumulado,pct:(number|null),prazo}>}\r\n */\r\nfunction calcularProgresso(metas, lancamentos) {\r\n  return (metas || [])\r\n    .filter((m) => String(m.status || \"\").trim().toLowerCase() === \"ativa\")\r\n    .map((m) => {\r\n      const nome = String(m.nome || \"\").trim();\r\n      const orcamento = Number(m.orcamento_total) || 0;\r\n      const acumulado = (lancamentos || [])\r\n        .filter(\r\n          (l) =>\r\n            String(l.status || \"\").trim().toLowerCase() === \"confirmado\" &&\r\n            String(l.id_meta || \"\").trim() === nome\r\n        )\r\n        .reduce((s, l) => s + Math.abs(Number(l.valor) || 0), 0);\r\n      const pct = orcamento > 0 ? Math.round((acumulado / orcamento) * 100) : null;\r\n      return { nome, orcamento, acumulado, pct, prazo: String(m.prazo || \"\").trim() };\r\n    });\r\n}\r\n\r\n/** Mensagem do /metas: lista cada meta ativa; vazio → convite a criar. */\r\nfunction montarMensagemMetas(progresso) {\r\n  if (!progresso || progresso.length === 0) {\r\n    return `🎯 Você ainda não tem metas ativas.\\n\\n${TEMPLATE_NOVAMETA}`;\r\n  }\r\n  const linhas = progresso.map((p) => {\r\n    const acum = formatarReal(p.acumulado);\r\n    if (p.pct === null) return `🎯 ${p.nome}\\n   ${acum} acumulado · até ${p.prazo}`;\r\n    return `🎯 ${p.nome}\\n   ${acum} / ${formatarReal(p.orcamento)} (${p.pct}%) · até ${p.prazo}`;\r\n  });\r\n  return `Suas metas ativas:\\n\\n${linhas.join(\"\\n\\n\")}`;\r\n}\r\n\r\n/** Teclado do /metas: 🏁 Encerrar por meta (gmenc|) + linha final ➕ Nova meta (gmnova|). */\r\nfunction montarTecladoMetas(progresso) {\r\n  const linhas = (progresso || []).map((p) => [\r\n    assertCb({ text: `🏁 Encerrar ${p.nome}`, callback_data: `gmenc|${p.nome}` }),\r\n  ]);\r\n  linhas.push([assertCb({ text: \"➕ Nova meta\", callback_data: \"gmnova|\" })]);\r\n  return { inline_keyboard: linhas };\r\n}\r\n\r\n/** Teclado de confirmação de encerramento (2 toques): ✅ Confirmar → gmok|<nome>. */\r\nfunction montarTecladoConfirmarEncerrar(nome) {\r\n  return {\r\n    inline_keyboard: [\r\n      [assertCb({ text: \"✅ Confirmar encerramento\", callback_data: `gmok|${nome}` })],\r\n    ],\r\n  };\r\n}\r\n\r\n/** Valor em formato BR: ponto milhar, vírgula decimal. Inválido → null. */\r\nfunction parsearValorBR(bruto) {\r\n  const s = String(bruto || \"\")\r\n    .replace(/r\\$/i, \"\")\r\n    .replace(/\\s/g, \"\")\r\n    .replace(/\\./g, \"\")\r\n    .replace(\",\", \".\");\r\n  if (s === \"\") return null;\r\n  const n = Number(s);\r\n  return Number.isFinite(n) ? n : null;\r\n}\r\n\r\n/** Prazo aceito: AAAA-MM ou AAAA-MM-DD (mês 1–12, dia 1–31). */\r\nfunction prazoValido(prazo) {\r\n  const m = /^(\\d{4})-(\\d{2})(?:-(\\d{2}))?$/.exec(String(prazo || \"\").trim());\r\n  if (!m) return false;\r\n  const mes = Number(m[2]);\r\n  if (mes < 1 || mes > 12) return false;\r\n  if (m[3]) {\r\n    const dia = Number(m[3]);\r\n    if (dia < 1 || dia > 31) return false;\r\n  }\r\n  return true;\r\n}\r\n\r\n/**\r\n * Nome de meta: trim, não vazio, sem '|', curto o bastante p/ caber no callback_data.\r\n * Orçamento pelo PIOR prefixo realmente usado no app: `metaab|<row>|<nome>`\r\n * (categorização de resgate CDB, gstack/specs/resgate-cdb-abatimento.md) — mais\r\n * apertado que `gmok|<nome>` (gerenciar-metas, sem número de linha). Reserva 6\r\n * dígitos de `row` (até 999.999 linhas em Lançamentos, folga generosa).\r\n */\r\nfunction validarNomeMeta(nome) {\r\n  const n = String(nome || \"\").trim();\r\n  if (n === \"\") return { ok: false, erro: \"Nome da meta não pode ser vazio.\" };\r\n  if (n.includes(\"|\")) return { ok: false, erro: \"Nome da meta não pode conter '|'.\" };\r\n  if (Buffer.byteLength(`metaab|999999|${n}`, \"utf-8\") > 64) {\r\n    return { ok: false, erro: \"Nome da meta longo demais (máx ~50 caracteres).\" };\r\n  }\r\n  return { ok: true, nome: n };\r\n}\r\n\r\n/**\r\n * Interpreta `/novameta <nome> | <orçamento> | <prazo>` (stateless).\r\n * @returns {{ok:true, meta:{nome,orcamento,prazo}} | {ok:false, erro:string}}\r\n */\r\nfunction parsearNovaMeta(texto) {\r\n  const corpo = String(texto || \"\").replace(/^\\/novameta(@\\S+)?/i, \"\").trim();\r\n  const partes = corpo.split(\"|\").map((p) => p.trim());\r\n  const erroFmt = (msg) => ({ ok: false, erro: `${msg}\\n\\n${TEMPLATE_NOVAMETA}` });\r\n  if (partes.length !== 3 || partes.some((p) => p === \"\")) {\r\n    return erroFmt(\"Formato inválido — preencha nome, orçamento e prazo separados por '|'.\");\r\n  }\r\n  const [nomeBruto, orcamentoBruto, prazo] = partes;\r\n  const vn = validarNomeMeta(nomeBruto);\r\n  if (!vn.ok) return erroFmt(vn.erro);\r\n  const orcamento = parsearValorBR(orcamentoBruto);\r\n  if (orcamento === null || orcamento <= 0) return erroFmt(\"Orçamento inválido — use um número, ex.: 1800.\");\r\n  if (!prazoValido(prazo)) return erroFmt(\"Prazo inválido — use AAAA-MM, ex.: 2026-12.\");\r\n  return { ok: true, meta: { nome: vn.nome, orcamento, prazo } };\r\n}\r\n\r\n/** Já existe meta ATIVA com esse nome? (homônimo de encerrada é permitido). */\r\nfunction nomeJaExisteAtiva(nome, metas) {\r\n  const alvo = String(nome || \"\").trim();\r\n  return (metas || []).some(\r\n    (m) =>\r\n      String(m.status || \"\").trim().toLowerCase() === \"ativa\" &&\r\n      String(m.nome || \"\").trim() === alvo\r\n  );\r\n}\r\n\r\n/** Parse dos callbacks gm*. gmnova| → nova; gmenc|<nome>; gmok|<nome>. Inválido → null. */\r\nfunction parsearCallbackMetaGestao(data) {\r\n  const s = String(data || \"\");\r\n  if (s === \"gmnova|\") return { acao: \"nova\" };\r\n  const m = /^(gmenc|gmok)\\|(.+)$/.exec(s);\r\n  if (!m) return null;\r\n  return { acao: m[1] === \"gmenc\" ? \"encerrar-confirmar\" : \"encerrar-ok\", nome: m[2] };\r\n}\r\n\r\n\n// ── Glue: roteia acao (metas | nova-meta | callback) ──\nconst vr = ($json.valueRanges || []);\nconst paraObjetos = (idx) => {\n  const v = (vr[idx] && vr[idx].values) || [];\n  if (v.length < 2) return [];\n  const h = v[0].map(String);\n  return v.slice(1).map((linha, i) => {\n    const o = {};\n    h.forEach((c, j) => { o[c] = linha[j] !== undefined ? linha[j] : ''; });\n    o._row = i + 2;\n    return o;\n  });\n};\nconst e = $('Início').first().json;\nconst acao = String(e.acao || '');\nlet inj = null;\ntry { if (e.estado) inj = JSON.parse(e.estado); } catch (x) {}\nconst dry = !!inj; // harness: estado injetado → dry-run (retorna decisão, não escreve)\nconst metas = (dry ? (inj.metas || []) : paraObjetos(0))\n  .map((m, i) => (m._row ? m : { ...m, _row: i + 2 }));\nconst lancs = dry ? (inj.lancamentos || []) : paraObjetos(1);\nconst agora = new Date().toISOString();\nconst hoje = agora.slice(0, 10);\nlet saida = [];\n\nif (acao === 'metas') {\n  const prog = calcularProgresso(metas, lancs);\n  saida.push({ json: { fase: 'listar', texto: montarMensagemMetas(prog), teclado: montarTecladoMetas(prog) } });\n  // Cache: reescreve a coluna C (valor_acumulado) de cada meta ativa pelo derivado.\n  const ativas = metas.filter((m) => String(m.status || '').trim().toLowerCase() === 'ativa');\n  const data = ativas.map((m) => {\n    const p = prog.find((x) => x.nome === String(m.nome || '').trim());\n    return { range: 'Metas!C' + m._row, values: [[p ? p.acumulado : 0]] };\n  });\n  if (data.length) saida.push({ json: { fase: 'cache', body: { valueInputOption: 'RAW', data } } });\n} else if (acao === 'nova-meta') {\n  const r = parsearNovaMeta(e.texto || '');\n  if (!r.ok) {\n    saida.push({ json: { fase: 'avisar', texto: r.erro } });\n  } else if (nomeJaExisteAtiva(r.meta.nome, metas)) {\n    saida.push({ json: { fase: 'avisar', texto: '⚠️ Já existe uma meta ativa \"' + r.meta.nome + '\". Encerre a atual ou escolha outro nome.' } });\n  } else {\n    const m = r.meta;\n    saida.push({ json: { fase: 'criar',\n      meta: { nome: m.nome, orcamento_total: m.orcamento, valor_acumulado: 0, prazo: m.prazo, status: 'ativa', criado_em: hoje },\n      log: { timestamp: agora, acao: 'meta_criada', entidade: m.nome, valor_anterior: '', valor_novo: 'orçamento ' + m.orcamento + ' · prazo ' + m.prazo, origem: 'telegram' },\n      texto: '🎯 Meta criada: ' + m.nome + '\\n📊 Orçamento ' + formatarReal(m.orcamento) + ' · prazo ' + m.prazo } });\n  }\n} else if (acao === 'callback') {\n  const cb = parsearCallbackMetaGestao(e.data || '');\n  if (!cb) {\n    saida.push({ json: { fase: 'recusar', aviso: 'Botão inválido ou expirado.' } });\n  } else if (cb.acao === 'nova') {\n    saida.push({ json: { fase: 'template', texto: TEMPLATE_NOVAMETA } });\n  } else {\n    const alvo = String(cb.nome || '').trim();\n    const metaRow = metas.find((m) => String(m.nome || '').trim() === alvo && String(m.status || '').trim().toLowerCase() === 'ativa');\n    if (!metaRow) {\n      saida.push({ json: { fase: 'recusar', aviso: 'Meta não está mais ativa.' } });\n    } else if (cb.acao === 'encerrar-confirmar') {\n      saida.push({ json: { fase: 'confirmar', nome: alvo, teclado: montarTecladoConfirmarEncerrar(alvo),\n        texto_edit: '🏁 Encerrar a meta \"' + alvo + '\"?\\nOs lançamentos já associados continuam registrados.' } });\n    } else {\n      saida.push({ json: { fase: 'encerrar', row: metaRow._row, nome: alvo,\n        log: { timestamp: agora, acao: 'meta_encerrada', entidade: alvo, valor_anterior: 'ativa', valor_novo: 'encerrada', origem: 'telegram' },\n        texto_edit: '🏁 Meta \"' + alvo + '\" encerrada. Sai da lista; o histórico permanece.' } });\n    }\n  }\n}\n\nconst modo = dry ? 'teste' : 'real';\nreturn saida.map((s) => ({ json: { ...s.json, modo } }));"
      },
      "id": "fingerirme-03"
    },
    {
      "name": "Teste?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        600,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.modo }}",
              "rightValue": "teste",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "fingerirme-04"
    },
    {
      "name": "Saída Teste",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        800,
        -160
      ],
      "parameters": {},
      "id": "fingerirme-05"
    },
    {
      "name": "Listar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        120
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.fase }}",
              "rightValue": "listar",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "fingerirme-06"
    },
    {
      "name": "Enviar Lista",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        40
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $env.TELEGRAM_CHAT_ID, text: $json.texto, reply_markup: $json.teclado }) }}",
        "options": {}
      },
      "id": "fingerirme-07"
    },
    {
      "name": "Cache?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1000,
        200
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.fase }}",
              "rightValue": "cache",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "fingerirme-08"
    },
    {
      "name": "Atualizar Cache",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        120
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $env.GOOGLE_SHEETS_ID }}/values:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "FinSheetsSA00001",
          "name": "Google Sheets SA"
        }
      },
      "id": "fingerirme-09"
    },
    {
      "name": "Criar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1200,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.fase }}",
              "rightValue": "criar",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "fingerirme-10"
    },
    {
      "name": "Linha Meta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        220
      ],
      "parameters": {
        "jsCode": "return $input.all().map((i) => ({ json: i.json.meta }));"
      },
      "id": "fingerirme-11"
    },
    {
      "name": "Inserir Meta",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1600,
        220
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Metas"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": []
        },
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "FinSheetsSA00001",
          "name": "Google Sheets SA"
        }
      },
      "id": "fingerirme-12"
    },
    {
      "name": "Linha Log Criar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        160
      ],
      "parameters": {
        "jsCode": "return $('Criar?').all().map((i) => ({ json: i.json.log }));"
      },
      "id": "fingerirme-13"
    },
    {
      "name": "Gravar Log Criar",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2000,
        160
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Log"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": []
        },
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "FinSheetsSA00001",
          "name": "Google Sheets SA"
        }
      },
      "id": "fingerirme-14"
    },
    {
      "name": "Confirmar Criação",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        300
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $env.TELEGRAM_CHAT_ID, text: $('Criar?').first().json.texto }) }}",
        "options": {}
      },
      "id": "fingerirme-15"
    },
    {
      "name": "Avisar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1400,
        400
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.fase }}",
              "rightValue": "avisar",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "fingerirme-16"
    },
    {
      "name": "Enviar Aviso",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1600,
        400
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.texto }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "FinTelegramBot01",
          "name": "Telegram Bot"
        }
      },
      "id": "fingerirme-17"
    },
    {
      "name": "Template?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1600,
        500
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.fase }}",
              "rightValue": "template",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "fingerirme-18"
    },
    {
      "name": "Ack Template",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        460
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/answerCallbackQuery",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ callback_query_id: $('Início').first().json.callback_id }) }}",
        "options": {}
      },
      "id": "fingerirme-19"
    },
    {
      "name": "Enviar Template",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        460
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $('Início').first().json.chat_id, text: $('Template?').first().json.texto }) }}",
        "options": {}
      },
      "id": "fingerirme-20"
    },
    {
      "name": "Confirmar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1800,
        600
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.fase }}",
              "rightValue": "confirmar",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "fingerirme-21"
    },
    {
      "name": "Ack Confirmar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        560
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/answerCallbackQuery",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ callback_query_id: $('Início').first().json.callback_id }) }}",
        "options": {}
      },
      "id": "fingerirme-22"
    },
    {
      "name": "Pedir Confirmação",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        560
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/editMessageText",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $('Início').first().json.chat_id, message_id: Number($('Início').first().json.message_id), text: $('Confirmar?').first().json.texto_edit, reply_markup: $('Confirmar?').first().json.teclado }) }}",
        "options": {}
      },
      "id": "fingerirme-23"
    },
    {
      "name": "Encerrar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2000,
        700
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.fase }}",
              "rightValue": "encerrar",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "fingerirme-24"
    },
    {
      "name": "Encerrar Meta",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2200,
        660
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Metas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row }}",
            "status": "encerrada"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false,
              "readOnly": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "FinSheetsSA00001",
          "name": "Google Sheets SA"
        }
      },
      "id": "fingerirme-25"
    },
    {
      "name": "Linha Log Encerrar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        600
      ],
      "parameters": {
        "jsCode": "return $('Encerrar?').all().map((i) => ({ json: i.json.log }));"
      },
      "id": "fingerirme-26"
    },
    {
      "name": "Gravar Log Encerrar",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2600,
        600
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Log"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": []
        },
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "FinSheetsSA00001",
          "name": "Google Sheets SA"
        }
      },
      "id": "fingerirme-27"
    },
    {
      "name": "Ack Encerrar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        740
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/answerCallbackQuery",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ callback_query_id: $('Início').first().json.callback_id, text: '🏁 Encerrada' }) }}",
        "options": {}
      },
      "id": "fingerirme-28"
    },
    {
      "name": "Editar Encerrada",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2600,
        740
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/editMessageText",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $('Início').first().json.chat_id, message_id: Number($('Início').first().json.message_id), text: $('Encerrar?').first().json.texto_edit }) }}",
        "options": {}
      },
      "id": "fingerirme-29"
    },
    {
      "name": "Recusar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2200,
        820
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.fase }}",
              "rightValue": "recusar",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "fingerirme-30"
    },
    {
      "name": "Recusar Callback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        820
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/answerCallbackQuery",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ callback_query_id: $('Início').first().json.callback_id, text: $json.aviso, show_alert: true }) }}",
        "options": {}
      },
      "id": "fingerirme-31"
    }
  ],
  "connections": {
    "Início": {
      "main": [
        [
          {
            "node": "Ler Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler Dados": {
      "main": [
        [
          {
            "node": "Decidir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decidir": {
      "main": [
        [
          {
            "node": "Teste?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Teste?": {
      "main": [
        [
          {
            "node": "Saída Teste",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Listar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar?": {
      "main": [
        [
          {
            "node": "Enviar Lista",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cache?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cache?": {
      "main": [
        [
          {
            "node": "Atualizar Cache",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar?": {
      "main": [
        [
          {
            "node": "Linha Meta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Avisar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linha Meta": {
      "main": [
        [
          {
            "node": "Inserir Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inserir Meta": {
      "main": [
        [
          {
            "node": "Linha Log Criar",
            "type": "main",
            "index": 0
          },
          {
            "node": "Confirmar Criação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linha Log Criar": {
      "main": [
        [
          {
            "node": "Gravar Log Criar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avisar?": {
      "main": [
        [
          {
            "node": "Enviar Aviso",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Template?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Template?": {
      "main": [
        [
          {
            "node": "Ack Template",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Confirmar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ack Template": {
      "main": [
        [
          {
            "node": "Enviar Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmar?": {
      "main": [
        [
          {
            "node": "Ack Confirmar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Encerrar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ack Confirmar": {
      "main": [
        [
          {
            "node": "Pedir Confirmação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encerrar?": {
      "main": [
        [
          {
            "node": "Encerrar Meta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Recusar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encerrar Meta": {
      "main": [
        [
          {
            "node": "Linha Log Encerrar",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ack Encerrar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linha Log Encerrar": {
      "main": [
        [
          {
            "node": "Gravar Log Encerrar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ack Encerrar": {
      "main": [
        [
          {
            "node": "Editar Encerrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recusar?": {
      "main": [
        [
          {
            "node": "Recusar Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
