workflows/ingestao-csv-conta.json
{
  "id": "FinIngestConta01",
  "name": "ingestao-csv-conta",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "nodes": [
    {
      "name": "Início",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "inputSource": "workflowInputs",
        "workflowInputs": {
          "values": [
            {
              "name": "csv",
              "type": "string"
            },
            {
              "name": "nome_arquivo",
              "type": "string"
            }
          ]
        }
      },
      "id": "fin-conta-01"
    },
    {
      "name": "Ler Dados",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        0
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "method": "GET",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $env.GOOGLE_SHEETS_ID }}/values:batchGet?ranges='Dicion%C3%A1rio'!A%3AD&ranges='Metas'!A%3AF&ranges='Lan%C3%A7amentos'!A%3AJ&valueRenderOption=UNFORMATTED_VALUE",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "FinSheetsSA00001",
          "name": "Google Sheets SA"
        }
      },
      "id": "fin-conta-02"
    },
    {
      "name": "Parser Extrato",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        0
      ],
      "parameters": {
        "jsCode": "// Parser do extrato C6 conta corrente — lógica pura do Code node do workflow\r\n// ingestao-csv-conta. Implementa gstack/plans/ingestao-csv-conta.md.\r\n// splitLinha é duplicado de parser-cartao.js de propósito: cada arquivo precisa ser\r\n// autocontido para ser embutido no Code node do n8n.\r\n\r\nconst COLUNAS = [\r\n  \"Data Lançamento\", \"Data Contábil\", \"Título\", \"Descrição\",\r\n  \"Entrada(R$)\", \"Saída(R$)\", \"Saldo do Dia(R$)\",\r\n];\r\nconst LINHAS_METADATA = 8;\r\n\r\n/** Divide uma linha CSV (RFC 4180) com separador configurável respeitando aspas. */\r\nfunction splitLinha(linha, sep) {\r\n  const campos = [];\r\n  let atual = \"\";\r\n  let dentroAspas = false;\r\n  for (let i = 0; i < linha.length; i++) {\r\n    const c = linha[i];\r\n    if (c === '\"') {\r\n      if (dentroAspas && linha[i + 1] === '\"') { atual += '\"'; i++; }\r\n      else dentroAspas = !dentroAspas;\r\n    } else if (c === sep && !dentroAspas) {\r\n      campos.push(atual); atual = \"\";\r\n    } else {\r\n      atual += c;\r\n    }\r\n  }\r\n  campos.push(atual);\r\n  return campos.map((c) => c.trim());\r\n}\r\n\r\n/** Valida DD/MM/YYYY. */\r\nfunction validarData(ddmmyyyy) {\r\n  if (!/^\\d{2}\\/\\d{2}\\/\\d{4}$/.test(ddmmyyyy)) throw new Error(`data inválida: ${ddmmyyyy}`);\r\n  return ddmmyyyy;\r\n}\r\n\r\n/**\r\n * Processa o extrato completo.\r\n * @param {string} csvText conteúdo do CSV (UTF-8, pode ter BOM)\r\n * @param {string} nomeArquivo identificador opaco (só para log)\r\n * @param {{chave: string, categoria: string}[]} dicionario regras origem=conta\r\n * @param {{nome: string}[]} metas metas ativas (aba Metas)\r\n * @returns {{lancamentos: object[], descartados: object[], avisos: string[], resumo: object}}\r\n */\r\nfunction processarExtrato(csvText, nomeArquivo, dicionario, metas) {\r\n  const linhas = csvText.replace(/^﻿/, \"\").split(/\\r?\\n/);\r\n  if (linhas.length < LINHAS_METADATA + 1) {\r\n    throw new Error(`arquivo com ${linhas.length} linhas — esperadas ${LINHAS_METADATA} de metadata + header`);\r\n  }\r\n  const header = splitLinha(linhas[LINHAS_METADATA], \",\");\r\n  if (JSON.stringify(header) !== JSON.stringify(COLUNAS)) {\r\n    throw new Error(`header inesperado na linha ${LINHAS_METADATA + 1}: ${header.join(\" | \")}`);\r\n  }\r\n  const meta = linhas.slice(0, LINHAS_METADATA).join(\"\\n\");\r\n  const mPeriodo = /Extrato de (\\d{2}\\/\\d{2}\\/\\d{4}) a (\\d{2}\\/\\d{2}\\/\\d{4})/.exec(meta);\r\n  const periodo = mPeriodo ? { inicio: mPeriodo[1], fim: mPeriodo[2] } : { inicio: \"\", fim: \"\" };\r\n\r\n  const avisos = [];\r\n  const descartados = [];\r\n  const lancamentos = [];\r\n\r\n  linhas.slice(LINHAS_METADATA + 1).forEach((texto, i) => {\r\n    if (texto.trim() === \"\") return;\r\n    const numLinha = LINHAS_METADATA + 2 + i;\r\n    let c = splitLinha(texto, \",\");\r\n    // Quirk C6: a linha inteira pode vir envolta em aspas (\"a,b,\"\"c\"\"...,x\") — aí o\r\n    // splitLinha (RFC 4180) colapsa \"\"→\" e devolve a linha real como campo único.\r\n    // Re-split do conteúdo desembrulhado p/ alinhar as colunas (amostra real linha 24).\r\n    if (c.length === 1 && COLUNAS.length > 1) {\r\n      const reSplit = splitLinha(c[0], \",\");\r\n      if (reSplit.length === COLUNAS.length) c = reSplit;\r\n    }\r\n    if (c.length !== COLUNAS.length) {\r\n      throw new Error(`linha ${numLinha}: esperadas ${COLUNAS.length} colunas, vieram ${c.length}`);\r\n    }\r\n    const [dataLanc, , titulo, descricao, entradaStr, saidaStr] = c;\r\n    validarData(dataLanc);\r\n    const entrada = Number(entradaStr);\r\n    const saida = Number(saidaStr);\r\n    if (Number.isNaN(entrada) || Number.isNaN(saida)) {\r\n      throw new Error(`linha ${numLinha}: valor inválido \"${entradaStr}\"/\"${saidaStr}\"`);\r\n    }\r\n    if (entrada > 0 && saida > 0) {\r\n      throw new Error(`linha ${numLinha}: Entrada e Saída preenchidas simultaneamente`);\r\n    }\r\n    if (entrada === 0 && saida === 0) {\r\n      descartados.push({ linha: numLinha, titulo });\r\n      avisos.push(`linha ${numLinha} descartada: Entrada e Saída zeradas (${titulo})`);\r\n      return;\r\n    }\r\n    const tipo = entrada > 0 ? \"entrada\" : \"saída\";\r\n    const valor = entrada > 0 ? entrada : saida;\r\n\r\n    // Categoria pela chave Título; pseudo-categoria resolve pela direção e\r\n    // NUNCA chega à aba Lançamentos\r\n    const alvo = titulo.toUpperCase();\r\n    const regra = dicionario.find((r) => alvo.includes(r.chave.toUpperCase()));\r\n    let categoria = regra ? regra.categoria : \"\";\r\n    // Pseudo-categorias (resolvem pela direção; nunca chegam à aba Lançamentos).\r\n    // Dois `if` independentes de igualdade exata — sem dependência de ordem.\r\n    if (categoria === \"Pagamento/Retirada\") categoria = tipo === \"entrada\" ? \"Pagamento\" : \"Retirada\";\r\n    // Pix recebido do próprio Marcelo = depósito p/ a casa; Pix enviado p/ ele mesmo = \"Saída\r\n    // para o Marcelo\" (movimentação pessoal: aparece no fluxo de caixa, mas é NEUTRA ao rateio).\r\n    // NÃO é \"Retirada\" — esta segue reservada a pgto de fatura e aplicação de CDB (transferências).\r\n    if (categoria === \"Depósito Marcelo/Retirada\") categoria = tipo === \"entrada\" ? \"Depósito Marcelo\" : \"Saída para o Marcelo\";\r\n\r\n    let idMeta = \"\";\r\n    if (categoria.startsWith(\"Meta: \")) {\r\n      const nomeMeta = categoria.slice(6);\r\n      if (metas.some((m) => m.nome === nomeMeta)) idMeta = nomeMeta;\r\n      else avisos.push(`meta não encontrada para categoria \"${categoria}\" (linha ${numLinha})`);\r\n    }\r\n    if (categoria === \"\" && alvo.includes(\"RESGATE\") && alvo.includes(\"CDB\")) {\r\n      avisos.push(`resgate de CDB sem meta associada (linha ${numLinha}) — associar no fluxo de categorização`);\r\n    }\r\n\r\n    lancamentos.push({\r\n      data_competencia: dataLanc,\r\n      data_original: dataLanc,\r\n      descricao,\r\n      titulo,\r\n      valor,\r\n      categoria,\r\n      tipo,\r\n      origem: \"conta\",\r\n      status: \"confirmado\",\r\n      id_meta: idMeta,\r\n    });\r\n  });\r\n\r\n  const soma = (tipo) =>\r\n    Math.round(lancamentos.filter((l) => l.tipo === tipo).reduce((s, l) => s + l.valor, 0) * 100) / 100;\r\n  const resumo = {\r\n    quantidade: lancamentos.length,\r\n    entradas: { n: lancamentos.filter((l) => l.tipo === \"entrada\").length, total: soma(\"entrada\") },\r\n    saidas: { n: lancamentos.filter((l) => l.tipo === \"saída\").length, total: soma(\"saída\") },\r\n    periodo_inicio: periodo.inicio,\r\n    periodo_fim: periodo.fim,\r\n    descartados: descartados.length,\r\n    arquivo: nomeArquivo,\r\n  };\r\n  return { lancamentos, descartados, avisos, resumo };\r\n}\r\n\r\n/**\r\n * Normaliza uma data da planilha para \"DD/MM/YYYY\" (serial/ISO/ddmmyyyy → ddmmyyyy).\r\n * Duplicado de parser-cartao.js de propósito: o Code node precisa ser autocontido.\r\n */\r\nfunction normalizarData(v) {\r\n  if (v === null || v === undefined || v === \"\") return null;\r\n  if (typeof v === \"number\" || (typeof v === \"string\" && /^\\d+(\\.\\d+)?$/.test(v.trim()))) {\r\n    const serial = Math.floor(Number(v));\r\n    if (!Number.isFinite(serial) || serial <= 0) return null;\r\n    const d = new Date(Date.UTC(1899, 11, 30) + serial * 86400000);\r\n    const dd = String(d.getUTCDate()).padStart(2, \"0\");\r\n    const mm = String(d.getUTCMonth() + 1).padStart(2, \"0\");\r\n    return `${dd}/${mm}/${d.getUTCFullYear()}`;\r\n  }\r\n  const s = String(v).trim();\r\n  let m;\r\n  if ((m = /^(\\d{2})\\/(\\d{2})\\/(\\d{4})$/.exec(s))) return `${m[1]}/${m[2]}/${m[3]}`;\r\n  if ((m = /^(\\d{4})-(\\d{2})-(\\d{2})/.exec(s))) return `${m[3]}/${m[2]}/${m[1]}`;\r\n  return null;\r\n}\r\n\r\n/** \"DD/MM/YYYY\" → número YYYYMMDD comparável; null → -Infinity. */\r\nfunction chaveOrdinal(ddmmyyyy) {\r\n  if (!ddmmyyyy) return -Infinity;\r\n  const [d, mes, a] = ddmmyyyy.split(\"/\");\r\n  return Number(`${a}${mes}${d}`);\r\n}\r\n\r\n/**\r\n * Filtra os lançamentos do extrato que ainda não estão na planilha, usando o\r\n * marco d'água (maior data_original já gravada com origem=conta) + o período do\r\n * arquivo para distinguir extensão legítima de reimportação retroativa.\r\n * A decisão de IMPORTAR é sempre por linha (`novos`); `situacao` só refina a\r\n * mensagem. Ver gstack/plans/dedup-importacao.md.\r\n * @param {object[]} lancamentos saída do parser (data_original DD/MM/YYYY)\r\n * @param {{origem, data_original}[]} existentes linhas atuais de Lançamentos\r\n * @param {{inicio, fim}} periodo resumo do parser (DD/MM/YYYY)\r\n * @returns {{novos: object[], ignorados: object[], marco: string|null,\r\n *   situacao: \"vazia\"|\"tudo_novo\"|\"extensao\"|\"ja_importado\"|\"retroativo\"}}\r\n */\r\nfunction filtrarJaImportados(lancamentos, existentes, periodo) {\r\n  // Emenda 15/06 (dep. seed-conta-pessoal): linhas previstas (parcelas futuras\r\n  // semeadas) NÃO entram no marco d'água — senão envenenariam o marco e\r\n  // bloqueariam o próximo extrato real. Blacklist `!== \"previsto\"` (e não\r\n  // whitelist `=== \"confirmado\"`) para tolerar linhas sem campo `status`.\r\n  const datasExist = (existentes || [])\r\n    .filter((r) => String(r.origem) === \"conta\" && r.status !== \"previsto\")\r\n    .map((r) => normalizarData(r.data_original))\r\n    .filter(Boolean);\r\n\r\n  if (datasExist.length === 0) {\r\n    return { novos: lancamentos, ignorados: [], marco: null, situacao: \"vazia\" };\r\n  }\r\n\r\n  const marcoKey = Math.max(...datasExist.map(chaveOrdinal));\r\n  const marco = datasExist.find((d) => chaveOrdinal(d) === marcoKey);\r\n\r\n  const novos = [];\r\n  const ignorados = [];\r\n  for (const l of lancamentos) {\r\n    if (chaveOrdinal(normalizarData(l.data_original)) > marcoKey) novos.push(l);\r\n    else ignorados.push(l);\r\n  }\r\n\r\n  // Fim efetivo do extrato: o maior entre o período do metadata e a maior\r\n  // data_original das próprias linhas. O fallback nas linhas evita um falso\r\n  // \"retroativo\" quando o metadata de período veio ilegível (periodo vazio).\r\n  const fimLanc = lancamentos.length\r\n    ? Math.max(...lancamentos.map((l) => chaveOrdinal(normalizarData(l.data_original))))\r\n    : -Infinity;\r\n  const fimKey = Math.max(chaveOrdinal(normalizarData(periodo && periodo.fim)), fimLanc);\r\n  let situacao;\r\n  if (novos.length > 0) {\r\n    situacao = ignorados.length > 0 ? \"extensao\" : \"tudo_novo\";\r\n  } else {\r\n    situacao = fimKey < marcoKey ? \"retroativo\" : \"ja_importado\";\r\n  }\r\n\r\n  return { novos, ignorados, marco, situacao };\r\n}\r\n\r\n\n// ── Glue do Code node (Dicionário/Metas/Lançamentos vêm de 'Ler Dados') ──\nconst vr = ($json.valueRanges || []);\nconst paraObjetos = (idx) => {\n  const v = (vr[idx] && vr[idx].values) || [];\n  if (v.length < 2) return [];\n  const h = v[0].map(String);\n  return v.slice(1).map((linha) => {\n    const o = {};\n    h.forEach((c, j) => { o[c] = linha[j] !== undefined ? linha[j] : ''; });\n    return o;\n  });\n};\nconst entrada = $('Início').first().json;\nconst dicionario = paraObjetos(0)\n  .filter((r) => String(r.origem || '').trim() === 'conta')\n  .map((r) => ({ chave: String(r.descricao_original || ''), categoria: String(r.categoria_mapeada || '') }));\nconst metas = paraObjetos(1)\n  .filter((m) => String(m.status || '').trim() === 'ativa')\n  .map((m) => ({ nome: String(m.nome || '') }));\nconst existentes = paraObjetos(2);\ntry {\n  const r = processarExtrato(String(entrada.csv || ''), String(entrada.nome_arquivo || ''), dicionario, metas);\n  const dedup = filtrarJaImportados(r.lancamentos, existentes, { inicio: r.resumo.periodo_inicio, fim: r.resumo.periodo_fim });\n  const novos = dedup.novos;\n  const round2 = (x) => Math.round(x * 100) / 100;\n  const ent = novos.filter((l) => l.tipo === 'entrada');\n  const sai = novos.filter((l) => l.tipo === 'saída');\n  const resumo_novos = { quantidade: novos.length,\n    entradas: { n: ent.length, total: round2(ent.reduce((s, l) => s + l.valor, 0)) },\n    saidas: { n: sai.length, total: round2(sai.reduce((s, l) => s + l.valor, 0)) } };\n  const bloqueada = dedup.situacao === 'ja_importado' || dedup.situacao === 'retroativo';\n  let mensagem_bloqueio = '';\n  if (dedup.situacao === 'ja_importado') {\n    mensagem_bloqueio = '✅ Nenhum lançamento novo (extrato já importado até ' + dedup.marco + ').';\n  } else if (dedup.situacao === 'retroativo') {\n    mensagem_bloqueio = '⚠️ Este extrato (' + r.resumo.periodo_inicio + ' a ' + r.resumo.periodo_fim +\n      ') é anterior ao último lançamento já importado (' + dedup.marco +\n      '). Nada foi gravado — para reconciliar um período antigo, importe manualmente.';\n  }\n  return [{ json: { ok: true, bloqueada, mensagem_bloqueio, situacao: dedup.situacao,\n    marco: dedup.marco, ignorados_n: dedup.ignorados.length, novos, resumo_novos, ...r } }];\n} catch (e) {\n  return [{ json: { ok: false, erro: e.message } }];\n}"
      },
      "id": "fin-conta-03"
    },
    {
      "name": "Parse OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1000,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.ok }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      },
      "id": "fin-conta-04"
    },
    {
      "name": "Notificar Erro",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1200,
        200
      ],
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=⚠️ ingestao-csv-conta falhou: {{ $json.erro }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "FinTelegramBot01",
          "name": "Telegram Bot"
        }
      },
      "id": "fin-conta-05"
    },
    {
      "name": "Já Importado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1200,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.bloqueada }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      },
      "id": "fin-conta-06"
    },
    {
      "name": "Linhas Log Bloqueado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        120
      ],
      "parameters": {
        "jsCode": "const p = $('Parser Extrato').first().json;\nreturn [{ json: { timestamp: new Date().toISOString(), acao: 'importacao_bloqueada',\n  entidade: 'Lançamentos', valor_anterior: p.situacao + ' (marco ' + (p.marco || '-') + ')',\n  valor_novo: 'extrato ' + p.resumo.periodo_inicio + ' a ' + p.resumo.periodo_fim +\n  ' — nenhum lancamento novo', origem: 'ingestao-csv-conta' } }];"
      },
      "id": "fin-conta-07"
    },
    {
      "name": "Gravar Log Bloqueado",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1600,
        120
      ],
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Log"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": []
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "credentials": {
        "googleApi": {
          "id": "FinSheetsSA00001",
          "name": "Google Sheets SA"
        }
      },
      "id": "fin-conta-08"
    },
    {
      "name": "Avisar Bloqueado",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1800,
        120
      ],
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $('Parser Extrato').first().json.mensagem_bloqueio }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "FinTelegramBot01",
          "name": "Telegram Bot"
        }
      },
      "id": "fin-conta-09"
    },
    {
      "name": "Confirmação",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1000,
        -100
      ],
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "message": "=🏦 Extrato de {{ $json.resumo.periodo_inicio }} a {{ $json.resumo.periodo_fim }}\n{{ $json.resumo_novos.quantidade }} novos lançamentos{{ $json.ignorados_n ? ' (' + $json.ignorados_n + ' ignorados — anteriores ao último lançamento importado, ' + $json.marco + ')' : '' }}: {{ $json.resumo_novos.entradas.n }} entradas (R$ {{ $json.resumo_novos.entradas.total }}) e {{ $json.resumo_novos.saidas.n }} saídas (R$ {{ $json.resumo_novos.saidas.total }}).{{ $json.avisos.length ? '\\n⚠️ ' + $json.avisos.join('; ') : '' }}\nConfirmar?",
        "responseType": "approval",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "✅ Confirmar",
            "disapproveLabel": "❌ Cancelar"
          }
        },
        "options": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "FinTelegramBot01",
          "name": "Telegram Bot"
        }
      },
      "id": "fin-conta-10"
    },
    {
      "name": "Aprovado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1200,
        -100
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      },
      "id": "fin-conta-11"
    },
    {
      "name": "Linhas Lançamentos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        -200
      ],
      "parameters": {
        "jsCode": "return $('Parser Extrato').first().json.novos.map((l) => ({ json: l }));"
      },
      "id": "fin-conta-12"
    },
    {
      "name": "Gravar Lançamentos",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1600,
        -200
      ],
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Lançamentos"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": []
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "credentials": {
        "googleApi": {
          "id": "FinSheetsSA00001",
          "name": "Google Sheets SA"
        }
      },
      "id": "fin-conta-13"
    },
    {
      "name": "Linhas Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        -200
      ],
      "parameters": {
        "jsCode": "const p = $('Parser Extrato').first().json;\nconst agora = new Date().toISOString();\nconst logs = [{ json: { timestamp: agora, acao: 'importacao_confirmada', entidade: 'Lançamentos',\n  valor_anterior: p.ignorados_n ? p.ignorados_n + ' ignorados (anteriores a ' + p.marco + ')' : '',\n  valor_novo: p.resumo_novos.quantidade + ' lançamentos (extrato ' +\n  p.resumo.periodo_inicio + ' a ' + p.resumo.periodo_fim + ')',\n  origem: 'ingestao-csv-conta' } }];\nfor (const a of p.avisos) {\n  logs.push({ json: { timestamp: agora, acao: 'aviso_importacao', entidade: 'Lançamentos',\n    valor_anterior: '', valor_novo: a, origem: 'ingestao-csv-conta' } });\n}\nreturn logs;"
      },
      "id": "fin-conta-14"
    },
    {
      "name": "Gravar Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2000,
        -200
      ],
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Log"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": []
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "credentials": {
        "googleApi": {
          "id": "FinSheetsSA00001",
          "name": "Google Sheets SA"
        }
      },
      "id": "fin-conta-15"
    },
    {
      "name": "Avisar Sucesso",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2200,
        -200
      ],
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=✅ Importação concluída: {{ $('Parser Extrato').first().json.resumo_novos.quantidade }} lançamentos gravados.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "FinTelegramBot01",
          "name": "Telegram Bot"
        }
      },
      "id": "fin-conta-16"
    },
    {
      "name": "Chamar Categorização",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2400,
        -200
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "FinCategoriza001",
          "cachedResultName": "categorizacao-hibrida"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "mode": "once",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "fin-conta-17"
    },
    {
      "name": "Linhas Log Cancelado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        0
      ],
      "parameters": {
        "jsCode": "const p = $('Parser Extrato').first().json;\nreturn [{ json: { timestamp: new Date().toISOString(), acao: 'importacao_cancelada',\n  entidade: 'Lançamentos', valor_anterior: '',\n  valor_novo: p.resumo_novos.quantidade + ' lançamentos descartados', origem: 'ingestao-csv-conta' } }];"
      },
      "id": "fin-conta-18"
    },
    {
      "name": "Gravar Log Cancelado",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1600,
        0
      ],
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Log"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": []
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "credentials": {
        "googleApi": {
          "id": "FinSheetsSA00001",
          "name": "Google Sheets SA"
        }
      },
      "id": "fin-conta-19"
    },
    {
      "name": "Avisar Cancelado",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1800,
        0
      ],
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "🚫 Importação cancelada. Nada foi gravado.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "FinTelegramBot01",
          "name": "Telegram Bot"
        }
      },
      "id": "fin-conta-20"
    }
  ],
  "connections": {
    "Início": {
      "main": [
        [
          {
            "node": "Ler Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler Dados": {
      "main": [
        [
          {
            "node": "Parser Extrato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser Extrato": {
      "main": [
        [
          {
            "node": "Parse OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse OK?": {
      "main": [
        [
          {
            "node": "Já Importado?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notificar Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Já Importado?": {
      "main": [
        [
          {
            "node": "Linhas Log Bloqueado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Confirmação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linhas Log Bloqueado": {
      "main": [
        [
          {
            "node": "Gravar Log Bloqueado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gravar Log Bloqueado": {
      "main": [
        [
          {
            "node": "Avisar Bloqueado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmação": {
      "main": [
        [
          {
            "node": "Aprovado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aprovado?": {
      "main": [
        [
          {
            "node": "Linhas Lançamentos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Linhas Log Cancelado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linhas Lançamentos": {
      "main": [
        [
          {
            "node": "Gravar Lançamentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gravar Lançamentos": {
      "main": [
        [
          {
            "node": "Linhas Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linhas Log": {
      "main": [
        [
          {
            "node": "Gravar Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gravar Log": {
      "main": [
        [
          {
            "node": "Avisar Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avisar Sucesso": {
      "main": [
        [
          {
            "node": "Chamar Categorização",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linhas Log Cancelado": {
      "main": [
        [
          {
            "node": "Gravar Log Cancelado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gravar Log Cancelado": {
      "main": [
        [
          {
            "node": "Avisar Cancelado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
