workflows/ingestao-csv-conta.json
{
  "id": "FinIngestConta01",
  "name": "ingestao-csv-conta",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "nodes": [
    {
      "name": "Início",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "inputSource": "workflowInputs",
        "workflowInputs": {
          "values": [
            {
              "name": "csv",
              "type": "string"
            },
            {
              "name": "nome_arquivo",
              "type": "string"
            }
          ]
        }
      },
      "id": "fin-conta-01"
    },
    {
      "name": "Ler Dicionário",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        200,
        0
      ],
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Dicionário"
        },
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "FinSheetsSA00001",
          "name": "Google Sheets SA"
        }
      },
      "id": "fin-conta-02"
    },
    {
      "name": "Ler Metas",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        400,
        0
      ],
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Metas"
        },
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "FinSheetsSA00001",
          "name": "Google Sheets SA"
        }
      },
      "id": "fin-conta-03"
    },
    {
      "name": "Parser Extrato",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        0
      ],
      "parameters": {
        "jsCode": "// Parser do extrato C6 conta corrente — lógica pura do Code node do workflow\n// ingestao-csv-conta. Implementa gstack/plans/ingestao-csv-conta.md.\n// splitLinha é duplicado de parser-cartao.js de propósito: cada arquivo precisa ser\n// autocontido para ser embutido no Code node do n8n.\n\nconst COLUNAS = [\n  \"Data Lançamento\", \"Data Contábil\", \"Título\", \"Descrição\",\n  \"Entrada(R$)\", \"Saída(R$)\", \"Saldo do Dia(R$)\",\n];\nconst LINHAS_METADATA = 8;\n\n/** Divide uma linha CSV (RFC 4180) com separador configurável respeitando aspas. */\nfunction splitLinha(linha, sep) {\n  const campos = [];\n  let atual = \"\";\n  let dentroAspas = false;\n  for (let i = 0; i < linha.length; i++) {\n    const c = linha[i];\n    if (c === '\"') {\n      if (dentroAspas && linha[i + 1] === '\"') { atual += '\"'; i++; }\n      else dentroAspas = !dentroAspas;\n    } else if (c === sep && !dentroAspas) {\n      campos.push(atual); atual = \"\";\n    } else {\n      atual += c;\n    }\n  }\n  campos.push(atual);\n  return campos.map((c) => c.trim());\n}\n\n/** Valida DD/MM/YYYY. */\nfunction validarData(ddmmyyyy) {\n  if (!/^\\d{2}\\/\\d{2}\\/\\d{4}$/.test(ddmmyyyy)) throw new Error(`data inválida: ${ddmmyyyy}`);\n  return ddmmyyyy;\n}\n\n/**\n * Processa o extrato completo.\n * @param {string} csvText conteúdo do CSV (UTF-8, pode ter BOM)\n * @param {string} nomeArquivo identificador opaco (só para log)\n * @param {{chave: string, categoria: string}[]} dicionario regras origem=conta\n * @param {{nome: string}[]} metas metas ativas (aba Metas)\n * @returns {{lancamentos: object[], descartados: object[], avisos: string[], resumo: object}}\n */\nfunction processarExtrato(csvText, nomeArquivo, dicionario, metas) {\n  const linhas = csvText.replace(/^﻿/, \"\").split(/\\r?\\n/);\n  if (linhas.length < LINHAS_METADATA + 1) {\n    throw new Error(`arquivo com ${linhas.length} linhas — esperadas ${LINHAS_METADATA} de metadata + header`);\n  }\n  const header = splitLinha(linhas[LINHAS_METADATA], \",\");\n  if (JSON.stringify(header) !== JSON.stringify(COLUNAS)) {\n    throw new Error(`header inesperado na linha ${LINHAS_METADATA + 1}: ${header.join(\" | \")}`);\n  }\n  const meta = linhas.slice(0, LINHAS_METADATA).join(\"\\n\");\n  const mPeriodo = /Extrato de (\\d{2}\\/\\d{2}\\/\\d{4}) a (\\d{2}\\/\\d{2}\\/\\d{4})/.exec(meta);\n  const periodo = mPeriodo ? { inicio: mPeriodo[1], fim: mPeriodo[2] } : { inicio: \"\", fim: \"\" };\n\n  const avisos = [];\n  const descartados = [];\n  const lancamentos = [];\n\n  linhas.slice(LINHAS_METADATA + 1).forEach((texto, i) => {\n    if (texto.trim() === \"\") return;\n    const numLinha = LINHAS_METADATA + 2 + i;\n    const c = splitLinha(texto, \",\");\n    if (c.length !== COLUNAS.length) {\n      throw new Error(`linha ${numLinha}: esperadas ${COLUNAS.length} colunas, vieram ${c.length}`);\n    }\n    const [dataLanc, , titulo, descricao, entradaStr, saidaStr] = c;\n    validarData(dataLanc);\n    const entrada = Number(entradaStr);\n    const saida = Number(saidaStr);\n    if (Number.isNaN(entrada) || Number.isNaN(saida)) {\n      throw new Error(`linha ${numLinha}: valor inválido \"${entradaStr}\"/\"${saidaStr}\"`);\n    }\n    if (entrada > 0 && saida > 0) {\n      throw new Error(`linha ${numLinha}: Entrada e Saída preenchidas simultaneamente`);\n    }\n    if (entrada === 0 && saida === 0) {\n      descartados.push({ linha: numLinha, titulo });\n      avisos.push(`linha ${numLinha} descartada: Entrada e Saída zeradas (${titulo})`);\n      return;\n    }\n    const tipo = entrada > 0 ? \"entrada\" : \"saída\";\n    const valor = entrada > 0 ? entrada : saida;\n\n    // Categoria pela chave Título; pseudo-categoria resolve pela direção e\n    // NUNCA chega à aba Lançamentos\n    const alvo = titulo.toUpperCase();\n    const regra = dicionario.find((r) => alvo.includes(r.chave.toUpperCase()));\n    let categoria = regra ? regra.categoria : \"\";\n    if (categoria === \"Pagamento/Retirada\") categoria = tipo === \"entrada\" ? \"Pagamento\" : \"Retirada\";\n\n    let idMeta = \"\";\n    if (categoria.startsWith(\"Meta: \")) {\n      const nomeMeta = categoria.slice(6);\n      if (metas.some((m) => m.nome === nomeMeta)) idMeta = nomeMeta;\n      else avisos.push(`meta não encontrada para categoria \"${categoria}\" (linha ${numLinha})`);\n    }\n    if (categoria === \"\" && alvo.includes(\"RESGATE\") && alvo.includes(\"CDB\")) {\n      avisos.push(`resgate de CDB sem meta associada (linha ${numLinha}) — associar no fluxo de categorização`);\n    }\n\n    lancamentos.push({\n      data_competencia: dataLanc,\n      data_original: dataLanc,\n      descricao,\n      titulo,\n      valor,\n      categoria,\n      tipo,\n      origem: \"conta\",\n      status: \"confirmado\",\n      id_meta: idMeta,\n    });\n  });\n\n  const soma = (tipo) =>\n    Math.round(lancamentos.filter((l) => l.tipo === tipo).reduce((s, l) => s + l.valor, 0) * 100) / 100;\n  const resumo = {\n    quantidade: lancamentos.length,\n    entradas: { n: lancamentos.filter((l) => l.tipo === \"entrada\").length, total: soma(\"entrada\") },\n    saidas: { n: lancamentos.filter((l) => l.tipo === \"saída\").length, total: soma(\"saída\") },\n    periodo_inicio: periodo.inicio,\n    periodo_fim: periodo.fim,\n    descartados: descartados.length,\n    arquivo: nomeArquivo,\n  };\n  return { lancamentos, descartados, avisos, resumo };\n}\n\n\n// ── Glue do Code node (entradas vêm dos nós anteriores) ──\nconst entrada = $('Início').first().json;\nconst dicionario = $('Ler Dicionário').all()\n  .map((i) => i.json)\n  .filter((r) => String(r.origem || '').trim() === 'conta')\n  .map((r) => ({ chave: String(r.descricao_original || ''), categoria: String(r.categoria_mapeada || '') }));\nconst metas = $('Ler Metas').all()\n  .map((i) => i.json)\n  .filter((m) => String(m.status || '').trim() === 'ativa')\n  .map((m) => ({ nome: String(m.nome || '') }));\ntry {\n  const r = processarExtrato(String(entrada.csv || ''), String(entrada.nome_arquivo || ''), dicionario, metas);\n  return [{ json: { ok: true, ...r } }];\n} catch (e) {\n  return [{ json: { ok: false, erro: e.message } }];\n}"
      },
      "id": "fin-conta-04"
    },
    {
      "name": "Parse OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.ok }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      },
      "id": "fin-conta-05"
    },
    {
      "name": "Notificar Erro",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1000,
        200
      ],
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=⚠️ ingestao-csv-conta falhou: {{ $json.erro }}",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "FinTelegramBot01",
          "name": "Telegram Bot"
        }
      },
      "id": "fin-conta-06"
    },
    {
      "name": "Confirmação",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1000,
        -100
      ],
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "message": "=🏦 Extrato de {{ $json.resumo.periodo_inicio }} a {{ $json.resumo.periodo_fim }}\nEncontrei {{ $json.resumo.quantidade }} lançamentos: {{ $json.resumo.entradas.n }} entradas (R$ {{ $json.resumo.entradas.total }}) e {{ $json.resumo.saidas.n }} saídas (R$ {{ $json.resumo.saidas.total }}).{{ $json.avisos.length ? '\\n⚠️ ' + $json.avisos.join('; ') : '' }}\nConfirmar?",
        "responseType": "approval",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "✅ Confirmar",
            "disapproveLabel": "❌ Cancelar"
          }
        },
        "options": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "FinTelegramBot01",
          "name": "Telegram Bot"
        }
      },
      "id": "fin-conta-07"
    },
    {
      "name": "Aprovado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1200,
        -100
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      },
      "id": "fin-conta-08"
    },
    {
      "name": "Linhas Lançamentos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        -200
      ],
      "parameters": {
        "jsCode": "return $('Parser Extrato').first().json.lancamentos.map((l) => ({ json: l }));"
      },
      "id": "fin-conta-09"
    },
    {
      "name": "Gravar Lançamentos",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1600,
        -200
      ],
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Lançamentos"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": []
        },
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "FinSheetsSA00001",
          "name": "Google Sheets SA"
        }
      },
      "id": "fin-conta-10"
    },
    {
      "name": "Linhas Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        -200
      ],
      "parameters": {
        "jsCode": "const p = $('Parser Extrato').first().json;\nconst agora = new Date().toISOString();\nconst logs = [{ json: { timestamp: agora, acao: 'importacao_confirmada', entidade: 'Lançamentos',\n  valor_anterior: '', valor_novo: p.resumo.quantidade + ' lançamentos (extrato ' +\n  p.resumo.periodo_inicio + ' a ' + p.resumo.periodo_fim + ')',\n  origem: 'ingestao-csv-conta' } }];\nfor (const a of p.avisos) {\n  logs.push({ json: { timestamp: agora, acao: 'aviso_importacao', entidade: 'Lançamentos',\n    valor_anterior: '', valor_novo: a, origem: 'ingestao-csv-conta' } });\n}\nreturn logs;"
      },
      "id": "fin-conta-11"
    },
    {
      "name": "Gravar Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2000,
        -200
      ],
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Log"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": []
        },
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "FinSheetsSA00001",
          "name": "Google Sheets SA"
        }
      },
      "id": "fin-conta-12"
    },
    {
      "name": "Avisar Sucesso",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2200,
        -200
      ],
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=✅ Importação concluída: {{ $('Parser Extrato').first().json.resumo.quantidade }} lançamentos gravados.",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "FinTelegramBot01",
          "name": "Telegram Bot"
        }
      },
      "id": "fin-conta-13"
    },
    {
      "name": "Chamar Categorização",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2400,
        -200
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "FinCategoriza001",
          "cachedResultName": "categorizacao-hibrida"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "mode": "once",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "fin-conta-14"
    },
    {
      "name": "Linhas Log Cancelado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        0
      ],
      "parameters": {
        "jsCode": "const p = $('Parser Extrato').first().json;\nreturn [{ json: { timestamp: new Date().toISOString(), acao: 'importacao_cancelada',\n  entidade: 'Lançamentos', valor_anterior: '',\n  valor_novo: p.resumo.quantidade + ' lançamentos descartados', origem: 'ingestao-csv-conta' } }];"
      },
      "id": "fin-conta-15"
    },
    {
      "name": "Gravar Log Cancelado",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1600,
        0
      ],
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Log"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": []
        },
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "FinSheetsSA00001",
          "name": "Google Sheets SA"
        }
      },
      "id": "fin-conta-16"
    },
    {
      "name": "Avisar Cancelado",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1800,
        0
      ],
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "🚫 Importação cancelada. Nada foi gravado.",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "FinTelegramBot01",
          "name": "Telegram Bot"
        }
      },
      "id": "fin-conta-17"
    }
  ],
  "connections": {
    "Início": {
      "main": [
        [
          {
            "node": "Ler Dicionário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler Dicionário": {
      "main": [
        [
          {
            "node": "Ler Metas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler Metas": {
      "main": [
        [
          {
            "node": "Parser Extrato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser Extrato": {
      "main": [
        [
          {
            "node": "Parse OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse OK?": {
      "main": [
        [
          {
            "node": "Confirmação",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notificar Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmação": {
      "main": [
        [
          {
            "node": "Aprovado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aprovado?": {
      "main": [
        [
          {
            "node": "Linhas Lançamentos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Linhas Log Cancelado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linhas Lançamentos": {
      "main": [
        [
          {
            "node": "Gravar Lançamentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gravar Lançamentos": {
      "main": [
        [
          {
            "node": "Linhas Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linhas Log": {
      "main": [
        [
          {
            "node": "Gravar Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gravar Log": {
      "main": [
        [
          {
            "node": "Avisar Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avisar Sucesso": {
      "main": [
        [
          {
            "node": "Chamar Categorização",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linhas Log Cancelado": {
      "main": [
        [
          {
            "node": "Gravar Log Cancelado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gravar Log Cancelado": {
      "main": [
        [
          {
            "node": "Avisar Cancelado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
