workflows/lembretes-agendados.json
{
  "id": "FinLembretes0001",
  "name": "lembretes-agendados",
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "nodes": [
    {
      "name": "Cron 09h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        -100
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "finlembret-01"
    },
    {
      "name": "Início Teste",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        100
      ],
      "parameters": {
        "inputSource": "workflowInputs",
        "workflowInputs": {
          "values": [
            {
              "name": "hoje",
              "type": "string"
            }
          ]
        }
      },
      "id": "finlembret-02"
    },
    {
      "name": "Ler Dados",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        0
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "method": "GET",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $env.GOOGLE_SHEETS_ID }}/values:batchGet?ranges='Contas%20Fixas'!A%3AD&ranges='Log'!A%3AF&valueRenderOption=UNFORMATTED_VALUE",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "FinSheetsSA00001",
          "name": "Google Sheets SA"
        }
      },
      "id": "finlembret-03"
    },
    {
      "name": "Decidir",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "parameters": {
        "jsCode": "// Lógica pura dos lembretes agendados — decide quem lembrar hoje a partir das\n// abas Contas Fixas e Log (estado append-only), monta mensagem/teclado e\n// interpreta callbacks pg|/np|. Implementa gstack/plans/lembretes-agendados.md.\n// \"hoje\" SEMPRE entra como parâmetro YYYY-MM-DD (timezone resolvida no glue).\n\nfunction dataUTC(iso) {\n  return new Date(`${iso}T00:00:00Z`);\n}\n\nfunction isoDe(d) {\n  return d.toISOString().slice(0, 10);\n}\n\nfunction diasNoMes(ano, mes1a12) {\n  return new Date(Date.UTC(ano, mes1a12, 0)).getUTCDate();\n}\n\n/** Dia de vencimento efetivo no mês (dia 30 em fevereiro → último dia). */\nfunction vencimentoNoMes(dia, ano, mes1a12) {\n  return Math.min(dia, diasNoMes(ano, mes1a12));\n}\n\nfunction temLog(logs, acao, chave, dia) {\n  return logs.some(\n    (l) =>\n      l.acao === acao &&\n      String(l.valor_anterior) === chave &&\n      (dia === undefined || String(l.valor_novo).split(\"|\")[1] === dia)\n  );\n}\n\n/**\n * Decide os lembretes do dia e as contas inválidas a notificar.\n * @param {Array<{nome, dia_vencimento, valor_esperado, ativo}>} contas aba Contas Fixas\n * @param {Array<{acao, valor_anterior, valor_novo}>} logs aba Log\n * @param {string} hojeISO data local (America/Sao_Paulo) em YYYY-MM-DD\n * @returns {{lembretes: Array<{conta, referencia, tipo, valor, data_vencimento,\n *   pendencia_anterior}>, invalidas: Array<{conta, motivo}>}}\n */\nfunction decidirLembretes(contas, logs, hojeISO) {\n  const hoje = dataUTC(hojeISO);\n  const amanha = new Date(hoje.getTime() + 86400000);\n  const lembretes = [];\n  const invalidas = [];\n\n  for (const c of contas) {\n    if (String(c.ativo).trim().toLowerCase() !== \"sim\") continue;\n    const nome = String(c.nome || \"\").trim();\n    const valor = Number(c.valor_esperado);\n    const diaVenc = String(c.dia_vencimento).trim().toLowerCase();\n\n    let motivo = null;\n    if (nome.includes(\"|\")) motivo = \"nome contém '|' (quebraria o teclado)\";\n    // pior caso de callback_data: np|<nome>|2024-07-05 — limite Telegram 64 bytes\n    else if (Buffer.byteLength(`np|${nome}|2024-07-05`, \"utf-8\") > 64) {\n      motivo = \"nome longo demais para o teclado (limite de 64 bytes do Telegram)\";\n    } else if (diaVenc !== \"sexta-feira\") {\n      const dia = Number(diaVenc);\n      if (!Number.isInteger(dia) || dia < 1 || dia > 31) {\n        motivo = `dia_vencimento inválido: \"${c.dia_vencimento}\"`;\n      }\n    }\n    if (motivo) {\n      if (!temLog(logs, \"lembrete_erro\", `${nome}|invalida`)) invalidas.push({ conta: nome, motivo });\n      continue;\n    }\n\n    let lembrete = null;\n    if (diaVenc === \"sexta-feira\") {\n      if (hoje.getUTCDay() === 5) {\n        const sextaAnterior = isoDe(new Date(hoje.getTime() - 7 * 86400000));\n        const pendente =\n          temLog(logs, \"lembrete_enviado\", `${nome}|${sextaAnterior}`) &&\n          !temLog(logs, \"pagamento_confirmado\", `${nome}|${sextaAnterior}`);\n        // valor_esperado é o orçamento MENSAL (usado pelo relatório). O lembrete\n        // é semanal, então mostra ~1/4 do mês (4 semanas). relatorio.js continua\n        // somando o mensal — não mexer lá.\n        lembrete = {\n          conta: nome,\n          referencia: hojeISO,\n          tipo: \"semanal\",\n          valor: Math.round((valor / 4) * 100) / 100,\n          data_vencimento: hojeISO,\n          pendencia_anterior: pendente ? sextaAnterior : null,\n        };\n      }\n    } else {\n      const dia = Number(diaVenc);\n      // D0: hoje é o vencimento efetivo deste mês\n      if (hoje.getUTCDate() === vencimentoNoMes(dia, hoje.getUTCFullYear(), hoje.getUTCMonth() + 1)) {\n        lembrete = { tipo: \"D0\", venc: hoje };\n      }\n      // D-1: amanhã é o vencimento efetivo (referência = mês do VENCIMENTO)\n      else if (\n        amanha.getUTCDate() === vencimentoNoMes(dia, amanha.getUTCFullYear(), amanha.getUTCMonth() + 1)\n      ) {\n        lembrete = { tipo: \"D-1\", venc: amanha };\n      }\n      if (lembrete) {\n        lembrete = {\n          conta: nome,\n          referencia: isoDe(lembrete.venc).slice(0, 7),\n          tipo: lembrete.tipo,\n          valor,\n          data_vencimento: isoDe(lembrete.venc),\n          pendencia_anterior: null,\n        };\n      }\n    }\n    if (!lembrete) continue;\n\n    const chave = `${nome}|${lembrete.referencia}`;\n    if (temLog(logs, \"pagamento_confirmado\", chave)) continue; // já pago no período\n    if (temLog(logs, \"lembrete_enviado\", chave, hojeISO)) continue; // idempotência: já enviado hoje\n    lembretes.push(lembrete);\n  }\n\n  return { lembretes, invalidas };\n}\n\nfunction formatarReal(n) {\n  const [int, dec] = Number(n).toFixed(2).split(\".\");\n  return `R$ ${int.replace(/\\B(?=(\\d{3})+(?!\\d))/g, \".\")},${dec}`;\n}\n\nfunction ddmm(iso) {\n  return `${iso.slice(8, 10)}/${iso.slice(5, 7)}`;\n}\n\n/** Texto do lembrete: conta, valor esperado, quando vence e pendência (semanal). */\nfunction montarMensagemLembrete(l) {\n  const valor = formatarReal(l.valor);\n  let texto;\n  if (l.tipo === \"D-1\") texto = `⏰ ${l.conta} — ${valor} vence amanhã (${ddmm(l.data_vencimento)}).`;\n  else if (l.tipo === \"D0\") texto = `‼️ ${l.conta} — ${valor} vence HOJE (${ddmm(l.data_vencimento)}).`;\n  else {\n    texto = `💼 ${l.conta} — ${valor} (sexta, ${ddmm(l.data_vencimento)}).`;\n    if (l.pendencia_anterior) {\n      texto += `\\n⚠️ A sexta passada (${ddmm(l.pendencia_anterior)}) ficou pendente.`;\n    }\n  }\n  return `${texto}\\nJá pagou?`;\n}\n\n/** Teclado ✅/⏰ com callback pg|/np|. Lança se exceder 64 bytes (limite Telegram). */\nfunction montarTecladoLembrete(l) {\n  const botoes = [\n    { text: \"✅ Paguei\", callback_data: `pg|${l.conta}|${l.referencia}` },\n    { text: \"⏰ Ainda não\", callback_data: `np|${l.conta}|${l.referencia}` },\n  ];\n  for (const b of botoes) {\n    if (Buffer.byteLength(b.callback_data, \"utf-8\") > 64) {\n      throw new Error(`callback_data excede 64 bytes: ${b.callback_data}`);\n    }\n  }\n  return { inline_keyboard: [botoes] };\n}\n\n/** Parse do callback_data pg|/np|. Inválido/desconhecido → null. */\nfunction parsearCallbackLembrete(data) {\n  const m = /^(pg|np)\\|([^|]+)\\|(.+)$/.exec(String(data || \"\"));\n  if (!m) return null;\n  return { acao: m[1], conta: m[2], referencia: m[3] };\n}\n\n\n// ── Glue: decide os lembretes de hoje e prepara mensagens/logs ──\nconst vr = ($json.valueRanges || []);\nconst paraObjetos = (idx) => {\n  const v = (vr[idx] && vr[idx].values) || [];\n  if (v.length < 2) return [];\n  const h = v[0].map(String);\n  return v.slice(1).map((linha, i) => {\n    const o = {};\n    h.forEach((c, j) => { o[c] = linha[j] !== undefined ? linha[j] : ''; });\n    o._row = i + 2;\n    return o;\n  });\n};\n// 'hoje' vem do harness (Início Teste) ou do relógio em America/Sao_Paulo (cron).\n// Harness SÓ aceita datas de 2024 (plano: o Log é estado vivo — uma data futura\n// gravaria lembrete_enviado real e suprimiria o cron daquele dia). Data fora do\n// padrão vinda do teste → no-op, NUNCA fallback para a data real.\nlet hoje = '';\nlet veioDoTeste = false;\ntry { hoje = String($('Início Teste').first().json.hoje || ''); veioDoTeste = true; } catch (e) {}\nif (veioDoTeste) {\n  if (!/^2024-\\d{2}-\\d{2}$/.test(hoje)) return [];\n} else {\n  hoje = new Date().toLocaleDateString('en-CA', { timeZone: 'America/Sao_Paulo' });\n}\nconst r = decidirLembretes(paraObjetos(0), paraObjetos(1), hoje);\nconst agora = new Date().toISOString();\nconst saida = [];\nfor (const l of r.lembretes) {\n  saida.push({ json: { fase: 'lembrar',\n    texto: montarMensagemLembrete(l),\n    teclado: montarTecladoLembrete(l),\n    log: { timestamp: agora, acao: 'lembrete_enviado', entidade: 'Contas Fixas',\n      valor_anterior: l.conta + '|' + l.referencia, valor_novo: l.tipo + '|' + hoje,\n      origem: 'lembretes-agendados' } } });\n}\nfor (const inv of r.invalidas) {\n  saida.push({ json: { fase: 'invalida',\n    texto: '⚠️ Conta fixa \"' + inv.conta + '\" sem lembrete: ' + inv.motivo +\n      '\\nCorrija na aba Contas Fixas.',\n    log: { timestamp: agora, acao: 'lembrete_erro', entidade: 'Contas Fixas',\n      valor_anterior: inv.conta + '|invalida', valor_novo: inv.motivo,\n      origem: 'lembretes-agendados' } } });\n}\nreturn saida; // vazio → nada a enviar hoje (silêncio é o comportamento certo)"
      },
      "id": "finlembret-04"
    },
    {
      "name": "Lembrar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        600,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.fase }}",
              "rightValue": "lembrar",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "finlembret-05"
    },
    {
      "name": "Enviar Lembrete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        -100
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $env.TELEGRAM_CHAT_ID, text: $json.texto, reply_markup: $json.teclado }) }}",
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "id": "finlembret-06"
    },
    {
      "name": "Linhas Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        -100
      ],
      "parameters": {
        "jsCode": "const envios = $input.all();\nreturn $('Lembrar?').all()\n  .filter((i, idx) => !(envios[idx] && envios[idx].json && envios[idx].json.error))\n  .map((i) => ({ json: i.json.log }));"
      },
      "id": "finlembret-07"
    },
    {
      "name": "Gravar Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1200,
        -100
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Log"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": []
        },
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "FinSheetsSA00001",
          "name": "Google Sheets SA"
        }
      },
      "id": "finlembret-08"
    },
    {
      "name": "Inválida?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        150
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.fase }}",
              "rightValue": "invalida",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "finlembret-09"
    },
    {
      "name": "Avisar Inválida",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1000,
        150
      ],
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.texto }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "FinTelegramBot01",
          "name": "Telegram Bot"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "id": "finlembret-10"
    },
    {
      "name": "Linhas Log Erro",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        150
      ],
      "parameters": {
        "jsCode": "return $('Inválida?').all().map((i) => ({ json: i.json.log }));"
      },
      "id": "finlembret-11"
    },
    {
      "name": "Gravar Log Erro",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1400,
        150
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Log"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": []
        },
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "FinSheetsSA00001",
          "name": "Google Sheets SA"
        }
      },
      "id": "finlembret-12"
    }
  ],
  "connections": {
    "Cron 09h": {
      "main": [
        [
          {
            "node": "Ler Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Início Teste": {
      "main": [
        [
          {
            "node": "Ler Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler Dados": {
      "main": [
        [
          {
            "node": "Decidir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decidir": {
      "main": [
        [
          {
            "node": "Lembrar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrar?": {
      "main": [
        [
          {
            "node": "Enviar Lembrete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Inválida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Lembrete": {
      "main": [
        [
          {
            "node": "Linhas Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linhas Log": {
      "main": [
        [
          {
            "node": "Gravar Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inválida?": {
      "main": [
        [
          {
            "node": "Avisar Inválida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avisar Inválida": {
      "main": [
        [
          {
            "node": "Linhas Log Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linhas Log Erro": {
      "main": [
        [
          {
            "node": "Gravar Log Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
