workflows/relatorio-sob-demanda.json
{
  "id": "FinRelatSobDem01",
  "name": "relatorio-sob-demanda",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "nodes": [
    {
      "name": "Início",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "inputSource": "workflowInputs",
        "workflowInputs": {
          "values": [
            {
              "name": "hoje",
              "type": "string"
            }
          ]
        }
      },
      "id": "finrelatso-01"
    },
    {
      "name": "Ler Dados",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        0
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "method": "GET",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $env.GOOGLE_SHEETS_ID }}/values:batchGet?ranges='Lan%C3%A7amentos'!A%3AJ&ranges='Contas%20Fixas'!A%3AD&ranges='Sal%C3%A1rios'!A%3AB&ranges='Config'!A%3AB&valueRenderOption=UNFORMATTED_VALUE",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "FinSheetsSA00001",
          "name": "Google Sheets SA"
        }
      },
      "id": "finrelatso-02"
    },
    {
      "name": "Montar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "parameters": {
        "jsCode": "// Rateio proporcional ao salário — lógica pura do dashboard da reunião familiar.\r\n// TDD em rateio.test.js. Módulo Node consumido pelo runner (não é Code node n8n).\r\n// Implementa gstack/specs/dashboard-reuniao-familiar.md.\r\n\r\n/** Remove acento e caixa para comparar categorias/nomes (Deposito ~ Depósito). */\r\nfunction normalizar(s) {\r\n  return String(s == null ? \"\" : s)\r\n    .normalize(\"NFD\").replace(/[̀-ͯ]/g, \"\").trim().toLowerCase();\r\n}\r\n\r\nconst arred = (n) => Math.round(n * 100) / 100;\r\n\r\n/**\r\n * Valor da planilha → número. Defesa contra `valor` gravado como TEXTO (ex.: o nó\r\n * googleSheets em USER_ENTERED + locale pt_BR pode coagir \"1011.87\" a texto). Aceita\r\n * número nativo, \"1011.87\" (ponto decimal), BR \"1.011,56\"/\"1011,56\" e \"R$ 1.234,56\".\r\n * Lixo/vazio → 0 (nunca NaN — NaN envenenaria a soma inteira do relatório).\r\n */\r\nfunction valorNum(v) {\r\n  if (typeof v === \"number\") return Number.isFinite(v) ? v : 0;\r\n  if (v === null || v === undefined) return 0;\r\n  let s = String(v).trim().replace(/^R\\$\\s*/i, \"\");\r\n  if (s === \"\") return 0;\r\n  if (s.includes(\",\")) s = s.replace(/\\./g, \"\").replace(\",\", \".\");        // BR: ponto=milhar, vírgula=decimal\r\n  else if ((s.match(/\\./g) || []).length > 1) s = s.replace(/\\./g, \"\");   // só pontos múltiplos = milhar\r\n  const n = Number(s);\r\n  return Number.isFinite(n) ? n : 0;\r\n}\r\n\r\n/**\r\n * Categorias de transferência interna — movimentação entre contas próprias\r\n * (ex.: pagar a fatura do cartão, resgate/aplicação, Pix para si mesmo). NÃO são\r\n * consumo nem receita: o gasto real já está nas compras da fatura (origem=cartao)\r\n * e contá-las de novo no extrato duplicaria. O parser resolve \"Pagamento/Retirada\"\r\n * para uma destas conforme a direção (entrada→Pagamento, saída→Retirada).\r\n */\r\nconst CATEGORIAS_TRANSFERENCIA = new Set([\"pagamento\", \"retirada\"]);\r\nfunction ehTransferencia(categoria) {\r\n  return CATEGORIAS_TRANSFERENCIA.has(normalizar(categoria));\r\n}\r\n\r\n/** salarios: {pessoa: salario} ou [{pessoa, salario}] → {pessoa: proporção}. */\r\nfunction proporcoes(salarios) {\r\n  const pares = Array.isArray(salarios)\r\n    ? salarios.map((s) => [s.pessoa, Number(s.salario)])\r\n    : Object.entries(salarios).map(([p, v]) => [p, Number(v)]);\r\n  const total = pares.reduce((s, [, v]) => s + v, 0);\r\n  if (!(total > 0)) throw new Error(\"soma dos salários deve ser > 0 (configurar aba Salários)\");\r\n  const out = {};\r\n  for (const [p, v] of pares) out[p] = v / total;\r\n  return out;\r\n}\r\n\r\n/**\r\n * Data da planilha → \"MM/YYYY\" | null. Aceita os três formatos que o nó de\r\n * leitura pode devolver (valueRenderOption=UNFORMATTED_VALUE):\r\n *   - \"DD/MM/YYYY\" (string) ;\r\n *   - \"YYYY-MM-DD\" (string ISO) ;\r\n *   - serial do Sheets (número ou string só-dígitos): célula formatada como\r\n *     Data volta como dias desde 1899-12-30, não como string.\r\n */\r\nfunction mesDe(v) {\r\n  if (v === null || v === undefined || v === \"\") return null;\r\n  if (typeof v === \"number\" || (typeof v === \"string\" && /^\\d+(\\.\\d+)?$/.test(v.trim()))) {\r\n    const serial = Math.floor(Number(v));\r\n    if (!Number.isFinite(serial) || serial <= 0) return null;\r\n    const d = new Date(Date.UTC(1899, 11, 30) + serial * 86400000);\r\n    return `${String(d.getUTCMonth() + 1).padStart(2, \"0\")}/${d.getUTCFullYear()}`;\r\n  }\r\n  const s = String(v).trim();\r\n  let m;\r\n  if ((m = /^\\d{2}\\/(\\d{2})\\/(\\d{4})$/.exec(s))) return `${m[1]}/${m[2]}`;\r\n  if ((m = /^(\\d{4})-(\\d{2})-\\d{2}/.exec(s))) return `${m[2]}/${m[1]}`;\r\n  return null;\r\n}\r\n\r\n/**\r\n * Rateio do mês (`mes` = \"MM/YYYY\"). Cota = despesas confirmadas do mês ×\r\n * proporção; pago = depósitos \"Deposito {pessoa}\" do mês; saldo = pago − cota;\r\n * acerto = cota − pago (positivo = a pessoa deve esse valor da sua parte).\r\n * @returns {{mes, totalDespesas, proporcoes, cota, pago, saldo, acerto}}\r\n */\r\nfunction rateioMes(lancamentos, salarios, mes) {\r\n  const prop = proporcoes(salarios);\r\n  const doMes = lancamentos.filter((l) => mesDe(l.data_competencia) === mes);\r\n  const totalDespesas = arred(\r\n    doMes.filter((l) => l.tipo === \"saída\" && l.status === \"confirmado\" && !ehTransferencia(l.categoria))\r\n      .reduce((s, l) => s + valorNum(l.valor), 0));\r\n\r\n  const cota = {}, pago = {}, saldo = {}, acerto = {};\r\n  for (const p of Object.keys(prop)) {\r\n    cota[p] = arred(totalDespesas * prop[p]);\r\n    const alvo = normalizar(`deposito ${p}`);\r\n    pago[p] = arred(\r\n      doMes.filter((l) => l.tipo === \"entrada\" && normalizar(l.categoria) === alvo)\r\n        .reduce((s, l) => s + valorNum(l.valor), 0));\r\n    saldo[p] = arred(pago[p] - cota[p]);\r\n    acerto[p] = arred(cota[p] - pago[p]);\r\n  }\r\n  return { mes, totalDespesas, proporcoes: prop, cota, pago, saldo, acerto };\r\n}\r\n\r\n\n// Agregações do dashboard da reunião familiar — lógica pura. TDD em dashboard.test.js.\r\n// Módulo Node consumido pelo runner (não é Code node n8n).\r\n// Implementa gstack/specs/dashboard-reuniao-familiar.md.\r\n/** Saídas confirmadas do mês agrupadas por categoria, ordenadas desc. */\r\nfunction gastosPorCategoria(lancamentos, mes) {\r\n  const acc = new Map();\r\n  for (const l of lancamentos) {\r\n    if (l.tipo !== \"saída\" || l.status !== \"confirmado\" || mesDe(l.data_competencia) !== mes) continue;\r\n    if (ehTransferencia(l.categoria)) continue;\r\n    acc.set(l.categoria, (acc.get(l.categoria) || 0) + valorNum(l.valor));\r\n  }\r\n  return [...acc.entries()]\r\n    .map(([categoria, total]) => ({ categoria, total: arred(total) }))\r\n    .sort((a, b) => b.total - a.total);\r\n}\r\n\r\n/** Totais confirmados do mês: saídas, entradas, saldo. */\r\nfunction totaisMes(lancamentos, mes) {\r\n  const soma = (tipo) => arred(lancamentos\r\n    .filter((l) => l.tipo === tipo && l.status === \"confirmado\" && mesDe(l.data_competencia) === mes\r\n      && !ehTransferencia(l.categoria))\r\n    .reduce((s, l) => s + valorNum(l.valor), 0));\r\n  const saidas = soma(\"saída\");\r\n  const entradas = soma(\"entrada\");\r\n  return { saidas, entradas, saldo: arred(entradas - saidas) };\r\n}\r\n\r\n/**\r\n * Previsão do próximo mês (`mes` = \"MM/YYYY\"): parcelas já lançadas (saídas\r\n * previstas do mês) + projeção das contas fixas ativas cuja categoria ainda NÃO\r\n * aparece no mês. Depósitos previstos = total × proporção (regra do Marcelo).\r\n * @param {{nome, valor_esperado, ativo}[]} contasFixas aba Contas Fixas\r\n * @returns {{gastos:{fixas,parcelas,total}, depositosPrevistos:{[pessoa]:number}}}\r\n */\r\nfunction previsaoProximoMes(lancamentos, contasFixas, salarios, mes) {\r\n  const doMes = lancamentos.filter((l) => mesDe(l.data_competencia) === mes);\r\n\r\n  // C2: provisórios da fatura aberta (origem=fatura-aberta) NÃO entram aqui — eles têm\r\n  // bloco próprio (\"Comprometido futuro\", v2); somá-los duplicaria o comprometido.\r\n  const parcelas = arred(doMes\r\n    .filter((l) => l.tipo === \"saída\" && l.status === \"previsto\" && l.origem !== \"fatura-aberta\")\r\n    .reduce((s, l) => s + valorNum(l.valor), 0));\r\n  const fixas = arred((contasFixas || [])\r\n    .filter((f) => normalizar(f.ativo) === \"sim\")\r\n    .reduce((s, f) => s + valorNum(f.valor_esperado), 0));\r\n  const total = arred(fixas + parcelas);\r\n\r\n  const detalhes = [];\r\n  for (const f of contasFixas || []) {\r\n    if (normalizar(f.ativo) === \"sim\") {\r\n      detalhes.push({ categoria: f.nome, valor: valorNum(f.valor_esperado) });\r\n    }\r\n  }\r\n  for (const l of doMes) {\r\n    if (l.tipo === \"saída\" && l.status === \"previsto\" && l.origem !== \"fatura-aberta\") {\r\n      detalhes.push({ categoria: l.categoria || \"Parcela\", valor: valorNum(l.valor) });\r\n    }\r\n  }\r\n\r\n  const prop = proporcoes(salarios);\r\n  const depositosPrevistos = {};\r\n  for (const p of Object.keys(prop)) depositosPrevistos[p] = arred(total * prop[p]);\r\n\r\n  return { gastos: { fixas, parcelas, total }, detalhes, depositosPrevistos };\r\n}\r\n\r\n\n// Relatório mensal financeiro (Telegram) — lógica pura. TDD em relatorio.test.js.\n// Implementa gstack/plans/relatorio-mensal.md. Reusa dashboard.js e rateio.js (DRY).\n\n\nconst MESES = [\"janeiro\", \"fevereiro\", \"março\", \"abril\", \"maio\", \"junho\",\n  \"julho\", \"agosto\", \"setembro\", \"outubro\", \"novembro\", \"dezembro\"];\n\n/** \"MM/YYYY\" → \"março/2025\" (fallback ao próprio valor). */\nfunction nomeMes(mes) {\n  const m = /^(\\d{2})\\/(\\d{4})$/.exec(String(mes));\n  return m ? `${MESES[Number(m[1]) - 1] || m[1]}/${m[2]}` : String(mes);\n}\n\n/** Moeda BR: 1253 → \"R$ 1.253,00\" (sempre módulo; sinal tratado pelo chamador). */\nfunction brl(n) {\n  const [int, dec] = Math.abs(arred(Number(n))).toFixed(2).split(\".\");\n  return `R$ ${int.replace(/\\B(?=(\\d{3})+(?!\\d))/g, \".\")},${dec}`;\n}\n\n/** Escapa para parse_mode HTML do Telegram. */\nfunction esc(s) {\n  return String(s == null ? \"\" : s)\n    .replace(/&/g, \"&amp;\").replace(/</g, \"&lt;\").replace(/>/g, \"&gt;\");\n}\n\n/**\n * Contas fixas a pagar no mês vigente (`mesFixos` = \"MM/YYYY\"), com datas de\n * vencimento. Mensais: 1 linha cada (ordenada por dia). Empregada (semanal):\n * agrupada em 1 linha \"sextas\". Fatura do cartão: Σ origem=\"cartao\" cuja\n * data_competencia (= vencimento) cai no mês; vencimento = Config.cartao_vencimento_dia.\n * @returns {{linhas: {nome,valor,vencimento,obs?}[], subtotal: number}}\n */\nfunction contasFixasDoMes(contasFixas, lancamentos, config, mesFixos) {\n  const linhas = [];\n  for (const f of contasFixas || []) {\n    if (normalizar(f.ativo) !== \"sim\") continue;\n    const dia = Number(f.dia_vencimento);\n    const numerico = Number.isFinite(dia) && String(f.dia_vencimento).trim() !== \"\";\n    linhas.push({\n      nome: f.nome,\n      valor: arred(valorNum(f.valor_esperado)),\n      vencimento: numerico ? `dia ${dia}` : \"sextas\",\n      _dia: numerico ? dia : Infinity,\n    });\n  }\n\n  const diaCartao = Number((config || {}).cartao_vencimento_dia) || 10;\n  // Fatura LÍQUIDA do mês: saídas menos créditos/estornos (entrada). Antes somava\n  // entrada como positivo (inflava) e não excluía transferências (ex.: pagamento\n  // da própria fatura, se rotulado). Espelha o resumo.total do parser-cartao.\n  const fatura = arred((lancamentos || [])\n    .filter((l) => normalizar(l.origem) === \"cartao\" && !ehTransferencia(l.categoria)\n      && mesDe(l.data_competencia) === mesFixos)\n    .reduce((s, l) => s + (l.tipo === \"entrada\" ? -valorNum(l.valor) : valorNum(l.valor)), 0));\n  const cartao = { nome: \"Cartão C6\", valor: fatura, vencimento: `dia ${diaCartao}`, _dia: diaCartao };\n  if (fatura === 0) cartao.obs = \"fatura ainda não importada\";\n  linhas.push(cartao);\n\n  linhas.sort((a, b) => a._dia - b._dia);\n  const subtotal = arred(linhas.reduce((s, l) => s + l.valor, 0));\n  for (const l of linhas) delete l._dia;\n  return { linhas, subtotal };\n}\n\n/** Idempotência do cron: false se já existe `relatorio_enviado` desse mesGastos. */\nfunction deveEnviarCron(logs, mesGastos) {\n  return !(logs || []).some(\n    (l) => l.acao === \"relatorio_enviado\" && String(l.valor_anterior) === mesGastos);\n}\n\n/**\n * Monta o texto HTML do relatório.\n * @param {{lancamentos, contasFixas, salarios, config}} dados\n * @param {{mesGastos, mesFixos, urlPlanilha}} opts\n * @returns {{texto: string}}\n */\nfunction montarRelatorio(dados, opts) {\n  const { lancamentos, contasFixas, salarios, config } = dados;\n  const { mesGastos, mesFixos, urlPlanilha } = opts;\n  const L = [];\n\n  const tot = totaisMes(lancamentos, mesGastos);\n  L.push(`📊 <b>Relatório — ${esc(nomeMes(mesGastos))}</b>`, \"\");\n  L.push(\"<b>Gastos do mês</b>\");\n  L.push(`Saídas: ${brl(tot.saidas)}`);\n  L.push(`Entradas: ${brl(tot.entradas)}`);\n  L.push(`Saldo: ${brl(tot.saldo)}${tot.saldo < 0 ? \" (negativo)\" : \"\"}`);\n\n  const cats = gastosPorCategoria(lancamentos, mesGastos);\n  if (cats.length) {\n    L.push(\"\", \"<b>Por categoria</b>\");\n    for (const c of cats.slice(0, 5)) L.push(`• ${esc(c.categoria)}: ${brl(c.total)}`);\n    const resto = arred(cats.slice(5).reduce((s, c) => s + c.total, 0));\n    if (resto > 0) L.push(`• Outras: ${brl(resto)}`);\n  }\n\n  L.push(\"\", \"<b>Rateio</b>\");\n  try {\n    const r = rateioMes(lancamentos, salarios, mesGastos);\n    for (const p of Object.keys(r.acerto)) {\n      const a = r.acerto[p];\n      const txt = a > 0 ? `deve ${brl(a)}` : a < 0 ? `crédito ${brl(a)}` : \"quitado\";\n      L.push(`• ${esc(p)}: ${txt}`);\n    }\n  } catch (e) {\n    L.push(\"⚠️ rateio indisponível (configure a aba Salários)\");\n  }\n\n  const fix = contasFixasDoMes(contasFixas, lancamentos, config, mesFixos);\n  L.push(\"\", `<b>Contas fixas — ${esc(nomeMes(mesFixos))}</b>`);\n  for (const l of fix.linhas) {\n    const obs = l.obs ? ` (${esc(l.obs)})` : \"\";\n    L.push(`• ${esc(l.nome)} — ${brl(l.valor)} — ${esc(l.vencimento)}${obs}`);\n  }\n  L.push(`Subtotal: ${brl(fix.subtotal)}`);\n\n  if (urlPlanilha) L.push(\"\", `🔗 <a href=\"${esc(urlPlanilha)}\">Dashboard</a>`);\n\n  return { texto: L.join(\"\\n\") };\n}\n\n\n\n// ── Glue (comando): mês vigente p/ gastos E fixas; nunca grava no Log ──\nconst vr = ($json.valueRanges || []);\nconst paraObjetos = (idx) => {\n  const v = (vr[idx] && vr[idx].values) || [];\n  if (v.length < 2) return [];\n  const h = v[0].map(String);\n  return v.slice(1).map((linha) => {\n    const o = {};\n    h.forEach((c, j) => { o[c] = linha[j] !== undefined ? linha[j] : ''; });\n    return o;\n  });\n};\nconst mesVigente = (iso) => { const [y, m] = iso.split('-'); return m + '/' + y; };\nconst mesAnterior = (iso) => { let [y, m] = iso.split('-').map(Number); m -= 1;\n  if (m === 0) { m = 12; y -= 1; } return String(m).padStart(2, '0') + '/' + y; };\nconst cfgDict = (rows) => { const o = {}; for (const r of rows) o[r.chave] = r.valor; return o; };\nconst urlPlanilha = 'https://docs.google.com/spreadsheets/d/' + $env.GOOGLE_SHEETS_ID + '/edit';\nlet hoje = '';\ntry { const h = String($('Início').first().json.hoje || '');\n  if (/^\\d{4}-\\d{2}-\\d{2}$/.test(h)) hoje = h; } catch (e) {}\nif (!hoje) hoje = new Date().toLocaleDateString('en-CA', { timeZone: 'America/Sao_Paulo' });\nconst lanc = paraObjetos(0), fixas = paraObjetos(1), sal = paraObjetos(2), cfg = cfgDict(paraObjetos(3));\nconst mes = mesVigente(hoje);\nconst { texto } = montarRelatorio({ lancamentos: lanc, contasFixas: fixas, salarios: sal, config: cfg },\n  { mesGastos: mes, mesFixos: mes, urlPlanilha });\nreturn [{ json: { texto } }];"
      },
      "id": "finrelatso-03"
    },
    {
      "name": "Enviar Relatório",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        0
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $env.TELEGRAM_CHAT_ID, text: $json.texto, parse_mode: 'HTML', disable_web_page_preview: true }) }}",
        "options": {}
      },
      "id": "finrelatso-04"
    }
  ],
  "connections": {
    "Início": {
      "main": [
        [
          {
            "node": "Ler Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler Dados": {
      "main": [
        [
          {
            "node": "Montar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar": {
      "main": [
        [
          {
            "node": "Enviar Relatório",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
