workflows/relatorio-mensal.json
{
  "id": "FinRelatMensal01",
  "name": "relatorio-mensal",
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "nodes": [
    {
      "name": "Cron Mensal",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 1 * *"
            }
          ]
        }
      },
      "id": "finrelatme-01"
    },
    {
      "name": "Ler Dados",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        0
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "method": "GET",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $env.GOOGLE_SHEETS_ID }}/values:batchGet?ranges='Lan%C3%A7amentos'!A%3AJ&ranges='Contas%20Fixas'!A%3AD&ranges='Sal%C3%A1rios'!A%3AB&ranges='Config'!A%3AB&ranges='Log'!A%3AF&valueRenderOption=UNFORMATTED_VALUE",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "FinSheetsSA00001",
          "name": "Google Sheets SA"
        }
      },
      "id": "finrelatme-02"
    },
    {
      "name": "Montar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "parameters": {
        "jsCode": "// Rateio proporcional ao salário — lógica pura do dashboard da reunião familiar.\n// TDD em rateio.test.js. Módulo Node consumido pelo runner (não é Code node n8n).\n// Implementa gstack/specs/dashboard-reuniao-familiar.md.\n\n/** Remove acento e caixa para comparar categorias/nomes (Deposito ~ Depósito). */\nfunction normalizar(s) {\n  return String(s == null ? \"\" : s)\n    .normalize(\"NFD\").replace(/[̀-ͯ]/g, \"\").trim().toLowerCase();\n}\n\nconst arred = (n) => Math.round(n * 100) / 100;\n\n/** salarios: {pessoa: salario} ou [{pessoa, salario}] → {pessoa: proporção}. */\nfunction proporcoes(salarios) {\n  const pares = Array.isArray(salarios)\n    ? salarios.map((s) => [s.pessoa, Number(s.salario)])\n    : Object.entries(salarios).map(([p, v]) => [p, Number(v)]);\n  const total = pares.reduce((s, [, v]) => s + v, 0);\n  if (!(total > 0)) throw new Error(\"soma dos salários deve ser > 0 (configurar aba Salários)\");\n  const out = {};\n  for (const [p, v] of pares) out[p] = v / total;\n  return out;\n}\n\n/** \"DD/MM/YYYY\" → \"MM/YYYY\" | null. */\nfunction mesDe(ddmmyyyy) {\n  const m = /^\\d{2}\\/(\\d{2})\\/(\\d{4})$/.exec(String(ddmmyyyy).trim());\n  return m ? `${m[1]}/${m[2]}` : null;\n}\n\n/**\n * Rateio do mês (`mes` = \"MM/YYYY\"). Cota = despesas confirmadas do mês ×\n * proporção; pago = depósitos \"Deposito {pessoa}\" do mês; saldo = pago − cota;\n * acerto = cota − pago (positivo = a pessoa deve esse valor da sua parte).\n * @returns {{mes, totalDespesas, proporcoes, cota, pago, saldo, acerto}}\n */\nfunction rateioMes(lancamentos, salarios, mes) {\n  const prop = proporcoes(salarios);\n  const doMes = lancamentos.filter((l) => mesDe(l.data_competencia) === mes);\n  const totalDespesas = arred(\n    doMes.filter((l) => l.tipo === \"saída\" && l.status === \"confirmado\")\n      .reduce((s, l) => s + Number(l.valor), 0));\n\n  const cota = {}, pago = {}, saldo = {}, acerto = {};\n  for (const p of Object.keys(prop)) {\n    cota[p] = arred(totalDespesas * prop[p]);\n    const alvo = normalizar(`deposito ${p}`);\n    pago[p] = arred(\n      doMes.filter((l) => l.tipo === \"entrada\" && normalizar(l.categoria) === alvo)\n        .reduce((s, l) => s + Number(l.valor), 0));\n    saldo[p] = arred(pago[p] - cota[p]);\n    acerto[p] = arred(cota[p] - pago[p]);\n  }\n  return { mes, totalDespesas, proporcoes: prop, cota, pago, saldo, acerto };\n}\n\n\n// Agregações do dashboard da reunião familiar — lógica pura. TDD em dashboard.test.js.\n// Módulo Node consumido pelo runner (não é Code node n8n).\n// Implementa gstack/specs/dashboard-reuniao-familiar.md.\n\n/** Saídas confirmadas do mês agrupadas por categoria, ordenadas desc. */\nfunction gastosPorCategoria(lancamentos, mes) {\n  const acc = new Map();\n  for (const l of lancamentos) {\n    if (l.tipo !== \"saída\" || l.status !== \"confirmado\" || mesDe(l.data_competencia) !== mes) continue;\n    acc.set(l.categoria, (acc.get(l.categoria) || 0) + Number(l.valor));\n  }\n  return [...acc.entries()]\n    .map(([categoria, total]) => ({ categoria, total: arred(total) }))\n    .sort((a, b) => b.total - a.total);\n}\n\n/** Totais confirmados do mês: saídas, entradas, saldo. */\nfunction totaisMes(lancamentos, mes) {\n  const soma = (tipo) => arred(lancamentos\n    .filter((l) => l.tipo === tipo && l.status === \"confirmado\" && mesDe(l.data_competencia) === mes)\n    .reduce((s, l) => s + Number(l.valor), 0));\n  const saidas = soma(\"saída\");\n  const entradas = soma(\"entrada\");\n  return { saidas, entradas, saldo: arred(entradas - saidas) };\n}\n\n/**\n * Previsão do próximo mês (`mes` = \"MM/YYYY\"): parcelas já lançadas (saídas\n * previstas do mês) + projeção das contas fixas ativas cuja categoria ainda NÃO\n * aparece no mês. Depósitos previstos = total × proporção (regra do Marcelo).\n * @param {{nome, valor_esperado, ativo}[]} contasFixas aba Contas Fixas\n * @returns {{gastos:{fixas,parcelas,total}, depositosPrevistos:{[pessoa]:number}}}\n */\nfunction previsaoProximoMes(lancamentos, contasFixas, salarios, mes) {\n  const doMes = lancamentos.filter((l) => mesDe(l.data_competencia) === mes);\n  const catsNoMes = new Set(doMes.map((l) => normalizar(l.categoria)));\n\n  const parcelas = arred(doMes\n    .filter((l) => l.tipo === \"saída\" && l.status === \"previsto\")\n    .reduce((s, l) => s + Number(l.valor), 0));\n  const fixas = arred((contasFixas || [])\n    .filter((f) => normalizar(f.ativo) === \"sim\" && !catsNoMes.has(normalizar(f.nome)))\n    .reduce((s, f) => s + Number(f.valor_esperado), 0));\n  const total = arred(fixas + parcelas);\n\n  const prop = proporcoes(salarios);\n  const depositosPrevistos = {};\n  for (const p of Object.keys(prop)) depositosPrevistos[p] = arred(total * prop[p]);\n\n  return { gastos: { fixas, parcelas, total }, depositosPrevistos };\n}\n\n\n// Relatório mensal financeiro (Telegram) — lógica pura. TDD em relatorio.test.js.\n// Implementa gstack/plans/relatorio-mensal.md. Reusa dashboard.js e rateio.js (DRY).\n\n\nconst MESES = [\"janeiro\", \"fevereiro\", \"março\", \"abril\", \"maio\", \"junho\",\n  \"julho\", \"agosto\", \"setembro\", \"outubro\", \"novembro\", \"dezembro\"];\n\n/** \"MM/YYYY\" → \"março/2025\" (fallback ao próprio valor). */\nfunction nomeMes(mes) {\n  const m = /^(\\d{2})\\/(\\d{4})$/.exec(String(mes));\n  return m ? `${MESES[Number(m[1]) - 1] || m[1]}/${m[2]}` : String(mes);\n}\n\n/** Moeda BR: 1253 → \"R$ 1.253,00\" (sempre módulo; sinal tratado pelo chamador). */\nfunction brl(n) {\n  const [int, dec] = Math.abs(arred(Number(n))).toFixed(2).split(\".\");\n  return `R$ ${int.replace(/\\B(?=(\\d{3})+(?!\\d))/g, \".\")},${dec}`;\n}\n\n/** Escapa para parse_mode HTML do Telegram. */\nfunction esc(s) {\n  return String(s == null ? \"\" : s)\n    .replace(/&/g, \"&amp;\").replace(/</g, \"&lt;\").replace(/>/g, \"&gt;\");\n}\n\n/**\n * Contas fixas a pagar no mês vigente (`mesFixos` = \"MM/YYYY\"), com datas de\n * vencimento. Mensais: 1 linha cada (ordenada por dia). Empregada (semanal):\n * agrupada em 1 linha \"sextas\". Fatura do cartão: Σ origem=\"cartao\" cuja\n * data_competencia (= vencimento) cai no mês; vencimento = Config.cartao_vencimento_dia.\n * @returns {{linhas: {nome,valor,vencimento,obs?}[], subtotal: number}}\n */\nfunction contasFixasDoMes(contasFixas, lancamentos, config, mesFixos) {\n  const linhas = [];\n  for (const f of contasFixas || []) {\n    if (normalizar(f.ativo) !== \"sim\") continue;\n    const dia = Number(f.dia_vencimento);\n    const numerico = Number.isFinite(dia) && String(f.dia_vencimento).trim() !== \"\";\n    linhas.push({\n      nome: f.nome,\n      valor: arred(Number(f.valor_esperado)),\n      vencimento: numerico ? `dia ${dia}` : \"sextas\",\n      _dia: numerico ? dia : Infinity,\n    });\n  }\n\n  const diaCartao = Number((config || {}).cartao_vencimento_dia) || 10;\n  const fatura = arred((lancamentos || [])\n    .filter((l) => normalizar(l.origem) === \"cartao\" && mesDe(l.data_competencia) === mesFixos)\n    .reduce((s, l) => s + Number(l.valor), 0));\n  const cartao = { nome: \"Cartão C6\", valor: fatura, vencimento: `dia ${diaCartao}`, _dia: diaCartao };\n  if (fatura === 0) cartao.obs = \"fatura ainda não importada\";\n  linhas.push(cartao);\n\n  linhas.sort((a, b) => a._dia - b._dia);\n  const subtotal = arred(linhas.reduce((s, l) => s + l.valor, 0));\n  for (const l of linhas) delete l._dia;\n  return { linhas, subtotal };\n}\n\n/** Idempotência do cron: false se já existe `relatorio_enviado` desse mesGastos. */\nfunction deveEnviarCron(logs, mesGastos) {\n  return !(logs || []).some(\n    (l) => l.acao === \"relatorio_enviado\" && String(l.valor_anterior) === mesGastos);\n}\n\n/**\n * Monta o texto HTML do relatório.\n * @param {{lancamentos, contasFixas, salarios, config}} dados\n * @param {{mesGastos, mesFixos, urlPlanilha}} opts\n * @returns {{texto: string}}\n */\nfunction montarRelatorio(dados, opts) {\n  const { lancamentos, contasFixas, salarios, config } = dados;\n  const { mesGastos, mesFixos, urlPlanilha } = opts;\n  const L = [];\n\n  const tot = totaisMes(lancamentos, mesGastos);\n  L.push(`📊 <b>Relatório — ${esc(nomeMes(mesGastos))}</b>`, \"\");\n  L.push(\"<b>Gastos do mês</b>\");\n  L.push(`Saídas: ${brl(tot.saidas)}`);\n  L.push(`Entradas: ${brl(tot.entradas)}`);\n  L.push(`Saldo: ${brl(tot.saldo)}${tot.saldo < 0 ? \" (negativo)\" : \"\"}`);\n\n  const cats = gastosPorCategoria(lancamentos, mesGastos);\n  if (cats.length) {\n    L.push(\"\", \"<b>Por categoria</b>\");\n    for (const c of cats.slice(0, 5)) L.push(`• ${esc(c.categoria)}: ${brl(c.total)}`);\n    const resto = arred(cats.slice(5).reduce((s, c) => s + c.total, 0));\n    if (resto > 0) L.push(`• Outras: ${brl(resto)}`);\n  }\n\n  L.push(\"\", \"<b>Rateio</b>\");\n  try {\n    const r = rateioMes(lancamentos, salarios, mesGastos);\n    for (const p of Object.keys(r.acerto)) {\n      const a = r.acerto[p];\n      const txt = a > 0 ? `deve ${brl(a)}` : a < 0 ? `crédito ${brl(a)}` : \"quitado\";\n      L.push(`• ${esc(p)}: ${txt}`);\n    }\n  } catch (e) {\n    L.push(\"⚠️ rateio indisponível (configure a aba Salários)\");\n  }\n\n  const fix = contasFixasDoMes(contasFixas, lancamentos, config, mesFixos);\n  L.push(\"\", `<b>Contas fixas — ${esc(nomeMes(mesFixos))}</b>`);\n  for (const l of fix.linhas) {\n    const obs = l.obs ? ` (${esc(l.obs)})` : \"\";\n    L.push(`• ${esc(l.nome)} — ${brl(l.valor)} — ${esc(l.vencimento)}${obs}`);\n  }\n  L.push(`Subtotal: ${brl(fix.subtotal)}`);\n\n  if (urlPlanilha) L.push(\"\", `🔗 <a href=\"${esc(urlPlanilha)}\">Dashboard</a>`);\n\n  return { texto: L.join(\"\\n\") };\n}\n\n\n\n// ── Glue (cron): fecha o mês anterior; contas fixas do mês vigente ──\nconst vr = ($json.valueRanges || []);\nconst paraObjetos = (idx) => {\n  const v = (vr[idx] && vr[idx].values) || [];\n  if (v.length < 2) return [];\n  const h = v[0].map(String);\n  return v.slice(1).map((linha) => {\n    const o = {};\n    h.forEach((c, j) => { o[c] = linha[j] !== undefined ? linha[j] : ''; });\n    return o;\n  });\n};\nconst mesVigente = (iso) => { const [y, m] = iso.split('-'); return m + '/' + y; };\nconst mesAnterior = (iso) => { let [y, m] = iso.split('-').map(Number); m -= 1;\n  if (m === 0) { m = 12; y -= 1; } return String(m).padStart(2, '0') + '/' + y; };\nconst cfgDict = (rows) => { const o = {}; for (const r of rows) o[r.chave] = r.valor; return o; };\nconst urlPlanilha = 'https://docs.google.com/spreadsheets/d/' + $env.GOOGLE_SHEETS_ID + '/edit';\nconst hoje = new Date().toLocaleDateString('en-CA', { timeZone: 'America/Sao_Paulo' });\nconst lanc = paraObjetos(0), fixas = paraObjetos(1), sal = paraObjetos(2), cfg = cfgDict(paraObjetos(3));\nconst logs = paraObjetos(4);\nconst mesGastos = mesAnterior(hoje), mesFixos = mesVigente(hoje);\nif (!deveEnviarCron(logs, mesGastos)) return []; // já enviou este mês → no-op\nconst { texto } = montarRelatorio({ lancamentos: lanc, contasFixas: fixas, salarios: sal, config: cfg },\n  { mesGastos, mesFixos, urlPlanilha });\nreturn [{ json: { texto, log: { timestamp: new Date().toISOString(),\n  acao: 'relatorio_enviado', entidade: 'Relatorio', valor_anterior: mesGastos,\n  valor_novo: '', origem: 'relatorio-mensal' } } }];"
      },
      "id": "finrelatme-03"
    },
    {
      "name": "Enviar Relatório",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        0
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $env.TELEGRAM_CHAT_ID, text: $json.texto, parse_mode: 'HTML', disable_web_page_preview: true }) }}",
        "options": {}
      },
      "id": "finrelatme-04"
    },
    {
      "name": "Linha Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        0
      ],
      "parameters": {
        "jsCode": "const envios = $input.all();\nreturn $('Montar').all()\n  .filter((i, idx) => !(envios[idx] && envios[idx].json && envios[idx].json.error))\n  .map((i) => ({ json: i.json.log }));"
      },
      "id": "finrelatme-05"
    },
    {
      "name": "Gravar Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1000,
        0
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Log"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": []
        },
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "FinSheetsSA00001",
          "name": "Google Sheets SA"
        }
      },
      "id": "finrelatme-06"
    }
  ],
  "connections": {
    "Cron Mensal": {
      "main": [
        [
          {
            "node": "Ler Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler Dados": {
      "main": [
        [
          {
            "node": "Montar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar": {
      "main": [
        [
          {
            "node": "Enviar Relatório",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Relatório": {
      "main": [
        [
          {
            "node": "Linha Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linha Log": {
      "main": [
        [
          {
            "node": "Gravar Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
