workflows/responder-lembrete.json
{
  "id": "FinRespLembre001",
  "name": "responder-lembrete",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "nodes": [
    {
      "name": "Início",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "inputSource": "workflowInputs",
        "workflowInputs": {
          "values": [
            {
              "name": "callback_id",
              "type": "string"
            },
            {
              "name": "data",
              "type": "string"
            },
            {
              "name": "chat_id",
              "type": "string"
            },
            {
              "name": "message_id",
              "type": "string"
            }
          ]
        }
      },
      "id": "finresplem-01"
    },
    {
      "name": "Ler Dados",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        0
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "method": "GET",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $env.GOOGLE_SHEETS_ID }}/values:batchGet?ranges='Log'!A%3AF&valueRenderOption=UNFORMATTED_VALUE",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "FinSheetsSA00001",
          "name": "Google Sheets SA"
        }
      },
      "id": "finresplem-02"
    },
    {
      "name": "Processar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "parameters": {
        "jsCode": "// Lógica pura dos lembretes agendados — decide quem lembrar hoje a partir das\n// abas Contas Fixas e Log (estado append-only), monta mensagem/teclado e\n// interpreta callbacks pg|/np|. Implementa gstack/plans/lembretes-agendados.md.\n// \"hoje\" SEMPRE entra como parâmetro YYYY-MM-DD (timezone resolvida no glue).\n\nfunction dataUTC(iso) {\n  return new Date(`${iso}T00:00:00Z`);\n}\n\nfunction isoDe(d) {\n  return d.toISOString().slice(0, 10);\n}\n\nfunction diasNoMes(ano, mes1a12) {\n  return new Date(Date.UTC(ano, mes1a12, 0)).getUTCDate();\n}\n\n/** Dia de vencimento efetivo no mês (dia 30 em fevereiro → último dia). */\nfunction vencimentoNoMes(dia, ano, mes1a12) {\n  return Math.min(dia, diasNoMes(ano, mes1a12));\n}\n\nfunction temLog(logs, acao, chave, dia) {\n  return logs.some(\n    (l) =>\n      l.acao === acao &&\n      String(l.valor_anterior) === chave &&\n      (dia === undefined || String(l.valor_novo).split(\"|\")[1] === dia)\n  );\n}\n\n/**\n * Decide os lembretes do dia e as contas inválidas a notificar.\n * @param {Array<{nome, dia_vencimento, valor_esperado, ativo}>} contas aba Contas Fixas\n * @param {Array<{acao, valor_anterior, valor_novo}>} logs aba Log\n * @param {string} hojeISO data local (America/Sao_Paulo) em YYYY-MM-DD\n * @returns {{lembretes: Array<{conta, referencia, tipo, valor, data_vencimento,\n *   pendencia_anterior}>, invalidas: Array<{conta, motivo}>}}\n */\nfunction decidirLembretes(contas, logs, hojeISO) {\n  const hoje = dataUTC(hojeISO);\n  const amanha = new Date(hoje.getTime() + 86400000);\n  const lembretes = [];\n  const invalidas = [];\n\n  for (const c of contas) {\n    if (String(c.ativo).trim().toLowerCase() !== \"sim\") continue;\n    const nome = String(c.nome || \"\").trim();\n    const valor = Number(c.valor_esperado);\n    const diaVenc = String(c.dia_vencimento).trim().toLowerCase();\n\n    let motivo = null;\n    if (nome.includes(\"|\")) motivo = \"nome contém '|' (quebraria o teclado)\";\n    // pior caso de callback_data: np|<nome>|2024-07-05 — limite Telegram 64 bytes\n    else if (Buffer.byteLength(`np|${nome}|2024-07-05`, \"utf-8\") > 64) {\n      motivo = \"nome longo demais para o teclado (limite de 64 bytes do Telegram)\";\n    } else if (diaVenc !== \"sexta-feira\") {\n      const dia = Number(diaVenc);\n      if (!Number.isInteger(dia) || dia < 1 || dia > 31) {\n        motivo = `dia_vencimento inválido: \"${c.dia_vencimento}\"`;\n      }\n    }\n    if (motivo) {\n      if (!temLog(logs, \"lembrete_erro\", `${nome}|invalida`)) invalidas.push({ conta: nome, motivo });\n      continue;\n    }\n\n    let lembrete = null;\n    if (diaVenc === \"sexta-feira\") {\n      if (hoje.getUTCDay() === 5) {\n        const sextaAnterior = isoDe(new Date(hoje.getTime() - 7 * 86400000));\n        const pendente =\n          temLog(logs, \"lembrete_enviado\", `${nome}|${sextaAnterior}`) &&\n          !temLog(logs, \"pagamento_confirmado\", `${nome}|${sextaAnterior}`);\n        lembrete = {\n          conta: nome,\n          referencia: hojeISO,\n          tipo: \"semanal\",\n          valor,\n          data_vencimento: hojeISO,\n          pendencia_anterior: pendente ? sextaAnterior : null,\n        };\n      }\n    } else {\n      const dia = Number(diaVenc);\n      // D0: hoje é o vencimento efetivo deste mês\n      if (hoje.getUTCDate() === vencimentoNoMes(dia, hoje.getUTCFullYear(), hoje.getUTCMonth() + 1)) {\n        lembrete = { tipo: \"D0\", venc: hoje };\n      }\n      // D-1: amanhã é o vencimento efetivo (referência = mês do VENCIMENTO)\n      else if (\n        amanha.getUTCDate() === vencimentoNoMes(dia, amanha.getUTCFullYear(), amanha.getUTCMonth() + 1)\n      ) {\n        lembrete = { tipo: \"D-1\", venc: amanha };\n      }\n      if (lembrete) {\n        lembrete = {\n          conta: nome,\n          referencia: isoDe(lembrete.venc).slice(0, 7),\n          tipo: lembrete.tipo,\n          valor,\n          data_vencimento: isoDe(lembrete.venc),\n          pendencia_anterior: null,\n        };\n      }\n    }\n    if (!lembrete) continue;\n\n    const chave = `${nome}|${lembrete.referencia}`;\n    if (temLog(logs, \"pagamento_confirmado\", chave)) continue; // já pago no período\n    if (temLog(logs, \"lembrete_enviado\", chave, hojeISO)) continue; // idempotência: já enviado hoje\n    lembretes.push(lembrete);\n  }\n\n  return { lembretes, invalidas };\n}\n\nfunction formatarReal(n) {\n  const [int, dec] = Number(n).toFixed(2).split(\".\");\n  return `R$ ${int.replace(/\\B(?=(\\d{3})+(?!\\d))/g, \".\")},${dec}`;\n}\n\nfunction ddmm(iso) {\n  return `${iso.slice(8, 10)}/${iso.slice(5, 7)}`;\n}\n\n/** Texto do lembrete: conta, valor esperado, quando vence e pendência (semanal). */\nfunction montarMensagemLembrete(l) {\n  const valor = formatarReal(l.valor);\n  let texto;\n  if (l.tipo === \"D-1\") texto = `⏰ ${l.conta} — ${valor} vence amanhã (${ddmm(l.data_vencimento)}).`;\n  else if (l.tipo === \"D0\") texto = `‼️ ${l.conta} — ${valor} vence HOJE (${ddmm(l.data_vencimento)}).`;\n  else {\n    texto = `💼 ${l.conta} — ${valor} (sexta, ${ddmm(l.data_vencimento)}).`;\n    if (l.pendencia_anterior) {\n      texto += `\\n⚠️ A sexta passada (${ddmm(l.pendencia_anterior)}) ficou pendente.`;\n    }\n  }\n  return `${texto}\\nJá pagou?`;\n}\n\n/** Teclado ✅/⏰ com callback pg|/np|. Lança se exceder 64 bytes (limite Telegram). */\nfunction montarTecladoLembrete(l) {\n  const botoes = [\n    { text: \"✅ Paguei\", callback_data: `pg|${l.conta}|${l.referencia}` },\n    { text: \"⏰ Ainda não\", callback_data: `np|${l.conta}|${l.referencia}` },\n  ];\n  for (const b of botoes) {\n    if (Buffer.byteLength(b.callback_data, \"utf-8\") > 64) {\n      throw new Error(`callback_data excede 64 bytes: ${b.callback_data}`);\n    }\n  }\n  return { inline_keyboard: [botoes] };\n}\n\n/** Parse do callback_data pg|/np|. Inválido/desconhecido → null. */\nfunction parsearCallbackLembrete(data) {\n  const m = /^(pg|np)\\|([^|]+)\\|(.+)$/.exec(String(data || \"\"));\n  if (!m) return null;\n  return { acao: m[1], conta: m[2], referencia: m[3] };\n}\n\n\n// ── Glue: valida o callback e decide gravar/recusar ──\nconst vr = ($json.valueRanges || []);\nconst paraObjetos = (idx) => {\n  const v = (vr[idx] && vr[idx].values) || [];\n  if (v.length < 2) return [];\n  const h = v[0].map(String);\n  return v.slice(1).map((linha, i) => {\n    const o = {};\n    h.forEach((c, j) => { o[c] = linha[j] !== undefined ? linha[j] : ''; });\n    o._row = i + 2;\n    return o;\n  });\n};\nconst entrada = $('Início').first().json;\nconst cb = parsearCallbackLembrete(entrada.data);\nif (!cb) return [{ json: { acao: 'recusar', aviso: 'Botão inválido ou expirado.' } }];\nconst logs = paraObjetos(0);\nconst chave = cb.conta + '|' + cb.referencia;\nconst tem = (acao) => logs.some((l) => l.acao === acao && String(l.valor_anterior) === chave);\n// pagamento_confirmado é terminal; ⏰ repetido também recusa. ✅ depois de ⏰ é\n// progressão legítima (adiou e pagou depois) e passa.\nif (tem('pagamento_confirmado')) return [{ json: { acao: 'recusar', aviso: 'Já registrado: pagamento confirmado.' } }];\nif (cb.acao === 'np' && tem('pagamento_adiado')) return [{ json: { acao: 'recusar', aviso: 'Já registrado: fica para depois.' } }];\nconst pg = cb.acao === 'pg';\nreturn [{ json: { acao: 'gravar',\n  log: { timestamp: new Date().toISOString(),\n    acao: pg ? 'pagamento_confirmado' : 'pagamento_adiado', entidade: 'Contas Fixas',\n    valor_anterior: chave, valor_novo: '', origem: 'responder-lembrete' },\n  ack: pg ? '✅ Pagamento registrado' : '⏰ Anotado',\n  texto_edit: pg\n    ? '✅ ' + cb.conta + ' (' + cb.referencia + ') — pagamento confirmado. O CSV reconcilia o valor real depois.'\n    : '⏰ ' + cb.conta + ' (' + cb.referencia + ') — fica para depois. Lembro de novo no vencimento.' } }];"
      },
      "id": "finresplem-03"
    },
    {
      "name": "Gravar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        600,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.acao }}",
              "rightValue": "gravar",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "finresplem-04"
    },
    {
      "name": "Linha Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        -100
      ],
      "parameters": {
        "jsCode": "return [{ json: $('Processar').first().json.log }];"
      },
      "id": "finresplem-05"
    },
    {
      "name": "Gravar Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1000,
        -100
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEETS_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Log"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": []
        },
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "FinSheetsSA00001",
          "name": "Google Sheets SA"
        }
      },
      "id": "finresplem-06"
    },
    {
      "name": "Confirmar Callback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        -100
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/answerCallbackQuery",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ callback_query_id: $('Início').first().json.callback_id, text: $('Processar').first().json.ack }) }}",
        "options": {}
      },
      "id": "finresplem-07"
    },
    {
      "name": "Editar Mensagem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        -100
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/editMessageText",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $('Início').first().json.chat_id, message_id: Number($('Início').first().json.message_id), text: $('Processar').first().json.texto_edit }) }}",
        "options": {}
      },
      "id": "finresplem-08"
    },
    {
      "name": "Recusar Callback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        150
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/answerCallbackQuery",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ callback_query_id: $('Início').first().json.callback_id, text: $json.aviso, show_alert: true }) }}",
        "options": {}
      },
      "id": "finresplem-09"
    }
  ],
  "connections": {
    "Início": {
      "main": [
        [
          {
            "node": "Ler Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler Dados": {
      "main": [
        [
          {
            "node": "Processar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar": {
      "main": [
        [
          {
            "node": "Gravar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gravar?": {
      "main": [
        [
          {
            "node": "Linha Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Recusar Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linha Log": {
      "main": [
        [
          {
            "node": "Gravar Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gravar Log": {
      "main": [
        [
          {
            "node": "Confirmar Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmar Callback": {
      "main": [
        [
          {
            "node": "Editar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
