workflows/roteador-central.json
{
  "id": "FinRoteador00001",
  "name": "roteador-central",
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "nodes": [
    {
      "name": "Webhook Telegram",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "f1aacea1-0003-4000-8000-financeiro03",
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-bot",
        "options": {}
      },
      "id": "fin-rot-01"
    },
    {
      "name": "Classificar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ],
      "parameters": {
        "jsCode": "// Lógica pura do roteador-central — classificação de updates do Telegram e\r\n// detecção de tipo de CSV. Implementa gstack/plans/roteador-central.md.\r\n\r\nconst RESPOSTAS = {\r\n  boasVindas:\r\n    \"👋 Bot Financeiro ativo!\\n\" +\r\n    \"Envie o ZIP/CSV do extrato ou da fatura do C6 que eu processo.\\n\" +\r\n    \"Comandos: /categorizar, /relatorio, /dashboard, /metas, /novameta, \" +\r\n    \"/faturaaberta, /seedparcelas.\",\r\n  emConstrucao: (oque) => `🚧 ${oque} em construção — chega nas próximas fases.`,\r\n  comandoDesconhecido: \"Comando não reconhecido. Use /start para ver as opções.\",\r\n  pdf: \"🚧 Ingestão de PDF em construção — chega nas próximas fases.\",\r\n  formatoNaoSuportado:\r\n    \"Formato não suportado. Envie um .zip (extrato/fatura C6) ou .csv.\",\r\n};\r\n\r\n/**\r\n * Classifica um update do Telegram.\r\n * @param {object} update update JSON do Telegram (body do webhook)\r\n * @param {{chatId: string, secret: string, headerSecret: string}} ctx\r\n *   chatId esperado (TELEGRAM_CHAT_ID); secret esperado (TELEGRAM_WEBHOOK_SECRET,\r\n *   vazio desliga o check); headerSecret = X-Telegram-Bot-Api-Secret-Token recebido\r\n * @returns {{rota: \"ignorar\"|\"responder\"|\"documento\", resposta?: string,\r\n *   file_id?: string, file_name?: string, tipo_arquivo?: \"zip\"|\"csv\"}}\r\n */\r\nfunction classificarUpdate(update, ctx) {\r\n  const { chatId, secret, headerSecret } = ctx;\r\n  if (secret && headerSecret !== secret) return { rota: \"ignorar\" };\r\n\r\n  // Callback de teclado inline (categorização — item 6; lembretes — item 7).\r\n  // Segurança: valida o REMETENTE do clique; prefixo desconhecido → ignorar.\r\n  // O destino fica na lógica pura para o glue só despachar, sem Switch por regex.\r\n  const cq = update && update.callback_query;\r\n  if (cq) {\r\n    if (String((cq.from || {}).id) !== String(chatId)) return { rota: \"ignorar\" };\r\n    const prefixo = (/^(cat|meta|pg|np|gmnova|gmenc|gmok)\\|/.exec(String(cq.data || \"\")) || [])[1];\r\n    if (!prefixo) return { rota: \"ignorar\" };\r\n    let destino;\r\n    if (prefixo === \"pg\" || prefixo === \"np\") destino = \"responder-lembrete\";\r\n    else if (prefixo === \"gmnova\" || prefixo === \"gmenc\" || prefixo === \"gmok\") destino = \"gerenciar-metas\";\r\n    else destino = \"aplicar-categoria\"; // cat| e meta| (associação lançamento→meta da categorização)\r\n    return {\r\n      rota: \"callback\",\r\n      destino,\r\n      callback_id: cq.id,\r\n      data: cq.data,\r\n      chat_id: cq.message && cq.message.chat ? cq.message.chat.id : \"\",\r\n      message_id: cq.message ? cq.message.message_id : \"\",\r\n    };\r\n  }\r\n\r\n  const msg = update && update.message;\r\n  if (!msg || !msg.chat) return { rota: \"ignorar\" }; // edited_message etc.\r\n  if (String(msg.chat.id) !== String(chatId)) return { rota: \"ignorar\" };\r\n\r\n  if (msg.document) {\r\n    const nome = String(msg.document.file_name || \"\");\r\n    const ext = (/\\.([a-z0-9]+)$/i.exec(nome) || [, \"\"])[1].toLowerCase();\r\n    if (ext === \"zip\" || ext === \"csv\") {\r\n      return {\r\n        rota: \"documento\",\r\n        file_id: msg.document.file_id,\r\n        file_name: nome,\r\n        tipo_arquivo: ext,\r\n      };\r\n    }\r\n    if (ext === \"pdf\") return { rota: \"responder\", resposta: RESPOSTAS.pdf };\r\n    return { rota: \"responder\", resposta: RESPOSTAS.formatoNaoSuportado };\r\n  }\r\n\r\n  if (typeof msg.text === \"string\" && msg.text.trim() !== \"\") {\r\n    const texto = msg.text.trim();\r\n    if (texto.startsWith(\"/\")) {\r\n      const cmd = texto.split(/[\\s@]/)[0].toLowerCase();\r\n      if (cmd === \"/start\") return { rota: \"responder\", resposta: RESPOSTAS.boasVindas };\r\n      if (cmd === \"/categorizar\") return { rota: \"categorizar\" };\r\n      if (cmd === \"/relatorio\") return { rota: \"relatorio\" };\r\n      if (cmd === \"/dashboard\") return { rota: \"dashboard\" };\r\n      if (cmd === \"/metas\") return { rota: \"metas\" };\r\n      if (cmd === \"/novameta\") return { rota: \"nova-meta\", texto };\r\n      if (cmd === \"/faturaaberta\") return { rota: \"fatura-aberta\", texto };\r\n      if (cmd === \"/seedparcelas\") return { rota: \"seed-parcelas\", texto };\r\n      return { rota: \"responder\", resposta: RESPOSTAS.comandoDesconhecido };\r\n    }\r\n    return {\r\n      rota: \"responder\",\r\n      resposta: RESPOSTAS.emConstrucao(\"Entendimento de linguagem natural\"),\r\n    };\r\n  }\r\n\r\n  return { rota: \"ignorar\" }; // foto, sticker, voz etc.\r\n}\r\n\r\n/**\r\n * Detecta o tipo de um CSV do C6 pelo CONTEÚDO (nome de arquivo não discrimina).\r\n * Remove BOM antes do match — o extrato real começa com EF BB BF.\r\n * @param {string} texto conteúdo do CSV\r\n * @returns {\"cartao\"|\"conta\"|\"desconhecido\"}\r\n */\r\nfunction detectarTipoCsv(texto) {\r\n  const t = String(texto || \"\").replace(/^﻿/, \"\").replace(/^\\s+/, \"\");\r\n  if (t.startsWith(\"Data de Compra;\")) return \"cartao\";\r\n  if (t.startsWith(\"EXTRATO DE CONTA CORRENTE\")) return \"conta\";\r\n  return \"desconhecido\";\r\n}\r\n\r\n\n// ── Glue: classifica o update recebido pelo webhook ──\nconst r = classificarUpdate($json.body || {}, {\n  chatId: $env.TELEGRAM_CHAT_ID || '',\n  secret: $env.TELEGRAM_WEBHOOK_SECRET || '',\n  headerSecret: String(($json.headers || {})['x-telegram-bot-api-secret-token'] || ''),\n});\nreturn [{ json: r }];"
      },
      "id": "fin-rot-02"
    },
    {
      "name": "É Documento?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.rota }}",
              "rightValue": "documento",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "fin-rot-03"
    },
    {
      "name": "Deve Responder?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        200
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.rota }}",
              "rightValue": "responder",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "fin-rot-04"
    },
    {
      "name": "Responder",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        600,
        200
      ],
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.resposta }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "FinTelegramBot01",
          "name": "Telegram Bot"
        }
      },
      "id": "fin-rot-05"
    },
    {
      "name": "Ignorar",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        600,
        320
      ],
      "parameters": {},
      "id": "fin-rot-06"
    },
    {
      "name": "É ZIP?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        600,
        -100
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.tipo_arquivo }}",
              "rightValue": "zip",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "fin-rot-07"
    },
    {
      "name": "Baixar ZIP",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        800,
        -200
      ],
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Classificar').first().json.file_id }}",
        "download": true
      },
      "credentials": {
        "telegramApi": {
          "id": "FinTelegramBot01",
          "name": "Telegram Bot"
        }
      },
      "id": "fin-rot-08"
    },
    {
      "name": "Extrair ZIP",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        -200
      ],
      "parameters": {
        "jsCode": "// Grava o ZIP baixado com nome FIXO, extrai com 7z (execFile, sem shell),\n// lê os CSVs e limpa o temporário no sucesso E no erro.\nconst fs = require('fs');\nconst path = require('path');\nconst { execFileSync } = require('child_process');\nconst dir = '/tmp/roteador/' + $execution.id;\nconst out = path.join(dir, 'out');\nfs.mkdirSync(out, { recursive: true });\nconst item = $input.first();\nif (!item.binary || !item.binary.data) {\n  return [{ json: { ok: false, erro: 'download sem conteúdo binário' } }];\n}\n// getBinaryDataBuffer resolve o binário independente do modo de storage (memória/filesystem)\nconst buf = await this.helpers.getBinaryDataBuffer(0, 'data');\nfs.writeFileSync(path.join(dir, 'input.zip'), buf);\nlet resultado;\ntry {\n  execFileSync('7z', ['x', '-y', '-p' + ($env.C6_ZIP_PASSWORD || ''), '-o' + out, path.join(dir, 'input.zip')], { stdio: 'pipe' });\n  const arquivos = fs.readdirSync(out).filter((f) => f.toLowerCase().endsWith('.csv'));\n  resultado = arquivos.map((f) => ({\n    json: { ok: true, csv: fs.readFileSync(path.join(out, f), 'utf-8'), nome_arquivo: f },\n  }));\n  if (resultado.length === 0) resultado = [{ json: { ok: false, erro: 'ZIP não contém arquivos CSV' } }];\n} catch (e) {\n  const detalhe = [String((e && e.message) || e).slice(0, 200),\n    e && e.stderr ? String(e.stderr).slice(0, 200) : ''].filter(Boolean).join(' | ');\n  console.log('extrair-zip falhou:', detalhe, '| senha definida:', Boolean($env.C6_ZIP_PASSWORD));\n  resultado = [{ json: { ok: false, erro: 'falha ao extrair: ' + detalhe } }];\n}\nfs.rmSync(dir, { recursive: true, force: true });\nreturn resultado;"
      },
      "id": "fin-rot-09"
    },
    {
      "name": "ZIP OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1200,
        -200
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.ok }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      },
      "id": "fin-rot-10"
    },
    {
      "name": "Avisar Erro ZIP",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1400,
        -100
      ],
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=❌ Não consegui processar o ZIP: {{ $json.erro }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "FinTelegramBot01",
          "name": "Telegram Bot"
        }
      },
      "id": "fin-rot-11"
    },
    {
      "name": "Baixar CSV",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        800,
        0
      ],
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Classificar').first().json.file_id }}",
        "download": true
      },
      "credentials": {
        "telegramApi": {
          "id": "FinTelegramBot01",
          "name": "Telegram Bot"
        }
      },
      "id": "fin-rot-12"
    },
    {
      "name": "Texto CSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        0
      ],
      "parameters": {
        "jsCode": "// Decodifica o CSV baixado do Telegram (binário → texto)\nconst item = $input.first();\nif (!item.binary || !item.binary.data) {\n  return [{ json: { csv: '', nome_arquivo: '' } }];\n}\nconst buf = await this.helpers.getBinaryDataBuffer(0, 'data');\nreturn [{ json: {\n  csv: buf.toString('utf-8'),\n  nome_arquivo: $('Classificar').first().json.file_name || 'arquivo.csv',\n} }];"
      },
      "id": "fin-rot-13"
    },
    {
      "name": "É Callback?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        350
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.rota }}",
              "rightValue": "callback",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "fin-rot-14"
    },
    {
      "name": "Lembrete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        600,
        450
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.destino }}",
              "rightValue": "responder-lembrete",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "fin-rot-15"
    },
    {
      "name": "Responder Lembrete",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        800,
        380
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "FinRespLembre001",
          "cachedResultName": "responder-lembrete"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "callback_id": "={{ $json.callback_id }}",
            "data": "={{ $json.data }}",
            "chat_id": "={{ $json.chat_id }}",
            "message_id": "={{ $json.message_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "callback_id",
              "displayName": "callback_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ]
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "fin-rot-16"
    },
    {
      "name": "Aplicar Categoria",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        800,
        520
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "FinAplicarCat001",
          "cachedResultName": "aplicar-categoria"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "callback_id": "={{ $json.callback_id }}",
            "data": "={{ $json.data }}",
            "chat_id": "={{ $json.chat_id }}",
            "message_id": "={{ $json.message_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "callback_id",
              "displayName": "callback_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ]
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "fin-rot-17"
    },
    {
      "name": "É Categorizar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        550
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.rota }}",
              "rightValue": "categorizar",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "fin-rot-18"
    },
    {
      "name": "Ack Categorizar",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        600,
        650
      ],
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "🔎 Procurando lançamentos sem categoria…",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "FinTelegramBot01",
          "name": "Telegram Bot"
        }
      },
      "id": "fin-rot-19"
    },
    {
      "name": "Rodar Categorização",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        800,
        650
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "FinCategoriza001",
          "cachedResultName": "categorizacao-hibrida"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "mode": "once",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "fin-rot-20"
    },
    {
      "name": "É Relatório?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        750
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.rota }}",
              "rightValue": "relatorio",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "fin-rot-21"
    },
    {
      "name": "Ack Relatório",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        600,
        850
      ],
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "📊 Gerando o relatório…",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "FinTelegramBot01",
          "name": "Telegram Bot"
        }
      },
      "id": "fin-rot-22"
    },
    {
      "name": "Rodar Relatório",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        800,
        850
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "FinRelatSobDem01",
          "cachedResultName": "relatorio-sob-demanda"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "mode": "once",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "fin-rot-23"
    },
    {
      "name": "É Dashboard?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        955
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.rota }}",
              "rightValue": "dashboard",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "fin-rot-24"
    },
    {
      "name": "Responder Dashboard",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        600,
        955
      ],
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=📊 Acesse o Dashboard Web aqui: {{ $env.DASHBOARD_URL || 'URL não configurada — defina DASHBOARD_URL no .env' }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "FinTelegramBot01",
          "name": "Telegram Bot"
        }
      },
      "id": "fin-rot-25"
    },
    {
      "name": "É Metas?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        1060
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.rota }}",
              "rightValue": "metas",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "fin-rot-26"
    },
    {
      "name": "Executar Metas",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        600,
        1060
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "FinGerirMetas001",
          "cachedResultName": "gerenciar-metas"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "acao": "metas"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "acao",
              "displayName": "acao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "texto",
              "displayName": "texto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "callback_id",
              "displayName": "callback_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ]
        },
        "mode": "once",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "fin-rot-27"
    },
    {
      "name": "É Nova Meta?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        1160
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.rota }}",
              "rightValue": "nova-meta",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "fin-rot-28"
    },
    {
      "name": "Executar Nova Meta",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        600,
        1160
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "FinGerirMetas001",
          "cachedResultName": "gerenciar-metas"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "acao": "nova-meta",
            "texto": "={{ $json.texto }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "acao",
              "displayName": "acao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "texto",
              "displayName": "texto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "callback_id",
              "displayName": "callback_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ]
        },
        "mode": "once",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "fin-rot-29"
    },
    {
      "name": "É Fatura Aberta?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        1260
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.rota }}",
              "rightValue": "fatura-aberta",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "fin-rot-30"
    },
    {
      "name": "Executar Fatura Aberta",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        600,
        1260
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "FinFaturaAbert01",
          "cachedResultName": "fatura-aberta"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "acao": "fatura-aberta",
            "texto": "={{ $json.texto }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "acao",
              "displayName": "acao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "texto",
              "displayName": "texto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ]
        },
        "mode": "once",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "fin-rot-31"
    },
    {
      "name": "É Seed Parcelas?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        1360
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.rota }}",
              "rightValue": "seed-parcelas",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "fin-rot-32"
    },
    {
      "name": "Executar Seed Parcelas",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        600,
        1360
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "FinFaturaAbert01",
          "cachedResultName": "fatura-aberta"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "acao": "seed-parcelas",
            "texto": "={{ $json.texto }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "acao",
              "displayName": "acao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "texto",
              "displayName": "texto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ]
        },
        "mode": "once",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "fin-rot-33"
    },
    {
      "name": "Gestão Metas?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        600,
        350
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.destino }}",
              "rightValue": "gerenciar-metas",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "fin-rot-34"
    },
    {
      "name": "Executar Gestão Metas",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        800,
        300
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "FinGerirMetas001",
          "cachedResultName": "gerenciar-metas"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "acao": "callback",
            "data": "={{ $json.data }}",
            "callback_id": "={{ $json.callback_id }}",
            "chat_id": "={{ $json.chat_id }}",
            "message_id": "={{ $json.message_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "acao",
              "displayName": "acao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "texto",
              "displayName": "texto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "callback_id",
              "displayName": "callback_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ]
        },
        "mode": "once",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "fin-rot-35"
    },
    {
      "name": "Detectar Tipo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        -200
      ],
      "parameters": {
        "jsCode": "// Lógica pura do roteador-central — classificação de updates do Telegram e\r\n// detecção de tipo de CSV. Implementa gstack/plans/roteador-central.md.\r\n\r\nconst RESPOSTAS = {\r\n  boasVindas:\r\n    \"👋 Bot Financeiro ativo!\\n\" +\r\n    \"Envie o ZIP/CSV do extrato ou da fatura do C6 que eu processo.\\n\" +\r\n    \"Comandos: /categorizar, /relatorio, /dashboard, /metas, /novameta, \" +\r\n    \"/faturaaberta, /seedparcelas.\",\r\n  emConstrucao: (oque) => `🚧 ${oque} em construção — chega nas próximas fases.`,\r\n  comandoDesconhecido: \"Comando não reconhecido. Use /start para ver as opções.\",\r\n  pdf: \"🚧 Ingestão de PDF em construção — chega nas próximas fases.\",\r\n  formatoNaoSuportado:\r\n    \"Formato não suportado. Envie um .zip (extrato/fatura C6) ou .csv.\",\r\n};\r\n\r\n/**\r\n * Classifica um update do Telegram.\r\n * @param {object} update update JSON do Telegram (body do webhook)\r\n * @param {{chatId: string, secret: string, headerSecret: string}} ctx\r\n *   chatId esperado (TELEGRAM_CHAT_ID); secret esperado (TELEGRAM_WEBHOOK_SECRET,\r\n *   vazio desliga o check); headerSecret = X-Telegram-Bot-Api-Secret-Token recebido\r\n * @returns {{rota: \"ignorar\"|\"responder\"|\"documento\", resposta?: string,\r\n *   file_id?: string, file_name?: string, tipo_arquivo?: \"zip\"|\"csv\"}}\r\n */\r\nfunction classificarUpdate(update, ctx) {\r\n  const { chatId, secret, headerSecret } = ctx;\r\n  if (secret && headerSecret !== secret) return { rota: \"ignorar\" };\r\n\r\n  // Callback de teclado inline (categorização — item 6; lembretes — item 7).\r\n  // Segurança: valida o REMETENTE do clique; prefixo desconhecido → ignorar.\r\n  // O destino fica na lógica pura para o glue só despachar, sem Switch por regex.\r\n  const cq = update && update.callback_query;\r\n  if (cq) {\r\n    if (String((cq.from || {}).id) !== String(chatId)) return { rota: \"ignorar\" };\r\n    const prefixo = (/^(cat|meta|pg|np|gmnova|gmenc|gmok)\\|/.exec(String(cq.data || \"\")) || [])[1];\r\n    if (!prefixo) return { rota: \"ignorar\" };\r\n    let destino;\r\n    if (prefixo === \"pg\" || prefixo === \"np\") destino = \"responder-lembrete\";\r\n    else if (prefixo === \"gmnova\" || prefixo === \"gmenc\" || prefixo === \"gmok\") destino = \"gerenciar-metas\";\r\n    else destino = \"aplicar-categoria\"; // cat| e meta| (associação lançamento→meta da categorização)\r\n    return {\r\n      rota: \"callback\",\r\n      destino,\r\n      callback_id: cq.id,\r\n      data: cq.data,\r\n      chat_id: cq.message && cq.message.chat ? cq.message.chat.id : \"\",\r\n      message_id: cq.message ? cq.message.message_id : \"\",\r\n    };\r\n  }\r\n\r\n  const msg = update && update.message;\r\n  if (!msg || !msg.chat) return { rota: \"ignorar\" }; // edited_message etc.\r\n  if (String(msg.chat.id) !== String(chatId)) return { rota: \"ignorar\" };\r\n\r\n  if (msg.document) {\r\n    const nome = String(msg.document.file_name || \"\");\r\n    const ext = (/\\.([a-z0-9]+)$/i.exec(nome) || [, \"\"])[1].toLowerCase();\r\n    if (ext === \"zip\" || ext === \"csv\") {\r\n      return {\r\n        rota: \"documento\",\r\n        file_id: msg.document.file_id,\r\n        file_name: nome,\r\n        tipo_arquivo: ext,\r\n      };\r\n    }\r\n    if (ext === \"pdf\") return { rota: \"responder\", resposta: RESPOSTAS.pdf };\r\n    return { rota: \"responder\", resposta: RESPOSTAS.formatoNaoSuportado };\r\n  }\r\n\r\n  if (typeof msg.text === \"string\" && msg.text.trim() !== \"\") {\r\n    const texto = msg.text.trim();\r\n    if (texto.startsWith(\"/\")) {\r\n      const cmd = texto.split(/[\\s@]/)[0].toLowerCase();\r\n      if (cmd === \"/start\") return { rota: \"responder\", resposta: RESPOSTAS.boasVindas };\r\n      if (cmd === \"/categorizar\") return { rota: \"categorizar\" };\r\n      if (cmd === \"/relatorio\") return { rota: \"relatorio\" };\r\n      if (cmd === \"/dashboard\") return { rota: \"dashboard\" };\r\n      if (cmd === \"/metas\") return { rota: \"metas\" };\r\n      if (cmd === \"/novameta\") return { rota: \"nova-meta\", texto };\r\n      if (cmd === \"/faturaaberta\") return { rota: \"fatura-aberta\", texto };\r\n      if (cmd === \"/seedparcelas\") return { rota: \"seed-parcelas\", texto };\r\n      return { rota: \"responder\", resposta: RESPOSTAS.comandoDesconhecido };\r\n    }\r\n    return {\r\n      rota: \"responder\",\r\n      resposta: RESPOSTAS.emConstrucao(\"Entendimento de linguagem natural\"),\r\n    };\r\n  }\r\n\r\n  return { rota: \"ignorar\" }; // foto, sticker, voz etc.\r\n}\r\n\r\n/**\r\n * Detecta o tipo de um CSV do C6 pelo CONTEÚDO (nome de arquivo não discrimina).\r\n * Remove BOM antes do match — o extrato real começa com EF BB BF.\r\n * @param {string} texto conteúdo do CSV\r\n * @returns {\"cartao\"|\"conta\"|\"desconhecido\"}\r\n */\r\nfunction detectarTipoCsv(texto) {\r\n  const t = String(texto || \"\").replace(/^﻿/, \"\").replace(/^\\s+/, \"\");\r\n  if (t.startsWith(\"Data de Compra;\")) return \"cartao\";\r\n  if (t.startsWith(\"EXTRATO DE CONTA CORRENTE\")) return \"conta\";\r\n  return \"desconhecido\";\r\n}\r\n\r\n\n// ── Glue: adiciona o tipo detectado a cada CSV ──\nreturn $input.all().map((item) => ({ json: {\n  csv: item.json.csv,\n  nome_arquivo: item.json.nome_arquivo,\n  tipo: detectarTipoCsv(item.json.csv),\n} }));"
      },
      "id": "fin-rot-36"
    },
    {
      "name": "Cartão?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1800,
        -200
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.tipo }}",
              "rightValue": "cartao",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "fin-rot-37"
    },
    {
      "name": "Conta?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2000,
        -100
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.tipo }}",
              "rightValue": "conta",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "fin-rot-38"
    },
    {
      "name": "Ingestão Cartão",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2000,
        -300
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "FinIngestCartao1",
          "cachedResultName": "ingestao-csv-cartao"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "csv": "={{ $json.csv }}",
            "nome_arquivo": "={{ $json.nome_arquivo }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "csv",
              "displayName": "csv",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "nome_arquivo",
              "displayName": "nome_arquivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ]
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "fin-rot-39"
    },
    {
      "name": "Ingestão Conta",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2200,
        -150
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "FinIngestConta01",
          "cachedResultName": "ingestao-csv-conta"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "csv": "={{ $json.csv }}",
            "nome_arquivo": "={{ $json.nome_arquivo }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "csv",
              "displayName": "csv",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "nome_arquivo",
              "displayName": "nome_arquivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ]
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "fin-rot-40"
    },
    {
      "name": "Não Reconhecido",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2200,
        0
      ],
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "🤔 CSV não reconhecido — não parece fatura nem extrato do C6.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "FinTelegramBot01",
          "name": "Telegram Bot"
        }
      },
      "id": "fin-rot-41"
    }
  ],
  "connections": {
    "Webhook Telegram": {
      "main": [
        [
          {
            "node": "Classificar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classificar": {
      "main": [
        [
          {
            "node": "É Documento?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Documento?": {
      "main": [
        [
          {
            "node": "É ZIP?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Deve Responder?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deve Responder?": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "É Callback?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Callback?": {
      "main": [
        [
          {
            "node": "Gestão Metas?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "É Categorizar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gestão Metas?": {
      "main": [
        [
          {
            "node": "Executar Gestão Metas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lembrete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete?": {
      "main": [
        [
          {
            "node": "Responder Lembrete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aplicar Categoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Categorizar?": {
      "main": [
        [
          {
            "node": "Ack Categorizar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "É Relatório?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ack Categorizar": {
      "main": [
        [
          {
            "node": "Rodar Categorização",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Relatório?": {
      "main": [
        [
          {
            "node": "Ack Relatório",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "É Dashboard?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ack Relatório": {
      "main": [
        [
          {
            "node": "Rodar Relatório",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Dashboard?": {
      "main": [
        [
          {
            "node": "Responder Dashboard",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "É Metas?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Metas?": {
      "main": [
        [
          {
            "node": "Executar Metas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "É Nova Meta?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Nova Meta?": {
      "main": [
        [
          {
            "node": "Executar Nova Meta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "É Fatura Aberta?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Fatura Aberta?": {
      "main": [
        [
          {
            "node": "Executar Fatura Aberta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "É Seed Parcelas?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Seed Parcelas?": {
      "main": [
        [
          {
            "node": "Executar Seed Parcelas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ignorar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É ZIP?": {
      "main": [
        [
          {
            "node": "Baixar ZIP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Baixar CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar ZIP": {
      "main": [
        [
          {
            "node": "Extrair ZIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair ZIP": {
      "main": [
        [
          {
            "node": "ZIP OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ZIP OK?": {
      "main": [
        [
          {
            "node": "Detectar Tipo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Avisar Erro ZIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar CSV": {
      "main": [
        [
          {
            "node": "Texto CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Texto CSV": {
      "main": [
        [
          {
            "node": "Detectar Tipo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detectar Tipo": {
      "main": [
        [
          {
            "node": "Cartão?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cartão?": {
      "main": [
        [
          {
            "node": "Ingestão Cartão",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Conta?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conta?": {
      "main": [
        [
          {
            "node": "Ingestão Conta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não Reconhecido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
